InventarioAsignado/Desarrollo/MexicoPMMTransactionalSubscriber/Shared Resources/Schema Definitions/Custom/PURCHASEORDER_INFORMATION.xsd

<?xml version="1.0" encoding="UTF-8"?>

<xsd:schema xmlns="http://xmlns.heb.com/ei/PURCHASEORDER_INFORMATION"
	 xmlns:xsd="http://www.w3.org/2001/XMLSchema"
	 targetNamespace="http://xmlns.heb.com/ei/PURCHASEORDER_INFORMATION"
	 elementFormDefault="qualified"
	 attributeFormDefault="unqualified">
	<xsd:element name="PURCHASE_ORDER">
		<xsd:complexType>
			<xsd:complexContent>
				<xsd:extension base="exportBase">
					<xsd:sequence>
						<xsd:element name="ORG_LVL_CHILD" type="xsd:string"/>
						<xsd:element name="PMG_PO_NUMBER" type="xsd:string"/>
						<xsd:element name="ISS_TYPE" type="xsd:string"/>
						<xsd:element name="ORG_LVL_NUMBER" type="xsd:string"/>
						<xsd:element name="VENDOR_NUMBER" type="xsd:string"/>
						<xsd:element name="VPC_SHP_POINT" type="xsd:string" nillable="true"/>
						<xsd:element name="VPC_SHP_NAME" type="xsd:string" nillable="true"/>
						<xsd:element name="PMG_TYPE_CODE" type="xsd:string" nillable="true"/>
						<xsd:element name="PMG_STAT_CODE" type="xsd:string"/>
						<xsd:element name="PMG_TRACK_CODE" type="xsd:string"/>
						<xsd:element name="PMG_USER" type="xsd:string"/>
						<xsd:element name="PMG_LC_NUMBER" type="xsd:string"/>
						<xsd:element name="PMG_SHIP_VIA" type="xsd:string"/>
						<xsd:element name="USR_TECH_KEY" type="xsd:string" nillable="true"/>
						<xsd:element name="VPC_APT_KEY" type="xsd:string" nillable="true"/>
						<xsd:element name="VPC_APT_DESC" type="xsd:string" nillable="true"/>
						<xsd:element name="PMG_FOB" type="xsd:string"/>
						<xsd:element name="CURR_CODE" type="xsd:string"/>
						<xsd:element name="PMG_EFFECT_DATE" type="xsd:string"/>
						<xsd:element name="PMG_RATE" type="xsd:string"/>
						<xsd:element name="DMT_CODE" type="xsd:string" nillable="true"/>
						<xsd:element name="TRF_ALLOC_ID" type="xsd:string" nillable="true"/>
						<xsd:element name="CNTRY_CODE" type="xsd:string" nillable="true"/>
						<xsd:element name="PMG_ENTRY_DATE" type="xsd:string" nillable="true"/>
						<xsd:element name="PMG_RELEASE_DATE" type="xsd:string"/>
						<xsd:element name="PMG_SHIP_DATE" type="xsd:string"/>
						<xsd:element name="PMG_CANCEL_DATE" type="xsd:string"/>
						<xsd:element name="PMG_EXP_RCT_DATE" type="xsd:string"/>
						<xsd:element name="PMG_PAY_DATE" type="xsd:string" nillable="true"/>
						<xsd:element name="DOWNLOAD_DATE" type="xsd:string" nillable="true"/>
						<xsd:element name="DISTRO_ID" type="xsd:string" nillable="true"/>
						<xsd:element name="PMG_PO_NOTES" type="xsd:string"/>
						<xsd:element name="PMG_LOC_NOTES" type="xsd:string" nillable="true"/>
						<xsd:element name="BAS_USER_NAME" type="xsd:string" nillable="true"/>
						<xsd:element name="PMG_PIS_DATE" type="xsd:string" nillable="true"/>
						<xsd:element name="PMG_EXT_RCT_DATE" type="xsd:string" nillable="true"/>
						<xsd:element name="PMG_OTB_BUD_DATE" type="xsd:string"/>
						<xsd:element name="PMG_CNCL_BY_DATE" type="xsd:string"/>
						<xsd:element name="PMG_CNL_REAS_CD" type="xsd:string"/>
						<xsd:element name="AUSR_TECH_KEY" type="xsd:string"/>
						<xsd:element name="ABAS_USER_NAME" type="xsd:string" nillable="true"/>
						<xsd:element name="PMG_RATE_OVERRIDE" type="xsd:string" nillable="true"/>
						<xsd:element name="PMG_EXT_PO_NUM" type="xsd:string" nillable="true"/>
						<xsd:element name="CPO_NUMBER" type="xsd:string"/>
						<xsd:element name="PMG_SUPP_CHN_CODE" type="xsd:string" nillable="true"/>
						<xsd:element name="PMG_CONSOL_CENTER" type="xsd:string" nillable="true"/>
						<xsd:element name="PMG_FMT_CODE" type="xsd:string" nillable="true"/>
						<xsd:element name="ORG_E3_XREF" type="xsd:string" nillable="true"/>
						<xsd:element name="SHIP_VIA_KEY" type="xsd:string"/>
						<xsd:element name="SHIP_VIA_DESC" type="xsd:string"/>
						<xsd:element name="FOB_TERMS_KEY" type="xsd:string"/>
						<xsd:element name="FOB_TERMS_DESC" type="xsd:string"/>
						<xsd:element name="FRT_TERMS_KEY" type="xsd:string" nillable="true"/>
						<xsd:element name="FRT_TERMS_DESC" type="xsd:string" nillable="true"/>
						<xsd:element name="POE_CNTRY_KEY" type="xsd:string" nillable="true"/>
						<xsd:element name="POE_CNTRY_NAME" type="xsd:string"/>
						<xsd:element name="POE_CITY" type="xsd:string" nillable="true"/>
						<xsd:element name="PMG_PO_GWEIGHT" type="xsd:string" nillable="true"/>
						<xsd:element name="PMG_PO_NWEIGHT" type="xsd:string" nillable="true"/>
						<xsd:element name="PMG_PO_WEIGHT_UOM" type="xsd:string" nillable="true"/>
						<xsd:element name="PMG_PO_CUBE" type="xsd:string"/>
						<xsd:element name="PMG_PO_DIM_UOM" type="xsd:string"/>
						<xsd:element name="PMG_PO_PALLETS" type="xsd:string"/>
						<xsd:element name="PMG_TOT_PO_COST" type="xsd:string"/>
						<xsd:element name="PMG_PO_CUBE_UOM" type="xsd:string" nillable="true"/>
						<xsd:element name="PMG_REALLOCATE" type="xsd:string" nillable="true"/>
						<xsd:element name="PMG_ADV_RPL_REF_NBR" type="xsd:string" nillable="true"/>
						<xsd:element name="PMG_NBR_OF_LINES" type="xsd:string" nillable="true"/>
						<xsd:element name="PMG_NBR_OF_LINES_ALL" type="xsd:string" nillable="true"/>
						<xsd:element name="VPC_EXT_PAY_DAYS" type="xsd:string" nillable="true"/>
						<xsd:element name="JI_DOWNLOAD_DATE" type="xsd:string" nillable="true"/>
						<xsd:element name="PURCHASE_ORDER_DISTRIBUTION" type="PURCHASE_ORDER_DISTRIBUTION" minOccurs="0"/>
						<xsd:element name="PURCHASE_ORDER_DETAIL" type="PURCHASE_ORDER_DETAIL" minOccurs="0"/>
						<xsd:element name="CHARGE_ALLOWANCE" type="CHARGE_ALLOWANCE" minOccurs="0"/>
						<xsd:element name="TAX_DETAIL" type="TAX_DETAIL" minOccurs="0"/>
						<xsd:element name="NET_COST" type="NET_COST" minOccurs="0"/>
					</xsd:sequence>
				</xsd:extension>
			</xsd:complexContent>
		</xsd:complexType>
	</xsd:element>
	<xsd:element name="PURCHASE_ORDER_DETAIL" type="PURCHASE_ORDER_DETAIL"/>
	<xsd:element name="PURCHASE_ORDER_DISTRIBUTION" type="PURCHASE_ORDER_DISTRIBUTION"/>
	<xsd:element name="CHARGE_ALLOWANCE" type="CHARGE_ALLOWANCE"/>
	<xsd:element name="TAX_DETAIL" type="TAX_DETAIL"/>
	<xsd:element name="NET_COST" type="NET_COST"/>
	<xsd:complexType name="PURCHASE_ORDER_DETAIL">
		<xsd:sequence>
			<xsd:element name="ITEM" minOccurs="0" maxOccurs="unbounded">
				<xsd:complexType>
					<xsd:complexContent>
						<xsd:extension base="exportBase">
							<xsd:sequence>
								<xsd:element name="ORG_LVL_CHILD" type="xsd:string"/>
								<xsd:element name="PRD_LVL_CHILD" type="xsd:string"/>
								<xsd:element name="PMG_PO_NUMBER" type="xsd:string"/>
								<xsd:element name="PMG_DTL_TECH_KEY" type="xsd:string"/>
								<xsd:element name="PMG_SEQ_NUM" type="xsd:string"/>
								<xsd:element name="ISS_TYPE" type="xsd:string" nillable="true"/>
								<xsd:element name="ORG_LVL_NUMBER" type="xsd:string" nillable="true"/>
								<xsd:element name="PRD_LVL_NUMBER" type="xsd:string" nillable="true"/>
								<xsd:element name="PMG_DTL_TYPE" type="xsd:string" nillable="true"/>
								<xsd:element name="PMG_STATUS" type="xsd:string" nillable="true"/>
								<xsd:element name="VPC_PRD_TECH_KEY" type="xsd:string" nillable="true"/>
								<xsd:element name="VPC_CASE_PACK_ID" type="xsd:string" nillable="true"/>
								<xsd:element name="PRD_UPC" type="xsd:string" nillable="true"/>
								<xsd:element name="PMG_SELL_QTY" type="xsd:string" nillable="true"/>
								<xsd:element name="PMG_PACK_QTY" type="xsd:string" nillable="true"/>
								<xsd:element name="PMG_SELL_COST" type="xsd:string" nillable="true"/>
								<xsd:element name="PMG_PACK_COST" type="xsd:string" nillable="true"/>
								<xsd:element name="PMG_RES_SELL_QTY" type="xsd:string" nillable="true"/>
								<xsd:element name="PMG_RETAIL" type="xsd:string" nillable="true"/>
								<xsd:element name="CCS_SELL_QTY" type="xsd:string" nillable="true"/>
								<xsd:element name="CCS_PACK_QTY" type="xsd:string" nillable="true"/>
								<xsd:element name="PMG_RCV_SQTY" type="xsd:string" nillable="true"/>
								<xsd:element name="PMG_RCV_PQTY" type="xsd:string" nillable="true"/>
								<xsd:element name="PMG_CANCEL_SQTY" type="xsd:string" nillable="true"/>
								<xsd:element name="PMG_CANCEL_PQTY" type="xsd:string" nillable="true"/>
								<xsd:element name="VPC_APT_KEY" type="xsd:string" nillable="true"/>
								<xsd:element name="VPC_APT_DESC" type="xsd:string" nillable="true"/>
								<xsd:element name="PMG_PAY_DATE" type="xsd:string" nillable="true" minOccurs="0"/>
								<xsd:element name="PMG_CALL_OFF_PO" type="xsd:string" nillable="true"/>
								<xsd:element name="DMT_CODE" type="xsd:string" nillable="true"/>
								<xsd:element name="TRF_ALLOC_ID" type="xsd:string" nillable="true"/>
								<xsd:element name="PMG_SHIP_DATE" type="xsd:string" nillable="true" minOccurs="0"/>
								<xsd:element name="PMG_EXP_RCT_DATE" type="xsd:string" nillable="true" minOccurs="0"/>
								<xsd:element name="PMG_CANCEL_DATE" type="xsd:string" nillable="true" minOccurs="0"/>
								<xsd:element name="PMG_RCT_DAT_PCT" type="xsd:string" nillable="true"/>
								<xsd:element name="PMG_STYLE_IND" type="xsd:string" nillable="true"/>
								<xsd:element name="DISTRO_ID" type="xsd:string" nillable="true"/>
								<xsd:element name="STYLE_PRD_LVL_NBR" type="xsd:string" nillable="true"/>
								<xsd:element name="PMG_TOT_DTL_COST" type="xsd:string" nillable="true"/>
								<xsd:element name="PMG_TOT_RTL_COST" type="xsd:string" nillable="true"/>
								<xsd:element name="TOTAL_CHG_EFFECT" type="xsd:string" nillable="true"/>
								<xsd:element name="TOTAL_ALL_EFFECT" type="xsd:string" nillable="true"/>
								<xsd:element name="PMG_SHIP_VIA" type="xsd:string" nillable="true"/>
								<xsd:element name="PMG_FOB" type="xsd:string" nillable="true"/>
								<xsd:element name="PMG_PO_NOTES" type="xsd:string" nillable="true"/>
								<xsd:element name="PMG_TRACK_CODE" type="xsd:string" nillable="true"/>
								<xsd:element name="PMG_PIS_DATE" type="xsd:string" nillable="true" minOccurs="0"/>
								<xsd:element name="PMG_EXT_RCT_DATE" type="xsd:string" nillable="true" minOccurs="0"/>
								<xsd:element name="PMG_OTB_BUD_DATE" type="xsd:string" nillable="true" minOccurs="0"/>
								<xsd:element name="PMG_CNCL_BY_DATE" type="xsd:string" nillable="true" minOccurs="0"/>
								<xsd:element name="PMG_CNL_REAS_CD" type="xsd:string" nillable="true"/>
								<xsd:element name="AUSR_TECH_KEY" type="xsd:string" nillable="true"/>
								<xsd:element name="ABAS_USER_NAME" type="xsd:string" nillable="true"/>
								<xsd:element name="PRD_CROSS_DOCK" type="xsd:string" nillable="true"/>
								<xsd:element name="PMG_APPLY_DC_PACK" type="xsd:string" nillable="true"/>
								<xsd:element name="PMG_DC_PACK_QTY" type="xsd:string" nillable="true"/>
								<xsd:element name="VPC_CASE_QTY" type="xsd:string" nillable="true"/>
								<xsd:element name="VPC_CASE_STD_PACK" type="xsd:string" nillable="true"/>
								<xsd:element name="PMG_DIST_SELL_QTY" type="xsd:string" nillable="true"/>
								<xsd:element name="PMG_LOC_CURR" type="xsd:string" nillable="true"/>
								<xsd:element name="SPP_SET_PARENT" type="xsd:string" nillable="true"/>
								<xsd:element name="SHIP_VIA_KEY" type="xsd:string" nillable="true"/>
								<xsd:element name="SHIP_VIA_DESC" type="xsd:string" nillable="true"/>
								<xsd:element name="FOB_TERMS_KEY" type="xsd:string" nillable="true"/>
								<xsd:element name="FOB_TERMS_DESC" type="xsd:string" nillable="true"/>
								<xsd:element name="FRT_TERMS_KEY" type="xsd:string" nillable="true"/>
								<xsd:element name="FRT_TERMS_DESC" type="xsd:string" nillable="true"/>
								<xsd:element name="PMG_CASE_NWEIGHT" type="xsd:string" nillable="true"/>
								<xsd:element name="VPC_CASE_WGT_UOM" type="xsd:string" nillable="true"/>
								<xsd:element name="PMG_CASE_GWEIGHT" type="xsd:string" nillable="true"/>
								<xsd:element name="SLL_UNITS_PER_INNER" type="xsd:string" nillable="true"/>
								<xsd:element name="EACHES_PER_INNER" type="xsd:string" nillable="true"/>
								<xsd:element name="NUMBER_OF_INNERS" type="xsd:string" nillable="true"/>
								<xsd:element name="INNER_PK_TECH_KEY" type="xsd:string" nillable="true"/>
								<xsd:element name="PMG_TOTAL_INNERS" type="xsd:string" nillable="true"/>
								<xsd:element name="PMG_TOTAL_WIDTH" type="xsd:string" nillable="true"/>
								<xsd:element name="PMG_TOTAL_LENGTH" type="xsd:string" nillable="true"/>
								<xsd:element name="PMG_TOTAL_HEIGHT" type="xsd:string" nillable="true"/>
								<xsd:element name="PMG_TOTAL_CUBE" type="xsd:string" nillable="true"/>
								<xsd:element name="VPC_CASE_DIM_UOM" type="xsd:string" nillable="true"/>
								<xsd:element name="PMG_TOTAL_GWEIGHT" type="xsd:string" nillable="true"/>
								<xsd:element name="PMG_TOTAL_NWEIGHT" type="xsd:string" nillable="true"/>
								<xsd:element name="PMG_TOTAL_PALLETS" type="xsd:string" nillable="true"/>
								<xsd:element name="CASE_CUBE_UOM" type="xsd:string" nillable="true"/>
								<xsd:element name="PMG_REALLOCATE" type="xsd:string" nillable="true"/>
								<xsd:element name="PMG_AAL_METHOD" type="xsd:string" nillable="true"/>
								<xsd:element name="PMG_APPLY_BUY_MULTIPLE" type="xsd:string" nillable="true"/>
								<xsd:element name="JI_DOWNLOAD_DATE" type="xsd:string" nillable="true" minOccurs="0"/>
								<xsd:element name="INNER_PACK_ID" type="xsd:string" nillable="true" minOccurs="0"/>
							</xsd:sequence>
						</xsd:extension>
					</xsd:complexContent>
				</xsd:complexType>
			</xsd:element>
		</xsd:sequence>
	</xsd:complexType>
	<xsd:complexType name="PURCHASE_ORDER_DISTRIBUTION">
		<xsd:sequence>
			<xsd:element name="ITEM" minOccurs="0" maxOccurs="unbounded">
				<xsd:complexType>
					<xsd:complexContent>
						<xsd:extension base="exportBase">
							<xsd:sequence>
								<xsd:element name="ORG_LVL_CHILD" type="xsd:string"/>
								<xsd:element name="PRD_LVL_CHILD" type="xsd:string"/>
								<xsd:element name="PMG_PO_NUMBER" type="xsd:string"/>
								<xsd:element name="PMG_DTL_TECH_KEY" type="xsd:string"/>
								<xsd:element name="PMG_SEQ_NUM" type="xsd:string"/>
								<xsd:element name="ISS_TYPE" type="xsd:string" nillable="true"/>
								<xsd:element name="ORG_LVL_NUIMBER" type="xsd:string" nillable="true"/>
								<xsd:element name="PRD_LVL_NUMBER" type="xsd:string" nillable="true"/>
								<xsd:element name="PMG_SELL_QTY" type="xsd:string" nillable="true"/>
								<xsd:element name="PMG_PACK_QTY" type="xsd:string" nillable="true"/>
								<xsd:element name="PMG_PCT_ALLOC" type="xsd:string" nillable="true"/>
								<xsd:element name="PRD_STYLE_IND" type="xsd:string" nillable="true"/>
								<xsd:element name="PMG_SPREAD_QTY" type="xsd:string" nillable="true"/>
								<xsd:element name="PRD_LVL_PARENT" type="xsd:string" nillable="true"/>
								<xsd:element name="PRD_LVL_PARENT_NUM" type="xsd:string" nillable="true"/>
								<xsd:element name="CPO_ORG_LVL_CHILD" type="xsd:string" nillable="true"/>
								<xsd:element name="CPO_ORG_LVL_NUMBER" type="xsd:string" nillable="true"/>
								<xsd:element name="PMG_SELL_COST" type="xsd:string" nillable="true"/>
								<xsd:element name="SPP_SET_PARENT" type="xsd:string" nillable="true"/>
								<xsd:element name="JI_DOWNLOAD_DATE" type="xsd:string" nillable="true" minOccurs="0"/>
							</xsd:sequence>
						</xsd:extension>
					</xsd:complexContent>
				</xsd:complexType>
			</xsd:element>
		</xsd:sequence>
	</xsd:complexType>
	<xsd:complexType name="CHARGE_ALLOWANCE">
		<xsd:sequence>
			<xsd:element name="ITEM" minOccurs="0" maxOccurs="unbounded">
				<xsd:complexType>
					<xsd:complexContent>
						<xsd:extension base="exportBase">
							<xsd:sequence>
								<xsd:element name="ORG_LVL_CHILD" type="xsd:string"/>
								<xsd:element name="PRD_LVL_CHILD" type="xsd:string"/>
								<xsd:element name="PMG_PO_NUMBER" type="xsd:string"/>
								<xsd:element name="PMG_DTL_TECH_KEY" type="xsd:string"/>
								<xsd:element name="PMG_SEQ_NUM" type="xsd:string"/>
								<xsd:element name="AUDIT_SEQ_NUMBER" type="xsd:string"/>
								<xsd:element name="SESSION_NUMBER" type="xsd:string"/>
								<xsd:element name="VPC_ALW_KEY" type="xsd:string"/>
								<xsd:element name="VPC_ALW_DESC" type="xsd:string" nillable="true"/>
								<xsd:element name="PMG_MAN_ALW_FLAG" type="xsd:string" nillable="true"/>
								<xsd:element name="ORG_LVL_NUMBER" type="xsd:string" nillable="true"/>
								<xsd:element name="PRD_LVL_NUMBER" type="xsd:string"/>
								<xsd:element name="PRD_LVL_ID" type="xsd:string" nillable="true"/>
								<xsd:element name="PRD_STYLE_IND" type="xsd:string" nillable="true"/>
								<xsd:element name="STYLE_PRD_LVL_NBR" type="xsd:string" nillable="true"/>
								<xsd:element name="VPC_TECH_KEY" type="xsd:string" nillable="true"/>
								<xsd:element name="VENDOR_NUMBER" type="xsd:string" nillable="true"/>
								<xsd:element name="VPC_SHP_POINT" type="xsd:string" nillable="true"/>
								<xsd:element name="VPC_PROD_VEND_FLAG" type="xsd:string" nillable="true"/>
								<xsd:element name="VPC_PRD_TECH_KEY" type="xsd:string" nillable="true"/>
								<xsd:element name="VPC_CASE_PACK_ID" type="xsd:string" nillable="true"/>
								<xsd:element name="PMG_START_DATE" type="xsd:string" nillable="true"/>
								<xsd:element name="PMG_END_DATE" type="xsd:string" nillable="true"/>
								<xsd:element name="PMG_AMOUNT" type="xsd:string" nillable="true"/>
								<xsd:element name="PMG_PERCENT" type="xsd:string" nillable="true"/>
								<xsd:element name="PMG_SKU_CHG_EFF_PO" type="xsd:string" nillable="true"/>
								<xsd:element name="PMG_SKU_ALL_EFF_PO" type="xsd:string" nillable="true"/>
								<xsd:element name="VPC_EVNT_KEY" type="xsd:string" nillable="true"/>
								<xsd:element name="PMG_SEQUENCE" type="xsd:string" nillable="true"/>
								<xsd:element name="PMG_MAN_SEQ" type="xsd:string" nillable="true"/>
								<xsd:element name="VPC_CB_KEY" type="xsd:string" nillable="true"/>
								<xsd:element name="PMG_CALC_LEVEL" type="xsd:string" nillable="true"/>
								<xsd:element name="PMG_GROSS_NET" type="xsd:string" nillable="true"/>
								<xsd:element name="VPC_ALLOC_KEY" type="xsd:string" nillable="true"/>
								<xsd:element name="PMG_CHARGE_QTY" type="xsd:string" nillable="true"/>
								<xsd:element name="PMG_FREE_QTY" type="xsd:string" nillable="true"/>
								<xsd:element name="PMG_FREE_PER_QTY" type="xsd:string" nillable="true"/>
								<xsd:element name="VPC_ALW_BRK_KEY" type="xsd:string" nillable="true"/>
								<xsd:element name="WEIGHT_TYPE" type="xsd:string" nillable="true"/>
								<xsd:element name="WEIGHT_UOM" type="xsd:string" nillable="true"/>
								<xsd:element name="ORDER_BRACKET_FLAG" type="xsd:string" nillable="true"/>
							</xsd:sequence>
						</xsd:extension>
					</xsd:complexContent>
				</xsd:complexType>
			</xsd:element>
		</xsd:sequence>
	</xsd:complexType>
	<xsd:complexType name="NET_COST">
		<xsd:sequence>
			<xsd:element name="ITEM" minOccurs="0" maxOccurs="unbounded">
				<xsd:complexType>
					<xsd:complexContent>
						<xsd:extension base="exportBase">
							<xsd:sequence>
								<xsd:element name="ORG_LVL_CHILD" type="xsd:string"/>
								<xsd:element name="PRD_LVL_CHILD" type="xsd:string" nillable="true"/>
								<xsd:element name="PMG_PO_NUMBER" type="xsd:string"/>
								<xsd:element name="PMG_DTL_TECH_KEY" type="xsd:string"/>
								<xsd:element name="PMG_SEQ_NUM" type="xsd:string"/>
								<xsd:element name="SESSION_NUMBER" type="xsd:string" nillable="true"/>
								<xsd:element name="ORG_LVL_NUMBER" type="xsd:string" nillable="true"/>
								<xsd:element name="PRD_LVL_NUMBER" type="xsd:string"/>
								<xsd:element name="PRD_LVL_ID" type="xsd:string" nillable="true"/>
								<xsd:element name="PRD_STYLE_IND" type="xsd:string" nillable="true"/>
								<xsd:element name="STYLE_PRD_LVL_NBR" type="xsd:string" nillable="true"/>
								<xsd:element name="PMG_UNIT_NLC_COST" type="xsd:string" nillable="true"/>
							</xsd:sequence>
						</xsd:extension>
					</xsd:complexContent>
				</xsd:complexType>
			</xsd:element>
		</xsd:sequence>
	</xsd:complexType>
	<xsd:complexType name="TAX_DETAIL">
		<xsd:sequence>
			<xsd:element name="ITEM" minOccurs="0" maxOccurs="unbounded">
				<xsd:complexType>
					<xsd:complexContent>
						<xsd:extension base="exportBase">
							<xsd:sequence>
								<xsd:element name="ORG_LVL_CHILD" type="xsd:string"/>
								<xsd:element name="PRD_LVL_CHILD" type="xsd:string"/>
								<xsd:element name="PMG_PO_NUMBER" type="xsd:string"/>
								<xsd:element name="PMG_DTL_TECH_KEY" type="xsd:string"/>
								<xsd:element name="PMG_SEQ_NUM" type="xsd:string"/>
								<xsd:element name="SESSION_NUMBER" type="xsd:string"/>
								<xsd:element name="TXS_CODE_TECH_KEY" type="xsd:string"/>
								<xsd:element name="ORG_LVL_NUMBER" type="xsd:string" nillable="true"/>
								<xsd:element name="PRD_LVL_NUMBER" type="xsd:string"/>
								<xsd:element name="PRD_LVL_ID" type="xsd:string"/>
								<xsd:element name="PRD_STYLE_IND" type="xsd:string" nillable="true"/>
								<xsd:element name="STYLE_PRD_LVL_NBR" type="xsd:string" nillable="true"/>
								<xsd:element name="TXS_AMT" type="xsd:string"/>
								<xsd:element name="TXS_RATE" type="xsd:string" nillable="true"/>
								<xsd:element name="TXS_CODE" type="xsd:string" nillable="true"/>
								<xsd:element name="TXS_CODE_DESC" type="xsd:string" nillable="true"/>
								<xsd:element name="TXS_AMT_PRD_PO" type="xsd:string" nillable="true"/>
							</xsd:sequence>
						</xsd:extension>
					</xsd:complexContent>
				</xsd:complexType>
			</xsd:element>
		</xsd:sequence>
	</xsd:complexType>
	<xsd:complexType name="exportBase">
		<xsd:sequence>
			<xsd:element name="TRAN_TYPE" type="xsd:string" nillable="true" minOccurs="0"/>
			<xsd:element name="ISS_TECH_KEY" type="xsd:string" nillable="true"/>
			<xsd:element name="AUDIT_NUMBER" type="xsd:string"/>
			<xsd:element name="DOWNLOAD_DATE_1" type="xsd:string" nillable="true" minOccurs="0"/>
			<xsd:element name="DOWNLOAD_DATE_2" type="xsd:string" nillable="true" minOccurs="0"/>
			<xsd:element name="DATE_CREATED" type="xsd:string" nillable="true" minOccurs="0"/>
		</xsd:sequence>
	</xsd:complexType>
</xsd:schema>