HEBCard/Documentos/Diseño/ABCSocios/Esquemas/SOCIO_PEOPLE_SOFT.xml

<?xml version="1.0" encoding="UTF-8"?>

<!-- edited with XMLSpy v2011 sp1 (http://www.altova.com) by End User (free.org) -->
<xsd:schema xmlns="http://xmlns.heb.com/ei/Socio"
	 xmlns:xsd="http://www.w3.org/2001/XMLSchema"
	 targetNamespace="http://xmlns.heb.com/ei/Socio"
	 elementFormDefault="qualified"
	 attributeFormDefault="unqualified">
	<xsd:element name="SocioPeopleSoft">
		<xsd:complexType>
			<xsd:sequence>
				<xsd:element name="rfc" type="xsd:string" form="unqualified" minOccurs="0"/>
				<xsd:element name="nss" type="xsd:string" form="unqualified" minOccurs="0"/>
				<xsd:element name="curp" type="xsd:string" form="unqualified" minOccurs="0"/>
				<xsd:element name="name" type="xsd:string" form="unqualified" minOccurs="0"/>
				<xsd:element name="firstLastName" type="xsd:string" form="unqualified" minOccurs="0"/>
				<xsd:element name="secondLastName" type="xsd:string" form="unqualified" minOccurs="0"/>
				<xsd:element name="company" type="xsd:string" form="unqualified" minOccurs="0"/>
				<xsd:element name="employeeNumber" type="xsd:string" form="unqualified" minOccurs="0"/>
				<xsd:element name="status" type="xsd:string" form="unqualified" minOccurs="0"/>
				<xsd:element name="subdivision" type="xsd:int" form="unqualified" minOccurs="0"/>
				<xsd:element name="street" type="xsd:string" form="unqualified" minOccurs="0"/>
				<xsd:element name="district" type="xsd:string" form="unqualified" minOccurs="0"/>
				<xsd:element name="zipCode" type="xsd:string" form="unqualified" minOccurs="0"/>
				<xsd:element name="city" type="xsd:string" form="unqualified" minOccurs="0"/>
				<xsd:element name="state" type="xsd:string" form="unqualified" minOccurs="0"/>
				<xsd:element name="country" type="xsd:string" form="unqualified" minOccurs="0"/>
				<xsd:element name="operation" type="xsd:string" form="unqualified" minOccurs="0"/>
			</xsd:sequence>
		</xsd:complexType>
	</xsd:element>
</xsd:schema>