HEBSeller/Desarrollo/PASADOS/MagentoToPedidos_Service/Shared Resources/WSDL/pedido.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<!--Created by TIBCO WSDL-->
<wsdl:definitions xmlns:ns1="http://xmlns.heb.com/ei/PedidoResponse" xmlns:tns="http://xmlns.example.com/1421343397682" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:ns0="http://xmlns.heb.com/ei/PedidoRequest" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" name="Untitled" targetNamespace="http://xmlns.example.com/1421343397682">
    <wsdl:types>
        <xs:schema xmlns="http://xmlns.heb.com/ei/PedidoRequest" xmlns:xs="http://www.w3.org/2001/XMLSchema" targetNamespace="http://xmlns.heb.com/ei/PedidoRequest" elementFormDefault="qualified" attributeFormDefault="unqualified">
            <xs:element name="PedidoRequest">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element name="Pedido" type="xs:string"/>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
        </xs:schema>
        <xs:schema xmlns="http://xmlns.heb.com/ei/PedidoResponse" xmlns:xs="http://www.w3.org/2001/XMLSchema" targetNamespace="http://xmlns.heb.com/ei/PedidoResponse" elementFormDefault="qualified" attributeFormDefault="unqualified">
            <xs:element name="PedidoResponse">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element name="Codigo" type="xs:string"/>
                        <xs:element name="Descripcion" type="xs:string"/>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
        </xs:schema>
    </wsdl:types>
    <wsdl:service name="PedidoService">
        <wsdl:port name="Pedido_Endpoint" binding="tns:Pedido_EndpointBinding">
            <soap:address location="http://mxvadm_2k0xtz1:9517/Pedido_Endpoint"/>
        </wsdl:port>
    </wsdl:service>
    <wsdl:portType name="Pedido_PortType">
        <wsdl:operation name="Pedido">
            <wsdl:input message="tns:PedidoRequest"/>
            <wsdl:output message="tns:PedidoResponse"/>
        </wsdl:operation>
    </wsdl:portType>
    <wsdl:binding name="Pedido_EndpointBinding" type="tns:Pedido_PortType">
        <soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
        <wsdl:operation name="Pedido">
            <soap:operation style="document" soapAction="/Pedido_Endpoint/Pedido"/>
            <wsdl:input>
                <soap:body use="literal" parts="parameters"/>
            </wsdl:input>
            <wsdl:output>
                <soap:body use="literal" parts="parameters"/>
            </wsdl:output>
        </wsdl:operation>
    </wsdl:binding>
    <wsdl:message name="PedidoRequest">
        <wsdl:part name="parameters" element="ns0:PedidoRequest"/>
    </wsdl:message>
    <wsdl:message name="PedidoResponse">
        <wsdl:part name="parameters" element="ns1:PedidoResponse"/>
    </wsdl:message>
</wsdl:definitions>