HEBCard/Desarrollo/ApiCustomerService/Shared Resources/Schema Definitions/Custom/Customer.xsd

<?xml version="1.0" encoding="UTF-8"?>
<!-- edited with XMLSpy v2011 sp1 (http://www.altova.com) by End User (free.org) -->
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" elementFormDefault="qualified" attributeFormDefault="unqualified">
	<xs:element name="Request">
		<xs:complexType>
			<xs:sequence>
				<xs:element name="Header">
					<xs:complexType>
						<xs:sequence>
							<xs:element name="TransactionID" type="xs:normalizedString"/>
							<xs:element name="Origin" type="xs:normalizedString"/>
						</xs:sequence>
					</xs:complexType>
				</xs:element>
				<xs:element name="Customer">
					<xs:complexType>
						<xs:sequence>
							<xs:element name="ID" type="xs:normalizedString" minOccurs="0">
								<xs:annotation>
									<xs:documentation>Identificador único del cliente</xs:documentation>
								</xs:annotation>
							</xs:element>
							<xs:element name="SetID" type="xs:normalizedString" minOccurs="0">
								<xs:annotation>
									<xs:documentation>Identificador de transacciones de aplicación</xs:documentation>
								</xs:annotation>
							</xs:element>
							<xs:element name="Status" type="xs:normalizedString" minOccurs="0">
								<xs:annotation>
									<xs:documentation>Estado del cliente</xs:documentation>
								</xs:annotation>
							</xs:element>
							<xs:element name="Type" type="xs:normalizedString" minOccurs="0">
								<xs:annotation>
									<xs:documentation>Tipo de cliente</xs:documentation>
								</xs:annotation>
							</xs:element>
							<xs:element name="Name" type="xs:normalizedString" minOccurs="0">
								<xs:annotation>
									<xs:documentation>Nombre completo del cliente</xs:documentation>
								</xs:annotation>
							</xs:element>
							<xs:element name="RFC" type="xs:normalizedString" minOccurs="0">
								<xs:annotation>
									<xs:documentation>Registro federal de contribuyentes</xs:documentation>
								</xs:annotation>
							</xs:element>
							<xs:element name="Currency" type="xs:normalizedString" minOccurs="0">
								<xs:annotation>
									<xs:documentation>Tipo de moneda</xs:documentation>
								</xs:annotation>
							</xs:element>
							<xs:element name="Email" type="xs:normalizedString" minOccurs="0">
								<xs:annotation>
									<xs:documentation>Correo electronico del cliente</xs:documentation>
								</xs:annotation>
							</xs:element>
							<xs:element name="LimitAmount" type="xs:normalizedString" minOccurs="0">
								<xs:annotation>
									<xs:documentation>Limite de crédito</xs:documentation>
								</xs:annotation>
							</xs:element>
							<xs:element name="EffectiveDate" type="xs:normalizedString" minOccurs="0">
								<xs:annotation>
									<xs:documentation>Fecha en la que se quiere crear/actualizar/eliminar el cliente</xs:documentation>
								</xs:annotation>
							</xs:element>
							<xs:element name="VendorID" type="xs:normalizedString" minOccurs="0">
								<xs:annotation>
									<xs:documentation>Identificador del Comisionista</xs:documentation>
								</xs:annotation>
							</xs:element>
							<xs:element name="Addresses" minOccurs="0" maxOccurs="unbounded">
								<xs:complexType>
									<xs:sequence>
										<xs:element name="ID" type="xs:normalizedString" minOccurs="0">
											<xs:annotation>
												<xs:documentation>Identificador único de la dirección</xs:documentation>
											</xs:annotation>
										</xs:element>
										<xs:element name="Status" type="xs:normalizedString" minOccurs="0">
											<xs:annotation>
												<xs:documentation>Estado de la dirección</xs:documentation>
											</xs:annotation>
										</xs:element>
										<xs:element name="IsPrimary" type="xs:normalizedString" minOccurs="0">
											<xs:annotation>
												<xs:documentation>Determina si la dirección es primaria</xs:documentation>
											</xs:annotation>
										</xs:element>
										<xs:element name="Country" type="xs:normalizedString" minOccurs="0">
											<xs:annotation>
												<xs:documentation>País</xs:documentation>
											</xs:annotation>
										</xs:element>
										<xs:element name="State" type="xs:normalizedString" minOccurs="0">
											<xs:annotation>
												<xs:documentation>Estado</xs:documentation>
											</xs:annotation>
										</xs:element>
										<xs:element name="County" type="xs:normalizedString" minOccurs="0">
											<xs:annotation>
												<xs:documentation>Municipio/Condado</xs:documentation>
											</xs:annotation>
										</xs:element>
										<xs:element name="City" type="xs:normalizedString" minOccurs="0">
											<xs:annotation>
												<xs:documentation>Ciudad</xs:documentation>
											</xs:annotation>
										</xs:element>
										<xs:element name="Colony" type="xs:normalizedString" minOccurs="0">
											<xs:annotation>
												<xs:documentation>Colonia</xs:documentation>
											</xs:annotation>
										</xs:element>
										<xs:element name="Street" type="xs:normalizedString" minOccurs="0">
											<xs:annotation>
												<xs:documentation>Calle</xs:documentation>
											</xs:annotation>
										</xs:element>
										<xs:element name="ExternalNumber" type="xs:normalizedString" minOccurs="0">
											<xs:annotation>
												<xs:documentation>Número exterior</xs:documentation>
											</xs:annotation>
										</xs:element>
										<xs:element name="ZipCode" type="xs:normalizedString" minOccurs="0">
											<xs:annotation>
												<xs:documentation>Código Postal</xs:documentation>
											</xs:annotation>
										</xs:element>
										<xs:element name="EffectiveDate" type="xs:normalizedString" minOccurs="0">
											<xs:annotation>
												<xs:documentation>Fecha en la que se quiere crear/actualizar/eliminar la dirección</xs:documentation>
											</xs:annotation>
										</xs:element>
									</xs:sequence>
								</xs:complexType>
							</xs:element>
							<xs:element name="Contacts" minOccurs="0" maxOccurs="unbounded">
								<xs:complexType>
									<xs:sequence>
										<xs:element name="ID" type="xs:normalizedString" minOccurs="0">
											<xs:annotation>
												<xs:documentation>Identificador único del contacto</xs:documentation>
											</xs:annotation>
										</xs:element>
										<xs:element name="Status" type="xs:normalizedString" minOccurs="0">
											<xs:annotation>
												<xs:documentation>Estado del contacto</xs:documentation>
											</xs:annotation>
										</xs:element>
										<xs:element name="Type" type="xs:normalizedString" minOccurs="0">
											<xs:annotation>
												<xs:documentation>Tipo de contacto</xs:documentation>
											</xs:annotation>
										</xs:element>
										<xs:element name="Name" type="xs:normalizedString" minOccurs="0">
											<xs:annotation>
												<xs:documentation>Nombre completo del contacto</xs:documentation>
											</xs:annotation>
										</xs:element>
										<xs:element name="Email" type="xs:normalizedString" minOccurs="0">
											<xs:annotation>
												<xs:documentation>Correo electronico del contacto</xs:documentation>
											</xs:annotation>
										</xs:element>
										<xs:element name="PrefCtMethod" type="xs:normalizedString" minOccurs="0">
											<xs:annotation>
												<xs:documentation>Preferencia de método de contacto</xs:documentation>
											</xs:annotation>
										</xs:element>
										<xs:element name="AddressIdRef" type="xs:normalizedString" minOccurs="0">
											<xs:annotation>
												<xs:documentation>Referencia a identificador único de dirección</xs:documentation>
											</xs:annotation>
										</xs:element>
										<xs:element name="EffectiveDate" type="xs:normalizedString" minOccurs="0">
											<xs:annotation>
												<xs:documentation>Fecha en la que se quiere crear/actualizar/eliminar el contacto</xs:documentation>
											</xs:annotation>
										</xs:element>
										<xs:element name="Phones" minOccurs="0" maxOccurs="unbounded">
											<xs:complexType>
												<xs:sequence>
													<xs:element name="IsPrimary" type="xs:normalizedString" minOccurs="0">
														<xs:annotation>
															<xs:documentation>Determina si el télefono es primario</xs:documentation>
														</xs:annotation>
													</xs:element>
													<xs:element name="Type" type="xs:normalizedString" minOccurs="0">
														<xs:annotation>
															<xs:documentation>Tipo de número</xs:documentation>
														</xs:annotation>
													</xs:element>
													<xs:element name="CountryCode" type="xs:normalizedString" minOccurs="0">
														<xs:annotation>
															<xs:documentation>Código de país</xs:documentation>
														</xs:annotation>
													</xs:element>
													<xs:element name="Number" type="xs:normalizedString" minOccurs="0">
														<xs:annotation>
															<xs:documentation>Número télefonico</xs:documentation>
														</xs:annotation>
													</xs:element>
													<xs:element name="Extension" type="xs:normalizedString" minOccurs="0">
														<xs:annotation>
															<xs:documentation>Extension del número</xs:documentation>
														</xs:annotation>
													</xs:element>
												</xs:sequence>
											</xs:complexType>
										</xs:element>
									</xs:sequence>
								</xs:complexType>
							</xs:element>
						</xs:sequence>
					</xs:complexType>
				</xs:element>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="Response">
		<xs:complexType>
			<xs:sequence>
				<xs:element name="Header">
					<xs:complexType>
						<xs:sequence>
							<xs:element name="TransactionID" type="xs:normalizedString"/>
							<xs:element name="Code" type="xs:normalizedString"/>
							<xs:element name="ErrorCode" type="xs:normalizedString"/>
							<xs:element name="Description" type="xs:normalizedString"/>
						</xs:sequence>
					</xs:complexType>
				</xs:element>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
</xs:schema>
