Factura Electronica/Desarrollo/FacturaProveedores/Shared Resources/Schema Definitions/Custom/Authentication.xsd

<?xml version="1.0" encoding="UTF-8"?>

<xsd:schema xmlns="http://xmlns.heb.com/ei/Authentication"
	 xmlns:xsd="http://www.w3.org/2001/XMLSchema"
	 targetNamespace="http://xmlns.heb.com/ei/Authentication"
	 elementFormDefault="qualified"
	 attributeFormDefault="unqualified">
	<xsd:import namespace="http://www.w3.org/XML/1998/namespace"/>
	<xsd:element name="Authentication">
		<xsd:complexType>
			<xsd:sequence>
				<xsd:element name="USER_ID" type="xsd:string"/>
				<xsd:element name="PWD" type="xsd:string"/>
				<xsd:element name="CLIENT_ID" type="xsd:string"/>
			</xsd:sequence>
		</xsd:complexType>
	</xsd:element>
</xsd:schema>