ErrorHandler/Desarrollo/Nueva Version/Error_Process_Subscriber/Shared Resources/Schema Definitions/Common/EmailCatalog.xsd

<?xml version="1.0" encoding="UTF-8"?>

<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema"
	 elementFormDefault="qualified"
	 attributeFormDefault="unqualified">
	<xs:element name="EmailCatalog">
		<xs:complexType>
			<xs:sequence>
				<xs:element name="EmailTypeProject" minOccurs="0" maxOccurs="unbounded">
					<xs:complexType>
						<xs:sequence>
							<xs:element name="Project" type="xs:string"/>
							<xs:element name="Email" type="xs:string"/>
							<xs:element name="ExceptionType" type="xs:string"/>
						</xs:sequence>
					</xs:complexType>
				</xs:element>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
</xs:schema>