ReciboCAT/Desarrollo/ServicioCallRControl/InvoiceOrchestratorService/Shared Resources/WSDL/WSLOG/wsdlLOG.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<!--Created by TIBCO WSDL-->
<wsdl:definitions xmlns:ns1="http://recepcionfeV33.heb.com.mx/InvoiceOrquestratorRequestLoggerService" xmlns:tns="http://xmlns.example.com/1491838641739" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:ns0="http://www.tibco.com/schemas/InvoiceOrquestratorRequestLoggerService/Shared Resources/Schema/InvoiceOrquestratorRequestLoggerService" xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" name="Untitled" targetNamespace="http://xmlns.example.com/1491838641739">
    <wsdl:types>
        <xs:schema elementFormDefault="qualified" attributeFormDefault="unqualified">
            <xs:element name="HEBWebServicesRequestLog">
                <xs:annotation>
                    <xs:documentation>Comment describing your root element</xs:documentation>
                </xs:annotation>
                <xs:complexType>
                    <xs:sequence>
                        <xs:element name="timestamp" form="unqualified" type="xs:dateTime"/>
                        <xs:element name="userName" form="unqualified" type="xs:string"/>
                        <xs:element name="requestType" form="unqualified" type="xs:string"/>
                        <xs:element name="requestFrom" form="unqualified" type="xs:string"/>
                        <xs:element name="request" form="unqualified" type="xs:string"/>
                        <xs:element name="response" form="unqualified" nillable="true" type="xs:string" minOccurs="0"/>
                        <xs:element name="responseTime" form="unqualified" nillable="true" type="xs:string" minOccurs="0"/>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:element name="Exception">
                <xs:annotation>
                    <xs:documentation>Comment describing your root element</xs:documentation>
                </xs:annotation>
                <xs:complexType>
                    <xs:sequence>
                        <xs:element name="Domain" form="unqualified" type="xs:string">
                            <xs:annotation>
                                <xs:documentation>Dominio de TIBCO</xs:documentation>
                            </xs:annotation>
                        </xs:element>
                        <xs:element name="Deployment" form="unqualified" type="xs:string"/>
                        <xs:element name="Project" form="unqualified" type="xs:string"/>
                        <xs:element name="EngineName" form="unqualified" type="xs:string"/>
                        <xs:element name="TimeStamp" form="unqualified" type="xs:string">
                            <xs:annotation>
                                <xs:documentation>Fecha y hora de la excepcion</xs:documentation>
                            </xs:annotation>
                        </xs:element>
                        <xs:element name="Code" form="unqualified" type="xs:string"/>
                        <xs:element name="Message" form="unqualified" type="xs:string">
                            <xs:annotation>
                                <xs:documentation>Descripcion del error</xs:documentation>
                            </xs:annotation>
                        </xs:element>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
        </xs:schema>
        <xs:schema xmlns:ns4="http://www.tibco.com/schemas/InvoiceOrquestratorRequestLoggerService/Shared Resources/Schema/InvoiceOrquestratorRequestLoggerService" targetNamespace="http://www.tibco.com/schemas/InvoiceOrquestratorRequestLoggerService/Shared Resources/Schema/InvoiceOrquestratorRequestLoggerService" elementFormDefault="qualified" attributeFormDefault="unqualified">
            <xs:import/>
            <xs:element name="Exception_Request">
                <xs:annotation>
                    <xs:documentation>Comment describing your root element</xs:documentation>
                </xs:annotation>
                <xs:complexType>
                    <xs:sequence>
                        <xs:element name="Environment" type="xs:anyType"/>
                        <xs:element ref="Exception">
                            <xs:annotation>
                                <xs:documentation>Comment describing your root element</xs:documentation>
                            </xs:annotation>
                        </xs:element>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
        </xs:schema>
        <xs:schema targetNamespace="http://recepcionfeV33.heb.com.mx/InvoiceOrquestratorRequestLoggerService" elementFormDefault="qualified" attributeFormDefault="unqualified">
            <xs:import/>
            <xs:element name="InvoiceOrquestratorRequestLogger_Request">
                <xs:annotation>
                    <xs:documentation>Comment describing your root element</xs:documentation>
                </xs:annotation>
                <xs:complexType>
                    <xs:sequence>
                        <xs:element name="Environment" type="xs:anyType"/>
                        <xs:element ref="HEBWebServicesRequestLog">
                            <xs:annotation>
                                <xs:documentation>Comment describing your root element</xs:documentation>
                            </xs:annotation>
                        </xs:element>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
        </xs:schema>
    </wsdl:types>
    <wsdl:service name="InvoiceOrquestratorRequestLoggerService">
        <wsdl:port name="InvoiceOrquestratorRequestLogger" binding="tns:InvoiceOrquestratorRequestLoggerBinding">
            <soap:address location="https://localhost:55008/Process/Starters/InvoiceOrquestratorRequestLoggerService.serviceagent/InvoiceOrquestratorRequestLogger"/>
        </wsdl:port>
    </wsdl:service>
    <wsdl:portType name="InvoiceOrquestratorRequestLogger">
        <wsdl:operation name="SetInvoiceOrquestratorRequestException">
            <wsdl:input message="tns:ExceptionRequest"/>
            <wsdl:output message="tns:ExceptionResponse"/>
        </wsdl:operation>
        <wsdl:operation name="SetInvoiceOrquestratorRequestLog">
            <wsdl:input message="tns:SetRequestLog_Request"/>
            <wsdl:output message="tns:SetRequestLog_Response"/>
        </wsdl:operation>
    </wsdl:portType>
    <wsdl:binding name="InvoiceOrquestratorRequestLoggerBinding" type="tns:InvoiceOrquestratorRequestLogger">
        <soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
        <wsdl:operation name="SetInvoiceOrquestratorRequestException">
            <soap:operation style="document" soapAction="/Process/Starters/InvoiceOrquestratorRequestLoggerService.serviceagent//SetInvoiceOrquestratorRequestException"/>
            <wsdl:input>
                <soap:body use="literal" parts="Request"/>
            </wsdl:input>
            <wsdl:output>
                <soap:body use="literal" parts="Response"/>
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="SetInvoiceOrquestratorRequestLog">
            <soap:operation style="document" soapAction="/Process/Starters/InvoiceOrquestratorRequestLoggerService.serviceagent/InvoiceOrquestratorRequestLoggerEndpoint1/SetInvoiceOrquestratorRequestLog"/>
            <wsdl:input>
                <soap:body use="literal" parts="request"/>
            </wsdl:input>
            <wsdl:output>
                <soap:body use="literal" parts="Response"/>
            </wsdl:output>
        </wsdl:operation>
    </wsdl:binding>
    <wsdl:message name="ExceptionRequest">
        <wsdl:part name="Request" element="ns0:Exception_Request"/>
    </wsdl:message>
    <wsdl:message name="ExceptionResponse">
        <wsdl:part name="Response" type="xs:string"/>
    </wsdl:message>
    <wsdl:message name="SetRequestLog_Request">
        <wsdl:part name="request" element="ns1:InvoiceOrquestratorRequestLogger_Request"/>
    </wsdl:message>
    <wsdl:message name="SetRequestLog_Response">
        <wsdl:part name="Response" type="xs:string"/>
    </wsdl:message>
</wsdl:definitions>