ConexionesDinamicas/Desarrollo/BitacoraToPMMPublisher/Shared Resources/Schema Definitions/Custom/SDIPMGHDI_DATA.xsd

<?xml version="1.0" encoding="UTF-8"?>

<xsd:schema xmlns="http://xmlns.heb.com/ei/SDIPMGHDI_DATA"
	 xmlns:xsd="http://www.w3.org/2001/XMLSchema"
	 targetNamespace="http://xmlns.heb.com/ei/SDIPMGHDI_DATA"
	 elementFormDefault="qualified"
	 attributeFormDefault="unqualified">
	<xsd:element name="SDIPMGHDI">
		<xsd:complexType>
			<xsd:sequence>
				<xsd:element name="AUDIT_NUMBER" type="xsd:string" nillable="true" minOccurs="0"/>
				<xsd:element name="TRAN_TYPE" type="xsd:string" nillable="true" minOccurs="0"/>
				<xsd:element name="PMG_PO_NUMBER" type="xsd:string" nillable="true" minOccurs="0"/>
				<xsd:element name="VENDOR_NUMBER" type="xsd:string" nillable="true" minOccurs="0"/>
				<xsd:element name="VPC_SHP_POINT" type="xsd:string" nillable="true" minOccurs="0"/>
				<xsd:element name="PMG_TYPE_NAME" type="xsd:string" nillable="true" minOccurs="0"/>
				<xsd:element name="ORG_LVL_NUMBER" type="xsd:string" nillable="true" minOccurs="0"/>
				<xsd:element name="CAP_CHAIN_NAME" type="xsd:string" nillable="true" minOccurs="0"/>
				<xsd:element name="BAS_USR_NAME" type="xsd:string" nillable="true" minOccurs="0"/>
				<xsd:element name="PMG_LC_NUMBER" type="xsd:string" nillable="true" minOccurs="0"/>
				<xsd:element name="PMG_SHIP_VIA" type="xsd:string" nillable="true" minOccurs="0"/>
				<xsd:element name="PMG_BUYER" type="xsd:string" nillable="true" minOccurs="0"/>
				<xsd:element name="VPC_APT_DESC" type="xsd:string" nillable="true" minOccurs="0"/>
				<xsd:element name="PMG_FOB" type="xsd:string" nillable="true" minOccurs="0"/>
				<xsd:element name="CURR_CODE" type="xsd:string" nillable="true" minOccurs="0"/>
				<xsd:element name="PMG_EFFECT_DATE" type="xsd:string" nillable="true" minOccurs="0"/>
				<xsd:element name="PMG_RATE" type="xsd:string" nillable="true" minOccurs="0"/>
				<xsd:element name="DMT_CODE" type="xsd:string" nillable="true" minOccurs="0"/>
				<xsd:element name="TRF_ALLOC_ID" type="xsd:string" nillable="true" minOccurs="0"/>
				<xsd:element name="PMG_ENTRY_DATE" type="xsd:string" nillable="true" minOccurs="0"/>
				<xsd:element name="PMG_SHIP_DATE" type="xsd:string" nillable="true" minOccurs="0"/>
				<xsd:element name="PMG_CANCEL_DATE" type="xsd:string" nillable="true" minOccurs="0"/>
				<xsd:element name="PMG_EXP_RCT_DATE" type="xsd:string" nillable="true" minOccurs="0"/>
				<xsd:element name="PMG_PAY_DATE" type="xsd:string" nillable="true" minOccurs="0"/>
				<xsd:element name="DISTRO_ID" type="xsd:string" nillable="true" minOccurs="0"/>
				<xsd:element name="DATE_CREATED" type="xsd:string" nillable="true" minOccurs="0"/>
				<xsd:element name="PMG_PO_NOTES" type="xsd:string" nillable="true" minOccurs="0"/>
				<xsd:element name="PMG_RECV_NOTES" type="xsd:string" nillable="true" minOccurs="0"/>
				<xsd:element name="PMG_PIS_DATE" type="xsd:string" nillable="true" minOccurs="0"/>
				<xsd:element name="PMG_EXT_RCT_DATE" type="xsd:string" nillable="true" minOccurs="0"/>
				<xsd:element name="PMG_OTB_BUD_DATE" type="xsd:string" nillable="true" minOccurs="0"/>
				<xsd:element name="PMG_CNCL_BY_DATE" type="xsd:string" nillable="true" minOccurs="0"/>
				<xsd:element name="PO_AUTO_RELEASE" type="xsd:string" nillable="true" minOccurs="0"/>
				<xsd:element name="PMG_ALLOCATOR" type="xsd:string" nillable="true" minOccurs="0"/>
				<xsd:element name="PMG_RATE_OVERRIDE" type="xsd:string" nillable="true" minOccurs="0"/>
				<xsd:element name="APPLY_VPC_CHGALW" type="xsd:string" nillable="true" minOccurs="0"/>
				<xsd:element name="PMG_EXT_PO_NUM" type="xsd:string" nillable="true" minOccurs="0"/>
				<xsd:element name="JDA_ORIGIN" type="xsd:string" nillable="true" minOccurs="0"/>
				<xsd:element name="PMG_CNL_REAS_CD" type="xsd:string" nillable="true" minOccurs="0"/>
				<xsd:element name="PMG_REQ_FLAG" type="xsd:string" nillable="true" minOccurs="0"/>
				<xsd:element name="PMG_SUPP_CHN_CODE" type="xsd:string" nillable="true" minOccurs="0"/>
				<xsd:element name="PMG_CONSOL_CENTER" type="xsd:string" nillable="true" minOccurs="0"/>
				<xsd:element name="PMG_FMT_CODE" type="xsd:string" nillable="true" minOccurs="0"/>
				<xsd:element name="PMG_TAX_EXC_HM" type="xsd:string" nillable="true" minOccurs="0"/>
				<xsd:element name="PMG_TAX_EXC_LC" type="xsd:string" nillable="true" minOccurs="0"/>
				<xsd:element name="PMG_TAX_EXC_PO" type="xsd:string" nillable="true" minOccurs="0"/>
				<xsd:element name="PMG_TOT_TAX_HM" type="xsd:string" nillable="true" minOccurs="0"/>
				<xsd:element name="PMG_TOT_TAX_PO" type="xsd:string" nillable="true" minOccurs="0"/>
				<xsd:element name="FRT_TERMS_DESC" type="xsd:string" nillable="true" minOccurs="0"/>
				<xsd:element name="SHIP_VIA_DESC" type="xsd:string" nillable="true" minOccurs="0"/>
				<xsd:element name="FOB_TERMS_DESC" type="xsd:string" nillable="true" minOccurs="0"/>
				<xsd:element name="POE_CNTRY_NAME" type="xsd:string" nillable="true" minOccurs="0"/>
				<xsd:element name="POE_CITY" type="xsd:string" nillable="true" minOccurs="0"/>
				<xsd:element name="PMG_REALLOCATE" type="xsd:string" nillable="true" minOccurs="0"/>
				<xsd:element name="THREAD_ID" type="xsd:string" nillable="true" minOccurs="0"/>
				<xsd:element name="PMG_ADV_RPL_REF_NBR" type="xsd:string" nillable="true" minOccurs="0"/>
				<xsd:element name="PO_TYPE" type="xsd:string" nillable="true" minOccurs="0"/>
				<xsd:element name="SDIPMGDTI_DATA" type="SDIPMGDTI_DATA" minOccurs="0"/>
			</xsd:sequence>
		</xsd:complexType>
	</xsd:element>
	<xsd:element name="SDIPMGDTI_DATA" type="SDIPMGDTI_DATA"/>
	<xsd:complexType name="SDIPMGDTI_DATA">
		<xsd:sequence>
			<xsd:element name="ITEM" minOccurs="0" maxOccurs="unbounded">
				<xsd:complexType>
					<xsd:sequence>
						<xsd:element name="AUDIT_NUMBER" type="xsd:string" nillable="true" minOccurs="0"/>
						<xsd:element name="TRAN_TYPE" type="xsd:string" nillable="true" minOccurs="0"/>
						<xsd:element name="PMG_SEQ_NUM" type="xsd:string" nillable="true" minOccurs="0"/>
						<xsd:element name="PMG_PO_NUMBER" type="xsd:string" nillable="true" minOccurs="0"/>
						<xsd:element name="PMG_LINE_NUMBER" type="xsd:string" nillable="true" minOccurs="0"/>
						<xsd:element name="PRD_LVL_NUMBER" type="xsd:string" nillable="true" minOccurs="0"/>
						<xsd:element name="ORG_LVL_NUMBER" type="xsd:string" nillable="true" minOccurs="0"/>
						<xsd:element name="PMG_DTL_TYPE" type="xsd:string" nillable="true" minOccurs="0"/>
						<xsd:element name="VPC_CASE_PACK_ID" type="xsd:string" nillable="true" minOccurs="0"/>
						<xsd:element name="PRD_UPC" type="xsd:string" nillable="true" minOccurs="0"/>
						<xsd:element name="PMG_SELL_QTY" type="xsd:string" nillable="true" minOccurs="0"/>
						<xsd:element name="PMG_PACK_QTY" type="xsd:string" nillable="true" minOccurs="0"/>
						<xsd:element name="PMG_SELL_COST" type="xsd:string" nillable="true" minOccurs="0"/>
						<xsd:element name="PMG_PACK_COST" type="xsd:string" nillable="true" minOccurs="0"/>
						<xsd:element name="PMG_RES_SELL_QTY" type="xsd:string" nillable="true" minOccurs="0"/>
						<xsd:element name="PMG_RETAIL" type="xsd:string" nillable="true" minOccurs="0"/>
						<xsd:element name="VPC_APT_DESC" type="xsd:string" nillable="true" minOccurs="0"/>
						<xsd:element name="PMG_PAY_DATE" type="xsd:string" nillable="true" minOccurs="0"/>
						<xsd:element name="PMG_CALL_OFF_PO" type="xsd:string" nillable="true" minOccurs="0"/>
						<xsd:element name="DMT_CODE" type="xsd:string" nillable="true" minOccurs="0"/>
						<xsd:element name="TRF_ALLOC_ID" type="xsd:string" nillable="true" minOccurs="0"/>
						<xsd:element name="PMG_SHIP_DATE" type="xsd:string" nillable="true" minOccurs="0"/>
						<xsd:element name="PMG_EXP_RCT_DATE" type="xsd:string" nillable="true" minOccurs="0"/>
						<xsd:element name="PMG_CANCEL_DATE" type="xsd:string" nillable="true" minOccurs="0"/>
						<xsd:element name="PMG_MANUAL_DIST" type="xsd:string" nillable="true" minOccurs="0"/>
						<xsd:element name="DISTRO_ID" type="xsd:string" nillable="true" minOccurs="0"/>
						<xsd:element name="PMG_SHIP_VIA" type="xsd:string" nillable="true" minOccurs="0"/>
						<xsd:element name="PMG_FOB" type="xsd:string" nillable="true" minOccurs="0"/>
						<xsd:element name="RCV_QC_EXP" type="xsd:string" nillable="true" minOccurs="0"/>
						<xsd:element name="STYLE_PRD_LVL_NBR" type="xsd:string" nillable="true" minOccurs="0"/>
						<xsd:element name="PMG_TRACK_CODE" type="xsd:string" nillable="true" minOccurs="0"/>
						<xsd:element name="DATE_CREATED" type="xsd:string" nillable="true" minOccurs="0"/>
						<xsd:element name="PMG_PO_NOTES" type="xsd:string" nillable="true" minOccurs="0"/>
						<xsd:element name="PMG_RECV_NOTES" type="xsd:string" nillable="true" minOccurs="0"/>
						<xsd:element name="PMG_PIS_DATE" type="xsd:string" nillable="true" minOccurs="0"/>
						<xsd:element name="PMG_EXT_RCT_DATE" type="xsd:string" nillable="true" minOccurs="0"/>
						<xsd:element name="PMG_OTB_BUD_DATE" type="xsd:string" nillable="true" minOccurs="0"/>
						<xsd:element name="PMG_ALLOCATOR" type="xsd:string" nillable="true" minOccurs="0"/>
						<xsd:element name="PRD_CROSS_DOCK" type="xsd:string" nillable="true" minOccurs="0"/>
						<xsd:element name="PMG_CNCL_BY_DATE" type="xsd:string" nillable="true" minOccurs="0"/>
						<xsd:element name="PMG_APPLY_DC_PACK" type="xsd:string" nillable="true" minOccurs="0"/>
						<xsd:element name="PMG_DC_PACK_QTY" type="xsd:string" nillable="true" minOccurs="0"/>
						<xsd:element name="VPC_CASE_QTY" type="xsd:string" nillable="true" minOccurs="0"/>
						<xsd:element name="VPC_CASE_STD_PACK" type="xsd:string" nillable="true" minOccurs="0"/>
						<xsd:element name="PMG_DIST_SELL_QTY" type="xsd:string" nillable="true" minOccurs="0"/>
						<xsd:element name="PMG_DTL_TECH_KEY" type="xsd:string" nillable="true" minOccurs="0"/>
						<xsd:element name="PMG_EXT_PO_NUM" type="xsd:string" nillable="true" minOccurs="0"/>
						<xsd:element name="PMG_LOC_CURR" type="xsd:string" nillable="true" minOccurs="0"/>
						<xsd:element name="PMG_TAX_EXC_HM" type="xsd:string" nillable="true" minOccurs="0"/>
						<xsd:element name="PMG_TAX_EXC_LC" type="xsd:string" nillable="true" minOccurs="0"/>
						<xsd:element name="PMG_TAX_EXC_PO" type="xsd:string" nillable="true" minOccurs="0"/>
						<xsd:element name="PMG_TOT_TAX_HM" type="xsd:string" nillable="true" minOccurs="0"/>
						<xsd:element name="PMG_TOT_TAX_PO" type="xsd:string" nillable="true" minOccurs="0"/>
						<xsd:element name="PMG_SPREAD_MULT" type="xsd:string" nillable="true" minOccurs="0"/>
						<xsd:element name="FRT_TERMS_DESC" type="xsd:string" nillable="true" minOccurs="0"/>
						<xsd:element name="SHIP_VIA_DESC" type="xsd:string" nillable="true" minOccurs="0"/>
						<xsd:element name="FOB_TERMS_DESC" type="xsd:string" nillable="true" minOccurs="0"/>
						<xsd:element name="PMG_PRD_VENDOR" type="xsd:string" nillable="true" minOccurs="0"/>
						<xsd:element name="PMG_REALLOCATE" type="xsd:string" nillable="true" minOccurs="0"/>
						<xsd:element name="PMG_AAL_METHOD" type="xsd:string" nillable="true" minOccurs="0"/>
						<xsd:element name="PMG_APPLY_BUY_MULTIPLE" type="xsd:string" nillable="true" minOccurs="0"/>
						<xsd:element name="NET_COST_FLAG" type="xsd:string" nillable="true" minOccurs="0"/>
						<xsd:element name="PMG_PACK_NET_COST" type="xsd:string" nillable="true" minOccurs="0"/>
					</xsd:sequence>
				</xsd:complexType>
			</xsd:element>
		</xsd:sequence>
	</xsd:complexType>
</xsd:schema>