HEBCard/Desarrollo/ApiPurchaseOrderService/Shared Resources/WADL/ApiPurchaseOrderService.wadl

<?xml version="1.0" encoding="UTF-8"?>
<application xmlns="http://wadl.dev.java.net/2009/02" name="ApiPurchaseOrderService">
    <resources name="RestService" base="http://%%Connections/HTTP/LocalHost/MIG_HOST%%:%%Connections/HTTP/LocalHost/MIG_PORT%%/ApiPurchaseOrderService">
        <resource id="PurchaseOrder" path="/PurchaseOrders">
            <method name="POST" id="SetPurchaseOrder">
                <request name="Request">
                    <representation mediaType="application/json"/>
                </request>
                <response name="Response">
                    <representation mediaType="application/json"/>
                </response>
            </method>
            <param name="Application" style="header" required="false" default="">
                <doc/>
            </param>
            <param name="Object" style="header" required="false" default="">
                <doc/>
            </param>
            <param name="User" style="header" required="false" default="">
                <doc/>
            </param>
        </resource>
    </resources>
</application>