RTSales/Varios/Acreedores_InvoiceService-SoloCFDI/Shared Resources/Schema Definitions/Common/MessageResponse.xsd

<?xml version="1.0" encoding="UTF-8"?>

<xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema"
	 elementFormDefault="qualified"
	 attributeFormDefault="unqualified">
	<xsd:complexType name="MESSAGE">
		<xsd:sequence>
			<xsd:element name="CODE" type="xsd:string"/>
			<xsd:element name="DESCRIPTION" type="xsd:string"/>
		</xsd:sequence>
	</xsd:complexType>
</xsd:schema>