RTSales/Varios/Acreedores_InvoiceService-SoloCFDI/Shared Resources/WSDL/ControlR/ControlR.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<wsdl:definitions xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tm="http://microsoft.com/wsdl/mime/textMatching/" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:tns="http://tempuri.org/" xmlns:s="http://www.w3.org/2001/XMLSchema" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" targetNamespace="http://tempuri.org/">
    <wsdl:types>
        <s:schema elementFormDefault="qualified" targetNamespace="http://tempuri.org/">
            <s:element name="Consulta_Folio_HEB">
                <s:complexType>
                    <s:sequence>
                        <s:element minOccurs="0" maxOccurs="1" name="Usuario" type="s:string"/>
                        <s:element minOccurs="0" maxOccurs="1" name="Password" type="s:string"/>
                        <s:element minOccurs="0" maxOccurs="1" name="Folio" type="s:string"/>
                    </s:sequence>
                </s:complexType>
            </s:element>
            <s:element name="Consulta_Folio_HEBResponse">
                <s:complexType>
                    <s:sequence>
                        <s:element minOccurs="0" maxOccurs="1" name="Consulta_Folio_HEBResult" type="s:string"/>
                    </s:sequence>
                </s:complexType>
            </s:element>
            <s:element name="string" nillable="true" type="s:string"/>
        </s:schema>
    </wsdl:types>
    <wsdl:message name="Consulta_Folio_HEBSoapIn">
        <wsdl:part name="parameters" element="tns:Consulta_Folio_HEB"/>
    </wsdl:message>
    <wsdl:message name="Consulta_Folio_HEBSoapOut">
        <wsdl:part name="parameters" element="tns:Consulta_Folio_HEBResponse"/>
    </wsdl:message>
    <wsdl:message name="Consulta_Folio_HEBHttpGetIn">
        <wsdl:part name="Usuario" type="s:string"/>
        <wsdl:part name="Password" type="s:string"/>
        <wsdl:part name="Folio" type="s:string"/>
    </wsdl:message>
    <wsdl:message name="Consulta_Folio_HEBHttpGetOut">
        <wsdl:part name="Body" element="tns:string"/>
    </wsdl:message>
    <wsdl:message name="Consulta_Folio_HEBHttpPostIn">
        <wsdl:part name="Usuario" type="s:string"/>
        <wsdl:part name="Password" type="s:string"/>
        <wsdl:part name="Folio" type="s:string"/>
    </wsdl:message>
    <wsdl:message name="Consulta_Folio_HEBHttpPostOut">
        <wsdl:part name="Body" element="tns:string"/>
    </wsdl:message>
    <wsdl:portType name="Consulta_HEBSoap">
        <wsdl:operation name="Consulta_Folio_HEB">
            <wsdl:input message="tns:Consulta_Folio_HEBSoapIn"/>
            <wsdl:output message="tns:Consulta_Folio_HEBSoapOut"/>
        </wsdl:operation>
    </wsdl:portType>
    <wsdl:portType name="Consulta_HEBHttpGet">
        <wsdl:operation name="Consulta_Folio_HEB">
            <wsdl:input message="tns:Consulta_Folio_HEBHttpGetIn"/>
            <wsdl:output message="tns:Consulta_Folio_HEBHttpGetOut"/>
        </wsdl:operation>
    </wsdl:portType>
    <wsdl:portType name="Consulta_HEBHttpPost">
        <wsdl:operation name="Consulta_Folio_HEB">
            <wsdl:input message="tns:Consulta_Folio_HEBHttpPostIn"/>
            <wsdl:output message="tns:Consulta_Folio_HEBHttpPostOut"/>
        </wsdl:operation>
    </wsdl:portType>
    <wsdl:binding name="Consulta_HEBSoap" type="tns:Consulta_HEBSoap">
        <soap:binding transport="http://schemas.xmlsoap.org/soap/http"/>
        <wsdl:operation name="Consulta_Folio_HEB">
            <soap:operation soapAction="http://tempuri.org/Consulta_Folio_HEB" style="document"/>
            <wsdl:input>
                <soap:body use="literal"/>
            </wsdl:input>
            <wsdl:output>
                <soap:body use="literal"/>
            </wsdl:output>
        </wsdl:operation>
    </wsdl:binding>
    <wsdl:binding name="Consulta_HEBSoap12" type="tns:Consulta_HEBSoap">
        <soap12:binding transport="http://schemas.xmlsoap.org/soap/http"/>
        <wsdl:operation name="Consulta_Folio_HEB">
            <soap12:operation soapAction="http://tempuri.org/Consulta_Folio_HEB" style="document"/>
            <wsdl:input>
                <soap12:body use="literal"/>
            </wsdl:input>
            <wsdl:output>
                <soap12:body use="literal"/>
            </wsdl:output>
        </wsdl:operation>
    </wsdl:binding>
    <wsdl:binding name="Consulta_HEBHttpGet" type="tns:Consulta_HEBHttpGet">
        <http:binding verb="GET"/>
        <wsdl:operation name="Consulta_Folio_HEB">
            <http:operation location="/Consulta_Folio_HEB"/>
            <wsdl:input>
                <http:urlEncoded/>
            </wsdl:input>
            <wsdl:output>
                <mime:mimeXml part="Body"/>
            </wsdl:output>
        </wsdl:operation>
    </wsdl:binding>
    <wsdl:binding name="Consulta_HEBHttpPost" type="tns:Consulta_HEBHttpPost">
        <http:binding verb="POST"/>
        <wsdl:operation name="Consulta_Folio_HEB">
            <http:operation location="/Consulta_Folio_HEB"/>
            <wsdl:input>
                <mime:content type="application/x-www-form-urlencoded"/>
            </wsdl:input>
            <wsdl:output>
                <mime:mimeXml part="Body"/>
            </wsdl:output>
        </wsdl:operation>
    </wsdl:binding>
    <wsdl:service name="Consulta_HEB">
        <wsdl:port name="Consulta_HEBSoap" binding="tns:Consulta_HEBSoap">
            <soap:address location="http://www.recursoconfiable.com/ws/consulta_HEB.asmx"/>
        </wsdl:port>
        <wsdl:port name="Consulta_HEBSoap12" binding="tns:Consulta_HEBSoap12">
            <soap12:address location="http://www.recursoconfiable.com/ws/consulta_HEB.asmx"/>
        </wsdl:port>
        <wsdl:port name="Consulta_HEBHttpGet" binding="tns:Consulta_HEBHttpGet">
            <http:address location="http://www.recursoconfiable.com/ws/consulta_HEB.asmx"/>
        </wsdl:port>
        <wsdl:port name="Consulta_HEBHttpPost" binding="tns:Consulta_HEBHttpPost">
            <http:address location="http://www.recursoconfiable.com/ws/consulta_HEB.asmx"/>
        </wsdl:port>
    </wsdl:service>
</wsdl:definitions>