Upgrade Logix/Desarrollo/SupertarjetaService/Shared Resources/WSDL/SuperTarjetaService.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<definitions xmlns:ns2="http://www.tibco.com/schemas/SupertarjetaService/Shared Resources/Schema Definitions/Custom/Schema.xsd3" xmlns="http://schemas.xmlsoap.org/wsdl/" xmlns:ns4="http://www.tibco.com/schemas/SupertarjetaService/Shared Resources/Schema Definitions/Custom/Schema.xsd5" xmlns:ns="http://www.tibco.com/schemas/SupertarjetaService/Shared Resources/Schema Definitions/Custom/Schema.xsd" xmlns:ns3="http://www.tibco.com/schemas/SupertarjetaService/Shared Resources/Schema Definitions/Custom/Schema.xsd2" xmlns:tns="http://xmlns.example.com/1418946732074" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:ns5="http://xmlns.heb.com/ei/Supertarjeta" xmlns:ns6="http://xmlns.heb.com/ei/SupertarjetaOut" xmlns:ns7="http://xmlns.heb.com/ei/ProviderFaultSchema" targetNamespace="http://xmlns.example.com/1418946732074">
    <import namespace="http://www.tibco.com/schemas/SupertarjetaService/Shared Resources/Schema Definitions/Custom/Schema.xsd" location="../Schema Definitions/Custom/ResidueIn.xsd"/>
    <import namespace="http://www.tibco.com/schemas/SupertarjetaService/Shared Resources/Schema Definitions/Custom/Schema.xsd3" location="../Schema Definitions/Custom/ResidueOut.xsd"/>
    <import namespace="http://www.tibco.com/schemas/SupertarjetaService/Shared Resources/Schema Definitions/Custom/Schema.xsd2" location="../Schema Definitions/Custom/CancelIn.xsd"/>
    <import namespace="http://www.tibco.com/schemas/SupertarjetaService/Shared Resources/Schema Definitions/Custom/Schema.xsd5" location="../Schema Definitions/Custom/CancelOut.xsd"/>
    <import namespace="http://xmlns.heb.com/ei/Supertarjeta" location="../Schema Definitions/Custom/SupertarjetaIn.xsd"/>
    <import namespace="http://xmlns.heb.com/ei/SupertarjetaOut" location="../Schema Definitions/Custom/SupertarjetaOut.xsd"/>
    <import namespace="http://xmlns.heb.com/ei/ProviderFaultSchema" location="../Schema Definitions/Custom/ProviderSOAPFault.xsd"/>
    <message name="Residue_SuperTarjeta_Request">
        <part name="Request" element="ns:ResidueIn"/>
    </message>
    <message name="Residue_SuperTarjeta_Replay">
        <part name="Replay" element="ns2:ResidueOut"/>
    </message>
    <message name="Cancel_SuperTarjeta_Request">
        <part name="Request" element="ns3:CancelIn"/>
    </message>
    <message name="Cancel_SuperTarjeta_Replay">
        <part name="Replay" element="ns4:CancelOut"/>
    </message>
    <message name="Send_SuperTarjeta_Request">
        <part name="Request" element="ns5:SupertarjetaIn"/>
    </message>
    <message name="Send_SuperTarjeta_Replay">
        <part name="Replay" element="ns6:SupertarjetaOut"/>
    </message>
    <message name="Fault">
        <part name="Fault" element="ns7:ProviderSOAPFault"/>
    </message>
    <portType name="SuperTarjeta_PortType">
        <operation name="Residue_SuperTarjeta">
            <input message="tns:Residue_SuperTarjeta_Request"/>
            <output message="tns:Residue_SuperTarjeta_Replay"/>
        </operation>
        <operation name="Cancel_SuperTarjeta">
            <input message="tns:Cancel_SuperTarjeta_Request"/>
            <output message="tns:Cancel_SuperTarjeta_Replay"/>
        </operation>
        <operation name="Send_SuperTarjeta">
            <input message="tns:Send_SuperTarjeta_Request"/>
            <output message="tns:Send_SuperTarjeta_Replay"/>
        </operation>
    </portType>
</definitions>