ReciboCAT/Desarrollo/ServicioCallRControl/InvoiceOrchestratorService/Shared Resources/Schema/Common/ParametrosFin.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="Factura">
    <xs:complexType>
      <xs:sequence>       
        <xs:element name="TipoProveedor" type="xs:string" />
        <xs:element name="Version" type="xs:string" />
        <xs:element name="UUID" type="xs:string" />
        <xs:element name="UsoCFDI" type="xs:string" />
        <xs:element name="FormaPago" type="xs:string" />
        <xs:element name="Moneda" type="xs:string" />
        <xs:element name="TipoDeComprobante" type="xs:string" />
        <xs:element name="MetodoPago" type="xs:string" />
        <xs:element name="Emisor">
          <xs:complexType>
            <xs:sequence>
              <xs:element name="Rfc" type="xs:string" />
              <xs:element name="EmisorRegimenFiscal" type="xs:string" />
            </xs:sequence>
          </xs:complexType>
        </xs:element>
        <xs:element name="Receptor">
          <xs:complexType>
            <xs:sequence>
              <xs:element name="Rfc" type="xs:string" />
            </xs:sequence>
          </xs:complexType>
        </xs:element>
        <xs:element name="Detallista">
          <xs:complexType>
            <xs:sequence>
              <xs:element name="orderIdentification">
                <xs:complexType>
                  <xs:sequence>
                    <xs:element  maxOccurs="30" name="referenceIdentification" type="xs:unsignedLong" />
                    <xs:element name="ReferenceDate" type="xs:date" minOccurs="0" />
                  </xs:sequence>
                </xs:complexType>
              </xs:element>
              <xs:element name="AdditionalInformation">
                <xs:complexType>
                  <xs:sequence>
                    <xs:element maxOccurs="99" name="referenceIdentification" type="xs:unsignedLong" />
                  </xs:sequence>
                </xs:complexType>
              </xs:element>
              <xs:element name="DeliveryNote" minOccurs="0">
                <xs:complexType>
                  <xs:sequence>
                    <xs:element maxOccurs="30" name="referenceIdentification" type="xs:unsignedLong" />
                    <xs:element name="ReferenceDate" type="xs:date" minOccurs="0" />
                  </xs:sequence>
                </xs:complexType>
              </xs:element>
              <xs:element name="buyer">
                <xs:complexType>
                  <xs:sequence>
                    <xs:element name="gln">
                      <xs:simpleType>
                        <xs:restriction base="xs:string">
                          <xs:length value="13"/>
                        </xs:restriction>
                      </xs:simpleType>
                    </xs:element>
                  </xs:sequence>
                </xs:complexType>
              </xs:element>
              <xs:element name="seller">
                <xs:complexType>
                  <xs:sequence>
                    <xs:element name="gln">
                      <xs:simpleType>
                        <xs:restriction base="xs:string">
                          <xs:length value="13"/>
                        </xs:restriction>
                      </xs:simpleType>
                    </xs:element>
                    <xs:element name="alternatePartyIdentification" type="xs:unsignedInt" />
                  </xs:sequence>
                </xs:complexType>
              </xs:element>
              <xs:element name="shipTo">
                <xs:complexType>
                  <xs:sequence>
                    <xs:element name="gln">
                      <xs:simpleType>
                        <xs:restriction base="xs:string">
                          <xs:length value="13"/>
                        </xs:restriction>
                      </xs:simpleType>
                    </xs:element>
                  </xs:sequence>
                </xs:complexType>
              </xs:element>
            </xs:sequence>
          </xs:complexType>
        </xs:element>
        <xs:element name="AddendaDetallista">
          <xs:complexType>
            <xs:sequence>
              <xs:element name="orderIdentification">
                <xs:complexType>
                  <xs:sequence>
                    <xs:element  maxOccurs="30" name="referenceIdentification" type="xs:unsignedLong" />
                    <xs:element name="ReferenceDate" type="xs:date" minOccurs="0" />
                  </xs:sequence>
                </xs:complexType>
              </xs:element>
              <xs:element name="AdditionalInformation">
                <xs:complexType>
                  <xs:sequence>
                    <xs:element maxOccurs="99" name="referenceIdentification" type="xs:unsignedLong" />
                  </xs:sequence>
                </xs:complexType>
              </xs:element>
              <xs:element name="DeliveryNote" minOccurs="0">
                <xs:complexType>
                  <xs:sequence>
                    <xs:element maxOccurs="30" name="referenceIdentification" type="xs:unsignedLong" />
                    <xs:element name="ReferenceDate" type="xs:date" minOccurs="0" />
                  </xs:sequence>
                </xs:complexType>
              </xs:element>
              <xs:element name="buyer">
                <xs:complexType>
                  <xs:sequence>
                    <xs:element name="gln">                    
                      <xs:simpleType>
                        <xs:restriction base="xs:string">
                          <xs:length value="13"/>
                        </xs:restriction>
                      </xs:simpleType>
                    </xs:element>
                  </xs:sequence>
                </xs:complexType>
              </xs:element>
              <xs:element name="seller">
                <xs:complexType>
                  <xs:sequence>
                    <xs:element name="gln">                  
                      <xs:simpleType>
                        <xs:restriction base="xs:string">
                          <xs:length value="13"/>
                        </xs:restriction>
                      </xs:simpleType>
                    </xs:element>
                    <xs:element name="alternatePartyIdentification" type="xs:unsignedInt" />
                  </xs:sequence>
                </xs:complexType>
              </xs:element>
              <xs:element name="shipTo">
                <xs:complexType>
                  <xs:sequence>
                    <xs:element name="gln">
                      <xs:simpleType>
                        <xs:restriction base="xs:string">
                          <xs:length value="13"/>
                        </xs:restriction>
                      </xs:simpleType>
                    </xs:element>
                  </xs:sequence>
                </xs:complexType>
              </xs:element>
            </xs:sequence>
          </xs:complexType>
        </xs:element>   
        <xs:element name="SIH_Acreedores">
          <xs:complexType>
            <xs:sequence>
              <xs:element name="Area" type="xs:unsignedInt"/>
              <xs:element name="BU" type="xs:string" />
              <xs:element name="Identificador"  type="xs:unsignedInt" />
              <xs:element name="Pedido" type="xs:string" />
              <xs:element name="Sucursal"  type="xs:unsignedInt" />
            </xs:sequence>
          </xs:complexType>
        </xs:element>
        <xs:element name="Transportista">
          <xs:complexType>
            <xs:sequence>
              <xs:element name="valida" type="xs:string"/>
              <xs:element name="code" type="xs:string" />
              <xs:element name="descripcion"  type="xs:string" />     
            </xs:sequence>
          </xs:complexType>
        </xs:element>
        <xs:element name="SAT">
          <xs:complexType>
            <xs:sequence>
              <xs:element name="valida" type="xs:string"/>
              <xs:element name="code" type="xs:string" />
              <xs:element name="descripcion"  type="xs:string" />
            </xs:sequence>
          </xs:complexType>
        </xs:element>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>