RTSales/Varios/LogixProjects/CopientOfferExportPublisher/Shared Resources/Schema Definitions/Custom/OFFER.xsd

<?xml version="1.0" encoding="UTF-8"?>

<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema"
	 elementFormDefault="unqualified"
	 attributeFormDefault="unqualified">
	<xs:element name="Offer">
		<xs:complexType>
			<xs:sequence>
				<xs:element name="Header" type="OfferHeaderType"/>
				<xs:element name="Conditions" minOccurs="0">
					<xs:complexType>
						<xs:sequence>
							<xs:element name="Customer" minOccurs="0" maxOccurs="unbounded">
								<xs:complexType>
									<xs:sequence>
										<xs:element name="IncentiveCustomerID" type="Int32Type" minOccurs="0"/>
										<xs:element name="CustomerGroupID" type="Int32Type" minOccurs="0"/>
										<xs:element name="ExcludedUsers" type="BooleanType" default="0" minOccurs="0"/>
										<xs:element name="Deleted" type="BooleanType" default="0" minOccurs="0"/>
										<xs:element name="LastUpdate" type="DateTimeType" minOccurs="0"/>
										<xs:element name="ConditionNumber" type="StringType" minOccurs="0"/>
										<xs:element name="DisallowEdit" type="BooleanType" minOccurs="0"/>
										<xs:element name="HHEnable" type="BooleanType" minOccurs="0"/>
										<xs:element name="RequiredFromTemplate" type="BooleanType" minOccurs="0"/>
									</xs:sequence>
								</xs:complexType>
							</xs:element>
							<xs:element name="Product" minOccurs="0" maxOccurs="unbounded">
								<xs:complexType>
									<xs:sequence>
										<xs:element name="IncentiveProductGroupID" type="Int32Type" minOccurs="0"/>
										<xs:element name="RewardOptionID" type="Int64Type" minOccurs="0"/>
										<xs:element name="ProductGroupID" type="Int32Type" minOccurs="0"/>
										<xs:element name="QtyForIncentive" type="DecimalType" minOccurs="0"/>
										<xs:element name="QtyUnitType" type="Int32Type" minOccurs="0"/>
										<xs:element name="AccumMin" type="DecimalType" minOccurs="0"/>
										<xs:element name="AccumLimit" type="DecimalType" minOccurs="0"/>
										<xs:element name="AccumPeriod" type="Int32Type" minOccurs="0"/>
										<xs:element name="ExcludedProducts" type="BooleanType" default="0" minOccurs="0"/>
										<xs:element name="Deleted" type="BooleanType" default="0" minOccurs="0"/>
										<xs:element name="LastUpdate" type="DateTimeType" minOccurs="0"/>
										<xs:element name="ConditionNumber" type="StringType" minOccurs="0"/>
										<xs:element name="DisallowEdit" type="BooleanType" minOccurs="0"/>
										<xs:element name="ProductComboID" type="Int32Type" minOccurs="0"/>
										<xs:element name="RequiredFromTemplate" type="BooleanType" minOccurs="0"/>
										<xs:element name="Disqualifier" type="BooleanType" minOccurs="0"/>
										<xs:element name="Rounding" type="BooleanType" minOccurs="0"/>
										<xs:element name="Tiers" minOccurs="0">
											<xs:complexType>
												<xs:sequence>
													<xs:element name="Tier">
														<xs:complexType>
															<xs:sequence>
																<xs:element name="PKID" type="xs:string"/>
																<xs:element name="IncentiveProductGroupID" type="xs:string"/>
																<xs:element name="RewardOptionID" type="xs:string"/>
																<xs:element name="TierLevel" type="xs:string"/>
																<xs:element name="Quantity" type="xs:string"/>
															</xs:sequence>
														</xs:complexType>
													</xs:element>
												</xs:sequence>
											</xs:complexType>
										</xs:element>
									</xs:sequence>
								</xs:complexType>
							</xs:element>
							<xs:element name="Point" minOccurs="0" maxOccurs="unbounded">
								<xs:complexType>
									<xs:sequence>
										<xs:element name="IncentivePointsID" type="Int32Type" minOccurs="0"/>
										<xs:element name="RewardOptionID" type="Int64Type" minOccurs="0"/>
										<xs:element name="ProgramID" type="Int32Type" minOccurs="0"/>
										<xs:element name="QtyForIncentive" type="Int32Type" minOccurs="0"/>
										<xs:element name="LastUpdate" type="DateTimeType" minOccurs="0"/>
										<xs:element name="Deleted" type="BooleanType" default="0" minOccurs="0"/>
										<xs:element name="DisallowEdit" type="BooleanType" minOccurs="0"/>
										<xs:element name="RequiredFromTemplate" type="BooleanType" minOccurs="0"/>
										<xs:element name="Tiers" minOccurs="0" maxOccurs="unbounded">
											<xs:complexType>
												<xs:sequence>
													<xs:element name="Tier">
														<xs:complexType>
															<xs:sequence>
																<xs:element name="PKID" type="xs:string"/>
																<xs:element name="IncentivePointsID" type="xs:string"/>
																<xs:element name="RewardOptionID" type="xs:string"/>
																<xs:element name="TierLevel" type="xs:string"/>
																<xs:element name="Quantity" type="xs:string"/>
															</xs:sequence>
														</xs:complexType>
													</xs:element>
												</xs:sequence>
											</xs:complexType>
										</xs:element>
									</xs:sequence>
								</xs:complexType>
							</xs:element>
							<xs:element name="Day" minOccurs="0" maxOccurs="unbounded">
								<xs:complexType>
									<xs:sequence>
										<xs:element name="IncentiveDOWID" type="Int64Type" minOccurs="0"/>
										<xs:element name="IncentiveID" type="Int64Type" minOccurs="0"/>
										<xs:element name="DOWID" type="Int32Type" minOccurs="0"/>
										<xs:element name="Deleted" type="BooleanType" default="0" minOccurs="0"/>
										<xs:element name="LastUpdate" type="DateTimeType" minOccurs="0"/>
										<xs:element name="DisallowEdit" type="BooleanType" minOccurs="0"/>
									</xs:sequence>
								</xs:complexType>
							</xs:element>
							<xs:element name="StoredValue" minOccurs="0" maxOccurs="unbounded">
								<xs:complexType>
									<xs:sequence>
										<xs:element name="IncentiveStoredValueID" type="Int32Type" minOccurs="0"/>
										<xs:element name="RewardOptionID" type="Int64Type" minOccurs="0"/>
										<xs:element name="SVProgramID" type="Int32Type" minOccurs="0"/>
										<xs:element name="QtyForIncentive" type="Int32Type" minOccurs="0"/>
										<xs:element name="LastUpdate" type="DateTimeType" minOccurs="0"/>
										<xs:element name="Deleted" type="BooleanType" default="0" minOccurs="0"/>
										<xs:element name="DisallowEdit" type="BooleanType" minOccurs="0"/>
										<xs:element name="RequiredFromTemplate" type="BooleanType" minOccurs="0"/>
										<xs:element name="Tiers" minOccurs="0" maxOccurs="unbounded">
											<xs:complexType>
												<xs:sequence>
													<xs:element name="Tier">
														<xs:complexType>
															<xs:sequence>
																<xs:element name="PKID" type="xs:string"/>
																<xs:element name="IncentiveStoredValueID" type="xs:string"/>
																<xs:element name="RewardOptionID" type="xs:string"/>
																<xs:element name="TierLevel" type="xs:string"/>
																<xs:element name="Quantity" type="xs:string"/>
															</xs:sequence>
														</xs:complexType>
													</xs:element>
												</xs:sequence>
											</xs:complexType>
										</xs:element>
									</xs:sequence>
								</xs:complexType>
							</xs:element>
							<xs:element name="Tender" minOccurs="0" maxOccurs="unbounded">
								<xs:complexType>
									<xs:sequence>
										<xs:element name="IncentiveTenderID" type="Int32Type" minOccurs="0"/>
										<xs:element name="RewardOptionID" type="Int32Type" minOccurs="0"/>
										<xs:element name="TenderTypeID" type="Int32Type"/>
										<xs:element name="Deleted" type="BooleanType" default="0" minOccurs="0"/>
										<xs:element name="Value" type="DecimalType"/>
										<xs:element name="LastUpdate" type="DateTimeType" minOccurs="0"/>
										<xs:element name="DisallowEdit" type="BooleanType" minOccurs="0"/>
										<xs:element name="RequiredFromTemplate" type="BooleanType" minOccurs="0"/>
										<xs:element name="ExcludedTender" type="BooleanType" minOccurs="0"/>
										<xs:element name="ExcludedTenderAmtRequired" type="DecimalType" minOccurs="0"/>
										<xs:element name="Tiers" minOccurs="0" maxOccurs="unbounded">
											<xs:complexType>
												<xs:sequence>
													<xs:element name="Tier">
														<xs:complexType>
															<xs:sequence>
																<xs:element name="PKID" type="xs:string"/>
																<xs:element name="IncentiveTenderID" type="xs:string"/>
																<xs:element name="RewardOptionID" type="xs:string"/>
																<xs:element name="TierLevel" type="xs:string"/>
																<xs:element name="Value" type="xs:string"/>
															</xs:sequence>
														</xs:complexType>
													</xs:element>
												</xs:sequence>
											</xs:complexType>
										</xs:element>
									</xs:sequence>
								</xs:complexType>
							</xs:element>
							<xs:element name="Time" minOccurs="0" maxOccurs="unbounded">
								<xs:complexType>
									<xs:sequence>
										<xs:element name="IncentiveTODID" type="Int64Type" minOccurs="0"/>
										<xs:element name="IncentiveID" type="Int64Type" minOccurs="0"/>
										<xs:element name="StartTime" type="StringType" minOccurs="0"/>
										<xs:element name="EndTime" type="StringType" minOccurs="0"/>
										<xs:element name="LastUpdate" type="DateTimeType" minOccurs="0"/>
									</xs:sequence>
								</xs:complexType>
							</xs:element>
							<xs:element name="InstantWin" minOccurs="0" maxOccurs="unbounded">
								<xs:complexType>
									<xs:sequence>
										<xs:element name="IncentiveInstantWinID" type="Int32Type" minOccurs="0"/>
										<xs:element name="RewardOptionID" type="Int32Type" minOccurs="0"/>
										<xs:element name="NumPrizesAllowed" type="Int32Type" minOccurs="0"/>
										<xs:element name="OddsOfWinning" type="Int32Type" minOccurs="0"/>
										<xs:element name="RandomWinners" type="BooleanType" default="0" minOccurs="0"/>
										<xs:element name="Deleted" type="BooleanType" default="0" minOccurs="0"/>
										<xs:element name="LastUpdate" type="DateTimeType" minOccurs="0"/>
										<xs:element name="DisallowEdit" type="BooleanType" minOccurs="0"/>
										<xs:element name="RequiredFromTemplate" type="BooleanType" minOccurs="0"/>
									</xs:sequence>
								</xs:complexType>
							</xs:element>
						</xs:sequence>
					</xs:complexType>
				</xs:element>
				<xs:element name="Notifications" minOccurs="0">
					<xs:complexType>
						<xs:sequence>
							<xs:element name="PrintedMessage" type="PrintedMessageType" minOccurs="0" maxOccurs="2"/>
							<xs:element name="CashierMessage" type="CashierMessageType" minOccurs="0" maxOccurs="unbounded"/>
							<xs:element name="Graphic" type="GraphicType" minOccurs="0" maxOccurs="unbounded"/>
						</xs:sequence>
					</xs:complexType>
				</xs:element>
				<xs:element name="Rewards" minOccurs="0">
					<xs:complexType>
						<xs:sequence>
							<xs:element name="Discount" type="DiscountType" minOccurs="0"/>
							<xs:element name="Membership" type="MembershipType" minOccurs="0"/>
							<xs:element name="Points" type="PointsType" minOccurs="0"/>
							<xs:element name="PrintedMessage" type="PrintedMessageType" minOccurs="0"/>
							<xs:element name="CashierMessage" type="CashierMessageType" minOccurs="0" maxOccurs="unbounded"/>
							<xs:element name="FrankingMessage" type="FrankingMessageType" minOccurs="0" maxOccurs="unbounded"/>
							<xs:element name="Graphic" type="GraphicType" minOccurs="0" maxOccurs="unbounded"/>
							<xs:element name="StoredValue" type="StoredValueType" minOccurs="0" maxOccurs="unbounded"/>
						</xs:sequence>
					</xs:complexType>
				</xs:element>
				<xs:element name="Auxilary" type="AuxilaryType" minOccurs="0"/>
				<xs:element name="Banners" type="BannerOffers" minOccurs="0"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>

	<!-- Complex Types Start -->
	<xs:complexType name="OfferHeaderType">
		<xs:sequence>
			<xs:element name="IncentiveID" type="Int32Type" minOccurs="0"/>
			<xs:element name="EnableRedeemRpt" type="BooleanType" minOccurs="0"/>
			<xs:element name="ManufacturerCoupon" type="Int32Type" minOccurs="0"/>
			<xs:element name="ExtVendorID" type="StringType" minOccurs="0"/>
			<xs:element name="VendorCouponCode" type="StringType" minOccurs="0"/>
			<xs:element name="TierLevels" type="xs:byte" minOccurs="0"/>
			<xs:element name="EngineID" type="Int32Type" minOccurs="0"/>
			<xs:element name="IsTemplate" type="BooleanType" minOccurs="0"/>
			<xs:element name="FromTemplate" type="BooleanType" minOccurs="0"/>
			<xs:element name="ClientOfferID" type="StringType" minOccurs="0"/>
			<xs:element name="IncentiveName" type="StringType"/>
			<xs:element name="Description" type="StringType" minOccurs="0"/>
			<xs:element name="PromoClassID" type="Int32Type" minOccurs="0"/>
			<xs:element name="Priority" type="Int32Type" minOccurs="0"/>
			<xs:element name="StartDate" type="DateTimeType" minOccurs="0"/>
			<xs:element name="EndDate" type="DateTimeType" minOccurs="0"/>
			<xs:element name="EveryDOW" type="Int32Type" minOccurs="0"/>
			<xs:element name="EligibilityStartDate" type="DateTimeType" minOccurs="0"/>
			<xs:element name="EligibilityEndDate" type="DateTimeType" minOccurs="0"/>
			<xs:element name="TestingStartDate" type="DateTimeType" minOccurs="0"/>
			<xs:element name="TestingEndDate" type="DateTimeType" minOccurs="0"/>
			<xs:element name="P1DistQtyLimit" type="Int32Type" minOccurs="0"/>
			<xs:element name="P1DistTimeType" type="Int32Type" minOccurs="0"/>
			<xs:element name="P1DistPeriod" type="Int32Type" minOccurs="0"/>
			<xs:element name="P2DistQtyLimit" type="Int32Type" minOccurs="0"/>
			<xs:element name="P2DistTimeType" type="Int32Type" minOccurs="0"/>
			<xs:element name="P2DistPeriod" type="Int32Type" minOccurs="0"/>
			<xs:element name="P3DistQtyLimit" type="Int32Type" minOccurs="0"/>
			<xs:element name="P3DistTimeType" type="Int32Type" minOccurs="0"/>
			<xs:element name="P3DistPeriod" type="Int32Type" minOccurs="0"/>
			<xs:element name="Reporting" type="BooleanType" minOccurs="0"/>
			<xs:element name="CreatedDate" type="DateTimeType" minOccurs="0"/>
			<xs:element name="LastUpdate" type="DateTimeType" minOccurs="0"/>
			<xs:element name="Deleted" type="Int32Type" default="0" minOccurs="0"/>
			<xs:element name="CRMRestricted" type="Int32Type" minOccurs="0"/>
			<xs:element name="StatusFlag" type="Int32Type" minOccurs="0"/>
			<xs:element name="UpdateLevel" type="Int32Type" default="0" minOccurs="0"/>
			<xs:element name="CRMEngineID" type="Int32Type" minOccurs="0"/>
			<xs:element name="CRMEngineUpdateLevel" type="Int32Type" default="0" minOccurs="0"/>
			<xs:element name="CPEOADeployRpt" type="StringType" minOccurs="0"/>
			<xs:element name="CPEOADeployStatus" type="Int32Type" minOccurs="0"/>
			<xs:element name="CPEOARptDate" type="DateTimeType" minOccurs="0"/>
			<xs:element name="CPEOADeploySuccessDate" type="DateTimeType" minOccurs="0"/>
			<xs:element name="DisabledOnCFW" type="BooleanType" minOccurs="0"/>
			<xs:element name="AllowOptOut" type="BooleanType" minOccurs="0"/>
			<xs:element name="EmployeesOnly" type="BooleanType" minOccurs="0"/>
			<xs:element name="EmployeesExcluded" type="BooleanType" minOccurs="0"/>
			<xs:element name="DeferCalcToEOS" type="BooleanType" minOccurs="0"/>
			<xs:element name="CreatedByAdminID" type="Int32Type" minOccurs="0"/>
			<xs:element name="LastUpdatedByAdminID" type="Int32Type" minOccurs="0"/>
			<xs:element name="SendIssuance" type="Int32Type" minOccurs="0"/>
			<xs:element name="EveryTOD" type="Int32Type" minOccurs="0"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="CashierMessageType">
		<xs:sequence>
			<xs:element name="Line1" type="StringType" minOccurs="0"/>
			<xs:element name="Line2" type="StringType" minOccurs="0"/>
			<xs:element name="Beep" type="Int32Type" minOccurs="0"/>
			<xs:element name="BeepDuration" type="Int32Type" minOccurs="0"/>
			<xs:element name="AvailabilityTypeID" type="Int32Type" minOccurs="0"/>
			<xs:element name="StartDate" type="DateTimeType" minOccurs="0"/>
			<xs:element name="ExpireDate" type="DateTimeType" minOccurs="0"/>
			<xs:element name="Priority" type="Int32Type" minOccurs="0"/>
			<xs:element name="ScreenCellID" type="Int32Type" minOccurs="0"/>
			<xs:element name="DisallowEdit" type="BooleanType" minOccurs="0"/>
			<xs:element name="MessageID" type="xs:string"/>
			<xs:element name="LastUpdate" type="xs:string"/>
			<xs:element name="Tiers" minOccurs="0" maxOccurs="unbounded">
				<xs:complexType>
					<xs:sequence>
						<xs:element name="Tier">
							<xs:complexType>
								<xs:sequence>
									<xs:element name="PKID" type="xs:string"/>
									<xs:element name="Line1" type="xs:string"/>
									<xs:element name="Line2" type="xs:string"/>
									<xs:element name="Beep" type="xs:string"/>
									<xs:element name="BeepDuration" type="xs:string"/>
									<xs:element name="MessageID" type="xs:string"/>
									<xs:element name="TierLevel" type="xs:string"/>
									<xs:element name="DisplayImmediate" type="xs:string"/>
								</xs:sequence>
							</xs:complexType>
						</xs:element>
					</xs:sequence>
				</xs:complexType>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="FrankingMessageType">
		<xs:sequence>
			<xs:element name="FrankID" type="Int32Type"/>
			<xs:element name="FrankFlag" type="Int32Type" minOccurs="0"/>
			<xs:element name="AvailabilityTypeID" type="Int32Type" minOccurs="0"/>
			<xs:element name="StartDate" type="DateTimeType" minOccurs="0"/>
			<xs:element name="ExpireDate" type="DateTimeType" minOccurs="0"/>
			<xs:element name="Priority" type="Int32Type" minOccurs="0"/>
			<xs:element name="ScreenCellID" type="Int32Type" minOccurs="0"/>
			<xs:element name="DisallowEdit" type="BooleanType" minOccurs="0"/>
			<xs:element name="LastUpdate" type="xs:string"/>
			<xs:element name="Tiers" minOccurs="0" maxOccurs="unbounded">
				<xs:complexType>
					<xs:sequence>
						<xs:element name="Tier">
							<xs:complexType>
								<xs:sequence>
									<xs:element name="PKID" type="xs:string"/>
									<xs:element name="OpenDrawer" type="xs:string"/>
									<xs:element name="ManagerOverride" type="xs:string"/>
									<xs:element name="FrankFlag" type="xs:string"/>
									<xs:element name="FrankingText" type="xs:string"/>
									<xs:element name="Line1" type="xs:string"/>
									<xs:element name="Line2" type="xs:string"/>
									<xs:element name="Beep" type="xs:string"/>
									<xs:element name="BeepDuration" type="xs:string"/>
									<xs:element name="FrankID" type="xs:string"/>
									<xs:element name="TierLevel" type="xs:string"/>
								</xs:sequence>
							</xs:complexType>
						</xs:element>
					</xs:sequence>
				</xs:complexType>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="PrintedMessageType">
		<xs:sequence>
			<xs:element name="MessageID" type="Int64Type" minOccurs="0"/>
			<xs:element name="MessageTypeID" type="Int32Type" minOccurs="0"/>
			<xs:element name="TierLevel" type="Int32Type" minOccurs="0"/>
			<xs:element name="BodyText" type="StringType" minOccurs="0"/>
			<xs:element name="AvailabilityTypeID" type="Int32Type" minOccurs="0"/>
			<xs:element name="StartDate" type="DateTimeType" minOccurs="0"/>
			<xs:element name="ExpireDate" type="DateTimeType" minOccurs="0"/>
			<xs:element name="Priority" type="Int32Type" minOccurs="0"/>
			<xs:element name="ScreenCellID" type="Int32Type" minOccurs="0"/>
			<xs:element name="DisallowEdit" type="BooleanType" minOccurs="0"/>
			<xs:element name="RewardOptionPhase" type="Int32Type" default="1" minOccurs="0"/>
			<xs:element name="SuppressZeroBalance" type="BooleanType" minOccurs="0"/>
			<xs:element name="Tiers" minOccurs="0" maxOccurs="unbounded">
				<xs:complexType>
					<xs:sequence>
						<xs:element name="Tier">
							<xs:complexType>
								<xs:sequence>
									<xs:element name="PKID" type="xs:string"/>
									<xs:element name="MessageID" type="xs:string"/>
									<xs:element name="TierLevel" type="xs:string"/>
									<xs:element name="BodyText" type="xs:string"/>
									<xs:element name="LastUpdate" type="xs:string"/>
								</xs:sequence>
							</xs:complexType>
						</xs:element>
					</xs:sequence>
				</xs:complexType>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="GraphicType">
		<xs:sequence>
			<xs:element name="Header" type="GraphicHeaderType"/>
			<xs:element name="Image" type="xs:base64Binary" minOccurs="0"/>
			<xs:element name="Touchpoint" type="TouchpointType" minOccurs="0" maxOccurs="unbounded"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="GraphicHeaderType">
		<xs:sequence>
			<xs:element name="OnScreenAdID" type="xs:nonNegativeInteger" minOccurs="0"/>
			<xs:element name="Name" type="xs:string" minOccurs="0"/>
			<xs:element name="Description" minOccurs="0">
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:minLength value="0" fixed="true"/>
						<xs:maxLength value="4000" fixed="true"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
			<xs:element name="ClientFileName" minOccurs="0">
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:minLength value="0" fixed="true"/>
						<xs:maxLength value="255" fixed="true"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
			<xs:element name="Width" type="xs:nonNegativeInteger" minOccurs="0"/>
			<xs:element name="Height" type="xs:nonNegativeInteger" minOccurs="0"/>
			<xs:element name="GraphicSize" type="xs:nonNegativeInteger" minOccurs="0"/>
			<xs:element name="ImageType" type="xs:nonNegativeInteger" minOccurs="0"/>
			<xs:element name="StoreResponse" type="xs:string" default="0"/>
			<xs:element name="DisplayDuration" type="xs:nonNegativeInteger" minOccurs="0"/>
			<xs:element name="LastUpload" type="xs:string" minOccurs="0"/>
			<xs:element name="AvailabilityTypeID" type="xs:nonNegativeInteger" minOccurs="0"/>
			<xs:element name="StartDate" type="xs:string" minOccurs="0"/>
			<xs:element name="ExpireDate" type="xs:string" minOccurs="0"/>
			<xs:element name="Priority" type="xs:nonNegativeInteger" minOccurs="0"/>
			<xs:element name="ScreenCellID" type="xs:nonNegativeInteger" minOccurs="0"/>
			<xs:element name="DisallowEdit" type="xs:string" minOccurs="0"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="TouchpointType">
		<xs:sequence>
			<xs:element name="Header" type="TouchpointHeaderType"/>
			<xs:element name="PrintedMessage" type="PrintedMessageType" minOccurs="0"/>
			<xs:element name="CashierMessage" type="CashierMessageType" minOccurs="0" maxOccurs="unbounded"/>
			<xs:element name="Graphic" type="GraphicType" minOccurs="0" maxOccurs="unbounded"/>
			<xs:element name="Discount" type="DiscountType" minOccurs="0"/>
			<xs:element name="Membership" type="MembershipType" minOccurs="0"/>
			<xs:element name="Points" type="PointsType" minOccurs="0"/>
			<xs:element name="StoredValue" type="StoredValueType" minOccurs="0"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="TouchpointHeaderType">
		<xs:sequence>
			<xs:element name="Name">
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:minLength value="0" fixed="true"/>
						<xs:maxLength value="255" fixed="true"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
			<xs:element name="RewardOptionID" type="xs:nonNegativeInteger" minOccurs="0"/>
			<xs:element name="AreaID" type="xs:nonNegativeInteger" minOccurs="0"/>
			<xs:element name="OnScreenAdId" type="xs:nonNegativeInteger" minOccurs="0"/>
			<xs:element name="RewardOptionPhase" type="xs:nonNegativeInteger" minOccurs="0"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="DiscountType">
		<xs:sequence>
			<xs:element name="DiscountID" type="Int32Type" minOccurs="0"/>
			<xs:element name="Name" type="StringType" minOccurs="0"/>
			<xs:element name="DiscountTypeID" type="Int32Type" minOccurs="0"/>
			<xs:element name="ReceiptDescription" type="StringType" minOccurs="0"/>
			<xs:element name="SpecifyBarcode" type="BooleanType" minOccurs="0"/>
			<xs:element name="DiscountBarcode" type="StringType" minOccurs="0"/>
			<xs:element name="VoidBarcode" type="StringType" minOccurs="0"/>
			<xs:element name="DiscountedProductGroupID" type="Int32Type" minOccurs="0"/>
			<xs:element name="ExcludedProductGroupID" type="Int32Type" minOccurs="0"/>
			<xs:element name="BestDeal" type="BooleanType" minOccurs="0"/>
			<xs:element name="AllowNegative" type="BooleanType" minOccurs="0"/>
			<xs:element name="ComputeDiscount" type="BooleanType" minOccurs="0"/>
			<xs:element name="DiscountAmount" type="DecimalType" minOccurs="0"/>
			<xs:element name="AmountTypeID" type="Int32Type" minOccurs="0"/>
			<xs:element name="L1Cap" type="DecimalType" minOccurs="0"/>
			<xs:element name="L2DiscountAmt" type="DecimalType" minOccurs="0"/>
			<xs:element name="L2AmountTypeID" type="Int32Type" minOccurs="0"/>
			<xs:element name="L2Cap" type="DecimalType" minOccurs="0"/>
			<xs:element name="L3DiscountAmt" type="DecimalType" minOccurs="0"/>
			<xs:element name="L3AmountTypeID" type="Int32Type" minOccurs="0"/>
			<xs:element name="ItemLimit" type="Int32Type" minOccurs="0"/>
			<xs:element name="WeightLimit" type="DecimalType" minOccurs="0"/>
			<xs:element name="DollarLimit" type="DecimalType" minOccurs="0"/>
			<xs:element name="ChargebackDeptID" type="Int32Type" minOccurs="0"/>
			<xs:element name="DecliningBalance" type="BooleanType" minOccurs="0"/>
			<xs:element name="RetroactiveDiscount" type="BooleanType" minOccurs="0"/>
			<xs:element name="UserGroupID" type="Int32Type" minOccurs="0"/>
			<xs:element name="SVProgramID" type="Int32Type" minOccurs="0"/>
			<xs:element name="ExtraBuyTypeID" type="Int32Type" minOccurs="0"/>
			<xs:element name="AvailabilityTypeID" type="Int32Type" minOccurs="0"/>
			<xs:element name="StartDate" type="DateTimeType" minOccurs="0"/>
			<xs:element name="ExpireDate" type="DateTimeType" minOccurs="0"/>
			<xs:element name="Priority" type="Int32Type" minOccurs="0"/>
			<xs:element name="ScreenCellID" type="Int32Type" minOccurs="0"/>
			<xs:element name="DisallowEdit" type="BooleanType" minOccurs="0"/>
			<xs:element name="PricePointLevels" type="PricePointsType" minOccurs="0"/>
			<xs:element name="ChargebackDeptName" type="xs:string" minOccurs="0"/>
			<xs:element name="Tiers" minOccurs="0" maxOccurs="unbounded">
				<xs:complexType>
					<xs:sequence>
						<xs:element name="Tier">
							<xs:complexType>
								<xs:sequence>
									<xs:element name="PKID" type="xs:string"/>
									<xs:element name="DiscountID" type="xs:string"/>
									<xs:element name="TierLevel" type="xs:string"/>
									<xs:element name="ReceiptDescription" type="xs:string"/>
									<xs:element name="DiscountAmount" type="xs:string"/>
									<xs:element name="ItemLimit" type="xs:string"/>
									<xs:element name="WeightLimit" type="xs:string"/>
									<xs:element name="DollarLimit" type="xs:string"/>
									<xs:element name="SpecialPriceLevel" type="xs:string"/>
								</xs:sequence>
							</xs:complexType>
						</xs:element>
					</xs:sequence>
				</xs:complexType>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="MembershipType">
		<xs:sequence>
			<xs:element name="Name" type="StringType" minOccurs="0"/>
			<xs:element name="CustomerGroupID" type="Int64Type" minOccurs="0"/>
			<xs:element name="AvailabilityTypeID" type="Int32Type" minOccurs="0"/>
			<xs:element name="StartDate" type="DateTimeType" minOccurs="0"/>
			<xs:element name="ExpireDate" type="DateTimeType" minOccurs="0"/>
			<xs:element name="Priority" type="Int32Type" minOccurs="0"/>
			<xs:element name="ScreenCellID" type="Int32Type" minOccurs="0"/>
			<xs:element name="DisallowEdit" type="BooleanType" minOccurs="0"/>
			<xs:element name="DeliverableID" type="xs:string"/>
			<xs:element name="Tiers" minOccurs="0" maxOccurs="unbounded">
				<xs:complexType>
					<xs:sequence>
						<xs:element name="Tier">
							<xs:complexType>
								<xs:sequence>
									<xs:element name="PKID" type="xs:string"/>
									<xs:element name="DeliverableID" type="xs:string"/>
									<xs:element name="CustomerGroupID" type="xs:string"/>
									<xs:element name="TierLevel" type="xs:string"/>
								</xs:sequence>
							</xs:complexType>
						</xs:element>
					</xs:sequence>
				</xs:complexType>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="PointsType">
		<xs:sequence>
			<xs:element name="ProgramID" type="Int64Type" minOccurs="0"/>
			<xs:element name="ProgramName" type="StringType" minOccurs="0"/>
			<xs:element name="Description" type="StringType" minOccurs="0"/>
			<xs:element name="PromoVarID" type="Int64Type" minOccurs="0"/>
			<xs:element name="CreatedDate" type="DateTimeType" minOccurs="0"/>
			<xs:element name="Quantity" type="Int32Type" minOccurs="0"/>
			<xs:element name="AvailabilityTypeID" type="Int32Type" minOccurs="0"/>
			<xs:element name="StartDate" type="DateTimeType" minOccurs="0"/>
			<xs:element name="ExpireDate" type="DateTimeType" minOccurs="0"/>
			<xs:element name="Priority" type="Int32Type" minOccurs="0"/>
			<xs:element name="ScreenCellID" type="Int32Type" minOccurs="0"/>
			<xs:element name="DisallowEdit" type="BooleanType" minOccurs="0"/>
			<xs:element name="PKID" type="xs:string"/>
			<xs:element name="MaxAdjustment" type="xs:string"/>
			<xs:element name="ChargebackDeptID" type="xs:string"/>
			<xs:element name="ScorecardID" type="xs:string"/>
			<xs:element name="ScorecardDesc" type="xs:string"/>
			<xs:element name="ScorecardBold" type="xs:string"/>
			<xs:element name="ChargebackDeptName" type="xs:string"/>
			<xs:element name="Tiers" minOccurs="0" maxOccurs="unbounded">
				<xs:complexType>
					<xs:sequence>
						<xs:element name="Tier">
							<xs:complexType>
								<xs:sequence>
									<xs:element name="PKID" type="xs:string"/>
									<xs:element name="DPPKID" type="xs:string"/>
									<xs:element name="TierLevel" type="xs:string"/>
									<xs:element name="Quantity" type="xs:string"/>
								</xs:sequence>
							</xs:complexType>
						</xs:element>
					</xs:sequence>
				</xs:complexType>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="StoredValueType">
		<xs:sequence>
			<xs:element name="SVProgramID" type="Int64Type" minOccurs="0"/>
			<xs:element name="Name" type="StringType" minOccurs="0"/>
			<xs:element name="Description" type="StringType" minOccurs="0"/>
			<xs:element name="CreatedDate" type="DateTimeType" minOccurs="0"/>
			<xs:element name="Quantity" type="Int32Type" minOccurs="0"/>
			<xs:element name="AvailabilityTypeID" type="Int32Type" minOccurs="0"/>
			<xs:element name="StartDate" type="DateTimeType" minOccurs="0"/>
			<xs:element name="ExpireDate" type="DateTimeType" minOccurs="0"/>
			<xs:element name="Priority" type="Int32Type" minOccurs="0"/>
			<xs:element name="ScreenCellID" type="Int32Type" minOccurs="0"/>
			<xs:element name="DisallowEdit" type="BooleanType" minOccurs="0"/>
			<xs:element name="PKID" type="xs:string"/>
			<xs:element name="MaxAdjustment" type="xs:string"/>
			<xs:element name="ScorecardID" type="xs:string"/>
			<xs:element name="ScorecardDesc" type="xs:string"/>
			<xs:element name="ScorecardBold" type="xs:string"/>
			<xs:element name="Tiers" minOccurs="0" maxOccurs="unbounded">
				<xs:complexType>
					<xs:sequence>
						<xs:element name="Tier">
							<xs:complexType>
								<xs:sequence>
									<xs:element name="PKID" type="xs:string"/>
									<xs:element name="DSVPKID" type="xs:string"/>
									<xs:element name="TierLevel" type="xs:string"/>
									<xs:element name="Quantity" type="xs:string"/>
								</xs:sequence>
							</xs:complexType>
						</xs:element>
					</xs:sequence>
				</xs:complexType>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="PricePointsType">
		<xs:sequence>
			<xs:element name="PricePointLevel" type="PricePointLevelType" minOccurs="0" maxOccurs="unbounded"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="PricePointLevelType">
		<xs:sequence>
			<xs:element name="PricePointID" type="Int32Type" minOccurs="0"/>
			<xs:element name="DiscountID" type="Int32Type" minOccurs="0"/>
			<xs:element name="Value" type="DecimalType" minOccurs="0"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="AuxilaryType">
		<xs:sequence>
			<xs:element name="CustomerGroup" type="AuxCGType" minOccurs="0" maxOccurs="unbounded"/>
			<xs:element name="LocationGroup" type="AuxLocGroupType" minOccurs="0" maxOccurs="unbounded"/>
			<xs:element name="PointsProgram" type="AuxPTType" minOccurs="0" maxOccurs="unbounded"/>
			<xs:element name="ProductGroup" type="AuxPGType" minOccurs="0" maxOccurs="unbounded"/>
			<xs:element name="ScreenCellContents" type="AuxContentType" minOccurs="0" maxOccurs="unbounded"/>
			<xs:element name="ScreenCells" type="AuxScreenCellsType" minOccurs="0" maxOccurs="unbounded"/>
			<xs:element name="ScreenLayouts" type="AuxLayoutsType" minOccurs="0" maxOccurs="unbounded"/>
			<xs:element name="StoredValueProgram" type="AuxSVType" minOccurs="0" maxOccurs="unbounded"/>
			<xs:element name="TenderType" type="AuxTenderType" minOccurs="0" maxOccurs="unbounded"/>
			<xs:element name="Terminal" type="AuxTerminalType" minOccurs="0" maxOccurs="unbounded"/>
			<xs:element name="TouchAreas" type="AuxTouchAreasType" minOccurs="0" maxOccurs="unbounded"/>
			<xs:element name="Vendor" type="Vendors" minOccurs="0" maxOccurs="unbounded"/>
			<xs:element name="Template" type="AuxTemplateType" minOccurs="0"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="AuxCGType">
		<xs:sequence>
			<xs:element name="Header" type="AuxCGHdrType"/>
			<xs:element name="Customers" type="xs:string" minOccurs="0"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="AuxCGHdrType">
		<xs:sequence>
			<xs:element name="CustomerGroupID" type="xs:nonNegativeInteger" minOccurs="0"/>
			<xs:element name="Name" type="xs:string" minOccurs="0"/>
			<xs:element name="NewCardholders" type="xs:string"/>
			<xs:element name="AnyCAMCardholder" type="xs:string"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="AuxPGType">
		<xs:sequence>
			<xs:element name="Header" type="AuxPGHdrType"/>
			<xs:element name="Products" type="xs:string" minOccurs="0"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="AuxPGHdrType">
		<xs:sequence>
			<xs:element name="ProductGroupID" type="xs:nonNegativeInteger" minOccurs="0"/>
			<xs:element name="Name" type="xs:string"/>
			<xs:element name="AnyProduct" type="xs:string"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="AuxPTType">
		<xs:sequence>
			<xs:element name="Header" type="AuxPTHdrType"/>
			<xs:element name="Points" type="xs:string" minOccurs="0"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="AuxPTHdrType">
		<xs:sequence>
			<xs:element name="ProgramID" type="xs:nonNegativeInteger" minOccurs="0"/>
			<xs:element name="ProgramName" type="xs:string" minOccurs="0"/>
			<xs:element name="Description" type="xs:string" minOccurs="0"/>
			<xs:element name="PromoVarID" type="xs:nonNegativeInteger" minOccurs="0"/>
			<xs:element name="LastUpdate" type="xs:string" minOccurs="0"/>
			<xs:element name="CreatedDate" type="xs:string" minOccurs="0"/>
			<xs:element name="ExternalProgram" type="xs:boolean" minOccurs="0"/>
			<xs:element name="AutoDelete" type="xs:boolean" minOccurs="0"/>
			<xs:element name="AdjustmentUPC" type="xs:string"/>
			<xs:element name="CAMProgram" type="xs:string"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="AuxSVType">
		<xs:sequence>
			<xs:element name="Header" type="AuxSVHdrType"/>
			<xs:element name="StoredValue" type="xs:string" minOccurs="0"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="AuxSVHdrType">
		<xs:sequence>
			<xs:element name="SVProgramID" type="xs:nonNegativeInteger" minOccurs="0"/>
			<xs:element name="Name" type="xs:string" minOccurs="0"/>
			<xs:element name="Description" type="xs:string" minOccurs="0"/>
			<xs:element name="LastUpdate" type="xs:string" minOccurs="0"/>
			<xs:element name="CreatedDate" type="xs:string" minOccurs="0"/>
			<xs:element name="ExpirePeriod" type="xs:nonNegativeInteger" minOccurs="0"/>
			<xs:element name="Value" type="xs:float" minOccurs="0"/>
			<xs:element name="OneUnitPerRec" type="xs:boolean" minOccurs="0"/>
			<xs:element name="SVExpireType" type="xs:nonNegativeInteger" minOccurs="0"/>
			<xs:element name="SVExpirePeriodType" type="xs:nonNegativeInteger" minOccurs="0"/>
			<xs:element name="ExpireTOD" type="xs:string" minOccurs="0"/>
			<xs:element name="ExpireDate" type="xs:string" minOccurs="0"/>
			<xs:element name="SVTypeID" type="xs:nonNegativeInteger" minOccurs="0"/>
			<xs:element name="UnitOfMeasureLimit" type="xs:nonNegativeInteger" minOccurs="0"/>
			<xs:element name="AllowReissue" type="xs:boolean" minOccurs="0"/>
			<xs:element name="AdjustmentUPC" type="xs:string"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="AuxScreenCellsType">
		<xs:sequence>
			<xs:element name="CellID" type="xs:nonNegativeInteger" minOccurs="0"/>
			<xs:element name="LayoutID" type="xs:nonNegativeInteger"/>
			<xs:element name="Name" type="xs:string"/>
			<xs:element name="ContentsID" type="xs:nonNegativeInteger"/>
			<xs:element name="X" type="xs:nonNegativeInteger" minOccurs="0"/>
			<xs:element name="Y" type="xs:nonNegativeInteger" minOccurs="0"/>
			<xs:element name="Width" type="xs:nonNegativeInteger" minOccurs="0"/>
			<xs:element name="Height" type="xs:nonNegativeInteger" minOccurs="0"/>
			<xs:element name="BackgroundImg" type="xs:nonNegativeInteger" minOccurs="0"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="AuxContentType">
		<xs:sequence>
			<xs:element name="ContentsID" type="xs:nonNegativeInteger" minOccurs="0"/>
			<xs:element name="Name" type="xs:string"/>
			<xs:element name="PhraseID" type="xs:nonNegativeInteger" minOccurs="0"/>
			<xs:element name="DefaultValue" type="xs:boolean" minOccurs="0"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="AuxLayoutsType">
		<xs:sequence>
			<xs:element name="LayoutID" type="xs:nonNegativeInteger" minOccurs="0"/>
			<xs:element name="Name" type="xs:string"/>
			<xs:element name="Width" type="xs:nonNegativeInteger" minOccurs="0"/>
			<xs:element name="Height" type="xs:nonNegativeInteger" minOccurs="0"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="AuxTouchAreasType">
		<xs:sequence>
			<xs:element name="AreaID" type="xs:nonNegativeInteger" minOccurs="0"/>
			<xs:element name="OnScreenAdID" type="xs:nonNegativeInteger"/>
			<xs:element name="Name" type="xs:string"/>
			<xs:element name="X" type="xs:nonNegativeInteger" minOccurs="0"/>
			<xs:element name="Y" type="xs:nonNegativeInteger" minOccurs="0"/>
			<xs:element name="Width" type="xs:nonNegativeInteger" minOccurs="0"/>
			<xs:element name="Height" type="xs:nonNegativeInteger" minOccurs="0"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="AuxTerminalType">
		<xs:sequence>
			<xs:element name="Header" type="AuxTerminalHdrType"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="AuxTerminalHdrType">
		<xs:sequence>
			<xs:element name="TerminalTypeID" type="xs:nonNegativeInteger" minOccurs="0"/>
			<xs:element name="Name" type="xs:string" minOccurs="0"/>
			<xs:element name="Description" type="xs:string" minOccurs="0"/>
			<xs:element name="ExtTerminalCode" type="xs:string" minOccurs="0"/>
			<xs:element name="LastUpdate" type="xs:string" minOccurs="0"/>
			<xs:element name="LayoutID" type="xs:nonNegativeInteger" minOccurs="0"/>
			<xs:element name="EngineID" type="xs:nonNegativeInteger" minOccurs="0"/>
			<xs:element name="SpecificPromosOnly" type="xs:nonNegativeInteger" minOccurs="0"/>
			<xs:element name="FuelProcessing" type="xs:boolean" minOccurs="0"/>
			<xs:element name="AnyTerminal" type="xs:boolean"/>
			<xs:element name="BannerID" type="xs:nonNegativeInteger" minOccurs="0"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="AuxLocGroupType">
		<xs:sequence>
			<xs:element name="Header" type="AuxLocGroupHdrType"/>
			<xs:element name="Locations" type="AuxLocationsType" minOccurs="0"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="AuxLocGroupHdrType">
		<xs:sequence>
			<xs:element name="LocationGroupID" type="xs:nonNegativeInteger"/>
			<xs:element name="Name" type="xs:string" minOccurs="0"/>
			<xs:element name="Description" type="xs:string" minOccurs="0"/>
			<xs:element name="CreatedDate" type="xs:string" minOccurs="0"/>
			<xs:element name="ExtGroupID" type="xs:string" minOccurs="0"/>
			<xs:element name="ExtSeqNum" type="xs:string" minOccurs="0"/>
			<xs:element name="ExtExcluded" type="xs:boolean" minOccurs="0"/>
			<xs:element name="AllLocations" type="xs:boolean" minOccurs="0"/>
			<xs:element name="LastUpdate" type="xs:string" minOccurs="0"/>
			<xs:element name="StatusFlag" type="xs:nonNegativeInteger" minOccurs="0"/>
			<xs:element name="TCRMAStatusFlag" type="xs:nonNegativeInteger" minOccurs="0"/>
			<xs:element name="EngineID" type="xs:nonNegativeInteger" minOccurs="0"/>
			<xs:element name="BannerID" type="xs:nonNegativeInteger" minOccurs="0"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="AuxLocationsType">
		<xs:sequence>
			<xs:element name="Location" type="AuxLocationType" minOccurs="0" maxOccurs="unbounded"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="AuxLocationType">
		<xs:sequence>
			<xs:element name="Header" type="AuxLocationHdrType" minOccurs="0"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="AuxLocationHdrType">
		<xs:sequence>
			<xs:element name="LocationID" type="xs:nonNegativeInteger"/>
			<xs:element name="ExtLocationCode" type="xs:string" minOccurs="0"/>
			<xs:element name="LocationName" type="xs:string" minOccurs="0"/>
			<xs:element name="Address1" type="xs:string" minOccurs="0"/>
			<xs:element name="Address2" type="xs:string" minOccurs="0"/>
			<xs:element name="City" type="xs:string" minOccurs="0"/>
			<xs:element name="State" type="xs:string" minOccurs="0"/>
			<xs:element name="Zip" type="xs:string" minOccurs="0"/>
			<xs:element name="TestingLocation" type="xs:boolean" minOccurs="0"/>
			<xs:element name="LastUpdate" type="xs:string" minOccurs="0"/>
			<xs:element name="StatusFlag" type="xs:nonNegativeInteger" minOccurs="0"/>
			<xs:element name="CMConnMD5" type="xs:string" minOccurs="0"/>
			<xs:element name="CountryID" type="xs:nonNegativeInteger" minOccurs="0"/>
			<xs:element name="ContactName" type="xs:string" minOccurs="0"/>
			<xs:element name="PhoneNumber" type="xs:string" minOccurs="0"/>
			<xs:element name="SendAlert" type="xs:boolean" minOccurs="0"/>
			<xs:element name="GenIPL" type="xs:boolean" minOccurs="0"/>
			<xs:element name="LastIPL" type="xs:string" minOccurs="0"/>
			<xs:element name="CMOADeployRpt" type="xs:string" minOccurs="0"/>
			<xs:element name="CMOADeployStatus" type="xs:int" minOccurs="0"/>
			<xs:element name="CMOARptDate" type="xs:string" minOccurs="0"/>
			<xs:element name="CMOADeploySuccessDate" type="xs:string" minOccurs="0"/>
			<xs:element name="EngineID" type="xs:nonNegativeInteger" minOccurs="0"/>
			<xs:element name="LastErrorTime" type="xs:string" minOccurs="0"/>
			<xs:element name="BannerID" type="xs:nonNegativeInteger" minOccurs="0"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="AuxTemplateType">
		<xs:sequence>
			<xs:element name="Disallow_EmployeeFiltering" type="xs:boolean" minOccurs="0"/>
			<xs:element name="Disallow_ProductionDates" type="xs:boolean"/>
			<xs:element name="Disallow_Limits" type="xs:boolean"/>
			<xs:element name="Disallow_Tiers" type="xs:boolean" minOccurs="0"/>
			<xs:element name="Disallow_Priority" type="xs:boolean" minOccurs="0"/>
			<xs:element name="Disallow_Sweepstakes" type="xs:boolean" minOccurs="0"/>
			<xs:element name="Disallow_Conditions" type="xs:boolean" minOccurs="0"/>
			<xs:element name="Disallow_Rewards" type="xs:boolean" minOccurs="0"/>
			<xs:element name="Disallow_ExecutionEngine" type="xs:boolean" minOccurs="0"/>
			<xs:element name="Disallow_CRMEngine" type="xs:boolean" minOccurs="0"/>
			<xs:element name="Disallow_Notifications" type="xs:boolean" minOccurs="0"/>
			<xs:element name="RequireProductGroupCondition" type="xs:boolean" minOccurs="0"/>
			<xs:element name="RequirePointsProgramCondition" type="xs:boolean" minOccurs="0"/>
			<xs:element name="RequireCustomerGroupCondition" type="xs:boolean" minOccurs="0"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="AuxTenderType">
		<xs:sequence>
			<xs:element name="TenderTypeID" type="xs:nonNegativeInteger" minOccurs="0"/>
			<xs:element name="Name" type="xs:string"/>
			<xs:element name="ExtTenderType" type="xs:string" minOccurs="0"/>
			<xs:element name="ExtVariety" type="xs:string" minOccurs="0"/>
			<xs:element name="ExtBinNum" type="xs:string" minOccurs="0"/>
			<xs:element name="LastUpdate" type="xs:string" minOccurs="0"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="Int32Type">
		<xs:simpleContent>
			<xs:extension base="xs:integer">
				<xs:attribute name="DataType" type="xs:string" fixed="Int32" use="required"/>
			</xs:extension>
		</xs:simpleContent>
	</xs:complexType>
	<xs:complexType name="Int64Type">
		<xs:simpleContent>
			<xs:extension base="xs:integer">
				<xs:attribute name="DataType" type="xs:string" fixed="Int64" use="required"/>
			</xs:extension>
		</xs:simpleContent>
	</xs:complexType>
	<xs:complexType name="BooleanType">
		<xs:simpleContent>
			<xs:extension base="xs:string">
				<xs:attribute name="DataType" type="xs:string" fixed="Boolean" use="required"/>
			</xs:extension>
		</xs:simpleContent>
	</xs:complexType>
	<xs:complexType name="DoubleType">
		<xs:simpleContent>
			<xs:extension base="xs:float">
				<xs:attribute name="DataType" type="xs:string" fixed="Double" use="required"/>
			</xs:extension>
		</xs:simpleContent>
	</xs:complexType>
	<xs:complexType name="DecimalType">
		<xs:simpleContent>
			<xs:extension base="xs:decimal">
				<xs:attribute name="DataType" type="xs:string" fixed="Decimal" use="required"/>
			</xs:extension>
		</xs:simpleContent>
	</xs:complexType>
	<xs:complexType name="DateTimeType">
		<xs:simpleContent>
			<xs:extension base="xs:string">
				<xs:attribute name="DataType" type="xs:string" fixed="DateTime" use="required"/>
			</xs:extension>
		</xs:simpleContent>
	</xs:complexType>
	<xs:complexType name="StringType">
		<xs:simpleContent>
			<xs:extension base="xs:string">
				<xs:attribute name="DataType" type="xs:string" fixed="String" use="required"/>
			</xs:extension>
		</xs:simpleContent>
	</xs:complexType>
	<xs:complexType name="Vendors">
		<xs:sequence>
			<xs:element name="ExtVendorID" type="xs:string"/>
			<xs:element name="Name" type="xs:string"/>
			<xs:element name="Description" type="xs:string"/>
			<xs:element name="Chargeable" type="xs:string"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="BannerOffers">
		<xs:sequence>
			<xs:element name="BannerID" type="xs:string"/>
			<xs:element name="Name" type="xs:string"/>
			<xs:element name="ExtBannerID" type="xs:string"/>
			<xs:element name="AllBanners" type="xs:string"/>
		</xs:sequence>
	</xs:complexType>
</xs:schema>