RTSales/Varios/LogixProjects/CopientOfferExportPublisher/Shared Resources/Schema Definitions/Custom/Offer_bk.xsd

<?xml version="1.0"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="Offer">
    <xs:complexType>
      <xs:sequence>
        <xs:element name="Header" minOccurs="1" maxOccurs="1" type="OfferHeaderType">
        </xs:element>
        <xs:element name="Conditions" minOccurs="0" maxOccurs="1">
          <xs:complexType>
            <xs:sequence>
              <xs:element name="Customer" minOccurs="0" maxOccurs="unbounded">
                <xs:complexType>
                  <xs:sequence>
                    <xs:element name="IncentiveCustomerID" type="Int32Type" minOccurs="0" maxOccurs="1" />
                    <xs:element name="RewardOptionID" type="Int32Type" minOccurs="0" maxOccurs="1" />
                    <xs:element name="CustomerGroupID" type="Int32Type" minOccurs="0" maxOccurs="1" />
                    <xs:element name="ExcludedUsers" type="BooleanType" minOccurs="0" maxOccurs="1" default="0" />
                    <xs:element name="Deleted" type="BooleanType" minOccurs="0" maxOccurs="1" default="0" />
                    <xs:element name="LastUpdate" type="DateTimeType" minOccurs="0" maxOccurs="1" />
                    <xs:element name="ConditionNumber" type="StringType" minOccurs="0" maxOccurs="1" />
                    <xs:element name="DisallowEdit" type="BooleanType" minOccurs="0" maxOccurs="1" />
                    <xs:element name="HHEnable" type="BooleanType" minOccurs="0" maxOccurs="1" />
                    <xs:element name="RequiredFromTemplate" type="BooleanType" minOccurs="0" maxOccurs="1" />
                  </xs:sequence>
                </xs:complexType>
              </xs:element>
              <xs:element name="Product" minOccurs="0" maxOccurs="unbounded">
                <xs:complexType>
                  <xs:sequence>
                    <xs:element name="IncentiveProductGroupID" type="Int32Type" minOccurs="0" maxOccurs="1" />
                    <xs:element name="RewardOptionID" type="Int32Type" minOccurs="0" maxOccurs="1" />
                    <xs:element name="ProductGroupID" type="Int32Type" minOccurs="0" maxOccurs="1" />
                    <xs:element name="QtyForIncentive" type="DoubleType" minOccurs="0" maxOccurs="1" />
                    <xs:element name="QtyUnitType" type="Int32Type" minOccurs="0" maxOccurs="1" />
                    <xs:element name="AccumMin" type="DoubleType" minOccurs="0" maxOccurs="1" />
                    <xs:element name="AccumLimit" type="DoubleType" minOccurs="0" maxOccurs="1" />
                    <xs:element name="AccumPeriod" type="Int32Type" minOccurs="0" maxOccurs="1" />
                    <xs:element name="ExcludedProducts" type="BooleanType" minOccurs="0" maxOccurs="1" default="0" />
                    <xs:element name="Deleted" type="BooleanType" minOccurs="0" maxOccurs="1" default="0" />
                    <xs:element name="LastUpdate" type="DateTimeType" minOccurs="0" maxOccurs="1" />
                    <xs:element name="ConditionNumber" type="StringType" minOccurs="0" maxOccurs="1" />
                    <xs:element name="DisallowEdit" type="BooleanType" minOccurs="0" maxOccurs="1" />
                    <xs:element name="ProductComboID" type="Int32Type" minOccurs="0" maxOccurs="1" />
                    <xs:element name="RequiredFromTemplate" type="BooleanType" minOccurs="0" maxOccurs="1" />
                    <xs:element name="Disqualifier" type="BooleanType" minOccurs="0" maxOccurs="1" />
                  </xs:sequence>
                </xs:complexType>
              </xs:element>
              <xs:element name="Point" minOccurs="0" maxOccurs="unbounded">
                <xs:complexType>
                  <xs:sequence>
                    <xs:element name="IncentivePointsID" type="Int32Type" minOccurs="0" maxOccurs="1" />
                    <xs:element name="RewardOptionID" type="Int32Type" minOccurs="0" maxOccurs="1" />
                    <xs:element name="ProgramID" type="Int32Type" minOccurs="0" maxOccurs="1" />
                    <xs:element name="QtyForIncentive" type="Int32Type" minOccurs="0" maxOccurs="1" />
                    <xs:element name="LastUpdate" type="DateTimeType" minOccurs="0" maxOccurs="1" />
                    <xs:element name="Deleted" type="BooleanType" minOccurs="0" maxOccurs="1" default="0" />
                    <xs:element name="DisallowEdit" type="BooleanType" minOccurs="0" maxOccurs="1" />
                    <xs:element name="RequiredFromTemplate" type="BooleanType" minOccurs="0" maxOccurs="1" />
                  </xs:sequence>
                </xs:complexType>
              </xs:element>
              <xs:element name="Day" minOccurs="0" maxOccurs="unbounded">
                <xs:complexType>
                  <xs:sequence>
                    <xs:element name="IncentiveDOWID" type="Int64Type" minOccurs="0" maxOccurs="1" />
                    <xs:element name="IncentiveID" type="Int64Type" minOccurs="0" maxOccurs="1" />
                    <xs:element name="DOWID" type="Int32Type" minOccurs="0" maxOccurs="1" />
                    <xs:element name="Deleted" type="BooleanType" minOccurs="0" maxOccurs="1" default="0" />
                    <xs:element name="LastUpdate" type="DateTimeType" minOccurs="0" maxOccurs="1" />
                    <xs:element name="DisallowEdit" type="BooleanType" minOccurs="0" maxOccurs="1" />
                  </xs:sequence>
                </xs:complexType>
              </xs:element>
              <xs:element name="StoredValue" minOccurs="0" maxOccurs="unbounded">
                <xs:complexType>
                  <xs:sequence>
                    <xs:element name="IncentiveStoredValueID" type="Int32Type" minOccurs="0" maxOccurs="1" />
                    <xs:element name="RewardOptionID" type="Int32Type" minOccurs="0" maxOccurs="1" />
                    <xs:element name="SVProgramID" type="Int32Type" minOccurs="0" maxOccurs="1" />
                    <xs:element name="QtyForIncentive" type="Int32Type" minOccurs="0" maxOccurs="1" />
                    <xs:element name="LastUpdate" type="DateTimeType" minOccurs="0" maxOccurs="1" />
                    <xs:element name="Deleted" type="BooleanType" minOccurs="0" maxOccurs="1" default="0" />
                    <xs:element name="DisallowEdit" type="BooleanType" minOccurs="0" maxOccurs="1" />
                    <xs:element name="RequiredFromTemplate" type="BooleanType" minOccurs="0" maxOccurs="1" />
                  </xs:sequence>
                </xs:complexType>
              </xs:element>
              <xs:element name="Tender" minOccurs="0" maxOccurs="unbounded">
                <xs:complexType>
                  <xs:sequence>
                    <xs:element name="IncentiveTenderID" type="Int32Type" minOccurs="0" maxOccurs="1" />
                    <xs:element name="RewardOptionID" type="Int32Type" minOccurs="0" maxOccurs="1" />
                    <xs:element name="TenderTypeID" type="Int32Type" minOccurs="1" maxOccurs="1" />
                    <xs:element name="Deleted" type="BooleanType" minOccurs="0" maxOccurs="1" default="0" />
                    <xs:element name="Value" type="DecimalType" minOccurs="1" maxOccurs="1" />
                    <xs:element name="LastUpdate" type="DateTimeType" minOccurs="0" maxOccurs="1" />
                    <xs:element name="DisallowEdit" type="BooleanType" minOccurs="0" maxOccurs="1" />
                    <xs:element name="RequiredFromTemplate" type="BooleanType" minOccurs="0" maxOccurs="1" />
                    <xs:element name="ExcludedTender" type="BooleanType" minOccurs="0" maxOccurs="1" />
                    <xs:element name="ExcludedTenderAmtRequired" type="DecimalType" minOccurs="0" maxOccurs="1" />
                  </xs:sequence>
                </xs:complexType>
              </xs:element>
              <xs:element name="Time" minOccurs="0" maxOccurs="unbounded">
                <xs:complexType>
                  <xs:sequence>
                    <xs:element name="IncentiveTODID" type="Int64Type" minOccurs="0" maxOccurs="1" />
                    <xs:element name="IncentiveID" type="Int64Type" minOccurs="0" maxOccurs="1" />
                    <xs:element name="StartTime" type="StringType" minOccurs="0" maxOccurs="1" />
                    <xs:element name="EndTime" type="StringType" minOccurs="0" maxOccurs="1" />
                    <xs:element name="LastUpdate" type="DateTimeType" minOccurs="0" maxOccurs="1" />
                  </xs:sequence>
                </xs:complexType>
              </xs:element>
              <xs:element name="InstantWin" minOccurs="0" maxOccurs="unbounded">
                <xs:complexType>
                  <xs:sequence>
                    <xs:element name="IncentiveInstantWinID" type="Int32Type" minOccurs="0" maxOccurs="1" />
                    <xs:element name="RewardOptionID" type="Int32Type" minOccurs="0" maxOccurs="1" />
                    <xs:element name="NumPrizesAllowed" type="Int32Type" minOccurs="0" maxOccurs="1" />
                    <xs:element name="OddsOfWinning" type="Int32Type" minOccurs="0" maxOccurs="1" />
                    <xs:element name="RandomWinners" type="BooleanType" minOccurs="0" maxOccurs="1" default="0" />
                    <xs:element name="Deleted" type="BooleanType" minOccurs="0" maxOccurs="1" default="0" />
                    <xs:element name="LastUpdate" type="DateTimeType" minOccurs="0" maxOccurs="1" />
                    <xs:element name="DisallowEdit" type="BooleanType" minOccurs="0" maxOccurs="1" />
                    <xs:element name="RequiredFromTemplate" type="BooleanType" minOccurs="0" maxOccurs="1" />
                  </xs:sequence>
                </xs:complexType>
              </xs:element>
            </xs:sequence>
          </xs:complexType>
        </xs:element>
        <xs:element name="Notifications" minOccurs="0" maxOccurs="1">
          <xs:complexType>
            <xs:sequence>
              <xs:element name="PrintedMessage" minOccurs="0" maxOccurs="2" type="PrintedMessageType" />
              <xs:element name="CashierMessage" minOccurs="0" maxOccurs="unbounded" type="CashierMessageType" />
              <xs:element name="Graphic" minOccurs="0" maxOccurs="unbounded" type="GraphicType" />
            </xs:sequence>
          </xs:complexType>
        </xs:element>
        <xs:element name="Rewards" minOccurs="0" maxOccurs="1">
          <xs:complexType>
            <xs:sequence>
              <xs:element name="Discount" minOccurs="0" maxOccurs="1" type="DiscountType" />
              <xs:element name="Membership" minOccurs="0" maxOccurs="1" type="MembershipType" />
              <xs:element name="Points" minOccurs="0" maxOccurs="1" type="PointsType" />
              <xs:element name="PrintedMessage" minOccurs="0" maxOccurs="1" type="PrintedMessageType" />
              <xs:element name="CashierMessage" minOccurs="0" maxOccurs="unbounded" type="CashierMessageType" />
              <xs:element name="FrankingMessage" minOccurs="0" maxOccurs="unbounded" type="FrankingMessageType" />
              <xs:element name="Graphic" minOccurs="0" maxOccurs="unbounded" type="GraphicType" />
              <xs:element name="StoredValue" minOccurs="0" maxOccurs="unbounded" type="StoredValueType" />
            </xs:sequence>
          </xs:complexType>
        </xs:element>
        <xs:element name="Auxilary" minOccurs="0" maxOccurs="1" type="AuxilaryType" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <!-- Complex Types Start -->
  <xs:complexType name="OfferHeaderType">
    <xs:sequence >
      <xs:element name="IncentiveID" type="Int32Type" minOccurs="0" maxOccurs="1" />
      <xs:element name="EngineID" type="Int32Type" minOccurs="0" maxOccurs="1" />
      <xs:element name="IsTemplate" type="BooleanType" minOccurs="0" maxOccurs="1" />
      <xs:element name="FromTemplate" type="BooleanType" minOccurs="0" maxOccurs="1" />
      <xs:element name="ClientOfferID" type="StringType" minOccurs="0" maxOccurs="1" />
      <xs:element name="IncentiveName" type="StringType" minOccurs="1" maxOccurs="1" />
      <xs:element name="Description" type="StringType" minOccurs="0" maxOccurs="1" />
      <xs:element name="PromoClassID" type="Int32Type" minOccurs="0" maxOccurs="1" />
      <xs:element name="Priority" type="Int32Type" minOccurs="0" maxOccurs="1" />
      <xs:element name="StartDate" type="DateTimeType" minOccurs="0" maxOccurs="1" />
      <xs:element name="EndDate" type="DateTimeType" minOccurs="0" maxOccurs="1" />
      <xs:element name="EveryDOW" type="Int32Type" minOccurs="0" maxOccurs="1" />
      <xs:element name="EligibilityStartDate" type="DateTimeType" minOccurs="0" maxOccurs="1" />
      <xs:element name="EligibilityEndDate" type="DateTimeType" minOccurs="0" maxOccurs="1" />
      <xs:element name="TestingStartDate" type="DateTimeType" minOccurs="0" maxOccurs="1" />
      <xs:element name="TestingEndDate" type="DateTimeType" minOccurs="0" maxOccurs="1" />
      <xs:element name="P1DistQtyLimit" type="Int32Type" minOccurs="0" maxOccurs="1" />
      <xs:element name="P1DistTimeType" type="Int32Type" minOccurs="0" maxOccurs="1" />
      <xs:element name="P1DistPeriod" type="Int32Type" minOccurs="0" maxOccurs="1" />
      <xs:element name="P2DistQtyLimit" type="Int32Type" minOccurs="0" maxOccurs="1" />
      <xs:element name="P2DistTimeType" type="Int32Type" minOccurs="0" maxOccurs="1" />
      <xs:element name="P2DistPeriod" type="Int32Type" minOccurs="0" maxOccurs="1" />
      <xs:element name="P3DistQtyLimit" type="Int32Type" minOccurs="0" maxOccurs="1" />
      <xs:element name="P3DistTimeType" type="Int32Type" minOccurs="0" maxOccurs="1" />
      <xs:element name="P3DistPeriod" type="Int32Type" minOccurs="0" maxOccurs="1" />
      <xs:element name="Reporting" type="BooleanType" minOccurs="0" maxOccurs="1" />
      <xs:element name="CreatedDate" type="DateTimeType" minOccurs="0" maxOccurs="1" />
      <xs:element name="LastUpdate" type="DateTimeType" minOccurs="0" maxOccurs="1" />
      <xs:element name="Deleted" type="Int32Type" minOccurs="0" maxOccurs="1" default="0" />
      <xs:element name="CRMRestricted" type="Int32Type" minOccurs="0" maxOccurs="1" />
      <xs:element name="StatusFlag" type="Int32Type" minOccurs="0" maxOccurs="1" />
      <xs:element name="UpdateLevel" minOccurs="0" maxOccurs="1" type="Int32Type" default="0" />
      <xs:element name="CRMEngineID" type="Int32Type" minOccurs="0" maxOccurs="1" />
      <xs:element name="CRMEngineUpdateLevel" type="Int32Type" minOccurs="0" maxOccurs="1" default="0" />
      <xs:element name="CPEOADeployRpt" type="StringType" minOccurs="0" maxOccurs="1" />
      <xs:element name="CPEOADeployStatus" type="Int32Type" minOccurs="0" maxOccurs="1" />
      <xs:element name="CPEOARptDate" type="DateTimeType" minOccurs="0" maxOccurs="1" />
      <xs:element name="CPEOADeploySuccessDate" type="DateTimeType" minOccurs="0" maxOccurs="1" />
      <xs:element name="DisabledOnCFW" type="BooleanType" minOccurs="0" maxOccurs="1" />
      <xs:element name="AllowOptOut" type="BooleanType" minOccurs="0" maxOccurs="1" />
      <xs:element name="EmployeesOnly" type="BooleanType" minOccurs="0" maxOccurs="1" />
      <xs:element name="EmployeesExcluded" type="BooleanType" minOccurs="0" maxOccurs="1" />
      <xs:element name="DeferCalcToEOS" type="BooleanType" minOccurs="0" maxOccurs="1" />
      <xs:element name="CreatedByAdminID" type="Int32Type" minOccurs="0" maxOccurs="1" />
      <xs:element name="LastUpdatedByAdminID" type="Int32Type" minOccurs="0" maxOccurs="1" />
      <xs:element name="SendIssuance" type="Int32Type" minOccurs="0" maxOccurs="1" />
      <xs:element name="EveryTOD" type="Int32Type" minOccurs="0" maxOccurs="1" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="CashierMessageType">
    <xs:sequence>
      <xs:element name="PKID" type="Int32Type" />
      <xs:element name="Name" type="StringType" minOccurs="0" maxOccurs="1" />
      <xs:element name="Line1" type="StringType" minOccurs="0" maxOccurs="1" />
      <xs:element name="Line2" type="StringType" minOccurs="0" maxOccurs="1" />
      <xs:element name="Beep" type="Int32Type" minOccurs="0" maxOccurs="1" />
      <xs:element name="BeepDuration" type="Int32Type" minOccurs="0" maxOccurs="1" />
      <xs:element name="AvailabilityTypeID" type="Int32Type" minOccurs="0" maxOccurs="1" />
      <xs:element name="StartDate" type="DateTimeType" minOccurs="0" maxOccurs="1" />
      <xs:element name="ExpireDate" type="DateTimeType" minOccurs="0" maxOccurs="1" />
      <xs:element name="Priority" type="Int32Type" minOccurs="0" maxOccurs="1" />
      <xs:element name="ScreenCellID" type="Int32Type" minOccurs="0" maxOccurs="1" />
      <xs:element name="DisallowEdit" type="BooleanType" minOccurs="0" maxOccurs="1" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="FrankingMessageType">
    <xs:sequence>
      <xs:element name="FrankID" type="Int32Type" />
      <xs:element name="OpenDrawer" type="BooleanType" minOccurs="0" maxOccurs="1" />
      <xs:element name="ManagerOverride" type="BooleanType" minOccurs="0" maxOccurs="1" />
      <xs:element name="FrankFlag" type="Int32Type" minOccurs="0" maxOccurs="1" />
      <xs:element name="FrankingText" type="StringType" minOccurs="0" maxOccurs="1" />
      <xs:element name="Line1" type="StringType" minOccurs="0" maxOccurs="1" />
      <xs:element name="Line2" type="StringType" minOccurs="0" maxOccurs="1" />
      <xs:element name="Beep" type="Int32Type" minOccurs="0" maxOccurs="1" />
      <xs:element name="BeepDuration" type="Int32Type" minOccurs="0" maxOccurs="1" />
      <xs:element name="AvailabilityTypeID" type="Int32Type" minOccurs="0" maxOccurs="1" />
      <xs:element name="StartDate" type="DateTimeType" minOccurs="0" maxOccurs="1" />
      <xs:element name="ExpireDate" type="DateTimeType" minOccurs="0" maxOccurs="1" />
      <xs:element name="Priority" type="Int32Type" minOccurs="0" maxOccurs="1" />
      <xs:element name="ScreenCellID" type="Int32Type" minOccurs="0" maxOccurs="1" />
      <xs:element name="DisallowEdit" type="BooleanType" minOccurs="0" maxOccurs="1" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="PrintedMessageType">
    <xs:sequence>
      <xs:element name="MessageID" type="Int64Type" minOccurs="0" maxOccurs="1" />
      <xs:element name="MessageTypeID" type="Int32Type" minOccurs="0" maxOccurs="1" />
      <xs:element name="TierLevel" type="Int32Type" minOccurs="0" maxOccurs="1" />
      <xs:element name="BodyText" type="StringType" minOccurs="0" maxOccurs="1" />
      <xs:element name="AvailabilityTypeID" type="Int32Type" minOccurs="0" maxOccurs="1" />
      <xs:element name="StartDate" type="DateTimeType" minOccurs="0" maxOccurs="1" />
      <xs:element name="ExpireDate" type="DateTimeType" minOccurs="0" maxOccurs="1" />
      <xs:element name="Priority" type="Int32Type" minOccurs="0" maxOccurs="1" />
      <xs:element name="ScreenCellID" type="Int32Type" minOccurs="0" maxOccurs="1" />
      <xs:element name="DisallowEdit" type="BooleanType" minOccurs="0" maxOccurs="1" />
      <xs:element name="RewardOptionPhase" type="Int32Type" minOccurs="0" maxOccurs="1" default="1" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="GraphicType">
    <xs:sequence>
      <xs:element name="Header" type="GraphicHeaderType" minOccurs="1" maxOccurs="1" />
      <xs:element name="Image" type="xs:base64Binary" minOccurs="0" maxOccurs="1" />
      <xs:element name="Touchpoint" type="TouchpointType" minOccurs="0" maxOccurs="unbounded" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="GraphicHeaderType">
    <xs:sequence>
      <xs:element name="OnScreenAdID" type="xs:nonNegativeInteger" minOccurs="0" maxOccurs="1" />
      <xs:element name="Name" type="xs:string" minOccurs="0" maxOccurs="1" />
      <xs:element name="Description" minOccurs="0" maxOccurs="1">
        <xs:simpleType>
          <xs:restriction base="xs:string">
            <xs:minLength value="0" fixed="true" />
            <xs:maxLength value="4000" fixed="true" />
          </xs:restriction>
        </xs:simpleType>
      </xs:element>
      <xs:element name="ClientFileName" minOccurs="0" maxOccurs="1">
        <xs:simpleType>
          <xs:restriction base="xs:string">
            <xs:minLength value="0" fixed="true" />
            <xs:maxLength value="255" fixed="true" />
          </xs:restriction>
        </xs:simpleType>
      </xs:element>
      <xs:element name="Width" type="xs:nonNegativeInteger" minOccurs="0" maxOccurs="1" />
      <xs:element name="Height" type="xs:nonNegativeInteger" minOccurs="0" maxOccurs="1" />
      <xs:element name="GraphicSize" type="xs:nonNegativeInteger" minOccurs="0" maxOccurs="1" />
      <xs:element name="ImageType" type="xs:nonNegativeInteger" minOccurs="0" maxOccurs="1" />
      <xs:element name="StoreResponse" type="xs:string" minOccurs="1" maxOccurs="1" default="0" />
      <xs:element name="DisplayDuration" type="xs:nonNegativeInteger" minOccurs="0" maxOccurs="1" />
      <xs:element name="LastUpload" type="xs:string" minOccurs="0" maxOccurs="1" />
      <xs:element name="AvailabilityTypeID" type="xs:nonNegativeInteger" minOccurs="0" maxOccurs="1" />
      <xs:element name="StartDate" type="xs:string" minOccurs="0" maxOccurs="1" />
      <xs:element name="ExpireDate" type="xs:string" minOccurs="0" maxOccurs="1" />
      <xs:element name="Priority" type="xs:nonNegativeInteger" minOccurs="0" maxOccurs="1" />
      <xs:element name="ScreenCellID" type="xs:nonNegativeInteger" minOccurs="0" maxOccurs="1" />
      <xs:element name="DisallowEdit" type="xs:string" minOccurs="0" maxOccurs="1" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="TouchpointType">
    <xs:sequence>
      <xs:element name="Header" minOccurs="1" maxOccurs="1" type="TouchpointHeaderType" />
      <xs:element name="PrintedMessage" minOccurs="0" maxOccurs="1" type="PrintedMessageType" />
      <xs:element name="CashierMessage" minOccurs="0" maxOccurs="unbounded" type="CashierMessageType" />
      <xs:element name="Graphic" minOccurs="0" maxOccurs="unbounded" type="GraphicType" />
      <xs:element name="Discount" minOccurs="0" maxOccurs="1" type="DiscountType" />
      <xs:element name="Membership" minOccurs="0" maxOccurs="1" type="MembershipType" />
      <xs:element name="Points" minOccurs="0" maxOccurs="1" type="PointsType" />
      <xs:element name="StoredValue" minOccurs="0" maxOccurs="1" type="StoredValueType" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="TouchpointHeaderType">
    <xs:sequence>
      <xs:element name="Name" minOccurs="1" maxOccurs="1">
        <xs:simpleType>
          <xs:restriction base="xs:string">
            <xs:minLength value="0" fixed="true" />
            <xs:maxLength value="255" fixed="true" />
          </xs:restriction>
        </xs:simpleType>
      </xs:element>
      <xs:element name="RewardOptionID" minOccurs="0" maxOccurs="1" type="xs:nonNegativeInteger" />
      <xs:element name="AreaID" minOccurs="0" maxOccurs="1" type="xs:nonNegativeInteger" />
      <xs:element name="OnScreenAdId" minOccurs="0" maxOccurs="1" type="xs:nonNegativeInteger" />
      <xs:element name="RewardOptionPhase" minOccurs="0" maxOccurs="1" type="xs:nonNegativeInteger" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="DiscountType">
    <xs:sequence>
      <xs:element name="DiscountID" minOccurs="0" maxOccurs="1" type="Int32Type" />
      <xs:element name="Name" minOccurs="0" maxOccurs="1" type="StringType" />
      <xs:element name="DiscountTypeID" minOccurs="0" maxOccurs="1" type="Int32Type" />
      <xs:element name="ReceiptDescription" minOccurs="0" maxOccurs="1" type="StringType" />
      <xs:element name="SpecifyBarcode" minOccurs="0" maxOccurs="1" type="BooleanType" />
      <xs:element name="DiscountBarcode" minOccurs="0" maxOccurs="1" type="StringType" />
      <xs:element name="VoidBarcode" minOccurs="0" maxOccurs="1" type="StringType" />
      <xs:element name="DiscountedProductGroupID" minOccurs="0" maxOccurs="1" type="Int32Type" />
      <xs:element name="ExcludedProductGroupID" minOccurs="0" maxOccurs="1" type="Int32Type" />
      <xs:element name="BestDeal" minOccurs="0" maxOccurs="1" type="BooleanType" />
      <xs:element name="AllowNegative" minOccurs="0" maxOccurs="1" type="BooleanType" />
      <xs:element name="ComputeDiscount" minOccurs="0" maxOccurs="1" type="BooleanType" />
      <xs:element name="DiscountAmount" minOccurs="0" maxOccurs="1" type="DoubleType" />
      <xs:element name="AmountTypeID" minOccurs="0" maxOccurs="1" type="Int32Type" />
      <xs:element name="L1Cap" minOccurs="0" maxOccurs="1" type="DoubleType" />
      <xs:element name="L2DiscountAmt" minOccurs="0" maxOccurs="1" type="DoubleType" />
      <xs:element name="L2AmountTypeID" minOccurs="0" maxOccurs="1" type="Int32Type" />
      <xs:element name="L2Cap" minOccurs="0" maxOccurs="1" type="DoubleType" />
      <xs:element name="L3DiscountAmt" minOccurs="0" maxOccurs="1" type="DoubleType" />
      <xs:element name="L3AmountTypeID" minOccurs="0" maxOccurs="1" type="Int32Type" />
      <xs:element name="ItemLimit" minOccurs="0" maxOccurs="1" type="Int32Type" />
      <xs:element name="WeightLimit" minOccurs="0" maxOccurs="1" type="DoubleType" />
      <xs:element name="DollarLimit" minOccurs="0" maxOccurs="1" type="DoubleType" />
      <xs:element name="ChargebackDeptID" minOccurs="0" maxOccurs="1" type="Int32Type" />
      <xs:element name="DecliningBalance" minOccurs="0" maxOccurs="1" type="BooleanType" />
      <xs:element name="RetroactiveDiscount" minOccurs="0" maxOccurs="1" type="BooleanType" />
      <xs:element name="UserGroupID" minOccurs="0" maxOccurs="1" type="Int32Type" />
      <xs:element name="SVProgramID" minOccurs="0" maxOccurs="1" type="Int32Type" />
      <xs:element name="ExtraBuyTypeID" minOccurs="0" maxOccurs="1" type="Int32Type" />
      <xs:element name="AvailabilityTypeID" minOccurs="0" maxOccurs="1" type="Int32Type" />
      <xs:element name="StartDate" minOccurs="0" maxOccurs="1" type="DateTimeType" />
      <xs:element name="ExpireDate" minOccurs="0" maxOccurs="1" type="DateTimeType" />
      <xs:element name="Priority" minOccurs="0" maxOccurs="1" type="Int32Type" />
      <xs:element name="ScreenCellID" minOccurs="0" maxOccurs="1" type="Int32Type" />
      <xs:element name="DisallowEdit" minOccurs="0" maxOccurs="1" type="BooleanType" />
      <xs:element name="PricePointLevels" minOccurs="0" maxOccurs="1" type="PricePointsType" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="MembershipType">
    <xs:sequence>
      <xs:element name="Name" minOccurs="0" maxOccurs="1" type="StringType" />
      <xs:element name="CustomerGroupID" minOccurs="0" maxOccurs="1" type="Int64Type" />
      <xs:element name="AvailabilityTypeID" minOccurs="0" maxOccurs="1" type="Int32Type" />
      <xs:element name="StartDate" minOccurs="0" maxOccurs="1" type="DateTimeType" />
      <xs:element name="ExpireDate" minOccurs="0" maxOccurs="1" type="DateTimeType" />
      <xs:element name="Priority" minOccurs="0" maxOccurs="1" type="Int32Type" />
      <xs:element name="ScreenCellID" minOccurs="0" maxOccurs="1" type="Int32Type" />
      <xs:element name="DisallowEdit" minOccurs="0" maxOccurs="1" type="BooleanType" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="PointsType">
    <xs:sequence>
      <xs:element name="ProgramID" minOccurs="0" maxOccurs="1" type="Int64Type" />
      <xs:element name="ProgramName" minOccurs="0" maxOccurs="1" type="StringType" />
      <xs:element name="Description" minOccurs="0" maxOccurs="1" type="StringType" />
      <xs:element name="PromoVarID" minOccurs="0" maxOccurs="1" type="Int64Type" />
      <xs:element name="CreatedDate" minOccurs="0" maxOccurs="1" type="DateTimeType" />
      <xs:element name="Quantity" minOccurs="0" maxOccurs="1" type="Int32Type" />
      <xs:element name="AvailabilityTypeID" minOccurs="0" maxOccurs="1" type="Int32Type" />
      <xs:element name="StartDate" minOccurs="0" maxOccurs="1" type="DateTimeType" />
      <xs:element name="ExpireDate" minOccurs="0" maxOccurs="1" type="DateTimeType" />
      <xs:element name="Priority" minOccurs="0" maxOccurs="1" type="Int32Type" />
      <xs:element name="ScreenCellID" minOccurs="0" maxOccurs="1" type="Int32Type" />
      <xs:element name="DisallowEdit" minOccurs="0" maxOccurs="1" type="BooleanType" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="StoredValueType">
    <xs:sequence>
      <xs:element name="SVProgramID" minOccurs="0" maxOccurs="1" type="Int64Type" />
      <xs:element name="Name" minOccurs="0" maxOccurs="1" type="StringType" />
      <xs:element name="Description" minOccurs="0" maxOccurs="1" type="StringType" />
      <xs:element name="CreatedDate" minOccurs="0" maxOccurs="1" type="DateTimeType" />
      <xs:element name="Quantity" minOccurs="0" maxOccurs="1" type="Int32Type" />
      <xs:element name="AvailabilityTypeID" minOccurs="0" maxOccurs="1" type="Int32Type" />
      <xs:element name="StartDate" minOccurs="0" maxOccurs="1" type="DateTimeType" />
      <xs:element name="ExpireDate" minOccurs="0" maxOccurs="1" type="DateTimeType" />
      <xs:element name="Priority" minOccurs="0" maxOccurs="1" type="Int32Type" />
      <xs:element name="ScreenCellID" minOccurs="0" maxOccurs="1" type="Int32Type" />
      <xs:element name="DisallowEdit" minOccurs="0" maxOccurs="1" type="BooleanType" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="PricePointsType">
    <xs:sequence>
      <xs:element name="PricePointLevel" minOccurs="0" maxOccurs="unbounded" type="PricePointLevelType" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name ="PricePointLevelType">
    <xs:sequence>
      <xs:element name="PricePointID" minOccurs="0" maxOccurs="1" type="Int32Type" />
      <xs:element name="DiscountID" minOccurs="0" maxOccurs="1" type="Int32Type" />
      <xs:element name="Value" minOccurs="0" maxOccurs="1" type="DecimalType" />
    </xs:sequence>    
  </xs:complexType>

  <xs:complexType name="AuxilaryType">
    <xs:sequence>
      <xs:element name="CustomerGroup" minOccurs="0" maxOccurs="unbounded" type="AuxCGType" />
      <xs:element name="LocationGroup" minOccurs="0" maxOccurs="unbounded" type="AuxLocGroupType" />
      <xs:element name="PointsProgram" minOccurs="0" maxOccurs="unbounded" type="AuxPTType" />
      <xs:element name="ProductGroup" minOccurs="0" maxOccurs="unbounded" type="AuxPGType" />
      <xs:element name="ScreenCellContents" minOccurs="0" maxOccurs="unbounded" type="AuxContentType" />
      <xs:element name="ScreenCells" minOccurs="0" maxOccurs="unbounded" type="AuxScreenCellsType" />
      <xs:element name="ScreenLayouts" minOccurs="0" maxOccurs="unbounded" type="AuxLayoutsType" />
      <xs:element name="StoredValueProgram" minOccurs="0" maxOccurs="unbounded" type="AuxSVType" />
      <xs:element name="TenderType" minOccurs="0" maxOccurs="unbounded" type="AuxTenderType" />
      <xs:element name="Terminal" minOccurs="0" maxOccurs="unbounded" type="AuxTerminalType" />
      <xs:element name="TouchAreas" minOccurs="0" maxOccurs="unbounded" type="AuxTouchAreasType" />
      <xs:element name="Template" minOccurs="0" maxOccurs="1" type="AuxTemplateType" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="AuxCGType">
    <xs:sequence>
      <xs:element name="Header" minOccurs="1" maxOccurs="1" type="AuxCGHdrType" />
      <xs:element name="Customers" minOccurs="0" maxOccurs="1" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="AuxCGHdrType">
    <xs:sequence>
      <xs:element name="CustomerGroupID" minOccurs="0" maxOccurs="1" type="xs:nonNegativeInteger" />
      <xs:element name="Name" minOccurs="0" maxOccurs="1" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="AuxPGType">
    <xs:sequence>
      <xs:element name="Header" minOccurs="1" maxOccurs="1" type="AuxPGHdrType" />
      <xs:element name="Products" minOccurs="0" maxOccurs="1" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="AuxPGHdrType">
    <xs:sequence>
      <xs:element name="ProductGroupID" minOccurs="0" maxOccurs="1" type="xs:nonNegativeInteger" />
      <xs:element name="Name" minOccurs="1" maxOccurs="1" type="xs:string" />
      <xs:element name="AnyProduct" minOccurs="1" maxOccurs="1" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="AuxPTType">
    <xs:sequence>
      <xs:element name="Header" minOccurs="1" maxOccurs="1" type="AuxPTHdrType" />
      <xs:element name="Points" minOccurs="0" maxOccurs="1" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="AuxPTHdrType">
    <xs:sequence>
      <xs:element name="ProgramID" minOccurs="0" maxOccurs="1" type="xs:nonNegativeInteger" />
      <xs:element name="ProgramName" minOccurs="0" maxOccurs="1" type="xs:string" />
      <xs:element name="Description" minOccurs="0" maxOccurs="1" type="xs:string" />
      <xs:element name="PromoVarID" minOccurs="0" maxOccurs="1" type="xs:nonNegativeInteger" />
      <xs:element name="LastUpdate" minOccurs="0" maxOccurs="1" type="xs:string" />
      <xs:element name="CreatedDate" minOccurs="0" maxOccurs="1" type="xs:string" />
      <xs:element name="ExternalProgram" minOccurs="0" maxOccurs="1" type="xs:boolean" />
      <xs:element name="AutoDelete" minOccurs="0" maxOccurs="1" type="xs:boolean" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="AuxSVType">
    <xs:sequence>
      <xs:element name="Header" minOccurs="1" maxOccurs="1" type="AuxSVHdrType" />
      <xs:element name="StoredValue" minOccurs="0" maxOccurs="1" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="AuxSVHdrType">
    <xs:sequence>
      <xs:element name="SVProgramID" minOccurs="0" maxOccurs="1" type="xs:nonNegativeInteger" />
      <xs:element name="Name" minOccurs="0" maxOccurs="1" type="xs:string" />
      <xs:element name="Description" minOccurs="0" maxOccurs="1" type="xs:string" />
      <xs:element name="LastUpdate" minOccurs="0" maxOccurs="1" type="xs:string" />
      <xs:element name="CreatedDate" minOccurs="0" maxOccurs="1" type="xs:string" />
      <xs:element name="ExpirePeriod" minOccurs="0" maxOccurs="1" type="xs:nonNegativeInteger" />
      <xs:element name="Value" minOccurs="0" maxOccurs="1" type="xs:float" />
      <xs:element name="OneUnitPerRec" minOccurs="0" maxOccurs="1" type="xs:boolean" />
      <xs:element name="SVExpireType" minOccurs="0" maxOccurs="1" type="xs:nonNegativeInteger" />
      <xs:element name="SVExpirePeriodType" minOccurs="0" maxOccurs="1" type="xs:nonNegativeInteger" />
      <xs:element name="ExpireTOD" minOccurs="0" maxOccurs="1" type="xs:string" />
      <xs:element name="ExpireDate" minOccurs="0" maxOccurs="1" type="xs:string" />
      <xs:element name="SVTypeID" minOccurs="0" maxOccurs="1" type="xs:nonNegativeInteger" />
      <xs:element name="UnitOfMeasureLimit" minOccurs="0" maxOccurs="1" type="xs:nonNegativeInteger" />
      <xs:element name="AllowReissue" minOccurs="0" maxOccurs="1" type="xs:boolean" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="AuxScreenCellsType">
    <xs:sequence>
      <xs:element name="CellID" minOccurs="0" maxOccurs="1" type="xs:nonNegativeInteger" />
      <xs:element name="LayoutID" minOccurs="1" maxOccurs="1" type="xs:nonNegativeInteger" />
      <xs:element name="Name" minOccurs="1" maxOccurs="1" type="xs:string" />
      <xs:element name="ContentsID" minOccurs="1" maxOccurs="1" type="xs:nonNegativeInteger" />
      <xs:element name="X" minOccurs="0" maxOccurs="1" type="xs:nonNegativeInteger" />
      <xs:element name="Y" minOccurs="0" maxOccurs="1" type="xs:nonNegativeInteger" />
      <xs:element name="Width" minOccurs="0" maxOccurs="1" type="xs:nonNegativeInteger" />
      <xs:element name="Height" minOccurs="0" maxOccurs="1" type="xs:nonNegativeInteger" />
      <xs:element name="BackgroundImg" minOccurs="0" maxOccurs="1" type="xs:nonNegativeInteger" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="AuxContentType">
    <xs:sequence>
      <xs:element name="ContentsID" minOccurs="0" maxOccurs="1" type="xs:nonNegativeInteger" />
      <xs:element name="Name" minOccurs="1" maxOccurs="1" type="xs:string" />
      <xs:element name="PhraseID" minOccurs="0" maxOccurs="1" type="xs:nonNegativeInteger" />
      <xs:element name="DefaultValue" minOccurs="0" maxOccurs="1" type="xs:boolean" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="AuxLayoutsType">
    <xs:sequence>
      <xs:element name="LayoutID" minOccurs="0" maxOccurs="1" type="xs:nonNegativeInteger" />
      <xs:element name="Name" minOccurs="1" maxOccurs="1" type="xs:string" />
      <xs:element name="Width" minOccurs="0" maxOccurs="1" type="xs:nonNegativeInteger" />
      <xs:element name="Height" minOccurs="0" maxOccurs="1" type="xs:nonNegativeInteger" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="AuxTouchAreasType">
    <xs:sequence>
      <xs:element name="AreaID" minOccurs="0" maxOccurs="1" type="xs:nonNegativeInteger" />
      <xs:element name="OnScreenAdID" minOccurs="1" maxOccurs="1" type="xs:nonNegativeInteger" />
      <xs:element name="Name" minOccurs="1" maxOccurs="1" type="xs:string" />
      <xs:element name="X" minOccurs="0" maxOccurs="1" type="xs:nonNegativeInteger" />
      <xs:element name="Y" minOccurs="0" maxOccurs="1" type="xs:nonNegativeInteger" />
      <xs:element name="Width" minOccurs="0" maxOccurs="1" type="xs:nonNegativeInteger" />
      <xs:element name="Height" minOccurs="0" maxOccurs="1" type="xs:nonNegativeInteger" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="AuxTerminalType">
    <xs:sequence>
      <xs:element name="Header" minOccurs="1" maxOccurs="1" type="AuxTerminalHdrType" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="AuxTerminalHdrType">
    <xs:sequence>
      <xs:element name="TerminalTypeID" minOccurs="0" maxOccurs="1" type="xs:nonNegativeInteger" />
      <xs:element name="Name" minOccurs="0" maxOccurs="1" type="xs:string" />
      <xs:element name="Description" minOccurs="0" maxOccurs="1" type="xs:string" />
      <xs:element name="ExtTerminalCode" minOccurs="0" maxOccurs="1" type="xs:string" />
      <xs:element name="LastUpdate" minOccurs="0" maxOccurs="1" type="xs:string" />
      <xs:element name="LayoutID" minOccurs="0" maxOccurs="1" type="xs:nonNegativeInteger" />
      <xs:element name="EngineID" minOccurs="0" maxOccurs="1" type="xs:nonNegativeInteger" />
      <xs:element name="SpecificPromosOnly" minOccurs="0" maxOccurs="1" type="xs:nonNegativeInteger" />
      <xs:element name="FuelProcessing" minOccurs="0" maxOccurs="1" type="xs:boolean" />
      <xs:element name="AnyTerminal" minOccurs="1" maxOccurs="1" type="xs:boolean" />
      <xs:element name="BannerID" minOccurs="0" maxOccurs="1" type="xs:nonNegativeInteger" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="AuxLocGroupType">
    <xs:sequence>
      <xs:element name="Header" minOccurs="1" maxOccurs="1" type="AuxLocGroupHdrType" />
      <xs:element name="Locations" minOccurs="0" maxOccurs="1" type="AuxLocationsType" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="AuxLocGroupHdrType">
    <xs:sequence>
      <xs:element name="LocationGroupID" minOccurs="1" maxOccurs="1" type="xs:nonNegativeInteger" />
      <xs:element name="Name" minOccurs="0" maxOccurs="1" type="xs:string" />
      <xs:element name="Description" minOccurs="0" maxOccurs="1" type="xs:string" />
      <xs:element name="CreatedDate" minOccurs="0" maxOccurs="1" type="xs:string" />
      <xs:element name="ExtGroupID" minOccurs="0" maxOccurs="1" type="xs:string" />
      <xs:element name="ExtSeqNum" minOccurs="0" maxOccurs="1" type="xs:string" />
      <xs:element name="ExtExcluded" minOccurs="0" maxOccurs="1" type="xs:boolean" />
      <xs:element name="AllLocations" minOccurs="0" maxOccurs="1" type="xs:boolean" />
      <xs:element name="LastUpdate" minOccurs="0" maxOccurs="1" type="xs:string" />
      <xs:element name="StatusFlag" minOccurs="0" maxOccurs="1" type="xs:nonNegativeInteger" />
      <xs:element name="TCRMAStatusFlag" minOccurs="0" maxOccurs="1" type="xs:nonNegativeInteger" />
      <xs:element name="EngineID" minOccurs="0" maxOccurs="1" type="xs:nonNegativeInteger" />
      <xs:element name="BannerID" minOccurs="0" maxOccurs="1" type="xs:nonNegativeInteger" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="AuxLocationsType">
    <xs:sequence>
      <xs:element name="Location" minOccurs="0" maxOccurs="unbounded" type="AuxLocationType" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="AuxLocationType">
    <xs:sequence>
      <xs:element name="Header" minOccurs="0" maxOccurs="1" type="AuxLocationHdrType" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="AuxLocationHdrType">
    <xs:sequence>
      <xs:element name="LocationID" minOccurs="1" maxOccurs="1" type="xs:nonNegativeInteger" />
      <xs:element name="ExtLocationCode" minOccurs="0" maxOccurs="1" type="xs:string" />
      <xs:element name="LocationName" minOccurs="0" maxOccurs="1" type="xs:string" />
      <xs:element name="Address1" minOccurs="0" maxOccurs="1" type="xs:string" />
      <xs:element name="Address2" minOccurs="0" maxOccurs="1" type="xs:string" />
      <xs:element name="City" minOccurs="0" maxOccurs="1" type="xs:string" />
      <xs:element name="State" minOccurs="0" maxOccurs="1" type="xs:string" />
      <xs:element name="Zip" minOccurs="0" maxOccurs="1" type="xs:string" />
      <xs:element name="TestingLocation" minOccurs="0" maxOccurs="1" type="xs:boolean" />
      <xs:element name="LastUpdate" minOccurs="0" maxOccurs="1" type="xs:string" />
      <xs:element name="StatusFlag" minOccurs="0" maxOccurs="1" type="xs:nonNegativeInteger" />
      <xs:element name="CMConnMD5" minOccurs="0" maxOccurs="1" type="xs:string" />
      <xs:element name="CountryID" minOccurs="0" maxOccurs="1" type="xs:nonNegativeInteger" />
      <xs:element name="ContactName" minOccurs="0" maxOccurs="1" type="xs:string" />
      <xs:element name="PhoneNumber" minOccurs="0" maxOccurs="1" type="xs:string" />
      <xs:element name="SendAlert" minOccurs="0" maxOccurs="1" type="xs:boolean" />
      <xs:element name="GenIPL" minOccurs="0" maxOccurs="1" type="xs:boolean" />
      <xs:element name="LastIPL" minOccurs="0" maxOccurs="1" type="xs:string" />
      <xs:element name="CMOADeployRpt" minOccurs="0" maxOccurs="1" type="xs:string" />
      <xs:element name="CMOADeployStatus" minOccurs="0" maxOccurs="1" type="xs:int" />
      <xs:element name="CMOARptDate" minOccurs="0" maxOccurs="1" type="xs:string" />
      <xs:element name="CMOADeploySuccessDate" minOccurs="0" maxOccurs="1" type="xs:string" />
      <xs:element name="EngineID" minOccurs="0" maxOccurs="1" type="xs:nonNegativeInteger" />
      <xs:element name="LastErrorTime" minOccurs="0" maxOccurs="1" type="xs:string" />
      <xs:element name="BannerID" minOccurs="0" maxOccurs="1" type="xs:nonNegativeInteger" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="AuxTemplateType">
    <xs:sequence>
      <xs:element name="Disallow_EmployeeFiltering" minOccurs="0" maxOccurs="1" type="xs:boolean" />
      <xs:element name="Disallow_ProductionDates" minOccurs="1" maxOccurs="1" type="xs:boolean" />
      <xs:element name="Disallow_Limits" minOccurs="1" maxOccurs="1" type="xs:boolean" />
      <xs:element name="Disallow_Tiers" minOccurs="0" maxOccurs="1" type="xs:boolean" />
      <xs:element name="Disallow_Priority" minOccurs="0" maxOccurs="1" type="xs:boolean" />
      <xs:element name="Disallow_Sweepstakes" minOccurs="0" maxOccurs="1" type="xs:boolean" />
      <xs:element name="Disallow_Conditions" minOccurs="0" maxOccurs="1" type="xs:boolean" />
      <xs:element name="Disallow_Rewards" minOccurs="0" maxOccurs="1" type="xs:boolean" />
      <xs:element name="Disallow_ExecutionEngine" minOccurs="0" maxOccurs="1" type="xs:boolean" />
      <xs:element name="Disallow_CRMEngine" minOccurs="0" maxOccurs="1" type="xs:boolean" />
      <xs:element name="Disallow_Notifications" minOccurs="0" maxOccurs="1" type="xs:boolean" />
      <xs:element name="RequireProductGroupCondition" minOccurs="0" maxOccurs="1" type="xs:boolean" />
      <xs:element name="RequirePointsProgramCondition" minOccurs="0" maxOccurs="1" type="xs:boolean" />
      <xs:element name="RequireCustomerGroupCondition" minOccurs="0" maxOccurs="1" type="xs:boolean" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="AuxTenderType">
    <xs:sequence>
      <xs:element name="TenderTypeID" minOccurs="0" maxOccurs="1" type="xs:nonNegativeInteger" />
      <xs:element name="Name" minOccurs="1" maxOccurs="1" type="xs:string" />
      <xs:element name="ExtTenderType" minOccurs="0" maxOccurs="1" type="xs:string" />
      <xs:element name="ExtVariety" minOccurs="0" maxOccurs="1" type="xs:string" />
      <xs:element name="ExtBinNum" minOccurs="0" maxOccurs="1" type="xs:string" />
      <xs:element name="LastUpdate" minOccurs="0" maxOccurs="1" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="Int32Type">
    <xs:simpleContent>
      <xs:extension base="xs:integer">
        <xs:attribute name="DataType" type="xs:string" use="required" fixed="Int32" />
      </xs:extension>
    </xs:simpleContent>
  </xs:complexType>
  <xs:complexType name="Int64Type">
    <xs:simpleContent>
      <xs:extension base="xs:integer">
        <xs:attribute name="DataType" type="xs:string" use="required" fixed="Int64" />
      </xs:extension>
    </xs:simpleContent>
  </xs:complexType>
  <xs:complexType name="BooleanType">
    <xs:simpleContent>
      <xs:extension base="xs:string">
        <xs:attribute name="DataType" type="xs:string" use="required" fixed="Boolean" />
      </xs:extension>
    </xs:simpleContent>
  </xs:complexType>
  <xs:complexType name="DoubleType">
    <xs:simpleContent>
      <xs:extension base="xs:float">
        <xs:attribute name="DataType" type="xs:string" use="required" fixed="Double" />
      </xs:extension>
    </xs:simpleContent>
  </xs:complexType>
  <xs:complexType name="DecimalType">
    <xs:simpleContent>
      <xs:extension base="xs:decimal">
        <xs:attribute name="DataType" type="xs:string" use="required" fixed="Decimal" />
      </xs:extension>
    </xs:simpleContent>
  </xs:complexType>
  <xs:complexType name="DateTimeType">
    <xs:simpleContent>
      <xs:extension base="xs:string">
        <xs:attribute name="DataType" type="xs:string" use="required" fixed="DateTime" />
      </xs:extension>
    </xs:simpleContent>
  </xs:complexType>
  <xs:complexType name="StringType">
    <xs:simpleContent>
      <xs:extension base="xs:string">
        <xs:attribute name="DataType" type="xs:string" use="required" fixed="String" />
      </xs:extension>
    </xs:simpleContent>
  </xs:complexType>
</xs:schema>