RTSales/Varios/LogixProjects/Mex_OfferExport_Subscriber/Shared Resources/Schema Definitions/Common/ErrorManagementSchema.xsd

<?xml version = "1.0" encoding = "UTF-8"?>
<!--Generated by Turbo XML. Conforms to w3c http://www.w3.org/2001/XMLSchema-->
<xsd:schema xmlns = "http://xmlns.heb.com/ei/ErrorManagementSchema"
	 targetNamespace = "http://xmlns.heb.com/ei/ErrorManagementSchema"
	 xmlns:xsd = "http://www.w3.org/2001/XMLSchema"
	 elementFormDefault = "qualified"
	 attributeFormDefault = "unqualified">
	
	<xsd:element name = "ErrorManagementSchema">
			<xsd:complexType>
				<xsd:sequence>
					<xsd:element name = "inrtn_id" type = "xsd:integer"/>
					<xsd:element name = "inrtn_instn_nm" type = "xsd:string"/>
					<xsd:element name = "inrtn_err_rtn_desc" type = "xsd:string"/>
					<xsd:element name = "inrtn_msg_body" type = "xsd:string"/>
					<xsd:element name = "cre8_ts" type = "xsd:string"/>
					<xsd:element name = "u_code" type = "xsd:string" minOccurs = "0"/>
					<xsd:element name = "sev_id" type = "xsd:integer"/>
				</xsd:sequence>
			</xsd:complexType>
	</xsd:element>
</xsd:schema>


