HEBCard/Documentos/Diseño/ABCComisionistas/Esquemas/COMISIONISTA_PSAR.xml

<?xml version="1.0" encoding="UTF-8"?>

<!-- edited with XMLSpy v2011 sp1 (http://www.altova.com) by End User (free.org) -->
<xsd:schema xmlns="http://xmlns.heb.com/ei/Comisionista"
	 xmlns:xsd="http://www.w3.org/2001/XMLSchema"
	 targetNamespace="http://xmlns.heb.com/ei/Comisionista"
	 elementFormDefault="qualified"
	 attributeFormDefault="unqualified">
	<xsd:element name="ComisionistaPeopleSoft">
		<xsd:complexType>
			<xsd:sequence>
				<xsd:element name="NAME" type="xsd:string" form="unqualified" minOccurs="0"/>
				<xsd:element name="VENDOR_ID" type="xsd:string" form="unqualified" minOccurs="0"/>
				<xsd:element name="VENDOR_STATUS" type="xsd:string" form="unqualified" minOccurs="0"/>
			</xsd:sequence>
		</xsd:complexType>
	</xsd:element>
</xsd:schema>