LMR/Desarrollo/PmmPOSubscriberFE_PO/Shared Resources/Schema Definitions/Custom/FIXUPCData.xsd

<?xml version="1.0" encoding="UTF-8"?>

<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema"
	 xmlns="http://www.tibco.com/schemas/PmmPOSubscriberFE/Shared Resources/Schema Definitions/Custom/FIXUPCData.xsd"
	 targetNamespace="http://www.tibco.com/schemas/PmmPOSubscriberFE/Shared Resources/Schema Definitions/Custom/FIXUPCData.xsd"
	 elementFormDefault="qualified"
	 attributeFormDefault="unqualified">
	<xs:element name="FIXUPCData">
		<xs:complexType>
					<xs:sequence>
						<xs:element name="PRD_LVL_NUMBER" type="xs:string" nillable="true"/>
						<xs:element name="PRD_UPC" type="xs:string" nillable="true"/>
					</xs:sequence>
				</xs:complexType>
	</xs:element>
</xs:schema>