HEBSeller/Desarrollo/PASADOS/DbstageOfferToMagento/Shared Resources/WSDL/v2_soap_interno.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<!--Created by TIBCO WSDL-->
<wsdl:definitions xmlns:ns2="http://xmlns.heb.com/ei/loginParam" xmlns:ns1="http://xmlns.heb.com/ei/apiEntrepidsRunImportInterfacesResponseParam" xmlns:ns3="http://xmlns.heb.com/ei/loginResponseParam" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:tns="http://xmlns.example.com/1420752924429" xmlns:ns0="http://xmlns.heb.com/ei/apiEntrepidsRunImportInterfacesRequestParam" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" name="Untitled" targetNamespace="http://xmlns.example.com/1420752924429">
    <wsdl:types>
        <xs:schema xmlns="http://xmlns.heb.com/ei/apiEntrepidsRunImportInterfacesResponseParam" xmlns:xs="http://www.w3.org/2001/XMLSchema" targetNamespace="http://xmlns.heb.com/ei/apiEntrepidsRunImportInterfacesResponseParam" elementFormDefault="qualified" attributeFormDefault="unqualified">
            <xs:element name="apiEntrepidsRunImportInterfacesResponseParam">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element name="Codigo" type="xs:string" minOccurs="0"/>
                        <xs:element name="Descripcion" type="xs:string" minOccurs="0"/>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
        </xs:schema>
        <xs:schema xmlns="http://xmlns.heb.com/ei/loginResponseParam" xmlns:xs="http://www.w3.org/2001/XMLSchema" targetNamespace="http://xmlns.heb.com/ei/loginResponseParam" elementFormDefault="qualified" attributeFormDefault="unqualified">
            <xs:element name="loginResponseParam">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element name="result" type="xs:string"/>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
        </xs:schema>
        <xs:schema xmlns="http://xmlns.heb.com/ei/apiEntrepidsRunImportInterfacesRequestParam" xmlns:xs="http://www.w3.org/2001/XMLSchema" targetNamespace="http://xmlns.heb.com/ei/apiEntrepidsRunImportInterfacesRequestParam" elementFormDefault="qualified" attributeFormDefault="unqualified">
            <xs:element name="apiEntrepidsRunImportInterfacesRequestParam">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element name="sessionId" type="xs:string"/>
                        <xs:element name="interfaceName" type="xs:string"/>
                        <xs:element name="callDate" type="xs:string"/>
                        <xs:element name="ifRunId" type="xs:string"/>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
        </xs:schema>
        <xs:schema xmlns="http://xmlns.heb.com/ei/loginParam" xmlns:xs="http://www.w3.org/2001/XMLSchema" targetNamespace="http://xmlns.heb.com/ei/loginParam" elementFormDefault="qualified" attributeFormDefault="unqualified">
            <xs:element name="loginParam">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element name="username" type="xs:string"/>
                        <xs:element name="apiKey" type="xs:string"/>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
        </xs:schema>
    </wsdl:types>
    <wsdl:service name="MagentoService">
        <wsdl:port name="Magento_EndPoint" binding="tns:Magento_EndPointBinding">
            <soap:address location="http://sdi201097:9516/Magento_EndPoint"/>
        </wsdl:port>
    </wsdl:service>
    <wsdl:portType name="Magento_PortType_1">
        <wsdl:operation name="apiEntrepidsRunImportInterfaces">
            <wsdl:input message="tns:apiEntrepidsRunImportInterfacesRequest"/>
            <wsdl:output message="tns:apiEntrepidsRunImportInterfacesResponse"/>
        </wsdl:operation>
        <wsdl:operation name="login">
            <wsdl:input message="tns:login"/>
            <wsdl:output message="tns:loginResponse"/>
        </wsdl:operation>
    </wsdl:portType>
    <wsdl:binding name="Magento_EndPointBinding" type="tns:Magento_PortType_1">
        <soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
        <wsdl:operation name="apiEntrepidsRunImportInterfaces">
            <soap:operation style="document" soapAction="Magento_EndPoint/apiEntrepidsRunImportInterfaces"/>
            <wsdl:input>
                <soap:body use="literal" parts="parameters"/>
            </wsdl:input>
            <wsdl:output>
                <soap:body use="literal" parts="parameters"/>
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="login">
            <soap:operation style="document" soapAction="Magento_EndPoint/login"/>
            <wsdl:input>
                <soap:body use="literal" parts="parameters"/>
            </wsdl:input>
            <wsdl:output>
                <soap:body use="literal" parts="parameters"/>
            </wsdl:output>
        </wsdl:operation>
    </wsdl:binding>
    <wsdl:message name="apiEntrepidsRunImportInterfacesRequest">
        <wsdl:part name="parameters" element="ns0:apiEntrepidsRunImportInterfacesRequestParam"/>
    </wsdl:message>
    <wsdl:message name="apiEntrepidsRunImportInterfacesResponse">
        <wsdl:part name="parameters" element="ns1:apiEntrepidsRunImportInterfacesResponseParam"/>
    </wsdl:message>
    <wsdl:message name="login">
        <wsdl:part name="parameters" element="ns2:loginParam"/>
    </wsdl:message>
    <wsdl:message name="loginResponse">
        <wsdl:part name="parameters" element="ns3:loginResponseParam"/>
    </wsdl:message>
</wsdl:definitions>