HEBCard/Documentos/Diseño/ABCSucursales/Esquemas/STORE_PMM_API.xml

<?xml version="1.0" encoding="UTF-8"?>

<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema"
	 elementFormDefault="qualified"
	 attributeFormDefault="unqualified">
	<xs:element name="StoreRequest">
		<xs:complexType>
			<xs:sequence>
				<xs:element name="body">
					<xs:complexType>
						<xs:sequence>
							<xs:element name="number" type="xs:string" form="unqualified" minOccurs="0"/>
							<xs:element name="format" type="xs:string" form="unqualified" minOccurs="0"/>
							<xs:element name="name" type="xs:string" form="unqualified" minOccurs="0"/>
							<xs:element name="status" type="xs:string" form="unqualified" minOccurs="0"/>
							<xs:element name="openingDate" type="xs:string" form="unqualified" minOccurs="0"/>
							<xs:element name="address" type="xs:string" form="unqualified" minOccurs="0"/>
							<xs:element name="city" type="xs:string" form="unqualified" minOccurs="0"/>
							<xs:element name="state" type="xs:string" form="unqualified" minOccurs="0"/>
							<xs:element name="zipCode" type="xs:string" form="unqualified" minOccurs="0"/>
							<xs:element name="country" type="xs:string" form="unqualified" minOccurs="0"/>
						</xs:sequence>
					</xs:complexType>
				</xs:element>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="StoreResponse">
		<xs:complexType>
			<xs:sequence>
				<xs:element name="title" type="xs:normalizedString">
					<xs:annotation>
						<xs:documentation>Error Description</xs:documentation>
					</xs:annotation>
				</xs:element>
				<xs:element name="code" type="xs:normalizedString">
					<xs:annotation>
						<xs:documentation>Error Code</xs:documentation>
					</xs:annotation>
				</xs:element>
				<xs:element name="detail" type="xs:normalizedString">
					<xs:annotation>
						<xs:documentation>Error Detail</xs:documentation>
					</xs:annotation>
				</xs:element>
				<xs:element name="version" type="xs:normalizedString">
					<xs:annotation>
						<xs:documentation>version</xs:documentation>
					</xs:annotation>
				</xs:element>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
</xs:schema>