ErrorHandler/Desarrollo/Version 1.2/PmmToExe-PODemandPublisher/Shared Resources/Schema Definitions/Common/Container.xsd

<?xml version = "1.0" encoding = "UTF-8"?>
<!--Generated by Turbo XML. Conforms to w3c http://www.w3.org/2001/XMLSchema-->
<xsd:schema xmlns:xsd = "http://www.w3.org/2001/XMLSchema"
	 elementFormDefault = "qualified">
	<xsd:element name = "Header">
		<xsd:complexType>
			<xsd:sequence>
				<xsd:element name = "ProjectName" type = "xsd:string"/>
				<xsd:element name = "Source_Domain" type = "xsd:string" minOccurs = "0"/>
				<xsd:element name = "Destination_Domain" type = "xsd:string" minOccurs = "0"/>
				<xsd:element name = "Transaction_Type" type = "xsd:string" minOccurs = "0"/>
				<xsd:element name = "TimeStamp" type = "xsd:string"/>
			</xsd:sequence>
		</xsd:complexType>
	</xsd:element>
	
	<xsd:element name = "Fault">
		<xsd:complexType>
			<xsd:sequence>
				<xsd:element name = "Code" type = "xsd:string" minOccurs = "0"/>
				<xsd:element name = "Reason" type = "xsd:string" minOccurs = "0"/>
				<xsd:element name = "Detail" type = "xsd:string" minOccurs = "0"/>
			</xsd:sequence>
		</xsd:complexType>
	</xsd:element>
</xsd:schema>