HEBusiness/Desarrollo/Heb2bCostoPropuestaPublisher/Shared Resources/Schema Definitions/Custom/Costo.xsd

<?xml version="1.0" encoding="UTF-8"?>
<!-- edited with XMLSpy v2011 sp1 (http://www.altova.com) by End User (free.org) -->
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" elementFormDefault="qualified" attributeFormDefault="unqualified">
	<xs:element name="Costo" type="CostoType"/>
	<xs:complexType name="CostoType">
		<xs:sequence>
			<xs:element name="Batch_num" type="xs:string"/>
			<xs:element name="IdPropuesta" type="xs:string"/>
			<xs:element name="IDDETALLE" maxOccurs="unbounded">
				<xs:complexType>
					<xs:sequence>
						<xs:element name="ID" type="xs:string"/>
					</xs:sequence>
				</xs:complexType>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
</xs:schema>
