HEBCard/Desarrollo/ApiCustomerService/Shared Resources/Schema Definitions/Custom/PsCustomerService/CI_HEBCDCUST_UPDATE_RQS.V1.xsd

<?xml version="1.0"?>
<!-- edited with XMLSpy v2011 sp1 (http://www.altova.com) by End User (free.org) -->
<xsd:schema xmlns="http://xmlns.oracle.com/Enterprise/Tools/schemas/CI_HEBCDCUST_UPDATE_RQS.V1" xmlns:xsd="http://www.w3.org/2001/XMLSchema" targetNamespace="http://xmlns.oracle.com/Enterprise/Tools/schemas/CI_HEBCDCUST_UPDATE_RQS.V1" elementFormDefault="qualified">
	<xsd:element name="Update__CompIntfc__HEBCD_CUSTOMER" type="Update__CompIntfc__HEBCD_CUSTOMERTypeShape"/>
	<xsd:complexType name="Update__CompIntfc__HEBCD_CUSTOMERTypeShape">
		<xsd:sequence>
			<xsd:element name="SETID" type="SETIDTypeShape" minOccurs="0"/>
			<xsd:element name="CUST_ID" type="CUST_IDTypeShape" minOccurs="0"/>
			<xsd:element name="CUST_STATUS" type="CUST_STATUSTypeShape" minOccurs="0"/>
			<xsd:element name="CUSTOMER_TYPE" type="CUSTOMER_TYPETypeShape" minOccurs="0"/>
			<xsd:element name="ADD_DT" type="ADD_DTTypeShape" minOccurs="0"/>
			<xsd:element name="NAME1" type="NAME1TypeShape" minOccurs="0"/>
			<xsd:element name="NAME2" type="NAME2TypeShape" minOccurs="0"/>
			<xsd:element name="ADDRESS_SEQ_NUM" type="ADDRESS_SEQ_NUMTypeShape" minOccurs="0"/>
			<xsd:element name="CNTCT_SEQ_NUM" type="CNTCT_SEQ_NUMTypeShape" minOccurs="0"/>
			<xsd:element name="CUR_RT_TYPE" type="CUR_RT_TYPETypeShape" minOccurs="0"/>
			<xsd:element name="CURRENCY_CD" type="CURRENCY_CDTypeShape" minOccurs="0"/>
			<xsd:element name="SHIP_TO_FLG" type="SHIP_TO_FLGTypeShape" minOccurs="0"/>
			<xsd:element name="BILL_TO_FLG" type="BILL_TO_FLGTypeShape" minOccurs="0"/>
			<xsd:element name="SOLD_TO_FLG" type="SOLD_TO_FLGTypeShape" minOccurs="0"/>
			<xsd:element name="ADDRESS_SEQ_IND" type="ADDRESS_SEQ_INDTypeShape" minOccurs="0"/>
			<xsd:element name="TAXPAYER_ID" type="TAXPAYER_IDTypeShape" minOccurs="0"/>
			<xsd:element name="WEB_URL" type="WEB_URLTypeShape" minOccurs="0"/>
			<xsd:element name="CUST_FIELD_C10_A" type="CUST_FIELD_C10_ATypeShape" minOccurs="0"/>
			<xsd:element name="CUST_TEAM" type="CUST_TEAMComplexTypeShape" minOccurs="0" maxOccurs="unbounded"/>
			<xsd:element name="CUST_ADDR_SEQ" type="CUST_ADDR_SEQComplexTypeShape" minOccurs="0" maxOccurs="unbounded"/>
			<xsd:element name="CUST_OPTION" type="CUST_OPTIONComplexTypeShape" minOccurs="0" maxOccurs="unbounded"/>
			<xsd:element name="CUST_CREDIT" type="CUST_CREDITComplexTypeShape" minOccurs="0" maxOccurs="unbounded"/>
		</xsd:sequence>
	</xsd:complexType>
	<xsd:complexType name="SETIDTypeShape">
		<xsd:simpleContent>
			<xsd:extension base="SETIDTypeDef"/>
		</xsd:simpleContent>
	</xsd:complexType>
	<xsd:complexType name="CUST_IDTypeShape">
		<xsd:simpleContent>
			<xsd:extension base="CUST_IDTypeDef"/>
		</xsd:simpleContent>
	</xsd:complexType>
	<xsd:complexType name="CUST_STATUSTypeShape">
		<xsd:simpleContent>
			<xsd:extension base="CUST_STATUSTypeDef"/>
		</xsd:simpleContent>
	</xsd:complexType>
	<xsd:complexType name="CUSTOMER_TYPETypeShape">
		<xsd:simpleContent>
			<xsd:extension base="CUSTOMER_TYPETypeDef"/>
		</xsd:simpleContent>
	</xsd:complexType>
	<xsd:complexType name="ADD_DTTypeShape">
		<xsd:simpleContent>
			<xsd:extension base="ADD_DTTypeDef"/>
		</xsd:simpleContent>
	</xsd:complexType>
	<xsd:complexType name="NAME1TypeShape">
		<xsd:simpleContent>
			<xsd:extension base="NAME1TypeDef"/>
		</xsd:simpleContent>
	</xsd:complexType>
	<xsd:complexType name="NAME2TypeShape">
		<xsd:simpleContent>
			<xsd:extension base="NAME2TypeDef"/>
		</xsd:simpleContent>
	</xsd:complexType>
	<xsd:complexType name="ADDRESS_SEQ_NUMTypeShape">
		<xsd:simpleContent>
			<xsd:extension base="ADDRESS_SEQ_NUMTypeDef"/>
		</xsd:simpleContent>
	</xsd:complexType>
	<xsd:complexType name="CNTCT_SEQ_NUMTypeShape">
		<xsd:simpleContent>
			<xsd:extension base="CNTCT_SEQ_NUMTypeDef"/>
		</xsd:simpleContent>
	</xsd:complexType>
	<xsd:complexType name="CUR_RT_TYPETypeShape">
		<xsd:simpleContent>
			<xsd:extension base="CUR_RT_TYPETypeDef"/>
		</xsd:simpleContent>
	</xsd:complexType>
	<xsd:complexType name="CURRENCY_CDTypeShape">
		<xsd:simpleContent>
			<xsd:extension base="CURRENCY_CDTypeDef"/>
		</xsd:simpleContent>
	</xsd:complexType>
	<xsd:complexType name="SHIP_TO_FLGTypeShape">
		<xsd:simpleContent>
			<xsd:extension base="SHIP_TO_FLGTypeDef"/>
		</xsd:simpleContent>
	</xsd:complexType>
	<xsd:complexType name="BILL_TO_FLGTypeShape">
		<xsd:simpleContent>
			<xsd:extension base="BILL_TO_FLGTypeDef"/>
		</xsd:simpleContent>
	</xsd:complexType>
	<xsd:complexType name="SOLD_TO_FLGTypeShape">
		<xsd:simpleContent>
			<xsd:extension base="SOLD_TO_FLGTypeDef"/>
		</xsd:simpleContent>
	</xsd:complexType>
	<xsd:complexType name="ADDRESS_SEQ_INDTypeShape">
		<xsd:simpleContent>
			<xsd:extension base="ADDRESS_SEQ_INDTypeDef"/>
		</xsd:simpleContent>
	</xsd:complexType>
	<xsd:complexType name="TAXPAYER_IDTypeShape">
		<xsd:simpleContent>
			<xsd:extension base="TAXPAYER_IDTypeDef"/>
		</xsd:simpleContent>
	</xsd:complexType>
	<xsd:complexType name="WEB_URLTypeShape">
		<xsd:simpleContent>
			<xsd:extension base="WEB_URLTypeDef"/>
		</xsd:simpleContent>
	</xsd:complexType>
	<xsd:complexType name="CUST_FIELD_C10_ATypeShape">
		<xsd:simpleContent>
			<xsd:extension base="CUST_FIELD_C10_ATypeDef"/>
		</xsd:simpleContent>
	</xsd:complexType>
	<xsd:complexType name="CUST_TEAMComplexTypeShape">
		<xsd:sequence>
			<xsd:element name="SETID" type="SETIDTypeShape" minOccurs="0"/>
			<xsd:element name="CUST_ID" type="CUST_IDTypeShape" minOccurs="0"/>
			<xsd:element name="SUPPORT_TEAM_CD" type="SUPPORT_TEAM_CDTypeShape" minOccurs="0"/>
			<xsd:element name="DEFAULT_FLAG" type="DEFAULT_FLAGTypeShape" minOccurs="0"/>
		</xsd:sequence>
	</xsd:complexType>
	<xsd:complexType name="SUPPORT_TEAM_CDTypeShape">
		<xsd:simpleContent>
			<xsd:extension base="SUPPORT_TEAM_CDTypeDef"/>
		</xsd:simpleContent>
	</xsd:complexType>
	<xsd:complexType name="DEFAULT_FLAGTypeShape">
		<xsd:simpleContent>
			<xsd:extension base="DEFAULT_FLAGTypeDef"/>
		</xsd:simpleContent>
	</xsd:complexType>
	<xsd:complexType name="CUST_ADDR_SEQComplexTypeShape">
		<xsd:sequence>
			<xsd:element name="SETID" type="SETIDTypeShape" minOccurs="0"/>
			<xsd:element name="CUST_ID" type="CUST_IDTypeShape" minOccurs="0"/>
			<xsd:element name="ADDRESS_SEQ_NUM" type="ADDRESS_SEQ_NUMTypeShape" minOccurs="0"/>
			<xsd:element name="DESCR" type="DESCRTypeShape" minOccurs="0"/>
			<xsd:element name="BILL_TO_ADDR" type="BILL_TO_ADDRTypeShape" minOccurs="0"/>
			<xsd:element name="SHIP_TO_ADDR" type="SHIP_TO_ADDRTypeShape" minOccurs="0"/>
			<xsd:element name="SOLD_TO_ADDR" type="SOLD_TO_ADDRTypeShape" minOccurs="0"/>
			<xsd:element name="CRSPD_TO_ADDR" type="CRSPD_TO_ADDRTypeShape" minOccurs="0"/>
			<xsd:element name="PRIMARY_BILL_TO" type="PRIMARY_BILL_TOTypeShape" minOccurs="0"/>
			<xsd:element name="PRIMARY_SHIP_TO" type="PRIMARY_SHIP_TOTypeShape" minOccurs="0"/>
			<xsd:element name="PRIMARY_SOLD_TO" type="PRIMARY_SOLD_TOTypeShape" minOccurs="0"/>
			<xsd:element name="CUST_ADDRESS" type="CUST_ADDRESSComplexTypeShape" minOccurs="0" maxOccurs="unbounded"/>
		</xsd:sequence>
	</xsd:complexType>
	<xsd:complexType name="DESCRTypeShape">
		<xsd:simpleContent>
			<xsd:extension base="DESCRTypeDef"/>
		</xsd:simpleContent>
	</xsd:complexType>
	<xsd:complexType name="BILL_TO_ADDRTypeShape">
		<xsd:simpleContent>
			<xsd:extension base="BILL_TO_ADDRTypeDef"/>
		</xsd:simpleContent>
	</xsd:complexType>
	<xsd:complexType name="SHIP_TO_ADDRTypeShape">
		<xsd:simpleContent>
			<xsd:extension base="SHIP_TO_ADDRTypeDef"/>
		</xsd:simpleContent>
	</xsd:complexType>
	<xsd:complexType name="SOLD_TO_ADDRTypeShape">
		<xsd:simpleContent>
			<xsd:extension base="SOLD_TO_ADDRTypeDef"/>
		</xsd:simpleContent>
	</xsd:complexType>
	<xsd:complexType name="CRSPD_TO_ADDRTypeShape">
		<xsd:simpleContent>
			<xsd:extension base="CRSPD_TO_ADDRTypeDef"/>
		</xsd:simpleContent>
	</xsd:complexType>
	<xsd:complexType name="PRIMARY_BILL_TOTypeShape">
		<xsd:simpleContent>
			<xsd:extension base="PRIMARY_BILL_TOTypeDef"/>
		</xsd:simpleContent>
	</xsd:complexType>
	<xsd:complexType name="PRIMARY_SHIP_TOTypeShape">
		<xsd:simpleContent>
			<xsd:extension base="PRIMARY_SHIP_TOTypeDef"/>
		</xsd:simpleContent>
	</xsd:complexType>
	<xsd:complexType name="PRIMARY_SOLD_TOTypeShape">
		<xsd:simpleContent>
			<xsd:extension base="PRIMARY_SOLD_TOTypeDef"/>
		</xsd:simpleContent>
	</xsd:complexType>
	<xsd:complexType name="CUST_ADDRESSComplexTypeShape">
		<xsd:sequence>
			<xsd:element name="SETID" type="SETIDTypeShape" minOccurs="0"/>
			<xsd:element name="CUST_ID" type="CUST_IDTypeShape" minOccurs="0"/>
			<xsd:element name="ADDRESS_SEQ_NUM" type="ADDRESS_SEQ_NUMTypeShape" minOccurs="0"/>
			<xsd:element name="EFFDT" type="EFFDTTypeShape" minOccurs="0"/>
			<xsd:element name="EFF_STATUS" type="EFF_STATUSTypeShape" minOccurs="0"/>
			<xsd:element name="ALT_NAME1" type="ALT_NAME1TypeShape" minOccurs="0"/>
			<xsd:element name="ALT_NAME2" type="ALT_NAME2TypeShape" minOccurs="0"/>
			<xsd:element name="COUNTRY" type="COUNTRYTypeShape" minOccurs="0"/>
			<xsd:element name="ADDRESS1" type="ADDRESS1TypeShape" minOccurs="0"/>
			<xsd:element name="ADDRESS2" type="ADDRESS2TypeShape" minOccurs="0"/>
			<xsd:element name="ADDRESS3" type="ADDRESS3TypeShape" minOccurs="0"/>
			<xsd:element name="ADDRESS4" type="ADDRESS4TypeShape" minOccurs="0"/>
			<xsd:element name="CITY" type="CITYTypeShape" minOccurs="0"/>
			<xsd:element name="COUNTY" type="COUNTYTypeShape" minOccurs="0"/>
			<xsd:element name="STATE" type="STATETypeShape" minOccurs="0"/>
			<xsd:element name="POSTAL" type="POSTALTypeShape" minOccurs="0"/>
			<xsd:element name="PHONE" type="PHONETypeShape" minOccurs="0"/>
			<xsd:element name="EXTENSION" type="EXTENSIONTypeShape" minOccurs="0"/>
			<xsd:element name="FAX" type="FAXTypeShape" minOccurs="0"/>
		</xsd:sequence>
	</xsd:complexType>
	<xsd:complexType name="EFFDTTypeShape">
		<xsd:simpleContent>
			<xsd:extension base="EFFDTTypeDef"/>
		</xsd:simpleContent>
	</xsd:complexType>
	<xsd:complexType name="EFF_STATUSTypeShape">
		<xsd:simpleContent>
			<xsd:extension base="EFF_STATUSTypeDef"/>
		</xsd:simpleContent>
	</xsd:complexType>
	<xsd:complexType name="ALT_NAME1TypeShape">
		<xsd:simpleContent>
			<xsd:extension base="ALT_NAME1TypeDef"/>
		</xsd:simpleContent>
	</xsd:complexType>
	<xsd:complexType name="ALT_NAME2TypeShape">
		<xsd:simpleContent>
			<xsd:extension base="ALT_NAME2TypeDef"/>
		</xsd:simpleContent>
	</xsd:complexType>
	<xsd:complexType name="COUNTRYTypeShape">
		<xsd:simpleContent>
			<xsd:extension base="COUNTRYTypeDef"/>
		</xsd:simpleContent>
	</xsd:complexType>
	<xsd:complexType name="ADDRESS1TypeShape">
		<xsd:simpleContent>
			<xsd:extension base="ADDRESS1TypeDef"/>
		</xsd:simpleContent>
	</xsd:complexType>
	<xsd:complexType name="ADDRESS2TypeShape">
		<xsd:simpleContent>
			<xsd:extension base="ADDRESS2TypeDef"/>
		</xsd:simpleContent>
	</xsd:complexType>
	<xsd:complexType name="ADDRESS3TypeShape">
		<xsd:simpleContent>
			<xsd:extension base="ADDRESS3TypeDef"/>
		</xsd:simpleContent>
	</xsd:complexType>
	<xsd:complexType name="ADDRESS4TypeShape">
		<xsd:simpleContent>
			<xsd:extension base="ADDRESS4TypeDef"/>
		</xsd:simpleContent>
	</xsd:complexType>
	<xsd:complexType name="CITYTypeShape">
		<xsd:simpleContent>
			<xsd:extension base="CITYTypeDef"/>
		</xsd:simpleContent>
	</xsd:complexType>
	<xsd:complexType name="COUNTYTypeShape">
		<xsd:simpleContent>
			<xsd:extension base="COUNTYTypeDef"/>
		</xsd:simpleContent>
	</xsd:complexType>
	<xsd:complexType name="STATETypeShape">
		<xsd:simpleContent>
			<xsd:extension base="STATETypeDef"/>
		</xsd:simpleContent>
	</xsd:complexType>
	<xsd:complexType name="POSTALTypeShape">
		<xsd:simpleContent>
			<xsd:extension base="POSTALTypeDef"/>
		</xsd:simpleContent>
	</xsd:complexType>
	<xsd:complexType name="PHONETypeShape">
		<xsd:simpleContent>
			<xsd:extension base="PHONETypeDef"/>
		</xsd:simpleContent>
	</xsd:complexType>
	<xsd:complexType name="EXTENSIONTypeShape">
		<xsd:simpleContent>
			<xsd:extension base="EXTENSIONTypeDef"/>
		</xsd:simpleContent>
	</xsd:complexType>
	<xsd:complexType name="FAXTypeShape">
		<xsd:simpleContent>
			<xsd:extension base="FAXTypeDef"/>
		</xsd:simpleContent>
	</xsd:complexType>
	<xsd:complexType name="CUST_OPTIONComplexTypeShape">
		<xsd:sequence>
			<xsd:element name="SETID" type="SETIDTypeShape" minOccurs="0"/>
			<xsd:element name="CUST_ID" type="CUST_IDTypeShape" minOccurs="0"/>
			<xsd:element name="EFFDT" type="EFFDTTypeShape" minOccurs="0"/>
			<xsd:element name="COLLECTOR" type="COLLECTORTypeShape" minOccurs="0"/>
			<xsd:element name="CR_ANALYST" type="CR_ANALYSTTypeShape" minOccurs="0"/>
		</xsd:sequence>
	</xsd:complexType>
	<xsd:complexType name="COLLECTORTypeShape">
		<xsd:simpleContent>
			<xsd:extension base="COLLECTORTypeDef"/>
		</xsd:simpleContent>
	</xsd:complexType>
	<xsd:complexType name="CR_ANALYSTTypeShape">
		<xsd:simpleContent>
			<xsd:extension base="CR_ANALYSTTypeDef"/>
		</xsd:simpleContent>
	</xsd:complexType>
	<xsd:complexType name="CUST_CREDITComplexTypeShape">
		<xsd:sequence>
			<xsd:element name="SETID" type="SETIDTypeShape" minOccurs="0"/>
			<xsd:element name="CUST_ID" type="CUST_IDTypeShape" minOccurs="0"/>
			<xsd:element name="EFFDT" type="EFFDTTypeShape" minOccurs="0"/>
			<xsd:element name="CR_LIMIT" type="CR_LIMITTypeShape" minOccurs="0"/>
			<xsd:element name="CREDIT_CHECK" type="CREDIT_CHECKTypeShape" minOccurs="0"/>
		</xsd:sequence>
	</xsd:complexType>
	<xsd:complexType name="CR_LIMITTypeShape">
		<xsd:simpleContent>
			<xsd:extension base="CR_LIMITTypeDef"/>
		</xsd:simpleContent>
	</xsd:complexType>
	<xsd:complexType name="CREDIT_CHECKTypeShape">
		<xsd:simpleContent>
			<xsd:extension base="CREDIT_CHECKTypeDef"/>
		</xsd:simpleContent>
	</xsd:complexType>
	<xsd:simpleType name="SETIDTypeDef">
		<xsd:restriction base="xsd:string">
			<xsd:maxLength value="5"/>
			<xsd:whiteSpace value="preserve"/>
		</xsd:restriction>
	</xsd:simpleType>
	<xsd:simpleType name="CUST_IDTypeDef">
		<xsd:restriction base="xsd:string">
			<xsd:maxLength value="15"/>
			<xsd:whiteSpace value="preserve"/>
		</xsd:restriction>
	</xsd:simpleType>
	<xsd:simpleType name="CUST_STATUSTypeDef">
		<xsd:restriction base="xsd:string">
			<xsd:maxLength value="1"/>
			<xsd:whiteSpace value="preserve"/>
		</xsd:restriction>
	</xsd:simpleType>
	<xsd:simpleType name="CUSTOMER_TYPETypeDef">
		<xsd:restriction base="xsd:string">
			<xsd:maxLength value="1"/>
			<xsd:whiteSpace value="preserve"/>
		</xsd:restriction>
	</xsd:simpleType>
	<xsd:simpleType name="ADD_DTTypeDef">
		<xsd:restriction base="xsd:date"/>
	</xsd:simpleType>
	<xsd:simpleType name="NAME1TypeDef">
		<xsd:restriction base="xsd:string">
			<xsd:maxLength value="40"/>
			<xsd:whiteSpace value="preserve"/>
		</xsd:restriction>
	</xsd:simpleType>
	<xsd:simpleType name="NAME2TypeDef">
		<xsd:restriction base="xsd:string">
			<xsd:maxLength value="40"/>
			<xsd:whiteSpace value="preserve"/>
		</xsd:restriction>
	</xsd:simpleType>
	<xsd:simpleType name="ADDRESS_SEQ_NUMTypeDef">
		<xsd:restriction base="xsd:int">
			<xsd:totalDigits value="5"/>
		</xsd:restriction>
	</xsd:simpleType>
	<xsd:simpleType name="CNTCT_SEQ_NUMTypeDef">
		<xsd:restriction base="xsd:int">
			<xsd:totalDigits value="5"/>
		</xsd:restriction>
	</xsd:simpleType>
	<xsd:simpleType name="CUR_RT_TYPETypeDef">
		<xsd:restriction base="xsd:string">
			<xsd:maxLength value="5"/>
			<xsd:whiteSpace value="preserve"/>
		</xsd:restriction>
	</xsd:simpleType>
	<xsd:simpleType name="CURRENCY_CDTypeDef">
		<xsd:restriction base="xsd:string">
			<xsd:maxLength value="3"/>
			<xsd:whiteSpace value="preserve"/>
		</xsd:restriction>
	</xsd:simpleType>
	<xsd:simpleType name="SHIP_TO_FLGTypeDef">
		<xsd:restriction base="xsd:string">
			<xsd:maxLength value="1"/>
			<xsd:whiteSpace value="preserve"/>
		</xsd:restriction>
	</xsd:simpleType>
	<xsd:simpleType name="BILL_TO_FLGTypeDef">
		<xsd:restriction base="xsd:string">
			<xsd:maxLength value="1"/>
			<xsd:whiteSpace value="preserve"/>
		</xsd:restriction>
	</xsd:simpleType>
	<xsd:simpleType name="SOLD_TO_FLGTypeDef">
		<xsd:restriction base="xsd:string">
			<xsd:maxLength value="1"/>
			<xsd:whiteSpace value="preserve"/>
		</xsd:restriction>
	</xsd:simpleType>
	<xsd:simpleType name="ADDRESS_SEQ_INDTypeDef">
		<xsd:restriction base="xsd:int">
			<xsd:totalDigits value="5"/>
		</xsd:restriction>
	</xsd:simpleType>
	<xsd:simpleType name="TAXPAYER_IDTypeDef">
		<xsd:restriction base="xsd:string">
			<xsd:maxLength value="14"/>
			<xsd:whiteSpace value="preserve"/>
		</xsd:restriction>
	</xsd:simpleType>
	<xsd:simpleType name="WEB_URLTypeDef">
		<xsd:restriction base="xsd:string">
			<xsd:maxLength value="130"/>
			<xsd:whiteSpace value="preserve"/>
		</xsd:restriction>
	</xsd:simpleType>
	<xsd:simpleType name="CUST_FIELD_C10_ATypeDef">
		<xsd:restriction base="xsd:string">
			<xsd:maxLength value="10"/>
			<xsd:whiteSpace value="preserve"/>
		</xsd:restriction>
	</xsd:simpleType>
	<xsd:simpleType name="SUPPORT_TEAM_CDTypeDef">
		<xsd:restriction base="xsd:string">
			<xsd:maxLength value="6"/>
			<xsd:whiteSpace value="preserve"/>
		</xsd:restriction>
	</xsd:simpleType>
	<xsd:simpleType name="DEFAULT_FLAGTypeDef">
		<xsd:restriction base="xsd:string">
			<xsd:maxLength value="1"/>
			<xsd:whiteSpace value="preserve"/>
		</xsd:restriction>
	</xsd:simpleType>
	<xsd:simpleType name="DESCRTypeDef">
		<xsd:restriction base="xsd:string">
			<xsd:maxLength value="30"/>
			<xsd:whiteSpace value="preserve"/>
		</xsd:restriction>
	</xsd:simpleType>
	<xsd:simpleType name="BILL_TO_ADDRTypeDef">
		<xsd:restriction base="xsd:string">
			<xsd:maxLength value="1"/>
			<xsd:whiteSpace value="preserve"/>
		</xsd:restriction>
	</xsd:simpleType>
	<xsd:simpleType name="SHIP_TO_ADDRTypeDef">
		<xsd:restriction base="xsd:string">
			<xsd:maxLength value="1"/>
			<xsd:whiteSpace value="preserve"/>
		</xsd:restriction>
	</xsd:simpleType>
	<xsd:simpleType name="SOLD_TO_ADDRTypeDef">
		<xsd:restriction base="xsd:string">
			<xsd:maxLength value="1"/>
			<xsd:whiteSpace value="preserve"/>
		</xsd:restriction>
	</xsd:simpleType>
	<xsd:simpleType name="CRSPD_TO_ADDRTypeDef">
		<xsd:restriction base="xsd:string">
			<xsd:maxLength value="1"/>
			<xsd:whiteSpace value="preserve"/>
		</xsd:restriction>
	</xsd:simpleType>
	<xsd:simpleType name="PRIMARY_BILL_TOTypeDef">
		<xsd:restriction base="xsd:string">
			<xsd:maxLength value="1"/>
			<xsd:whiteSpace value="preserve"/>
		</xsd:restriction>
	</xsd:simpleType>
	<xsd:simpleType name="PRIMARY_SHIP_TOTypeDef">
		<xsd:restriction base="xsd:string">
			<xsd:maxLength value="1"/>
			<xsd:whiteSpace value="preserve"/>
		</xsd:restriction>
	</xsd:simpleType>
	<xsd:simpleType name="PRIMARY_SOLD_TOTypeDef">
		<xsd:restriction base="xsd:string">
			<xsd:maxLength value="1"/>
			<xsd:whiteSpace value="preserve"/>
		</xsd:restriction>
	</xsd:simpleType>
	<xsd:simpleType name="EFFDTTypeDef">
		<xsd:restriction base="xsd:date"/>
	</xsd:simpleType>
	<xsd:simpleType name="EFF_STATUSTypeDef">
		<xsd:restriction base="xsd:string">
			<xsd:maxLength value="1"/>
			<xsd:whiteSpace value="preserve"/>
		</xsd:restriction>
	</xsd:simpleType>
	<xsd:simpleType name="ALT_NAME1TypeDef">
		<xsd:restriction base="xsd:string">
			<xsd:maxLength value="40"/>
			<xsd:whiteSpace value="preserve"/>
		</xsd:restriction>
	</xsd:simpleType>
	<xsd:simpleType name="ALT_NAME2TypeDef">
		<xsd:restriction base="xsd:string">
			<xsd:maxLength value="40"/>
			<xsd:whiteSpace value="preserve"/>
		</xsd:restriction>
	</xsd:simpleType>
	<xsd:simpleType name="COUNTRYTypeDef">
		<xsd:restriction base="xsd:string">
			<xsd:maxLength value="3"/>
			<xsd:whiteSpace value="preserve"/>
		</xsd:restriction>
	</xsd:simpleType>
	<xsd:simpleType name="ADDRESS1TypeDef">
		<xsd:restriction base="xsd:string">
			<xsd:maxLength value="55"/>
			<xsd:whiteSpace value="preserve"/>
		</xsd:restriction>
	</xsd:simpleType>
	<xsd:simpleType name="ADDRESS2TypeDef">
		<xsd:restriction base="xsd:string">
			<xsd:maxLength value="55"/>
			<xsd:whiteSpace value="preserve"/>
		</xsd:restriction>
	</xsd:simpleType>
	<xsd:simpleType name="ADDRESS3TypeDef">
		<xsd:restriction base="xsd:string">
			<xsd:maxLength value="55"/>
			<xsd:whiteSpace value="preserve"/>
		</xsd:restriction>
	</xsd:simpleType>
	<xsd:simpleType name="ADDRESS4TypeDef">
		<xsd:restriction base="xsd:string">
			<xsd:maxLength value="55"/>
			<xsd:whiteSpace value="preserve"/>
		</xsd:restriction>
	</xsd:simpleType>
	<xsd:simpleType name="CITYTypeDef">
		<xsd:restriction base="xsd:string">
			<xsd:maxLength value="30"/>
			<xsd:whiteSpace value="preserve"/>
		</xsd:restriction>
	</xsd:simpleType>
	<xsd:simpleType name="COUNTYTypeDef">
		<xsd:restriction base="xsd:string">
			<xsd:maxLength value="30"/>
			<xsd:whiteSpace value="preserve"/>
		</xsd:restriction>
	</xsd:simpleType>
	<xsd:simpleType name="STATETypeDef">
		<xsd:restriction base="xsd:string">
			<xsd:maxLength value="6"/>
			<xsd:whiteSpace value="preserve"/>
		</xsd:restriction>
	</xsd:simpleType>
	<xsd:simpleType name="POSTALTypeDef">
		<xsd:restriction base="xsd:string">
			<xsd:maxLength value="12"/>
			<xsd:whiteSpace value="preserve"/>
		</xsd:restriction>
	</xsd:simpleType>
	<xsd:simpleType name="PHONETypeDef">
		<xsd:restriction base="xsd:string">
			<xsd:maxLength value="24"/>
			<xsd:whiteSpace value="preserve"/>
		</xsd:restriction>
	</xsd:simpleType>
	<xsd:simpleType name="EXTENSIONTypeDef">
		<xsd:restriction base="xsd:string">
			<xsd:maxLength value="6"/>
			<xsd:whiteSpace value="preserve"/>
		</xsd:restriction>
	</xsd:simpleType>
	<xsd:simpleType name="FAXTypeDef">
		<xsd:restriction base="xsd:string">
			<xsd:maxLength value="24"/>
			<xsd:whiteSpace value="preserve"/>
		</xsd:restriction>
	</xsd:simpleType>
	<xsd:simpleType name="COLLECTORTypeDef">
		<xsd:restriction base="xsd:string">
			<xsd:maxLength value="8"/>
			<xsd:whiteSpace value="preserve"/>
		</xsd:restriction>
	</xsd:simpleType>
	<xsd:simpleType name="CR_ANALYSTTypeDef">
		<xsd:restriction base="xsd:string">
			<xsd:maxLength value="8"/>
			<xsd:whiteSpace value="preserve"/>
		</xsd:restriction>
	</xsd:simpleType>
	<xsd:simpleType name="CR_LIMITTypeDef">
		<xsd:restriction base="xsd:decimal">
			<xsd:fractionDigits value="3"/>
			<xsd:totalDigits value="28"/>
		</xsd:restriction>
	</xsd:simpleType>
	<xsd:simpleType name="CREDIT_CHECKTypeDef">
		<xsd:restriction base="xsd:string">
			<xsd:maxLength value="1"/>
			<xsd:whiteSpace value="preserve"/>
		</xsd:restriction>
	</xsd:simpleType>
</xsd:schema>
