ReciboCAT/Desarrollo/ServicioCallRControl/InvoiceOrchestratorService/Shared Resources/Schema/Acreedores/AddendaComercioInternacional.xsd

<!-- edited with XMLSpy v2011 sp1 (http://www.altova.com) by End User (free.org) -->
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" elementFormDefault="qualified" attributeFormDefault="unqualified">
	<xs:element name="Com_Int">
		<xs:annotation>
			<xs:documentation>Nodo requerido para expresar la informacion relacionada a una factura de Agente Aduanal.</xs:documentation>
		</xs:annotation>
		<xs:complexType>
			<xs:sequence>
				<xs:element name="Departamentos" maxOccurs="unbounded">
					<xs:annotation>
						<xs:documentation>Nodo opcional para referir las Facturas de Terceros relacionadas a la factura</xs:documentation>
					</xs:annotation>
					<xs:complexType>
						<xs:attribute name="Depto" type="xs:string">
							<xs:annotation>
								<xs:documentation>Atributo Indica el numero de departamento de HEB de la mercancia importada</xs:documentation>
							</xs:annotation>
						</xs:attribute>
					</xs:complexType>
				</xs:element>
				<xs:element name="TipoMercancia" maxOccurs="unbounded">
					<xs:annotation>
						<xs:documentation>Nodo opcional para referir El tipo de Mercancia que se importa</xs:documentation>
					</xs:annotation>
					<xs:complexType>
						<xs:attribute name="Tipo" type="xs:string">
							<xs:annotation>
								<xs:documentation>Atributo Indica el tipo de mercancia que se importada</xs:documentation>
							</xs:annotation>
						</xs:attribute>
					</xs:complexType>
				</xs:element>
				<xs:element name="Pedimentos">
					<xs:annotation>
						<xs:documentation>Nodo opcional para referir los Pedimentos relacionados a la factura</xs:documentation>
					</xs:annotation>
					<xs:complexType>
						<xs:sequence>
							<xs:element name="Pedimento" maxOccurs="unbounded">
								<xs:annotation>
									<xs:documentation>Nodo opcional para referir la informacion del Pedimento</xs:documentation>
								</xs:annotation>
								<xs:complexType>
									<xs:sequence>
										<xs:element name="Proveedores" maxOccurs="unbounded">
											<xs:annotation>
												<xs:documentation>Nodo opcional para referir al/los proveedores de las facturas y sus de COVES</xs:documentation>
											</xs:annotation>
											<xs:complexType>
												<xs:sequence>
													<xs:element name="Coves" maxOccurs="unbounded">
														<xs:annotation>
															<xs:documentation>Nodo opcional para referir los numeros de COVES y las Facturas del Proveedor asociadas</xs:documentation>
														</xs:annotation>
														<xs:complexType>
															<xs:attribute name="NumCove" use="required">
																<xs:annotation>
																	<xs:documentation>Atributo Requerido Indica el ID del COVE</xs:documentation>
																</xs:annotation>
																<xs:simpleType>
																	<xs:restriction base="xs:string">
																		<xs:whiteSpace value="collapse"/>
																	</xs:restriction>
																</xs:simpleType>
															</xs:attribute>
															<xs:attribute name="Fac_Importada" use="required">
																<xs:annotation>
																	<xs:documentation>Atributo Requerido Indica el Numero de factura del proveedor que esta relacionada con el COVE </xs:documentation>
																</xs:annotation>
																<xs:simpleType>
																	<xs:restriction base="xs:string">
																		<xs:whiteSpace value="collapse"/>
																	</xs:restriction>
																</xs:simpleType>
															</xs:attribute>
															<xs:attribute name="Monto" use="required">
																<xs:annotation>
																	<xs:documentation>Atributo Requerido Indica el valor en dolares de la Factura del Proveedor</xs:documentation>
																</xs:annotation>
																<xs:simpleType>
																	<xs:restriction base="xs:decimal">
																		<xs:fractionDigits value="4"/>
																		<xs:whiteSpace value="collapse"/>
																	</xs:restriction>
																</xs:simpleType>
															</xs:attribute>
														</xs:complexType>
													</xs:element>
												</xs:sequence>
												<xs:attribute name="Nombre" use="required">
													<xs:annotation>
														<xs:documentation>Atributo Requerido Indica Nombre del proveedor de la mercancia</xs:documentation>
													</xs:annotation>
													<xs:simpleType>
														<xs:restriction base="xs:string">
															<xs:whiteSpace value="collapse"/>
														</xs:restriction>
													</xs:simpleType>
												</xs:attribute>
											</xs:complexType>
										</xs:element>
										<xs:element name="Liquidaciones" maxOccurs="unbounded">
											<xs:annotation>
												<xs:documentation>Nodo opcional para referir los conceptos de Liquidacion</xs:documentation>
											</xs:annotation>
											<xs:complexType>
												<xs:attribute name="concepto" type="xs:string" use="required"/>
												<xs:attribute name="Importe" use="required">
													<xs:annotation>
														<xs:documentation>Atributo para expresar importes numéricos con fracción hasta 4 decimales</xs:documentation>
													</xs:annotation>
													<xs:simpleType>
														<xs:restriction base="xs:decimal">
															<xs:fractionDigits value="4"/>
															<xs:whiteSpace value="collapse"/>
														</xs:restriction>
													</xs:simpleType>
												</xs:attribute>
											</xs:complexType>
										</xs:element>
										<xs:element name="Contenedores" maxOccurs="unbounded">
											<xs:annotation>
												<xs:documentation>Nodo para referir los tipo de contenedor y/o CAJA y su identificador</xs:documentation>
											</xs:annotation>
											<xs:complexType>
												<xs:attribute name="Tipo" type="xs:string" use="required"/>
												<xs:attribute name="Identificador" use="required">
													<xs:annotation>
														<xs:documentation>Atributo para expresar el identificador de la Caja o Contenedor</xs:documentation>
													</xs:annotation>
												</xs:attribute>
											</xs:complexType>
										</xs:element>
										<xs:element name="OC_Maway" maxOccurs="unbounded">
											<xs:annotation>
												<xs:documentation>Nodo opcional para mencionar el numero de Orden de compra o Maway</xs:documentation>
											</xs:annotation>
											<xs:complexType>
												<xs:attribute name="OC">
													<xs:annotation>
														<xs:documentation>Atributo Indica el numero de departamento de HEB de la mercancia importada</xs:documentation>
													</xs:annotation>
												</xs:attribute>
											</xs:complexType>
										</xs:element>
									</xs:sequence>
									<xs:attribute name="NumPed" use="required">
										<xs:annotation>
											<xs:documentation>Atributo Requerido Indica el Numero de Pedimento</xs:documentation>
										</xs:annotation>
										<xs:simpleType>
											<xs:restriction base="xs:string">
												<xs:whiteSpace value="collapse"/>
											</xs:restriction>
										</xs:simpleType>
									</xs:attribute>
									<xs:attribute name="Clave" use="required">
										<xs:annotation>
											<xs:documentation>Atributo Requerido Indica la Clave del Pedimento</xs:documentation>
										</xs:annotation>
										<xs:simpleType>
											<xs:restriction base="xs:string">
												<xs:whiteSpace value="collapse"/>
											</xs:restriction>
										</xs:simpleType>
									</xs:attribute>
									<xs:attribute name="TipOp" use="required">
										<xs:annotation>
											<xs:documentation>Atributo Requerido Indica el tipo de Operacion del Pedimento</xs:documentation>
										</xs:annotation>
										<xs:simpleType>
											<xs:restriction base="xs:string">
												<xs:whiteSpace value="collapse"/>
											</xs:restriction>
										</xs:simpleType>
									</xs:attribute>
									<xs:attribute name="FechaPago" use="required">
										<xs:annotation>
											<xs:documentation>Atributo Requerido Indica la Fecha de Pago del Pedimento</xs:documentation>
										</xs:annotation>
										<xs:simpleType>
											<xs:restriction base="xs:dateTime">
												<xs:whiteSpace value="collapse"/>
											</xs:restriction>
										</xs:simpleType>
									</xs:attribute>
									<xs:attribute name="PedOrig">
										<xs:annotation>
											<xs:documentation>Atributo Opcional Indica el Numero de Pedimento en caso de que la clave sea R1</xs:documentation>
										</xs:annotation>
										<xs:simpleType>
											<xs:restriction base="xs:string">
												<xs:whiteSpace value="collapse"/>
											</xs:restriction>
										</xs:simpleType>
									</xs:attribute>
									<xs:attribute name="Valor_dolares" use="required">
										<xs:annotation>
											<xs:documentation>Atributo Requerido Indica el valor en dolares de la mercancia importada</xs:documentation>
										</xs:annotation>
										<xs:simpleType>
											<xs:restriction base="xs:decimal">
												<xs:fractionDigits value="4"/>
												<xs:whiteSpace value="collapse"/>
											</xs:restriction>
										</xs:simpleType>
									</xs:attribute>
									<xs:attribute name="Valor_aduana" use="required">
										<xs:annotation>
											<xs:documentation>Atributo Requerido Indica el valor de aduana de la mercacia importada</xs:documentation>
										</xs:annotation>
										<xs:simpleType>
											<xs:restriction base="xs:decimal">
												<xs:fractionDigits value="4"/>
												<xs:whiteSpace value="collapse"/>
											</xs:restriction>
										</xs:simpleType>
									</xs:attribute>
									<xs:attribute name="FechaCruce" use="required">
										<xs:annotation>
											<xs:documentation>Atributo Requerido Indica la fecha de Cruce del Pedimento</xs:documentation>
										</xs:annotation>
										<xs:simpleType>
											<xs:restriction base="xs:date">
												<xs:whiteSpace value="collapse"/>
											</xs:restriction>
										</xs:simpleType>
									</xs:attribute>
									<xs:attribute name="Rate" use="required">
										<xs:annotation>
											<xs:documentation>Atributo Requerido Indica el tipo de Cambio Pedimento</xs:documentation>
										</xs:annotation>
										<xs:simpleType>
											<xs:restriction base="xs:decimal">
												<xs:fractionDigits value="4"/>
												<xs:whiteSpace value="collapse"/>
											</xs:restriction>
										</xs:simpleType>
									</xs:attribute>
								</xs:complexType>
							</xs:element>
						</xs:sequence>
					</xs:complexType>
				</xs:element>
				<xs:element name="FacturaTercero" minOccurs="0" maxOccurs="unbounded">
					<xs:annotation>
						<xs:documentation>Nodo opcional para referir las Facturas de Terceros relacionadas a la factura</xs:documentation>
					</xs:annotation>
					<xs:complexType>
						<xs:attribute name="rfc" use="required">
							<xs:annotation>
								<xs:documentation>Atributo Indica el RFC del tercero</xs:documentation>
							</xs:annotation>
							<xs:simpleType>
								<xs:restriction base="xs:string">
									<xs:minLength value="12"/>
									<xs:maxLength value="13"/>
									<xs:whiteSpace value="collapse"/>
									<xs:pattern value="[A-Z,Ñ,&amp;]{3,4}[0-9]{2}[0-1][0-9][0-3][0-9][A-Z,0-9]?[A-Z,0-9]?[0-9,A-Z]?"/>
								</xs:restriction>
							</xs:simpleType>
						</xs:attribute>
						<xs:attribute name="Serie">
							<xs:annotation>
								<xs:documentation>Atributo Indica la serie de la factura</xs:documentation>
							</xs:annotation>
						</xs:attribute>
						<xs:attribute name="Folio">
							<xs:annotation>
								<xs:documentation>Atributo Indica el Folio de la factura</xs:documentation>
							</xs:annotation>
						</xs:attribute>
						<xs:attribute name="UUID">
							<xs:annotation>
								<xs:documentation>Atributo para expresar los 36 caracteres del UUID de la transacción de timbrado</xs:documentation>
							</xs:annotation>
							<xs:simpleType>
								<xs:restriction base="xs:string">
									<xs:whiteSpace value="collapse"/>
									<xs:length value="36"/>
									<xs:pattern value="[a-f0-9A-F]{8}-[a-f0-9A-F]{4}-[a-f0-9A-F]{4}-[a-f0-9A-F]{4}-[a-f0-9A-F]{12}"/>
								</xs:restriction>
							</xs:simpleType>
						</xs:attribute>
						<xs:attribute name="FechaFactura" use="required">
							<xs:annotation>
								<xs:documentation>Atributo Indica la fecha de emision de la factura</xs:documentation>
							</xs:annotation>
						</xs:attribute>
						<xs:attribute name="Total" use="required">
							<xs:annotation>
								<xs:documentation>Atributo Indica el total de la factura</xs:documentation>
							</xs:annotation>
						</xs:attribute>
					</xs:complexType>
				</xs:element>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
</xs:schema>
