RTSales/Varios/WebClockClient_Development_Desarrollo/Shared Resources/Schema Definitions/Custom/GetPartnerDetails_Request.xsd

<?xml version="1.0" encoding="UTF-8"?>

<xsd:schema xmlns="http://xmlns.heb.com/ei/WebClock4Kronos/GetPartnerDetails_Request"
	 xmlns:xsd="http://www.w3.org/2001/XMLSchema"
	 targetNamespace="http://xmlns.heb.com/ei/WebClock4Kronos/GetPartnerDetails_Request"
	 elementFormDefault="qualified"
	 attributeFormDefault="unqualified">
	<xsd:element name="GetPartnerDetails_Request">
		<xsd:complexType>
			<xsd:sequence>
				<xsd:element name="PartnerId" type="xsd:string"/>
				<xsd:element name="StoreId" type="xsd:string"/>
			</xsd:sequence>
		</xsd:complexType>
	</xsd:element>
</xsd:schema>