RTSales/Varios/WebClockClient_Development_Desarrollo/Shared Resources/Schema Definitions/Custom/GetServerTime_Request.xsd

<?xml version="1.0" encoding="UTF-8"?>
<!-- edited with XMLSpy v2011 sp1 (http://www.altova.com) by End User (free.org) -->
<xsd:schema xmlns="http://xmlns.heb.com/ei/WebClock4Kronos/GetServerTime_Request" xmlns:xsd="http://www.w3.org/2001/XMLSchema" targetNamespace="http://xmlns.heb.com/ei/WebClock4Kronos/GetServerTime_Request" elementFormDefault="qualified" attributeFormDefault="unqualified">
	<xsd:element name="GetServerTime_Request">
		<xsd:complexType>
			<xsd:sequence>
				<xsd:element name="DeviceId" type="xsd:string"/>
				<xsd:element name="StoreId" type="xsd:string"/>
			</xsd:sequence>
		</xsd:complexType>
	</xsd:element>
</xsd:schema>
