RTSales/Varios/WebClockClient_Development_Desarrollo/Shared Resources/Schema Definitions/Custom/ProcessPartnerTransfer_Reply.xsd

<?xml version="1.0" encoding="UTF-8"?>

<xsd:schema xmlns="http://xmlns.heb.com/ei/WebClock4Kronos/ProcessPartnerTransfer_Reply"
	 xmlns:xsd="http://www.w3.org/2001/XMLSchema"
	 targetNamespace="http://xmlns.heb.com/ei/WebClock4Kronos/ProcessPartnerTransfer_Reply"
	 elementFormDefault="qualified"
	 attributeFormDefault="unqualified">
	<xsd:element name="ProcessPartnerTransfer_Reply">
		<xsd:complexType>
			<xsd:sequence>
				<xsd:element name="IsRecordSuccessful" type="xsd:string"/>
				<xsd:element name="Message" type="xsd:string"/>
				</xsd:sequence>
		</xsd:complexType>
	</xsd:element>
</xsd:schema>