RTSales/Varios/WebClockClient_Development_Desarrollo/Shared Resources/Schema Definitions/Custom/ValidatePartnerEnrrolle_Reply.xsd

<?xml version="1.0" encoding="UTF-8"?>

<xsd:schema xmlns="http://xmlns.heb.com/ei/WebClock4Kronos/ValidatePartnerEnrrolle_Reply"
	 xmlns:xsd="http://www.w3.org/2001/XMLSchema"
	 targetNamespace="http://xmlns.heb.com/ei/WebClock4Kronos/ValidatePartnerEnrrolle_Reply"
	 elementFormDefault="qualified"
	 attributeFormDefault="unqualified">
	<xsd:element name="ValidatePartnerEnrrolle_Reply">
		<xsd:complexType>
			<xsd:sequence>
				<xsd:element name="Result" type="xsd:string"/>
                                      <xsd:element name="Socio_Nombre" type="xsd:string"/>
			</xsd:sequence>
		</xsd:complexType>
	</xsd:element>
</xsd:schema>