HEBSeller/Desarrollo/PASADOS/MagentoToPos_Service/Shared Resources/Schema Definitions/Custom/Web_Order.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:ns0="http://www.heb.com/web_order" targetNamespace="http://www.heb.com/web_order" elementFormDefault="qualified" attributeFormDefault="unqualified">
	<xs:element name="WebOrder" type="ns0:WebOrder"/>
	<xs:element name="WebOrderReceipt" type="ns0:WebOrderReceipt"/>
	<xs:complexType name="WebOrderReceipt">
		<xs:sequence>
			<xs:element name="Header" type="ns0:WebOrderReceiptHeader"/>
			<xs:element name="LineItems" type="ns0:ReceiptLineItems" minOccurs="0"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="WebOrder">
		<xs:sequence>
			<xs:element name="Header" type="ns0:WebOrderHeader"/>
			<xs:element name="Payments" type="ns0:PaymentInformation" minOccurs="0"/>
			<xs:element name="LineItems" type="ns0:LineItems"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="WebOrderHeader">
		<xs:sequence>
			<xs:element name="Version" type="xs:string"/>
			<xs:element name="WebOrderId" type="ns0:AtgIdType"/>
			<xs:element name="RequestedTS" type="xs:string"/>
			<xs:element name="StoreId" type="ns0:StoreIdType" minOccurs="0"/>
			<xs:element name="VirtualStoreId" type="ns0:StoreIdType" minOccurs="0"/>
			<xs:element name="COMSFulfillmentOrderId" type="xs:string"/>
			<xs:element name="SupplierLocTypeCode" type="ns0:SupplierLocTypeCodeEnum"/>
			<xs:element name="SupplierLocId" type="xs:string"/>
			<xs:element name="ShipmentId" type="xs:string" minOccurs="0"/>
			<xs:element name="ShipmentTS" type="xs:string" minOccurs="0"/>
			<xs:element name="OrderTotal" type="ns0:NonNegativeDouble"/>
			<xs:element name="TaxExempt" type="ns0:BooleanInt" minOccurs="0"/>
			<xs:element name="TaxTotal" type="ns0:NonNegativeDouble" minOccurs="0"/>
			<xs:element name="ATGProfileId" type="xs:string"/>
			<xs:element name="FulfillmentMode" type="ns0:FulfillmentModeEnum"/>
			<xs:element name="TransactionType" type="ns0:TransactionEnum"/>
			<xs:element name="billingCustomerPhoneNumber" type="xs:string" minOccurs="0"/>
			<xs:element name="billingCustomerEmailId" type="xs:string" minOccurs="0"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="WebOrderReceiptHeader">
		<xs:sequence>
			<xs:element name="Version" type="xs:string"/>
			<xs:element name="POSOrderId" type="ns0:POSOrderIdType" minOccurs="0"/>
			<xs:element name="WebOrderId" type="xs:string"/>
			<xs:element name="RequestedTS" type="xs:dateTime"/>
			<xs:element name="StoreId" type="ns0:StoreIdType" minOccurs="0"/>
			<xs:element name="VirtualStoreId" type="ns0:StoreIdType" minOccurs="0"/>
			<xs:element name="COMSFulfillmentOrderId" type="xs:string"/>
			<xs:element name="SupplierLocTypeCode" type="ns0:SupplierLocTypeCodeEnum" minOccurs="0"/>
			<xs:element name="SupplierLocId" type="xs:string" minOccurs="0"/>
			<xs:element name="ShipmentId" type="xs:string" minOccurs="0"/>
			<xs:element name="ShipmentTS" type="xs:dateTime" minOccurs="0"/>
			<xs:element name="Status" type="ns0:POSStatusType"/>
			<xs:element name="ReasonCode" type="xs:integer" minOccurs="0"/>
			<xs:element name="ErrorMessage" type="xs:string" minOccurs="0"/>
			<xs:element name="ReceiptNo" type="ns0:ReceiptType" minOccurs="0"/>
		</xs:sequence>
	</xs:complexType>
	<xs:simpleType name="SupplierLocTypeCodeEnum">
		<xs:annotation>
			<xs:documentation>Defines Supplier Location Type Codes W - Warehouse/EDC, S - Store, V - Vendor
			</xs:documentation>
		</xs:annotation>
		<xs:restriction base="xs:string">
			<xs:enumeration value="W"/>
			<xs:enumeration value="S"/>
			<xs:enumeration value="V"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="AtgIdType">
		<xs:restriction base="xs:string">
			<xs:maxLength value="40"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="StoreIdType">
		<xs:restriction base="xs:string">
			<xs:pattern value="[0-9]{5}"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:complexType name="LineItem">
		<xs:sequence>
			<xs:element name="ItemSeqNumber" type="xs:string"/>
			<xs:element name="UPC" type="ns0:UPCType" minOccurs="0"/>
			<xs:element name="PSSDepartment" type="ns0:NonNegativeLong" minOccurs="0"/>
			<xs:element name="UnitPrice" type="ns0:NonNegativeDouble" minOccurs="0"/>
			<xs:element name="UOM" type="ns0:UOMType" minOccurs="0"/>
			<xs:element name="Quantity" type="ns0:NonNegativeDouble" minOccurs="0"/>
			<xs:element name="Discounts" type="ns0:Discounts" minOccurs="0"/>
			<xs:element name="Tax" type="ns0:TaxingInfo" minOccurs="0"/>
			<xs:element name="RxRewardsConfirmationNumber" type="xs:string" minOccurs="0"/>
			<xs:element name="PartnerId" type="xs:string" minOccurs="0"/>
			<xs:element name="ModeOfEntry" type="ns0:ModeOfEntryEnum" minOccurs="0"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="Discounts">
		<xs:sequence>
			<xs:element name="Discount" type="ns0:Discount" maxOccurs="unbounded"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="Discount">
		<xs:sequence>
			<xs:element name="OfferType" type="xs:string"/>
			<xs:element name="OfferId" type="xs:string"/>
			<xs:element name="OrderLevelDiscountFlag" type="ns0:BooleanInt"/>
			<xs:element name="DiscountAmount" type="ns0:NonNegativeDouble"/>
			<xs:element name="ChargeBackAccount" type="ns0:CBAType"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="ReceiptLineItem">
		<xs:sequence>
			<xs:element name="ItemSeqNumber" type="xs:string"/>
			<xs:element name="UPC" type="ns0:UPCType" minOccurs="0"/>
			<xs:element name="Status" type="ns0:UPCStatusType"/>
			<xs:element name="Description" type="ns0:PayloadType" minOccurs="0"/>
			<xs:element name="PSSDepartment" type="ns0:NonNegativeLong" minOccurs="0"/>
			<xs:element name="Quantity" type="ns0:NonNegativeDouble" minOccurs="0"/>
			<xs:element name="UnitPrice" type="ns0:NonNegativeDouble" minOccurs="0"/>
			<xs:element name="Tax" type="ns0:TaxingInfo" minOccurs="0"/>
			<xs:element name="RxRewardsConfirmationNumber" type="xs:string" minOccurs="0"/>
			<xs:element name="ReasonCode" type="ns0:ReasonType" minOccurs="0"/>
			<xs:element name="ErrorMessage" type="xs:string" minOccurs="0"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="TaxingInfo">
		<xs:sequence>
			<xs:element name="EstimatedTax" type="ns0:NonNegativeDouble"/>
			<xs:element name="EstimatedTaxRate" type="ns0:NonNegativeDouble"/>
			<xs:element name="FinalTax" type="ns0:NonNegativeDouble"/>
			<xs:element name="FinalTaxRate" type="ns0:NonNegativeDouble"/>
			<xs:element name="TaxCharged" type="ns0:NonNegativeDouble"/>
			<xs:element name="TaxFlag" type="ns0:BooleanInt"/>
		</xs:sequence>
	</xs:complexType>
	<xs:simpleType name="UPCType">
		<xs:restriction base="xs:string">
			<xs:pattern value="[0-9]{1,17}"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="UOMType">
		<xs:restriction base="xs:string">
			<xs:maxLength value="12"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="NonNegativeDouble">
		<xs:restriction base="xs:double">
			<xs:minInclusive value="0.00"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="NonNegativeLong">
		<xs:restriction base="xs:long">
			<xs:minInclusive value="0"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="BooleanInt">
		<xs:restriction base="xs:int">
			<xs:pattern value="[0-1]"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="CBAType">
		<xs:restriction base="xs:string">
			<xs:pattern value="[0-9]{4}"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:complexType name="PaymentInformation">
		<xs:annotation>
			<xs:documentation>
				This contains the allocation of payment across all
				the payment options.
				It contains a primary charge ( choice of CC,
				checking account, etc. ) and optional
				list of gift cards and rewards.
				If optional payment items are provided they will be applied prior to
				any charge to the
				primary payment option.
			</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="Payment" type="ns0:PaymentInstrument" maxOccurs="unbounded"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="PaymentInstrument">
		<xs:sequence>
			<xs:element name="Status" type="xs:string"/>
			<xs:element name="Method" type="xs:string"/>
			<xs:element name="CardType" type="xs:string"/>
			<xs:element name="TenderType" type="xs:integer"/>
			<xs:element name="Authorization" type="ns0:PaymentAuthorization"/>
			<xs:element name="TransactionID" type="xs:string"/>
			<xs:element name="Amount" type="xs:double"/>
			<xs:element name="Name" type="xs:string" minOccurs="0"/>
			<xs:element name="ReferenceNumber" minOccurs="0">
				<xs:simpleType>
					<xs:restriction base="xs:string"/>
				</xs:simpleType>
			</xs:element>
			<xs:element name="MaskedCardNumber" minOccurs="0">
				<xs:simpleType>
					<xs:restriction base="xs:string"/>
				</xs:simpleType>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="PaymentAuthorization">
		<xs:annotation>
			<xs:documentation>Contains the results of a payment request. All
				fields required for non-zero authorization amounts.
			</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="Type" type="xs:string"/>
		</xs:sequence>
	</xs:complexType>
	<xs:simpleType name="PaymentModeEnum">
		<xs:annotation>
			<xs:documentation>Defines different modes of payments for
				transactions for heb Online.
			</xs:documentation>
		</xs:annotation>
		<xs:restriction base="xs:string">
			<xs:enumeration value="CREDIT_CARD"/>
			<xs:enumeration value="GIFT_CARD"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="PaymentCardTypeEnum">
		<xs:annotation>
			<xs:documentation>Defines Credit and Gift card types used for payment
			</xs:documentation>
		</xs:annotation>
		<xs:restriction base="xs:string">
			<xs:enumeration value="MASTER"/>
			<xs:enumeration value="VISA"/>
			<xs:enumeration value="AMERICAN_EXPRESS"/>
			<xs:enumeration value="DISCOVER"/>
			<xs:enumeration value="E_GIFT_CARD"/>
			<xs:enumeration value="PHYSICAL_GIFT_CARD"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="PaymentAuthType">
		<xs:annotation>
			<xs:documentation>Defines different types of authorization
			</xs:documentation>
		</xs:annotation>
		<xs:restriction base="xs:string">
			<xs:enumeration value="PRE_AUTH"/>
			<xs:enumeration value="AUTH"/>
			<xs:enumeration value="POST_AUTH"/>
			<xs:enumeration value="HOLD"/>
			<xs:enumeration value="COMPLETION"/>
			<xs:enumeration value="REFUND"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="PaymentStatusEnum">
		<xs:annotation>
			<xs:documentation>Defines the status of the payment process.
			</xs:documentation>
		</xs:annotation>
		<xs:restriction base="xs:string">
			<xs:enumeration value="APPROVED"/>
			<xs:enumeration value="DECLINED"/>
			<xs:enumeration value="TIMED_OUT"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:complexType name="LineItems">
		<xs:annotation>
			<xs:documentation>
				Contains the details of each Line Item in the order
				relevant to POS
			</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="LineItem" type="ns0:LineItem" maxOccurs="unbounded"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="ReceiptLineItems">
		<xs:annotation>
			<xs:documentation>
				Contains the details of each Line Item in the order
				relevant to POS
			</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="LineItem" type="ns0:ReceiptLineItem" maxOccurs="unbounded"/>
		</xs:sequence>
	</xs:complexType>
	<!-- All receipt related elements -->
	<xs:simpleType name="ReceiptType">
		<xs:restriction base="xs:string">
			<xs:pattern value="[0-9]{23}"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="POSOrderIdType">
		<xs:restriction base="xs:string">
			<xs:pattern value="[0-9]{6}"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="POSStatusType">
		<xs:restriction base="xs:string">
			<xs:enumeration value="ERR"/>
			<xs:enumeration value="XPE"/>
			<xs:enumeration value="APP"/>
			<xs:enumeration value="SNF"/>
			<xs:enumeration value="MTE"/>
			<xs:enumeration value="OTE"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="UPCStatusType">
		<xs:restriction base="xs:string">
			<xs:enumeration value="NOF"/>
			<xs:enumeration value="OOB"/>
			<xs:enumeration value="DNF"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="ReasonType">
		<xs:restriction base="xs:string">
			<xs:maxLength value="5"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="PayloadType">
		<xs:restriction base="xs:string">
			<xs:maxLength value="2000"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="FulfillmentModeEnum">
		<xs:annotation>
			<xs:documentation>Defines list of fulfillment options</xs:documentation>
		</xs:annotation>
		<xs:restriction base="xs:string">
			<xs:enumeration value="ISS"/>
			<xs:enumeration value="HD"/>
			<xs:enumeration value="STS"/>
			<xs:enumeration value="STH"/>
			<xs:enumeration value="DSV"/>
			<xs:enumeration value="ISSX"/>
			<xs:enumeration value="ISP"/>
			<xs:enumeration value="ISSCM"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="ModeOfEntryEnum">
		<xs:annotation>
			<xs:documentation>Defines list of entry mode options</xs:documentation>
		</xs:annotation>
		<xs:restriction base="xs:string">
			<xs:enumeration value="SCANNED"/>
			<xs:enumeration value="KEYED IN"/>
			<xs:enumeration value="SPEED_KEYED_IN"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="TransactionEnum">
		<xs:annotation>
			<xs:documentation>Defines list of transaction options</xs:documentation>
		</xs:annotation>
		<xs:restriction base="xs:string">
			<xs:enumeration value="SALE"/>
			<xs:enumeration value="RETURN"/>
		</xs:restriction>
	</xs:simpleType>
</xs:schema>
