Upgrade Logix/Desarrollo/HebcardCustomerGroupToLogix/Shared Resources/WSDL/LogixGroupManagement.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<wsdl:definitions xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:tm="http://microsoft.com/wsdl/mime/textMatching/" xmlns:s="http://www.w3.org/2001/XMLSchema" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" xmlns:tns="http://www.copienttech.com/LogixGroupManagement/" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" targetNamespace="http://www.copienttech.com/LogixGroupManagement/">
    <wsdl:types>
        <s:schema elementFormDefault="qualified" targetNamespace="http://www.copienttech.com/LogixGroupManagement/">
            <s:element name="ProcessCardInCustGroupByExtGrpID">
                <s:complexType>
                    <s:sequence>
                        <s:element minOccurs="0" maxOccurs="1" name="GUID" type="s:string"/>
                        <s:element minOccurs="0" maxOccurs="1" name="ExtGroupID" type="s:string"/>
                        <s:element minOccurs="0" maxOccurs="1" name="GroupName" type="s:string"/>
                        <s:element minOccurs="0" maxOccurs="1" name="ExtCardId" type="s:string"/>
                        <s:element minOccurs="0" maxOccurs="1" name="CardTypeID" type="s:string"/>
                        <s:element minOccurs="0" maxOccurs="1" name="OperationType" type="s:string"/>
                    </s:sequence>
                </s:complexType>
            </s:element>
            <s:element name="ProcessCardInCustGroupByExtGrpIDResponse">
                <s:complexType>
                    <s:sequence>
                        <s:element minOccurs="0" maxOccurs="1" name="ProcessCardInCustGroupByExtGrpIDResult">
                            <s:complexType>
                                <s:sequence>
                                    <s:element ref="s:schema"/>
                                    <s:any/>
                                </s:sequence>
                            </s:complexType>
                        </s:element>
                    </s:sequence>
                </s:complexType>
            </s:element>
            <s:element name="ProcessCardInCustGroupByLogixID">
                <s:complexType>
                    <s:sequence>
                        <s:element minOccurs="0" maxOccurs="1" name="GUID" type="s:string"/>
                        <s:element minOccurs="0" maxOccurs="1" name="GroupID" type="s:string"/>
                        <s:element minOccurs="0" maxOccurs="1" name="GroupName" type="s:string"/>
                        <s:element minOccurs="0" maxOccurs="1" name="ExtCardId" type="s:string"/>
                        <s:element minOccurs="0" maxOccurs="1" name="CardTypeID" type="s:string"/>
                        <s:element minOccurs="0" maxOccurs="1" name="OperationType" type="s:string"/>
                    </s:sequence>
                </s:complexType>
            </s:element>
            <s:element name="ProcessCardInCustGroupByLogixIDResponse">
                <s:complexType>
                    <s:sequence>
                        <s:element minOccurs="0" maxOccurs="1" name="ProcessCardInCustGroupByLogixIDResult">
                            <s:complexType>
                                <s:sequence>
                                    <s:element ref="s:schema"/>
                                    <s:any/>
                                </s:sequence>
                            </s:complexType>
                        </s:element>
                    </s:sequence>
                </s:complexType>
            </s:element>
            <s:element name="ProcessMultipleCardsInCustGroupByExtGrpID">
                <s:complexType>
                    <s:sequence>
                        <s:element minOccurs="0" maxOccurs="1" name="GUID" type="s:string"/>
                        <s:element minOccurs="0" maxOccurs="1" name="CustomerXML" type="s:string"/>
                    </s:sequence>
                </s:complexType>
            </s:element>
            <s:element name="ProcessMultipleCardsInCustGroupByExtGrpIDResponse">
                <s:complexType>
                    <s:sequence>
                        <s:element minOccurs="0" maxOccurs="1" name="ProcessMultipleCardsInCustGroupByExtGrpIDResult">
                            <s:complexType>
                                <s:sequence>
                                    <s:element ref="s:schema"/>
                                    <s:any/>
                                </s:sequence>
                            </s:complexType>
                        </s:element>
                    </s:sequence>
                </s:complexType>
            </s:element>
            <s:element name="ProcessMultipleCardsInCustGroupByLogixID">
                <s:complexType>
                    <s:sequence>
                        <s:element minOccurs="0" maxOccurs="1" name="GUID" type="s:string"/>
                        <s:element minOccurs="0" maxOccurs="1" name="CustomerXML" type="s:string"/>
                    </s:sequence>
                </s:complexType>
            </s:element>
            <s:element name="ProcessMultipleCardsInCustGroupByLogixIDResponse">
                <s:complexType>
                    <s:sequence>
                        <s:any minOccurs="0" maxOccurs="1" processContents="skip">
                            <s:annotation>
                                <s:appinfo>
                                    <s:complexType name="ProcessMultipleCardsInCustGroupByLogixIDResult">
                                        <s:sequence>
                                            <s:element ref="s:schema"/>
                                            <s:any/>
                                        </s:sequence>
                                    </s:complexType>
                                </s:appinfo>
                            </s:annotation>
                        </s:any>
                    </s:sequence>
                </s:complexType>
            </s:element>
            <s:element name="ProcessLocInLocGroupByExtGrpID">
                <s:complexType>
                    <s:sequence>
                        <s:element minOccurs="0" maxOccurs="1" name="GUID" type="s:string"/>
                        <s:element minOccurs="0" maxOccurs="1" name="EXTGroupID" type="s:string"/>
                        <s:element minOccurs="0" maxOccurs="1" name="Name" type="s:string"/>
                        <s:element minOccurs="0" maxOccurs="1" name="Description" type="s:string"/>
                        <s:element minOccurs="0" maxOccurs="1" name="ExtLocationID" type="s:string"/>
                        <s:element minOccurs="0" maxOccurs="1" name="LocationName" type="s:string"/>
                        <s:element minOccurs="0" maxOccurs="1" name="ExtBannerID" type="s:string"/>
                        <s:element minOccurs="0" maxOccurs="1" name="OperationType" type="s:string"/>
                    </s:sequence>
                </s:complexType>
            </s:element>
            <s:element name="ProcessLocInLocGroupByExtGrpIDResponse">
                <s:complexType>
                    <s:sequence>
                        <s:element minOccurs="0" maxOccurs="1" name="ProcessLocInLocGroupByExtGrpIDResult">
                            <s:complexType>
                                <s:sequence>
                                    <s:element ref="s:schema"/>
                                    <s:any/>
                                </s:sequence>
                            </s:complexType>
                        </s:element>
                    </s:sequence>
                </s:complexType>
            </s:element>
            <s:element name="ProcessLocInLocGroupByLogixID">
                <s:complexType>
                    <s:sequence>
                        <s:element minOccurs="0" maxOccurs="1" name="GUID" type="s:string"/>
                        <s:element minOccurs="1" maxOccurs="1" name="GroupID" type="s:long"/>
                        <s:element minOccurs="0" maxOccurs="1" name="Name" type="s:string"/>
                        <s:element minOccurs="0" maxOccurs="1" name="Description" type="s:string"/>
                        <s:element minOccurs="0" maxOccurs="1" name="ExtLocationID" type="s:string"/>
                        <s:element minOccurs="0" maxOccurs="1" name="LocationName" type="s:string"/>
                        <s:element minOccurs="0" maxOccurs="1" name="ExtBannerID" type="s:string"/>
                        <s:element minOccurs="0" maxOccurs="1" name="OperationType" type="s:string"/>
                    </s:sequence>
                </s:complexType>
            </s:element>
            <s:element name="ProcessLocInLocGroupByLogixIDResponse">
                <s:complexType>
                    <s:sequence>
                        <s:element minOccurs="0" maxOccurs="1" name="ProcessLocInLocGroupByLogixIDResult">
                            <s:complexType>
                                <s:sequence>
                                    <s:element ref="s:schema"/>
                                    <s:any/>
                                </s:sequence>
                            </s:complexType>
                        </s:element>
                    </s:sequence>
                </s:complexType>
            </s:element>
            <s:element name="ProcessMultipleLocInLocGroupByExtGrpID">
                <s:complexType>
                    <s:sequence>
                        <s:element minOccurs="0" maxOccurs="1" name="GUID" type="s:string"/>
                        <s:element minOccurs="0" maxOccurs="1" name="LocationXML" type="s:string"/>
                    </s:sequence>
                </s:complexType>
            </s:element>
            <s:element name="ProcessMultipleLocInLocGroupByExtGrpIDResponse">
                <s:complexType>
                    <s:sequence>
                        <s:element minOccurs="0" maxOccurs="1" name="ProcessMultipleLocInLocGroupByExtGrpIDResult">
                            <s:complexType>
                                <s:sequence>
                                    <s:element ref="s:schema"/>
                                    <s:any/>
                                </s:sequence>
                            </s:complexType>
                        </s:element>
                    </s:sequence>
                </s:complexType>
            </s:element>
            <s:element name="ProcessMultipleLocInLocGroupByLogixID">
                <s:complexType>
                    <s:sequence>
                        <s:element minOccurs="0" maxOccurs="1" name="GUID" type="s:string"/>
                        <s:element minOccurs="0" maxOccurs="1" name="LocationXML" type="s:string"/>
                    </s:sequence>
                </s:complexType>
            </s:element>
            <s:element name="ProcessMultipleLocInLocGroupByLogixIDResponse">
                <s:complexType>
                    <s:sequence>
                        <s:element minOccurs="0" maxOccurs="1" name="ProcessMultipleLocInLocGroupByLogixIDResult">
                            <s:complexType>
                                <s:sequence>
                                    <s:element ref="s:schema"/>
                                    <s:any/>
                                </s:sequence>
                            </s:complexType>
                        </s:element>
                    </s:sequence>
                </s:complexType>
            </s:element>
            <s:element name="ProcessProdInProdGroupByExtGrpID">
                <s:complexType>
                    <s:sequence>
                        <s:element minOccurs="0" maxOccurs="1" name="GUID" type="s:string"/>
                        <s:element minOccurs="0" maxOccurs="1" name="ExtGroupID" type="s:string"/>
                        <s:element minOccurs="0" maxOccurs="1" name="GroupName" type="s:string"/>
                        <s:element minOccurs="0" maxOccurs="1" name="ExtProductID" type="s:string"/>
                        <s:element minOccurs="0" maxOccurs="1" name="ProductTypeId" type="s:string"/>
                        <s:element minOccurs="0" maxOccurs="1" name="Description" type="s:string"/>
                        <s:element minOccurs="0" maxOccurs="1" name="OperationType" type="s:string"/>
                    </s:sequence>
                </s:complexType>
            </s:element>
            <s:element name="ProcessProdInProdGroupByExtGrpIDResponse">
                <s:complexType>
                    <s:sequence>
                        <s:element minOccurs="0" maxOccurs="1" name="ProcessProdInProdGroupByExtGrpIDResult">
                            <s:complexType>
                                <s:sequence>
                                    <s:element ref="s:schema"/>
                                    <s:any/>
                                </s:sequence>
                            </s:complexType>
                        </s:element>
                    </s:sequence>
                </s:complexType>
            </s:element>
            <s:element name="ProcessProdInProdGroupByLogixID">
                <s:complexType>
                    <s:sequence>
                        <s:element minOccurs="0" maxOccurs="1" name="GUID" type="s:string"/>
                        <s:element minOccurs="0" maxOccurs="1" name="LogixGroupID" type="s:string"/>
                        <s:element minOccurs="0" maxOccurs="1" name="GroupName" type="s:string"/>
                        <s:element minOccurs="0" maxOccurs="1" name="ExtProductID" type="s:string"/>
                        <s:element minOccurs="0" maxOccurs="1" name="ProductTypeId" type="s:string"/>
                        <s:element minOccurs="0" maxOccurs="1" name="Description" type="s:string"/>
                        <s:element minOccurs="0" maxOccurs="1" name="OperationType" type="s:string"/>
                    </s:sequence>
                </s:complexType>
            </s:element>
            <s:element name="ProcessProdInProdGroupByLogixIDResponse">
                <s:complexType>
                    <s:sequence>
                        <s:element minOccurs="0" maxOccurs="1" name="ProcessProdInProdGroupByLogixIDResult">
                            <s:complexType>
                                <s:sequence>
                                    <s:element ref="s:schema"/>
                                    <s:any/>
                                </s:sequence>
                            </s:complexType>
                        </s:element>
                    </s:sequence>
                </s:complexType>
            </s:element>
            <s:element name="ProcessMultipleProdInProdGroupByExtGrpID">
                <s:complexType>
                    <s:sequence>
                        <s:element minOccurs="0" maxOccurs="1" name="GUID" type="s:string"/>
                        <s:element minOccurs="0" maxOccurs="1" name="ProductXML" type="s:string"/>
                    </s:sequence>
                </s:complexType>
            </s:element>
            <s:element name="ProcessMultipleProdInProdGroupByExtGrpIDResponse">
                <s:complexType>
                    <s:sequence>
                        <s:element minOccurs="0" maxOccurs="1" name="ProcessMultipleProdInProdGroupByExtGrpIDResult">
                            <s:complexType>
                                <s:sequence>
                                    <s:element ref="s:schema"/>
                                    <s:any/>
                                </s:sequence>
                            </s:complexType>
                        </s:element>
                    </s:sequence>
                </s:complexType>
            </s:element>
            <s:element name="ProcessMultipleProdInProdGroupByLogixID">
                <s:complexType>
                    <s:sequence>
                        <s:element minOccurs="0" maxOccurs="1" name="GUID" type="s:string"/>
                        <s:element minOccurs="0" maxOccurs="1" name="ProductXML" type="s:string"/>
                    </s:sequence>
                </s:complexType>
            </s:element>
            <s:element name="ProcessMultipleProdInProdGroupByLogixIDResponse">
                <s:complexType>
                    <s:sequence>
                        <s:element minOccurs="0" maxOccurs="1" name="ProcessMultipleProdInProdGroupByLogixIDResult">
                            <s:complexType>
                                <s:sequence>
                                    <s:element ref="s:schema"/>
                                    <s:any/>
                                </s:sequence>
                            </s:complexType>
                        </s:element>
                    </s:sequence>
                </s:complexType>
            </s:element>
            <s:element name="GetCustomerListByGroupID">
                <s:complexType>
                    <s:sequence>
                        <s:element minOccurs="0" maxOccurs="1" name="GUID" type="s:string"/>
                        <s:element minOccurs="1" maxOccurs="1" name="CustomerGroupID" type="s:int"/>
                        <s:element minOccurs="0" maxOccurs="1" name="CardTypeID" type="s:string"/>
                    </s:sequence>
                </s:complexType>
            </s:element>
            <s:element name="GetCustomerListByGroupIDResponse">
                <s:complexType>
                    <s:sequence>
                        <s:element minOccurs="0" maxOccurs="1" name="GetCustomerListByGroupIDResult">
                            <s:complexType mixed="true">
                                <s:sequence>
                                    <s:any/>
                                </s:sequence>
                            </s:complexType>
                        </s:element>
                    </s:sequence>
                </s:complexType>
            </s:element>
            <s:element name="GetCustomerListByExtGroupID">
                <s:complexType>
                    <s:sequence>
                        <s:element minOccurs="0" maxOccurs="1" name="GUID" type="s:string"/>
                        <s:element minOccurs="0" maxOccurs="1" name="ExtGroupID" type="s:string"/>
                        <s:element minOccurs="0" maxOccurs="1" name="Name" type="s:string"/>
                        <s:element minOccurs="0" maxOccurs="1" name="CardTypeID" type="s:string"/>
                    </s:sequence>
                </s:complexType>
            </s:element>
            <s:element name="GetCustomerListByExtGroupIDResponse">
                <s:complexType>
                    <s:sequence>
                        <s:element minOccurs="0" maxOccurs="1" name="GetCustomerListByExtGroupIDResult">
                            <s:complexType mixed="true">
                                <s:sequence>
                                    <s:any/>
                                </s:sequence>
                            </s:complexType>
                        </s:element>
                    </s:sequence>
                </s:complexType>
            </s:element>
            <s:element name="GetProductListByGroupID">
                <s:complexType>
                    <s:sequence>
                        <s:element minOccurs="0" maxOccurs="1" name="GUID" type="s:string"/>
                        <s:element minOccurs="1" maxOccurs="1" name="ProductGroupID" type="s:int"/>
                    </s:sequence>
                </s:complexType>
            </s:element>
            <s:element name="GetProductListByGroupIDResponse">
                <s:complexType>
                    <s:sequence>
                        <s:element minOccurs="0" maxOccurs="1" name="GetProductListByGroupIDResult">
                            <s:complexType mixed="true">
                                <s:sequence>
                                    <s:any/>
                                </s:sequence>
                            </s:complexType>
                        </s:element>
                    </s:sequence>
                </s:complexType>
            </s:element>
            <s:element name="GetProductListByExtGroupID">
                <s:complexType>
                    <s:sequence>
                        <s:element minOccurs="0" maxOccurs="1" name="GUID" type="s:string"/>
                        <s:element minOccurs="0" maxOccurs="1" name="ExtGroupID" type="s:string"/>
                        <s:element minOccurs="0" maxOccurs="1" name="Name" type="s:string"/>
                    </s:sequence>
                </s:complexType>
            </s:element>
            <s:element name="GetProductListByExtGroupIDResponse">
                <s:complexType>
                    <s:sequence>
                        <s:element minOccurs="0" maxOccurs="1" name="GetProductListByExtGroupIDResult">
                            <s:complexType mixed="true">
                                <s:sequence>
                                    <s:any/>
                                </s:sequence>
                            </s:complexType>
                        </s:element>
                    </s:sequence>
                </s:complexType>
            </s:element>
            <s:element name="GetLocationListByGroupID">
                <s:complexType>
                    <s:sequence>
                        <s:element minOccurs="0" maxOccurs="1" name="GUID" type="s:string"/>
                        <s:element minOccurs="1" maxOccurs="1" name="LocationGroupID" type="s:int"/>
                    </s:sequence>
                </s:complexType>
            </s:element>
            <s:element name="GetLocationListByGroupIDResponse">
                <s:complexType>
                    <s:sequence>
                        <s:element minOccurs="0" maxOccurs="1" name="GetLocationListByGroupIDResult">
                            <s:complexType mixed="true">
                                <s:sequence>
                                    <s:any/>
                                </s:sequence>
                            </s:complexType>
                        </s:element>
                    </s:sequence>
                </s:complexType>
            </s:element>
            <s:element name="GetLocationListByExtGroupID">
                <s:complexType>
                    <s:sequence>
                        <s:element minOccurs="0" maxOccurs="1" name="GUID" type="s:string"/>
                        <s:element minOccurs="0" maxOccurs="1" name="ExtGroupID" type="s:string"/>
                        <s:element minOccurs="0" maxOccurs="1" name="Name" type="s:string"/>
                    </s:sequence>
                </s:complexType>
            </s:element>
            <s:element name="GetLocationListByExtGroupIDResponse">
                <s:complexType>
                    <s:sequence>
                        <s:element minOccurs="0" maxOccurs="1" name="GetLocationListByExtGroupIDResult">
                            <s:complexType mixed="true">
                                <s:sequence>
                                    <s:any/>
                                </s:sequence>
                            </s:complexType>
                        </s:element>
                    </s:sequence>
                </s:complexType>
            </s:element>
            <s:element name="DataSet" nillable="true">
                <s:complexType>
                    <s:sequence>
                        <s:element ref="s:schema"/>
                        <s:any/>
                    </s:sequence>
                </s:complexType>
            </s:element>
        </s:schema>
    </wsdl:types>
    <wsdl:message name="ProcessCardInCustGroupByExtGrpIDSoapIn">
        <wsdl:part name="parameters" element="tns:ProcessCardInCustGroupByExtGrpID"/>
    </wsdl:message>
    <wsdl:message name="ProcessCardInCustGroupByExtGrpIDSoapOut">
        <wsdl:part name="parameters" element="tns:ProcessCardInCustGroupByExtGrpIDResponse"/>
    </wsdl:message>
    <wsdl:message name="ProcessCardInCustGroupByLogixIDSoapIn">
        <wsdl:part name="parameters" element="tns:ProcessCardInCustGroupByLogixID"/>
    </wsdl:message>
    <wsdl:message name="ProcessCardInCustGroupByLogixIDSoapOut">
        <wsdl:part name="parameters" element="tns:ProcessCardInCustGroupByLogixIDResponse"/>
    </wsdl:message>
    <wsdl:message name="ProcessMultipleCardsInCustGroupByExtGrpIDSoapIn">
        <wsdl:part name="parameters" element="tns:ProcessMultipleCardsInCustGroupByExtGrpID"/>
    </wsdl:message>
    <wsdl:message name="ProcessMultipleCardsInCustGroupByExtGrpIDSoapOut">
        <wsdl:part name="parameters" element="tns:ProcessMultipleCardsInCustGroupByExtGrpIDResponse"/>
    </wsdl:message>
    <wsdl:message name="ProcessMultipleCardsInCustGroupByLogixIDSoapIn">
        <wsdl:part name="parameters" element="tns:ProcessMultipleCardsInCustGroupByLogixID"/>
    </wsdl:message>
    <wsdl:message name="ProcessMultipleCardsInCustGroupByLogixIDSoapOut">
        <wsdl:part name="parameters" element="tns:ProcessMultipleCardsInCustGroupByLogixIDResponse"/>
    </wsdl:message>
    <wsdl:message name="ProcessLocInLocGroupByExtGrpIDSoapIn">
        <wsdl:part name="parameters" element="tns:ProcessLocInLocGroupByExtGrpID"/>
    </wsdl:message>
    <wsdl:message name="ProcessLocInLocGroupByExtGrpIDSoapOut">
        <wsdl:part name="parameters" element="tns:ProcessLocInLocGroupByExtGrpIDResponse"/>
    </wsdl:message>
    <wsdl:message name="ProcessLocInLocGroupByLogixIDSoapIn">
        <wsdl:part name="parameters" element="tns:ProcessLocInLocGroupByLogixID"/>
    </wsdl:message>
    <wsdl:message name="ProcessLocInLocGroupByLogixIDSoapOut">
        <wsdl:part name="parameters" element="tns:ProcessLocInLocGroupByLogixIDResponse"/>
    </wsdl:message>
    <wsdl:message name="ProcessMultipleLocInLocGroupByExtGrpIDSoapIn">
        <wsdl:part name="parameters" element="tns:ProcessMultipleLocInLocGroupByExtGrpID"/>
    </wsdl:message>
    <wsdl:message name="ProcessMultipleLocInLocGroupByExtGrpIDSoapOut">
        <wsdl:part name="parameters" element="tns:ProcessMultipleLocInLocGroupByExtGrpIDResponse"/>
    </wsdl:message>
    <wsdl:message name="ProcessMultipleLocInLocGroupByLogixIDSoapIn">
        <wsdl:part name="parameters" element="tns:ProcessMultipleLocInLocGroupByLogixID"/>
    </wsdl:message>
    <wsdl:message name="ProcessMultipleLocInLocGroupByLogixIDSoapOut">
        <wsdl:part name="parameters" element="tns:ProcessMultipleLocInLocGroupByLogixIDResponse"/>
    </wsdl:message>
    <wsdl:message name="ProcessProdInProdGroupByExtGrpIDSoapIn">
        <wsdl:part name="parameters" element="tns:ProcessProdInProdGroupByExtGrpID"/>
    </wsdl:message>
    <wsdl:message name="ProcessProdInProdGroupByExtGrpIDSoapOut">
        <wsdl:part name="parameters" element="tns:ProcessProdInProdGroupByExtGrpIDResponse"/>
    </wsdl:message>
    <wsdl:message name="ProcessProdInProdGroupByLogixIDSoapIn">
        <wsdl:part name="parameters" element="tns:ProcessProdInProdGroupByLogixID"/>
    </wsdl:message>
    <wsdl:message name="ProcessProdInProdGroupByLogixIDSoapOut">
        <wsdl:part name="parameters" element="tns:ProcessProdInProdGroupByLogixIDResponse"/>
    </wsdl:message>
    <wsdl:message name="ProcessMultipleProdInProdGroupByExtGrpIDSoapIn">
        <wsdl:part name="parameters" element="tns:ProcessMultipleProdInProdGroupByExtGrpID"/>
    </wsdl:message>
    <wsdl:message name="ProcessMultipleProdInProdGroupByExtGrpIDSoapOut">
        <wsdl:part name="parameters" element="tns:ProcessMultipleProdInProdGroupByExtGrpIDResponse"/>
    </wsdl:message>
    <wsdl:message name="ProcessMultipleProdInProdGroupByLogixIDSoapIn">
        <wsdl:part name="parameters" element="tns:ProcessMultipleProdInProdGroupByLogixID"/>
    </wsdl:message>
    <wsdl:message name="ProcessMultipleProdInProdGroupByLogixIDSoapOut">
        <wsdl:part name="parameters" element="tns:ProcessMultipleProdInProdGroupByLogixIDResponse"/>
    </wsdl:message>
    <wsdl:message name="GetCustomerListByGroupIDSoapIn">
        <wsdl:part name="parameters" element="tns:GetCustomerListByGroupID"/>
    </wsdl:message>
    <wsdl:message name="GetCustomerListByGroupIDSoapOut">
        <wsdl:part name="parameters" element="tns:GetCustomerListByGroupIDResponse"/>
    </wsdl:message>
    <wsdl:message name="GetCustomerListByExtGroupIDSoapIn">
        <wsdl:part name="parameters" element="tns:GetCustomerListByExtGroupID"/>
    </wsdl:message>
    <wsdl:message name="GetCustomerListByExtGroupIDSoapOut">
        <wsdl:part name="parameters" element="tns:GetCustomerListByExtGroupIDResponse"/>
    </wsdl:message>
    <wsdl:message name="GetProductListByGroupIDSoapIn">
        <wsdl:part name="parameters" element="tns:GetProductListByGroupID"/>
    </wsdl:message>
    <wsdl:message name="GetProductListByGroupIDSoapOut">
        <wsdl:part name="parameters" element="tns:GetProductListByGroupIDResponse"/>
    </wsdl:message>
    <wsdl:message name="GetProductListByExtGroupIDSoapIn">
        <wsdl:part name="parameters" element="tns:GetProductListByExtGroupID"/>
    </wsdl:message>
    <wsdl:message name="GetProductListByExtGroupIDSoapOut">
        <wsdl:part name="parameters" element="tns:GetProductListByExtGroupIDResponse"/>
    </wsdl:message>
    <wsdl:message name="GetLocationListByGroupIDSoapIn">
        <wsdl:part name="parameters" element="tns:GetLocationListByGroupID"/>
    </wsdl:message>
    <wsdl:message name="GetLocationListByGroupIDSoapOut">
        <wsdl:part name="parameters" element="tns:GetLocationListByGroupIDResponse"/>
    </wsdl:message>
    <wsdl:message name="GetLocationListByExtGroupIDSoapIn">
        <wsdl:part name="parameters" element="tns:GetLocationListByExtGroupID"/>
    </wsdl:message>
    <wsdl:message name="GetLocationListByExtGroupIDSoapOut">
        <wsdl:part name="parameters" element="tns:GetLocationListByExtGroupIDResponse"/>
    </wsdl:message>
    <wsdl:message name="ProcessCardInCustGroupByExtGrpIDHttpGetIn">
        <wsdl:part name="GUID" type="s:string"/>
        <wsdl:part name="ExtGroupID" type="s:string"/>
        <wsdl:part name="GroupName" type="s:string"/>
        <wsdl:part name="ExtCardId" type="s:string"/>
        <wsdl:part name="CardTypeID" type="s:string"/>
        <wsdl:part name="OperationType" type="s:string"/>
    </wsdl:message>
    <wsdl:message name="ProcessCardInCustGroupByExtGrpIDHttpGetOut">
        <wsdl:part name="Body" element="tns:DataSet"/>
    </wsdl:message>
    <wsdl:message name="ProcessCardInCustGroupByLogixIDHttpGetIn">
        <wsdl:part name="GUID" type="s:string"/>
        <wsdl:part name="GroupID" type="s:string"/>
        <wsdl:part name="GroupName" type="s:string"/>
        <wsdl:part name="ExtCardId" type="s:string"/>
        <wsdl:part name="CardTypeID" type="s:string"/>
        <wsdl:part name="OperationType" type="s:string"/>
    </wsdl:message>
    <wsdl:message name="ProcessCardInCustGroupByLogixIDHttpGetOut">
        <wsdl:part name="Body" element="tns:DataSet"/>
    </wsdl:message>
    <wsdl:message name="ProcessMultipleCardsInCustGroupByExtGrpIDHttpGetIn">
        <wsdl:part name="GUID" type="s:string"/>
        <wsdl:part name="CustomerXML" type="s:string"/>
    </wsdl:message>
    <wsdl:message name="ProcessMultipleCardsInCustGroupByExtGrpIDHttpGetOut">
        <wsdl:part name="Body" element="tns:DataSet"/>
    </wsdl:message>
    <wsdl:message name="ProcessMultipleCardsInCustGroupByLogixIDHttpGetIn">
        <wsdl:part name="GUID" type="s:string"/>
        <wsdl:part name="CustomerXML" type="s:string"/>
    </wsdl:message>
    <wsdl:message name="ProcessMultipleCardsInCustGroupByLogixIDHttpGetOut">
        <wsdl:part name="Body" element="tns:DataSet"/>
    </wsdl:message>
    <wsdl:message name="ProcessLocInLocGroupByExtGrpIDHttpGetIn">
        <wsdl:part name="GUID" type="s:string"/>
        <wsdl:part name="EXTGroupID" type="s:string"/>
        <wsdl:part name="Name" type="s:string"/>
        <wsdl:part name="Description" type="s:string"/>
        <wsdl:part name="ExtLocationID" type="s:string"/>
        <wsdl:part name="LocationName" type="s:string"/>
        <wsdl:part name="ExtBannerID" type="s:string"/>
        <wsdl:part name="OperationType" type="s:string"/>
    </wsdl:message>
    <wsdl:message name="ProcessLocInLocGroupByExtGrpIDHttpGetOut">
        <wsdl:part name="Body" element="tns:DataSet"/>
    </wsdl:message>
    <wsdl:message name="ProcessLocInLocGroupByLogixIDHttpGetIn">
        <wsdl:part name="GUID" type="s:string"/>
        <wsdl:part name="GroupID" type="s:string"/>
        <wsdl:part name="Name" type="s:string"/>
        <wsdl:part name="Description" type="s:string"/>
        <wsdl:part name="ExtLocationID" type="s:string"/>
        <wsdl:part name="LocationName" type="s:string"/>
        <wsdl:part name="ExtBannerID" type="s:string"/>
        <wsdl:part name="OperationType" type="s:string"/>
    </wsdl:message>
    <wsdl:message name="ProcessLocInLocGroupByLogixIDHttpGetOut">
        <wsdl:part name="Body" element="tns:DataSet"/>
    </wsdl:message>
    <wsdl:message name="ProcessMultipleLocInLocGroupByExtGrpIDHttpGetIn">
        <wsdl:part name="GUID" type="s:string"/>
        <wsdl:part name="LocationXML" type="s:string"/>
    </wsdl:message>
    <wsdl:message name="ProcessMultipleLocInLocGroupByExtGrpIDHttpGetOut">
        <wsdl:part name="Body" element="tns:DataSet"/>
    </wsdl:message>
    <wsdl:message name="ProcessMultipleLocInLocGroupByLogixIDHttpGetIn">
        <wsdl:part name="GUID" type="s:string"/>
        <wsdl:part name="LocationXML" type="s:string"/>
    </wsdl:message>
    <wsdl:message name="ProcessMultipleLocInLocGroupByLogixIDHttpGetOut">
        <wsdl:part name="Body" element="tns:DataSet"/>
    </wsdl:message>
    <wsdl:message name="ProcessProdInProdGroupByExtGrpIDHttpGetIn">
        <wsdl:part name="GUID" type="s:string"/>
        <wsdl:part name="ExtGroupID" type="s:string"/>
        <wsdl:part name="GroupName" type="s:string"/>
        <wsdl:part name="ExtProductID" type="s:string"/>
        <wsdl:part name="ProductTypeId" type="s:string"/>
        <wsdl:part name="Description" type="s:string"/>
        <wsdl:part name="OperationType" type="s:string"/>
    </wsdl:message>
    <wsdl:message name="ProcessProdInProdGroupByExtGrpIDHttpGetOut">
        <wsdl:part name="Body" element="tns:DataSet"/>
    </wsdl:message>
    <wsdl:message name="ProcessProdInProdGroupByLogixIDHttpGetIn">
        <wsdl:part name="GUID" type="s:string"/>
        <wsdl:part name="LogixGroupID" type="s:string"/>
        <wsdl:part name="GroupName" type="s:string"/>
        <wsdl:part name="ExtProductID" type="s:string"/>
        <wsdl:part name="ProductTypeId" type="s:string"/>
        <wsdl:part name="Description" type="s:string"/>
        <wsdl:part name="OperationType" type="s:string"/>
    </wsdl:message>
    <wsdl:message name="ProcessProdInProdGroupByLogixIDHttpGetOut">
        <wsdl:part name="Body" element="tns:DataSet"/>
    </wsdl:message>
    <wsdl:message name="ProcessMultipleProdInProdGroupByExtGrpIDHttpGetIn">
        <wsdl:part name="GUID" type="s:string"/>
        <wsdl:part name="ProductXML" type="s:string"/>
    </wsdl:message>
    <wsdl:message name="ProcessMultipleProdInProdGroupByExtGrpIDHttpGetOut">
        <wsdl:part name="Body" element="tns:DataSet"/>
    </wsdl:message>
    <wsdl:message name="ProcessMultipleProdInProdGroupByLogixIDHttpGetIn">
        <wsdl:part name="GUID" type="s:string"/>
        <wsdl:part name="ProductXML" type="s:string"/>
    </wsdl:message>
    <wsdl:message name="ProcessMultipleProdInProdGroupByLogixIDHttpGetOut">
        <wsdl:part name="Body" element="tns:DataSet"/>
    </wsdl:message>
    <wsdl:message name="GetCustomerListByGroupIDHttpGetIn">
        <wsdl:part name="GUID" type="s:string"/>
        <wsdl:part name="CustomerGroupID" type="s:string"/>
        <wsdl:part name="CardTypeID" type="s:string"/>
    </wsdl:message>
    <wsdl:message name="GetCustomerListByGroupIDHttpGetOut">
        <wsdl:part name="Body"/>
    </wsdl:message>
    <wsdl:message name="GetCustomerListByExtGroupIDHttpGetIn">
        <wsdl:part name="GUID" type="s:string"/>
        <wsdl:part name="ExtGroupID" type="s:string"/>
        <wsdl:part name="Name" type="s:string"/>
        <wsdl:part name="CardTypeID" type="s:string"/>
    </wsdl:message>
    <wsdl:message name="GetCustomerListByExtGroupIDHttpGetOut">
        <wsdl:part name="Body"/>
    </wsdl:message>
    <wsdl:message name="GetProductListByGroupIDHttpGetIn">
        <wsdl:part name="GUID" type="s:string"/>
        <wsdl:part name="ProductGroupID" type="s:string"/>
    </wsdl:message>
    <wsdl:message name="GetProductListByGroupIDHttpGetOut">
        <wsdl:part name="Body"/>
    </wsdl:message>
    <wsdl:message name="GetProductListByExtGroupIDHttpGetIn">
        <wsdl:part name="GUID" type="s:string"/>
        <wsdl:part name="ExtGroupID" type="s:string"/>
        <wsdl:part name="Name" type="s:string"/>
    </wsdl:message>
    <wsdl:message name="GetProductListByExtGroupIDHttpGetOut">
        <wsdl:part name="Body"/>
    </wsdl:message>
    <wsdl:message name="GetLocationListByGroupIDHttpGetIn">
        <wsdl:part name="GUID" type="s:string"/>
        <wsdl:part name="LocationGroupID" type="s:string"/>
    </wsdl:message>
    <wsdl:message name="GetLocationListByGroupIDHttpGetOut">
        <wsdl:part name="Body"/>
    </wsdl:message>
    <wsdl:message name="GetLocationListByExtGroupIDHttpGetIn">
        <wsdl:part name="GUID" type="s:string"/>
        <wsdl:part name="ExtGroupID" type="s:string"/>
        <wsdl:part name="Name" type="s:string"/>
    </wsdl:message>
    <wsdl:message name="GetLocationListByExtGroupIDHttpGetOut">
        <wsdl:part name="Body"/>
    </wsdl:message>
    <wsdl:message name="ProcessCardInCustGroupByExtGrpIDHttpPostIn">
        <wsdl:part name="GUID" type="s:string"/>
        <wsdl:part name="ExtGroupID" type="s:string"/>
        <wsdl:part name="GroupName" type="s:string"/>
        <wsdl:part name="ExtCardId" type="s:string"/>
        <wsdl:part name="CardTypeID" type="s:string"/>
        <wsdl:part name="OperationType" type="s:string"/>
    </wsdl:message>
    <wsdl:message name="ProcessCardInCustGroupByExtGrpIDHttpPostOut">
        <wsdl:part name="Body" element="tns:DataSet"/>
    </wsdl:message>
    <wsdl:message name="ProcessCardInCustGroupByLogixIDHttpPostIn">
        <wsdl:part name="GUID" type="s:string"/>
        <wsdl:part name="GroupID" type="s:string"/>
        <wsdl:part name="GroupName" type="s:string"/>
        <wsdl:part name="ExtCardId" type="s:string"/>
        <wsdl:part name="CardTypeID" type="s:string"/>
        <wsdl:part name="OperationType" type="s:string"/>
    </wsdl:message>
    <wsdl:message name="ProcessCardInCustGroupByLogixIDHttpPostOut">
        <wsdl:part name="Body" element="tns:DataSet"/>
    </wsdl:message>
    <wsdl:message name="ProcessMultipleCardsInCustGroupByExtGrpIDHttpPostIn">
        <wsdl:part name="GUID" type="s:string"/>
        <wsdl:part name="CustomerXML" type="s:string"/>
    </wsdl:message>
    <wsdl:message name="ProcessMultipleCardsInCustGroupByExtGrpIDHttpPostOut">
        <wsdl:part name="Body" element="tns:DataSet"/>
    </wsdl:message>
    <wsdl:message name="ProcessMultipleCardsInCustGroupByLogixIDHttpPostIn">
        <wsdl:part name="GUID" type="s:string"/>
        <wsdl:part name="CustomerXML" type="s:string"/>
    </wsdl:message>
    <wsdl:message name="ProcessMultipleCardsInCustGroupByLogixIDHttpPostOut">
        <wsdl:part name="Body" element="tns:DataSet"/>
    </wsdl:message>
    <wsdl:message name="ProcessLocInLocGroupByExtGrpIDHttpPostIn">
        <wsdl:part name="GUID" type="s:string"/>
        <wsdl:part name="EXTGroupID" type="s:string"/>
        <wsdl:part name="Name" type="s:string"/>
        <wsdl:part name="Description" type="s:string"/>
        <wsdl:part name="ExtLocationID" type="s:string"/>
        <wsdl:part name="LocationName" type="s:string"/>
        <wsdl:part name="ExtBannerID" type="s:string"/>
        <wsdl:part name="OperationType" type="s:string"/>
    </wsdl:message>
    <wsdl:message name="ProcessLocInLocGroupByExtGrpIDHttpPostOut">
        <wsdl:part name="Body" element="tns:DataSet"/>
    </wsdl:message>
    <wsdl:message name="ProcessLocInLocGroupByLogixIDHttpPostIn">
        <wsdl:part name="GUID" type="s:string"/>
        <wsdl:part name="GroupID" type="s:string"/>
        <wsdl:part name="Name" type="s:string"/>
        <wsdl:part name="Description" type="s:string"/>
        <wsdl:part name="ExtLocationID" type="s:string"/>
        <wsdl:part name="LocationName" type="s:string"/>
        <wsdl:part name="ExtBannerID" type="s:string"/>
        <wsdl:part name="OperationType" type="s:string"/>
    </wsdl:message>
    <wsdl:message name="ProcessLocInLocGroupByLogixIDHttpPostOut">
        <wsdl:part name="Body" element="tns:DataSet"/>
    </wsdl:message>
    <wsdl:message name="ProcessMultipleLocInLocGroupByExtGrpIDHttpPostIn">
        <wsdl:part name="GUID" type="s:string"/>
        <wsdl:part name="LocationXML" type="s:string"/>
    </wsdl:message>
    <wsdl:message name="ProcessMultipleLocInLocGroupByExtGrpIDHttpPostOut">
        <wsdl:part name="Body" element="tns:DataSet"/>
    </wsdl:message>
    <wsdl:message name="ProcessMultipleLocInLocGroupByLogixIDHttpPostIn">
        <wsdl:part name="GUID" type="s:string"/>
        <wsdl:part name="LocationXML" type="s:string"/>
    </wsdl:message>
    <wsdl:message name="ProcessMultipleLocInLocGroupByLogixIDHttpPostOut">
        <wsdl:part name="Body" element="tns:DataSet"/>
    </wsdl:message>
    <wsdl:message name="ProcessProdInProdGroupByExtGrpIDHttpPostIn">
        <wsdl:part name="GUID" type="s:string"/>
        <wsdl:part name="ExtGroupID" type="s:string"/>
        <wsdl:part name="GroupName" type="s:string"/>
        <wsdl:part name="ExtProductID" type="s:string"/>
        <wsdl:part name="ProductTypeId" type="s:string"/>
        <wsdl:part name="Description" type="s:string"/>
        <wsdl:part name="OperationType" type="s:string"/>
    </wsdl:message>
    <wsdl:message name="ProcessProdInProdGroupByExtGrpIDHttpPostOut">
        <wsdl:part name="Body" element="tns:DataSet"/>
    </wsdl:message>
    <wsdl:message name="ProcessProdInProdGroupByLogixIDHttpPostIn">
        <wsdl:part name="GUID" type="s:string"/>
        <wsdl:part name="LogixGroupID" type="s:string"/>
        <wsdl:part name="GroupName" type="s:string"/>
        <wsdl:part name="ExtProductID" type="s:string"/>
        <wsdl:part name="ProductTypeId" type="s:string"/>
        <wsdl:part name="Description" type="s:string"/>
        <wsdl:part name="OperationType" type="s:string"/>
    </wsdl:message>
    <wsdl:message name="ProcessProdInProdGroupByLogixIDHttpPostOut">
        <wsdl:part name="Body" element="tns:DataSet"/>
    </wsdl:message>
    <wsdl:message name="ProcessMultipleProdInProdGroupByExtGrpIDHttpPostIn">
        <wsdl:part name="GUID" type="s:string"/>
        <wsdl:part name="ProductXML" type="s:string"/>
    </wsdl:message>
    <wsdl:message name="ProcessMultipleProdInProdGroupByExtGrpIDHttpPostOut">
        <wsdl:part name="Body" element="tns:DataSet"/>
    </wsdl:message>
    <wsdl:message name="ProcessMultipleProdInProdGroupByLogixIDHttpPostIn">
        <wsdl:part name="GUID" type="s:string"/>
        <wsdl:part name="ProductXML" type="s:string"/>
    </wsdl:message>
    <wsdl:message name="ProcessMultipleProdInProdGroupByLogixIDHttpPostOut">
        <wsdl:part name="Body" element="tns:DataSet"/>
    </wsdl:message>
    <wsdl:message name="GetCustomerListByGroupIDHttpPostIn">
        <wsdl:part name="GUID" type="s:string"/>
        <wsdl:part name="CustomerGroupID" type="s:string"/>
        <wsdl:part name="CardTypeID" type="s:string"/>
    </wsdl:message>
    <wsdl:message name="GetCustomerListByGroupIDHttpPostOut">
        <wsdl:part name="Body"/>
    </wsdl:message>
    <wsdl:message name="GetCustomerListByExtGroupIDHttpPostIn">
        <wsdl:part name="GUID" type="s:string"/>
        <wsdl:part name="ExtGroupID" type="s:string"/>
        <wsdl:part name="Name" type="s:string"/>
        <wsdl:part name="CardTypeID" type="s:string"/>
    </wsdl:message>
    <wsdl:message name="GetCustomerListByExtGroupIDHttpPostOut">
        <wsdl:part name="Body"/>
    </wsdl:message>
    <wsdl:message name="GetProductListByGroupIDHttpPostIn">
        <wsdl:part name="GUID" type="s:string"/>
        <wsdl:part name="ProductGroupID" type="s:string"/>
    </wsdl:message>
    <wsdl:message name="GetProductListByGroupIDHttpPostOut">
        <wsdl:part name="Body"/>
    </wsdl:message>
    <wsdl:message name="GetProductListByExtGroupIDHttpPostIn">
        <wsdl:part name="GUID" type="s:string"/>
        <wsdl:part name="ExtGroupID" type="s:string"/>
        <wsdl:part name="Name" type="s:string"/>
    </wsdl:message>
    <wsdl:message name="GetProductListByExtGroupIDHttpPostOut">
        <wsdl:part name="Body"/>
    </wsdl:message>
    <wsdl:message name="GetLocationListByGroupIDHttpPostIn">
        <wsdl:part name="GUID" type="s:string"/>
        <wsdl:part name="LocationGroupID" type="s:string"/>
    </wsdl:message>
    <wsdl:message name="GetLocationListByGroupIDHttpPostOut">
        <wsdl:part name="Body"/>
    </wsdl:message>
    <wsdl:message name="GetLocationListByExtGroupIDHttpPostIn">
        <wsdl:part name="GUID" type="s:string"/>
        <wsdl:part name="ExtGroupID" type="s:string"/>
        <wsdl:part name="Name" type="s:string"/>
    </wsdl:message>
    <wsdl:message name="GetLocationListByExtGroupIDHttpPostOut">
        <wsdl:part name="Body"/>
    </wsdl:message>
    <wsdl:portType name="LogixGroupManagementSoap">
        <wsdl:operation name="ProcessCardInCustGroupByExtGrpID">
            <wsdl:input message="tns:ProcessCardInCustGroupByExtGrpIDSoapIn"/>
            <wsdl:output message="tns:ProcessCardInCustGroupByExtGrpIDSoapOut"/>
        </wsdl:operation>
        <wsdl:operation name="ProcessCardInCustGroupByLogixID">
            <wsdl:input message="tns:ProcessCardInCustGroupByLogixIDSoapIn"/>
            <wsdl:output message="tns:ProcessCardInCustGroupByLogixIDSoapOut"/>
        </wsdl:operation>
        <wsdl:operation name="ProcessMultipleCardsInCustGroupByExtGrpID">
            <wsdl:input message="tns:ProcessMultipleCardsInCustGroupByExtGrpIDSoapIn"/>
            <wsdl:output message="tns:ProcessMultipleCardsInCustGroupByExtGrpIDSoapOut"/>
        </wsdl:operation>
        <wsdl:operation name="ProcessMultipleCardsInCustGroupByLogixID">
            <wsdl:input message="tns:ProcessMultipleCardsInCustGroupByLogixIDSoapIn"/>
            <wsdl:output message="tns:ProcessMultipleCardsInCustGroupByLogixIDSoapOut"/>
        </wsdl:operation>
        <wsdl:operation name="ProcessLocInLocGroupByExtGrpID">
            <wsdl:input message="tns:ProcessLocInLocGroupByExtGrpIDSoapIn"/>
            <wsdl:output message="tns:ProcessLocInLocGroupByExtGrpIDSoapOut"/>
        </wsdl:operation>
        <wsdl:operation name="ProcessLocInLocGroupByLogixID">
            <wsdl:input message="tns:ProcessLocInLocGroupByLogixIDSoapIn"/>
            <wsdl:output message="tns:ProcessLocInLocGroupByLogixIDSoapOut"/>
        </wsdl:operation>
        <wsdl:operation name="ProcessMultipleLocInLocGroupByExtGrpID">
            <wsdl:input message="tns:ProcessMultipleLocInLocGroupByExtGrpIDSoapIn"/>
            <wsdl:output message="tns:ProcessMultipleLocInLocGroupByExtGrpIDSoapOut"/>
        </wsdl:operation>
        <wsdl:operation name="ProcessMultipleLocInLocGroupByLogixID">
            <wsdl:input message="tns:ProcessMultipleLocInLocGroupByLogixIDSoapIn"/>
            <wsdl:output message="tns:ProcessMultipleLocInLocGroupByLogixIDSoapOut"/>
        </wsdl:operation>
        <wsdl:operation name="ProcessProdInProdGroupByExtGrpID">
            <wsdl:input message="tns:ProcessProdInProdGroupByExtGrpIDSoapIn"/>
            <wsdl:output message="tns:ProcessProdInProdGroupByExtGrpIDSoapOut"/>
        </wsdl:operation>
        <wsdl:operation name="ProcessProdInProdGroupByLogixID">
            <wsdl:input message="tns:ProcessProdInProdGroupByLogixIDSoapIn"/>
            <wsdl:output message="tns:ProcessProdInProdGroupByLogixIDSoapOut"/>
        </wsdl:operation>
        <wsdl:operation name="ProcessMultipleProdInProdGroupByExtGrpID">
            <wsdl:input message="tns:ProcessMultipleProdInProdGroupByExtGrpIDSoapIn"/>
            <wsdl:output message="tns:ProcessMultipleProdInProdGroupByExtGrpIDSoapOut"/>
        </wsdl:operation>
        <wsdl:operation name="ProcessMultipleProdInProdGroupByLogixID">
            <wsdl:input message="tns:ProcessMultipleProdInProdGroupByLogixIDSoapIn"/>
            <wsdl:output message="tns:ProcessMultipleProdInProdGroupByLogixIDSoapOut"/>
        </wsdl:operation>
        <wsdl:operation name="GetCustomerListByGroupID">
            <wsdl:input message="tns:GetCustomerListByGroupIDSoapIn"/>
            <wsdl:output message="tns:GetCustomerListByGroupIDSoapOut"/>
        </wsdl:operation>
        <wsdl:operation name="GetCustomerListByExtGroupID">
            <wsdl:input message="tns:GetCustomerListByExtGroupIDSoapIn"/>
            <wsdl:output message="tns:GetCustomerListByExtGroupIDSoapOut"/>
        </wsdl:operation>
        <wsdl:operation name="GetProductListByGroupID">
            <wsdl:input message="tns:GetProductListByGroupIDSoapIn"/>
            <wsdl:output message="tns:GetProductListByGroupIDSoapOut"/>
        </wsdl:operation>
        <wsdl:operation name="GetProductListByExtGroupID">
            <wsdl:input message="tns:GetProductListByExtGroupIDSoapIn"/>
            <wsdl:output message="tns:GetProductListByExtGroupIDSoapOut"/>
        </wsdl:operation>
        <wsdl:operation name="GetLocationListByGroupID">
            <wsdl:input message="tns:GetLocationListByGroupIDSoapIn"/>
            <wsdl:output message="tns:GetLocationListByGroupIDSoapOut"/>
        </wsdl:operation>
        <wsdl:operation name="GetLocationListByExtGroupID">
            <wsdl:input message="tns:GetLocationListByExtGroupIDSoapIn"/>
            <wsdl:output message="tns:GetLocationListByExtGroupIDSoapOut"/>
        </wsdl:operation>
    </wsdl:portType>
    <wsdl:portType name="LogixGroupManagementHttpGet">
        <wsdl:operation name="ProcessCardInCustGroupByExtGrpID">
            <wsdl:input message="tns:ProcessCardInCustGroupByExtGrpIDHttpGetIn"/>
            <wsdl:output message="tns:ProcessCardInCustGroupByExtGrpIDHttpGetOut"/>
        </wsdl:operation>
        <wsdl:operation name="ProcessCardInCustGroupByLogixID">
            <wsdl:input message="tns:ProcessCardInCustGroupByLogixIDHttpGetIn"/>
            <wsdl:output message="tns:ProcessCardInCustGroupByLogixIDHttpGetOut"/>
        </wsdl:operation>
        <wsdl:operation name="ProcessMultipleCardsInCustGroupByExtGrpID">
            <wsdl:input message="tns:ProcessMultipleCardsInCustGroupByExtGrpIDHttpGetIn"/>
            <wsdl:output message="tns:ProcessMultipleCardsInCustGroupByExtGrpIDHttpGetOut"/>
        </wsdl:operation>
        <wsdl:operation name="ProcessMultipleCardsInCustGroupByLogixID">
            <wsdl:input message="tns:ProcessMultipleCardsInCustGroupByLogixIDHttpGetIn"/>
            <wsdl:output message="tns:ProcessMultipleCardsInCustGroupByLogixIDHttpGetOut"/>
        </wsdl:operation>
        <wsdl:operation name="ProcessLocInLocGroupByExtGrpID">
            <wsdl:input message="tns:ProcessLocInLocGroupByExtGrpIDHttpGetIn"/>
            <wsdl:output message="tns:ProcessLocInLocGroupByExtGrpIDHttpGetOut"/>
        </wsdl:operation>
        <wsdl:operation name="ProcessLocInLocGroupByLogixID">
            <wsdl:input message="tns:ProcessLocInLocGroupByLogixIDHttpGetIn"/>
            <wsdl:output message="tns:ProcessLocInLocGroupByLogixIDHttpGetOut"/>
        </wsdl:operation>
        <wsdl:operation name="ProcessMultipleLocInLocGroupByExtGrpID">
            <wsdl:input message="tns:ProcessMultipleLocInLocGroupByExtGrpIDHttpGetIn"/>
            <wsdl:output message="tns:ProcessMultipleLocInLocGroupByExtGrpIDHttpGetOut"/>
        </wsdl:operation>
        <wsdl:operation name="ProcessMultipleLocInLocGroupByLogixID">
            <wsdl:input message="tns:ProcessMultipleLocInLocGroupByLogixIDHttpGetIn"/>
            <wsdl:output message="tns:ProcessMultipleLocInLocGroupByLogixIDHttpGetOut"/>
        </wsdl:operation>
        <wsdl:operation name="ProcessProdInProdGroupByExtGrpID">
            <wsdl:input message="tns:ProcessProdInProdGroupByExtGrpIDHttpGetIn"/>
            <wsdl:output message="tns:ProcessProdInProdGroupByExtGrpIDHttpGetOut"/>
        </wsdl:operation>
        <wsdl:operation name="ProcessProdInProdGroupByLogixID">
            <wsdl:input message="tns:ProcessProdInProdGroupByLogixIDHttpGetIn"/>
            <wsdl:output message="tns:ProcessProdInProdGroupByLogixIDHttpGetOut"/>
        </wsdl:operation>
        <wsdl:operation name="ProcessMultipleProdInProdGroupByExtGrpID">
            <wsdl:input message="tns:ProcessMultipleProdInProdGroupByExtGrpIDHttpGetIn"/>
            <wsdl:output message="tns:ProcessMultipleProdInProdGroupByExtGrpIDHttpGetOut"/>
        </wsdl:operation>
        <wsdl:operation name="ProcessMultipleProdInProdGroupByLogixID">
            <wsdl:input message="tns:ProcessMultipleProdInProdGroupByLogixIDHttpGetIn"/>
            <wsdl:output message="tns:ProcessMultipleProdInProdGroupByLogixIDHttpGetOut"/>
        </wsdl:operation>
        <wsdl:operation name="GetCustomerListByGroupID">
            <wsdl:input message="tns:GetCustomerListByGroupIDHttpGetIn"/>
            <wsdl:output message="tns:GetCustomerListByGroupIDHttpGetOut"/>
        </wsdl:operation>
        <wsdl:operation name="GetCustomerListByExtGroupID">
            <wsdl:input message="tns:GetCustomerListByExtGroupIDHttpGetIn"/>
            <wsdl:output message="tns:GetCustomerListByExtGroupIDHttpGetOut"/>
        </wsdl:operation>
        <wsdl:operation name="GetProductListByGroupID">
            <wsdl:input message="tns:GetProductListByGroupIDHttpGetIn"/>
            <wsdl:output message="tns:GetProductListByGroupIDHttpGetOut"/>
        </wsdl:operation>
        <wsdl:operation name="GetProductListByExtGroupID">
            <wsdl:input message="tns:GetProductListByExtGroupIDHttpGetIn"/>
            <wsdl:output message="tns:GetProductListByExtGroupIDHttpGetOut"/>
        </wsdl:operation>
        <wsdl:operation name="GetLocationListByGroupID">
            <wsdl:input message="tns:GetLocationListByGroupIDHttpGetIn"/>
            <wsdl:output message="tns:GetLocationListByGroupIDHttpGetOut"/>
        </wsdl:operation>
        <wsdl:operation name="GetLocationListByExtGroupID">
            <wsdl:input message="tns:GetLocationListByExtGroupIDHttpGetIn"/>
            <wsdl:output message="tns:GetLocationListByExtGroupIDHttpGetOut"/>
        </wsdl:operation>
    </wsdl:portType>
    <wsdl:portType name="LogixGroupManagementHttpPost">
        <wsdl:operation name="ProcessCardInCustGroupByExtGrpID">
            <wsdl:input message="tns:ProcessCardInCustGroupByExtGrpIDHttpPostIn"/>
            <wsdl:output message="tns:ProcessCardInCustGroupByExtGrpIDHttpPostOut"/>
        </wsdl:operation>
        <wsdl:operation name="ProcessCardInCustGroupByLogixID">
            <wsdl:input message="tns:ProcessCardInCustGroupByLogixIDHttpPostIn"/>
            <wsdl:output message="tns:ProcessCardInCustGroupByLogixIDHttpPostOut"/>
        </wsdl:operation>
        <wsdl:operation name="ProcessMultipleCardsInCustGroupByExtGrpID">
            <wsdl:input message="tns:ProcessMultipleCardsInCustGroupByExtGrpIDHttpPostIn"/>
            <wsdl:output message="tns:ProcessMultipleCardsInCustGroupByExtGrpIDHttpPostOut"/>
        </wsdl:operation>
        <wsdl:operation name="ProcessMultipleCardsInCustGroupByLogixID">
            <wsdl:input message="tns:ProcessMultipleCardsInCustGroupByLogixIDHttpPostIn"/>
            <wsdl:output message="tns:ProcessMultipleCardsInCustGroupByLogixIDHttpPostOut"/>
        </wsdl:operation>
        <wsdl:operation name="ProcessLocInLocGroupByExtGrpID">
            <wsdl:input message="tns:ProcessLocInLocGroupByExtGrpIDHttpPostIn"/>
            <wsdl:output message="tns:ProcessLocInLocGroupByExtGrpIDHttpPostOut"/>
        </wsdl:operation>
        <wsdl:operation name="ProcessLocInLocGroupByLogixID">
            <wsdl:input message="tns:ProcessLocInLocGroupByLogixIDHttpPostIn"/>
            <wsdl:output message="tns:ProcessLocInLocGroupByLogixIDHttpPostOut"/>
        </wsdl:operation>
        <wsdl:operation name="ProcessMultipleLocInLocGroupByExtGrpID">
            <wsdl:input message="tns:ProcessMultipleLocInLocGroupByExtGrpIDHttpPostIn"/>
            <wsdl:output message="tns:ProcessMultipleLocInLocGroupByExtGrpIDHttpPostOut"/>
        </wsdl:operation>
        <wsdl:operation name="ProcessMultipleLocInLocGroupByLogixID">
            <wsdl:input message="tns:ProcessMultipleLocInLocGroupByLogixIDHttpPostIn"/>
            <wsdl:output message="tns:ProcessMultipleLocInLocGroupByLogixIDHttpPostOut"/>
        </wsdl:operation>
        <wsdl:operation name="ProcessProdInProdGroupByExtGrpID">
            <wsdl:input message="tns:ProcessProdInProdGroupByExtGrpIDHttpPostIn"/>
            <wsdl:output message="tns:ProcessProdInProdGroupByExtGrpIDHttpPostOut"/>
        </wsdl:operation>
        <wsdl:operation name="ProcessProdInProdGroupByLogixID">
            <wsdl:input message="tns:ProcessProdInProdGroupByLogixIDHttpPostIn"/>
            <wsdl:output message="tns:ProcessProdInProdGroupByLogixIDHttpPostOut"/>
        </wsdl:operation>
        <wsdl:operation name="ProcessMultipleProdInProdGroupByExtGrpID">
            <wsdl:input message="tns:ProcessMultipleProdInProdGroupByExtGrpIDHttpPostIn"/>
            <wsdl:output message="tns:ProcessMultipleProdInProdGroupByExtGrpIDHttpPostOut"/>
        </wsdl:operation>
        <wsdl:operation name="ProcessMultipleProdInProdGroupByLogixID">
            <wsdl:input message="tns:ProcessMultipleProdInProdGroupByLogixIDHttpPostIn"/>
            <wsdl:output message="tns:ProcessMultipleProdInProdGroupByLogixIDHttpPostOut"/>
        </wsdl:operation>
        <wsdl:operation name="GetCustomerListByGroupID">
            <wsdl:input message="tns:GetCustomerListByGroupIDHttpPostIn"/>
            <wsdl:output message="tns:GetCustomerListByGroupIDHttpPostOut"/>
        </wsdl:operation>
        <wsdl:operation name="GetCustomerListByExtGroupID">
            <wsdl:input message="tns:GetCustomerListByExtGroupIDHttpPostIn"/>
            <wsdl:output message="tns:GetCustomerListByExtGroupIDHttpPostOut"/>
        </wsdl:operation>
        <wsdl:operation name="GetProductListByGroupID">
            <wsdl:input message="tns:GetProductListByGroupIDHttpPostIn"/>
            <wsdl:output message="tns:GetProductListByGroupIDHttpPostOut"/>
        </wsdl:operation>
        <wsdl:operation name="GetProductListByExtGroupID">
            <wsdl:input message="tns:GetProductListByExtGroupIDHttpPostIn"/>
            <wsdl:output message="tns:GetProductListByExtGroupIDHttpPostOut"/>
        </wsdl:operation>
        <wsdl:operation name="GetLocationListByGroupID">
            <wsdl:input message="tns:GetLocationListByGroupIDHttpPostIn"/>
            <wsdl:output message="tns:GetLocationListByGroupIDHttpPostOut"/>
        </wsdl:operation>
        <wsdl:operation name="GetLocationListByExtGroupID">
            <wsdl:input message="tns:GetLocationListByExtGroupIDHttpPostIn"/>
            <wsdl:output message="tns:GetLocationListByExtGroupIDHttpPostOut"/>
        </wsdl:operation>
    </wsdl:portType>
    <wsdl:binding name="LogixGroupManagementSoap" type="tns:LogixGroupManagementSoap">
        <soap:binding transport="http://schemas.xmlsoap.org/soap/http"/>
        <wsdl:operation name="ProcessCardInCustGroupByExtGrpID">
            <soap:operation soapAction="http://www.copienttech.com/LogixGroupManagement/ProcessCardInCustGroupByExtGrpID" style="document"/>
            <wsdl:input>
                <soap:body use="literal"/>
            </wsdl:input>
            <wsdl:output>
                <soap:body use="literal"/>
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="ProcessCardInCustGroupByLogixID">
            <soap:operation soapAction="http://www.copienttech.com/LogixGroupManagement/ProcessCardInCustGroupByLogixID" style="document"/>
            <wsdl:input>
                <soap:body use="literal"/>
            </wsdl:input>
            <wsdl:output>
                <soap:body use="literal"/>
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="ProcessMultipleCardsInCustGroupByExtGrpID">
            <soap:operation soapAction="http://www.copienttech.com/LogixGroupManagement/ProcessMultipleCardsInCustGroupByExtGrpID" style="document"/>
            <wsdl:input>
                <soap:body use="literal"/>
            </wsdl:input>
            <wsdl:output>
                <soap:body use="literal"/>
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="ProcessMultipleCardsInCustGroupByLogixID">
            <soap:operation soapAction="http://www.copienttech.com/LogixGroupManagement/ProcessMultipleCardsInCustGroupByLogixID" style="document"/>
            <wsdl:input>
                <soap:body use="literal"/>
            </wsdl:input>
            <wsdl:output>
                <soap:body use="literal"/>
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="ProcessLocInLocGroupByExtGrpID">
            <soap:operation soapAction="http://www.copienttech.com/LogixGroupManagement/ProcessLocInLocGroupByExtGrpID" style="document"/>
            <wsdl:input>
                <soap:body use="literal"/>
            </wsdl:input>
            <wsdl:output>
                <soap:body use="literal"/>
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="ProcessLocInLocGroupByLogixID">
            <soap:operation soapAction="http://www.copienttech.com/LogixGroupManagement/ProcessLocInLocGroupByLogixID" style="document"/>
            <wsdl:input>
                <soap:body use="literal"/>
            </wsdl:input>
            <wsdl:output>
                <soap:body use="literal"/>
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="ProcessMultipleLocInLocGroupByExtGrpID">
            <soap:operation soapAction="http://www.copienttech.com/LogixGroupManagement/ProcessMultipleLocInLocGroupByExtGrpID" style="document"/>
            <wsdl:input>
                <soap:body use="literal"/>
            </wsdl:input>
            <wsdl:output>
                <soap:body use="literal"/>
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="ProcessMultipleLocInLocGroupByLogixID">
            <soap:operation soapAction="http://www.copienttech.com/LogixGroupManagement/ProcessMultipleLocInLocGroupByLogixID" style="document"/>
            <wsdl:input>
                <soap:body use="literal"/>
            </wsdl:input>
            <wsdl:output>
                <soap:body use="literal"/>
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="ProcessProdInProdGroupByExtGrpID">
            <soap:operation soapAction="http://www.copienttech.com/LogixGroupManagement/ProcessProdInProdGroupByExtGrpID" style="document"/>
            <wsdl:input>
                <soap:body use="literal"/>
            </wsdl:input>
            <wsdl:output>
                <soap:body use="literal"/>
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="ProcessProdInProdGroupByLogixID">
            <soap:operation soapAction="http://www.copienttech.com/LogixGroupManagement/ProcessProdInProdGroupByLogixID" style="document"/>
            <wsdl:input>
                <soap:body use="literal"/>
            </wsdl:input>
            <wsdl:output>
                <soap:body use="literal"/>
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="ProcessMultipleProdInProdGroupByExtGrpID">
            <soap:operation soapAction="http://www.copienttech.com/LogixGroupManagement/ProcessMultipleProdInProdGroupByExtGrpID" style="document"/>
            <wsdl:input>
                <soap:body use="literal"/>
            </wsdl:input>
            <wsdl:output>
                <soap:body use="literal"/>
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="ProcessMultipleProdInProdGroupByLogixID">
            <soap:operation soapAction="http://www.copienttech.com/LogixGroupManagement/ProcessMultipleProdInProdGroupByLogixID" style="document"/>
            <wsdl:input>
                <soap:body use="literal"/>
            </wsdl:input>
            <wsdl:output>
                <soap:body use="literal"/>
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="GetCustomerListByGroupID">
            <soap:operation soapAction="http://www.copienttech.com/LogixGroupManagement/GetCustomerListByGroupID" style="document"/>
            <wsdl:input>
                <soap:body use="literal"/>
            </wsdl:input>
            <wsdl:output>
                <soap:body use="literal"/>
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="GetCustomerListByExtGroupID">
            <soap:operation soapAction="http://www.copienttech.com/LogixGroupManagement/GetCustomerListByExtGroupID" style="document"/>
            <wsdl:input>
                <soap:body use="literal"/>
            </wsdl:input>
            <wsdl:output>
                <soap:body use="literal"/>
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="GetProductListByGroupID">
            <soap:operation soapAction="http://www.copienttech.com/LogixGroupManagement/GetProductListByGroupID" style="document"/>
            <wsdl:input>
                <soap:body use="literal"/>
            </wsdl:input>
            <wsdl:output>
                <soap:body use="literal"/>
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="GetProductListByExtGroupID">
            <soap:operation soapAction="http://www.copienttech.com/LogixGroupManagement/GetProductListByExtGroupID" style="document"/>
            <wsdl:input>
                <soap:body use="literal"/>
            </wsdl:input>
            <wsdl:output>
                <soap:body use="literal"/>
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="GetLocationListByGroupID">
            <soap:operation soapAction="http://www.copienttech.com/LogixGroupManagement/GetLocationListByGroupID" style="document"/>
            <wsdl:input>
                <soap:body use="literal"/>
            </wsdl:input>
            <wsdl:output>
                <soap:body use="literal"/>
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="GetLocationListByExtGroupID">
            <soap:operation soapAction="http://www.copienttech.com/LogixGroupManagement/GetLocationListByExtGroupID" style="document"/>
            <wsdl:input>
                <soap:body use="literal"/>
            </wsdl:input>
            <wsdl:output>
                <soap:body use="literal"/>
            </wsdl:output>
        </wsdl:operation>
    </wsdl:binding>
    <wsdl:binding name="LogixGroupManagementSoap12" type="tns:LogixGroupManagementSoap">
        <soap12:binding transport="http://schemas.xmlsoap.org/soap/http"/>
        <wsdl:operation name="ProcessCardInCustGroupByExtGrpID">
            <soap12:operation soapAction="http://www.copienttech.com/LogixGroupManagement/ProcessCardInCustGroupByExtGrpID" style="document"/>
            <wsdl:input>
                <soap12:body use="literal"/>
            </wsdl:input>
            <wsdl:output>
                <soap12:body use="literal"/>
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="ProcessCardInCustGroupByLogixID">
            <soap12:operation soapAction="http://www.copienttech.com/LogixGroupManagement/ProcessCardInCustGroupByLogixID" style="document"/>
            <wsdl:input>
                <soap12:body use="literal"/>
            </wsdl:input>
            <wsdl:output>
                <soap12:body use="literal"/>
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="ProcessMultipleCardsInCustGroupByExtGrpID">
            <soap12:operation soapAction="http://www.copienttech.com/LogixGroupManagement/ProcessMultipleCardsInCustGroupByExtGrpID" style="document"/>
            <wsdl:input>
                <soap12:body use="literal"/>
            </wsdl:input>
            <wsdl:output>
                <soap12:body use="literal"/>
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="ProcessMultipleCardsInCustGroupByLogixID">
            <soap12:operation soapAction="http://www.copienttech.com/LogixGroupManagement/ProcessMultipleCardsInCustGroupByLogixID" style="document"/>
            <wsdl:input>
                <soap12:body use="literal"/>
            </wsdl:input>
            <wsdl:output>
                <soap12:body use="literal"/>
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="ProcessLocInLocGroupByExtGrpID">
            <soap12:operation soapAction="http://www.copienttech.com/LogixGroupManagement/ProcessLocInLocGroupByExtGrpID" style="document"/>
            <wsdl:input>
                <soap12:body use="literal"/>
            </wsdl:input>
            <wsdl:output>
                <soap12:body use="literal"/>
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="ProcessLocInLocGroupByLogixID">
            <soap12:operation soapAction="http://www.copienttech.com/LogixGroupManagement/ProcessLocInLocGroupByLogixID" style="document"/>
            <wsdl:input>
                <soap12:body use="literal"/>
            </wsdl:input>
            <wsdl:output>
                <soap12:body use="literal"/>
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="ProcessMultipleLocInLocGroupByExtGrpID">
            <soap12:operation soapAction="http://www.copienttech.com/LogixGroupManagement/ProcessMultipleLocInLocGroupByExtGrpID" style="document"/>
            <wsdl:input>
                <soap12:body use="literal"/>
            </wsdl:input>
            <wsdl:output>
                <soap12:body use="literal"/>
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="ProcessMultipleLocInLocGroupByLogixID">
            <soap12:operation soapAction="http://www.copienttech.com/LogixGroupManagement/ProcessMultipleLocInLocGroupByLogixID" style="document"/>
            <wsdl:input>
                <soap12:body use="literal"/>
            </wsdl:input>
            <wsdl:output>
                <soap12:body use="literal"/>
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="ProcessProdInProdGroupByExtGrpID">
            <soap12:operation soapAction="http://www.copienttech.com/LogixGroupManagement/ProcessProdInProdGroupByExtGrpID" style="document"/>
            <wsdl:input>
                <soap12:body use="literal"/>
            </wsdl:input>
            <wsdl:output>
                <soap12:body use="literal"/>
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="ProcessProdInProdGroupByLogixID">
            <soap12:operation soapAction="http://www.copienttech.com/LogixGroupManagement/ProcessProdInProdGroupByLogixID" style="document"/>
            <wsdl:input>
                <soap12:body use="literal"/>
            </wsdl:input>
            <wsdl:output>
                <soap12:body use="literal"/>
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="ProcessMultipleProdInProdGroupByExtGrpID">
            <soap12:operation soapAction="http://www.copienttech.com/LogixGroupManagement/ProcessMultipleProdInProdGroupByExtGrpID" style="document"/>
            <wsdl:input>
                <soap12:body use="literal"/>
            </wsdl:input>
            <wsdl:output>
                <soap12:body use="literal"/>
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="ProcessMultipleProdInProdGroupByLogixID">
            <soap12:operation soapAction="http://www.copienttech.com/LogixGroupManagement/ProcessMultipleProdInProdGroupByLogixID" style="document"/>
            <wsdl:input>
                <soap12:body use="literal"/>
            </wsdl:input>
            <wsdl:output>
                <soap12:body use="literal"/>
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="GetCustomerListByGroupID">
            <soap12:operation soapAction="http://www.copienttech.com/LogixGroupManagement/GetCustomerListByGroupID" style="document"/>
            <wsdl:input>
                <soap12:body use="literal"/>
            </wsdl:input>
            <wsdl:output>
                <soap12:body use="literal"/>
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="GetCustomerListByExtGroupID">
            <soap12:operation soapAction="http://www.copienttech.com/LogixGroupManagement/GetCustomerListByExtGroupID" style="document"/>
            <wsdl:input>
                <soap12:body use="literal"/>
            </wsdl:input>
            <wsdl:output>
                <soap12:body use="literal"/>
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="GetProductListByGroupID">
            <soap12:operation soapAction="http://www.copienttech.com/LogixGroupManagement/GetProductListByGroupID" style="document"/>
            <wsdl:input>
                <soap12:body use="literal"/>
            </wsdl:input>
            <wsdl:output>
                <soap12:body use="literal"/>
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="GetProductListByExtGroupID">
            <soap12:operation soapAction="http://www.copienttech.com/LogixGroupManagement/GetProductListByExtGroupID" style="document"/>
            <wsdl:input>
                <soap12:body use="literal"/>
            </wsdl:input>
            <wsdl:output>
                <soap12:body use="literal"/>
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="GetLocationListByGroupID">
            <soap12:operation soapAction="http://www.copienttech.com/LogixGroupManagement/GetLocationListByGroupID" style="document"/>
            <wsdl:input>
                <soap12:body use="literal"/>
            </wsdl:input>
            <wsdl:output>
                <soap12:body use="literal"/>
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="GetLocationListByExtGroupID">
            <soap12:operation soapAction="http://www.copienttech.com/LogixGroupManagement/GetLocationListByExtGroupID" style="document"/>
            <wsdl:input>
                <soap12:body use="literal"/>
            </wsdl:input>
            <wsdl:output>
                <soap12:body use="literal"/>
            </wsdl:output>
        </wsdl:operation>
    </wsdl:binding>
    <wsdl:binding name="LogixGroupManagementHttpGet" type="tns:LogixGroupManagementHttpGet">
        <http:binding verb="GET"/>
        <wsdl:operation name="ProcessCardInCustGroupByExtGrpID">
            <http:operation location="/ProcessCardInCustGroupByExtGrpID"/>
            <wsdl:input>
                <http:urlEncoded/>
            </wsdl:input>
            <wsdl:output>
                <mime:mimeXml part="Body"/>
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="ProcessCardInCustGroupByLogixID">
            <http:operation location="/ProcessCardInCustGroupByLogixID"/>
            <wsdl:input>
                <http:urlEncoded/>
            </wsdl:input>
            <wsdl:output>
                <mime:mimeXml part="Body"/>
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="ProcessMultipleCardsInCustGroupByExtGrpID">
            <http:operation location="/ProcessMultipleCardsInCustGroupByExtGrpID"/>
            <wsdl:input>
                <http:urlEncoded/>
            </wsdl:input>
            <wsdl:output>
                <mime:mimeXml part="Body"/>
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="ProcessMultipleCardsInCustGroupByLogixID">
            <http:operation location="/ProcessMultipleCardsInCustGroupByLogixID"/>
            <wsdl:input>
                <http:urlEncoded/>
            </wsdl:input>
            <wsdl:output>
                <mime:mimeXml part="Body"/>
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="ProcessLocInLocGroupByExtGrpID">
            <http:operation location="/ProcessLocInLocGroupByExtGrpID"/>
            <wsdl:input>
                <http:urlEncoded/>
            </wsdl:input>
            <wsdl:output>
                <mime:mimeXml part="Body"/>
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="ProcessLocInLocGroupByLogixID">
            <http:operation location="/ProcessLocInLocGroupByLogixID"/>
            <wsdl:input>
                <http:urlEncoded/>
            </wsdl:input>
            <wsdl:output>
                <mime:mimeXml part="Body"/>
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="ProcessMultipleLocInLocGroupByExtGrpID">
            <http:operation location="/ProcessMultipleLocInLocGroupByExtGrpID"/>
            <wsdl:input>
                <http:urlEncoded/>
            </wsdl:input>
            <wsdl:output>
                <mime:mimeXml part="Body"/>
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="ProcessMultipleLocInLocGroupByLogixID">
            <http:operation location="/ProcessMultipleLocInLocGroupByLogixID"/>
            <wsdl:input>
                <http:urlEncoded/>
            </wsdl:input>
            <wsdl:output>
                <mime:mimeXml part="Body"/>
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="ProcessProdInProdGroupByExtGrpID">
            <http:operation location="/ProcessProdInProdGroupByExtGrpID"/>
            <wsdl:input>
                <http:urlEncoded/>
            </wsdl:input>
            <wsdl:output>
                <mime:mimeXml part="Body"/>
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="ProcessProdInProdGroupByLogixID">
            <http:operation location="/ProcessProdInProdGroupByLogixID"/>
            <wsdl:input>
                <http:urlEncoded/>
            </wsdl:input>
            <wsdl:output>
                <mime:mimeXml part="Body"/>
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="ProcessMultipleProdInProdGroupByExtGrpID">
            <http:operation location="/ProcessMultipleProdInProdGroupByExtGrpID"/>
            <wsdl:input>
                <http:urlEncoded/>
            </wsdl:input>
            <wsdl:output>
                <mime:mimeXml part="Body"/>
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="ProcessMultipleProdInProdGroupByLogixID">
            <http:operation location="/ProcessMultipleProdInProdGroupByLogixID"/>
            <wsdl:input>
                <http:urlEncoded/>
            </wsdl:input>
            <wsdl:output>
                <mime:mimeXml part="Body"/>
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="GetCustomerListByGroupID">
            <http:operation location="/GetCustomerListByGroupID"/>
            <wsdl:input>
                <http:urlEncoded/>
            </wsdl:input>
            <wsdl:output>
                <mime:content part="Body" type="text/xml"/>
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="GetCustomerListByExtGroupID">
            <http:operation location="/GetCustomerListByExtGroupID"/>
            <wsdl:input>
                <http:urlEncoded/>
            </wsdl:input>
            <wsdl:output>
                <mime:content part="Body" type="text/xml"/>
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="GetProductListByGroupID">
            <http:operation location="/GetProductListByGroupID"/>
            <wsdl:input>
                <http:urlEncoded/>
            </wsdl:input>
            <wsdl:output>
                <mime:content part="Body" type="text/xml"/>
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="GetProductListByExtGroupID">
            <http:operation location="/GetProductListByExtGroupID"/>
            <wsdl:input>
                <http:urlEncoded/>
            </wsdl:input>
            <wsdl:output>
                <mime:content part="Body" type="text/xml"/>
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="GetLocationListByGroupID">
            <http:operation location="/GetLocationListByGroupID"/>
            <wsdl:input>
                <http:urlEncoded/>
            </wsdl:input>
            <wsdl:output>
                <mime:content part="Body" type="text/xml"/>
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="GetLocationListByExtGroupID">
            <http:operation location="/GetLocationListByExtGroupID"/>
            <wsdl:input>
                <http:urlEncoded/>
            </wsdl:input>
            <wsdl:output>
                <mime:content part="Body" type="text/xml"/>
            </wsdl:output>
        </wsdl:operation>
    </wsdl:binding>
    <wsdl:binding name="LogixGroupManagementHttpPost" type="tns:LogixGroupManagementHttpPost">
        <http:binding verb="POST"/>
        <wsdl:operation name="ProcessCardInCustGroupByExtGrpID">
            <http:operation location="/ProcessCardInCustGroupByExtGrpID"/>
            <wsdl:input>
                <mime:content type="application/x-www-form-urlencoded"/>
            </wsdl:input>
            <wsdl:output>
                <mime:mimeXml part="Body"/>
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="ProcessCardInCustGroupByLogixID">
            <http:operation location="/ProcessCardInCustGroupByLogixID"/>
            <wsdl:input>
                <mime:content type="application/x-www-form-urlencoded"/>
            </wsdl:input>
            <wsdl:output>
                <mime:mimeXml part="Body"/>
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="ProcessMultipleCardsInCustGroupByExtGrpID">
            <http:operation location="/ProcessMultipleCardsInCustGroupByExtGrpID"/>
            <wsdl:input>
                <mime:content type="application/x-www-form-urlencoded"/>
            </wsdl:input>
            <wsdl:output>
                <mime:mimeXml part="Body"/>
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="ProcessMultipleCardsInCustGroupByLogixID">
            <http:operation location="/ProcessMultipleCardsInCustGroupByLogixID"/>
            <wsdl:input>
                <mime:content type="application/x-www-form-urlencoded"/>
            </wsdl:input>
            <wsdl:output>
                <mime:mimeXml part="Body"/>
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="ProcessLocInLocGroupByExtGrpID">
            <http:operation location="/ProcessLocInLocGroupByExtGrpID"/>
            <wsdl:input>
                <mime:content type="application/x-www-form-urlencoded"/>
            </wsdl:input>
            <wsdl:output>
                <mime:mimeXml part="Body"/>
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="ProcessLocInLocGroupByLogixID">
            <http:operation location="/ProcessLocInLocGroupByLogixID"/>
            <wsdl:input>
                <mime:content type="application/x-www-form-urlencoded"/>
            </wsdl:input>
            <wsdl:output>
                <mime:mimeXml part="Body"/>
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="ProcessMultipleLocInLocGroupByExtGrpID">
            <http:operation location="/ProcessMultipleLocInLocGroupByExtGrpID"/>
            <wsdl:input>
                <mime:content type="application/x-www-form-urlencoded"/>
            </wsdl:input>
            <wsdl:output>
                <mime:mimeXml part="Body"/>
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="ProcessMultipleLocInLocGroupByLogixID">
            <http:operation location="/ProcessMultipleLocInLocGroupByLogixID"/>
            <wsdl:input>
                <mime:content type="application/x-www-form-urlencoded"/>
            </wsdl:input>
            <wsdl:output>
                <mime:mimeXml part="Body"/>
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="ProcessProdInProdGroupByExtGrpID">
            <http:operation location="/ProcessProdInProdGroupByExtGrpID"/>
            <wsdl:input>
                <mime:content type="application/x-www-form-urlencoded"/>
            </wsdl:input>
            <wsdl:output>
                <mime:mimeXml part="Body"/>
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="ProcessProdInProdGroupByLogixID">
            <http:operation location="/ProcessProdInProdGroupByLogixID"/>
            <wsdl:input>
                <mime:content type="application/x-www-form-urlencoded"/>
            </wsdl:input>
            <wsdl:output>
                <mime:mimeXml part="Body"/>
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="ProcessMultipleProdInProdGroupByExtGrpID">
            <http:operation location="/ProcessMultipleProdInProdGroupByExtGrpID"/>
            <wsdl:input>
                <mime:content type="application/x-www-form-urlencoded"/>
            </wsdl:input>
            <wsdl:output>
                <mime:mimeXml part="Body"/>
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="ProcessMultipleProdInProdGroupByLogixID">
            <http:operation location="/ProcessMultipleProdInProdGroupByLogixID"/>
            <wsdl:input>
                <mime:content type="application/x-www-form-urlencoded"/>
            </wsdl:input>
            <wsdl:output>
                <mime:mimeXml part="Body"/>
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="GetCustomerListByGroupID">
            <http:operation location="/GetCustomerListByGroupID"/>
            <wsdl:input>
                <mime:content type="application/x-www-form-urlencoded"/>
            </wsdl:input>
            <wsdl:output>
                <mime:content part="Body" type="text/xml"/>
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="GetCustomerListByExtGroupID">
            <http:operation location="/GetCustomerListByExtGroupID"/>
            <wsdl:input>
                <mime:content type="application/x-www-form-urlencoded"/>
            </wsdl:input>
            <wsdl:output>
                <mime:content part="Body" type="text/xml"/>
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="GetProductListByGroupID">
            <http:operation location="/GetProductListByGroupID"/>
            <wsdl:input>
                <mime:content type="application/x-www-form-urlencoded"/>
            </wsdl:input>
            <wsdl:output>
                <mime:content part="Body" type="text/xml"/>
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="GetProductListByExtGroupID">
            <http:operation location="/GetProductListByExtGroupID"/>
            <wsdl:input>
                <mime:content type="application/x-www-form-urlencoded"/>
            </wsdl:input>
            <wsdl:output>
                <mime:content part="Body" type="text/xml"/>
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="GetLocationListByGroupID">
            <http:operation location="/GetLocationListByGroupID"/>
            <wsdl:input>
                <mime:content type="application/x-www-form-urlencoded"/>
            </wsdl:input>
            <wsdl:output>
                <mime:content part="Body" type="text/xml"/>
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="GetLocationListByExtGroupID">
            <http:operation location="/GetLocationListByExtGroupID"/>
            <wsdl:input>
                <mime:content type="application/x-www-form-urlencoded"/>
            </wsdl:input>
            <wsdl:output>
                <mime:content part="Body" type="text/xml"/>
            </wsdl:output>
        </wsdl:operation>
    </wsdl:binding>
    <wsdl:service name="LogixGroupManagement">
        <wsdl:port name="LogixGroupManagementSoap" binding="tns:LogixGroupManagementSoap">
            <soap:address location="http://logixcert.heb.com/connectors/LogixGroupManagement.asmx"/>
        </wsdl:port>
        <wsdl:port name="LogixGroupManagementSoap12" binding="tns:LogixGroupManagementSoap12">
            <soap12:address location="http://logixcert.heb.com/connectors/LogixGroupManagement.asmx"/>
        </wsdl:port>
        <wsdl:port name="LogixGroupManagementHttpGet" binding="tns:LogixGroupManagementHttpGet">
            <http:address location="http://logixcert.heb.com/connectors/LogixGroupManagement.asmx"/>
        </wsdl:port>
        <wsdl:port name="LogixGroupManagementHttpPost" binding="tns:LogixGroupManagementHttpPost">
            <http:address location="http://logixcert.heb.com/connectors/LogixGroupManagement.asmx"/>
        </wsdl:port>
    </wsdl:service>
</wsdl:definitions>