RTSales/Varios/Acreedores_InvoiceService-SoloCFDI/Shared Resources/WSDL/Abstract/MexicoDigitalInvoiceService.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<definitions xmlns:ns16="http://www.tibco.com/ns/no_namespace_schema_location/Shared Resources/Schema Definitions/Custom/DIGITAL_INVOICE_RESPONSE.xsd" xmlns="http://schemas.xmlsoap.org/wsdl/" xmlns:ns17="http://xmlns.heb.com/ei/DIGITAL_INVOICE_RESPONSE" xmlns:ns14="http://xmlns.heb.com/ei/PURCHASE_ORDER_RESPONSE" xmlns:ns="http://xmlns.heb.com/ei/Authentication" xmlns:ns15="http://xmlns.heb.com/ei/DIGITAL_INVOICE_REQUEST" xmlns:ns9="http://xmlns.heb.com/ei/SHEET_DIFFERENCES_REQUEST" xmlns:ns12="http://xmlns.heb.com/ei/INTEGRATION_NUMBER_RESPONSE" xmlns:ns5="http://xmlns.heb.com/ei/Message_Request" xmlns:ns13="http://xmlns.heb.com/ei/PURCHASE_ORDER_REQUEST" xmlns:ns6="http://xmlns.heb.com/ei/RECEIPT_NUMBER_REQUEST" xmlns:ns7="http://xmlns.heb.com/ei/GET_RECEIPT_NUMBER_RESPONSE" xmlns:ns10="http://xmlns.heb.com/ei/SHEET_DIFFERENCES_RESPONSE" xmlns:ns8="http://xmlns.heb.com/ei/RECEIPT_NUMBER_RESPONSE" xmlns:ns11="http://xmlns.heb.com/ei/INTEGRATION_NUMBER_REQUEST" xmlns:ns2="http://xmlns.heb.com/ei/MESSAGE_REQUEST" xmlns:ns4="http://xmlns.heb.com/ei/SPGFaultSchema" xmlns:ns3="http://xmlns.heb.com/ei/MESSAGE_REPLY" xmlns:tns="http://www.heb.com/ei/MexicoDigitalInvoiceService" xmlns:xsd="http://www.w3.org/2001/XMLSchema" targetNamespace="http://www.heb.com/ei/MexicoDigitalInvoiceService">
    <import namespace="http://xmlns.heb.com/ei/Authentication" location="../../Schema Definitions/Custom/Authentication.xsd"/>
    <import namespace="http://xmlns.heb.com/ei/MESSAGE_REPLY" location="../../Schema Definitions/Custom/MESSAGE_REPLY.xsd"/>
    <import namespace="http://xmlns.heb.com/ei/SPGFaultSchema" location="../../Schema Definitions/Custom/SPGFaultSchema.xsd"/>
    <import namespace="http://xmlns.heb.com/ei/Message_Request" location="../../Schema Definitions/Custom/MESSAGE_REQUEST.xsd"/>
    <import namespace="http://xmlns.heb.com/ei/RECEIPT_NUMBER_REQUEST" location="../../Schema Definitions/Custom/RECEIPT_NUMBER_REQUEST.xsd"/>
    <import namespace="http://xmlns.heb.com/ei/RECEIPT_NUMBER_RESPONSE" location="../../Schema Definitions/Custom/RECEIPT_NUMBER_RESPONSE.xsd"/>
    <import namespace="http://xmlns.heb.com/ei/SHEET_DIFFERENCES_REQUEST" location="../../Schema Definitions/Custom/SHEET_DIFFERENCES_REQUEST.xsd"/>
    <import namespace="http://xmlns.heb.com/ei/SHEET_DIFFERENCES_RESPONSE" location="../../Schema Definitions/Custom/SHEET_DIFFERENCES_RESPONSE.xsd"/>
    <import namespace="http://xmlns.heb.com/ei/INTEGRATION_NUMBER_REQUEST" location="../../Schema Definitions/Custom/INTEGRATION_NUMBER_REQUEST.xsd"/>
    <import namespace="http://xmlns.heb.com/ei/INTEGRATION_NUMBER_RESPONSE" location="../../Schema Definitions/Custom/INTEGRATION_NUMBER_RESPONSE.xsd"/>
    <import namespace="http://xmlns.heb.com/ei/PURCHASE_ORDER_REQUEST" location="../../Schema Definitions/Custom/PURCHASE_ORDER_REQUEST.xsd"/>
    <import namespace="http://xmlns.heb.com/ei/PURCHASE_ORDER_RESPONSE" location="../../Schema Definitions/Custom/PURCHASE_ORDER_RESPONSE.xsd"/>
    <import namespace="http://xmlns.heb.com/ei/DIGITAL_INVOICE_REQUEST" location="../../Schema Definitions/Custom/DIGITAL_INVOICE_REQUEST.xsd"/>
    <import namespace="http://xmlns.heb.com/ei/DIGITAL_INVOICE_RESPONSE" location="../../Schema Definitions/Custom/DIGITAL_INVOICE_RESPONSE.xsd"/>
    <message name="MESSAGE_REQUEST">
        <part name="parameters" element="ns5:MESSAGE_REQUEST"/>
    </message>
    <message name="MESSAGE_REPLY">
        <part name="parameters" element="ns3:MESSAGE_REPLY"/>
    </message>
    <message name="FAULT">
        <part name="fault" element="ns4:SPGSOAPFault"/>
    </message>
    <message name="GET_RECEIPT_NUMBER_REQUEST">
        <part name="parameters" element="ns6:GET_RECEIPT_NUMBER_REQUEST"/>
    </message>
    <message name="GET_RECEIPT_NUMBER_RESPONSE">
        <part name="parameters" element="ns8:GET_RECEIPT_NUMBER_RESPONSE"/>
    </message>
    <message name="GET_SHEET_DIFFERENCES_REQUEST">
        <part name="parameters" element="ns9:GET_SHEET_DIFFERENCES_REQUEST"/>
    </message>
    <message name="GET_SHEET_DIFFERENCES_RESPONSE">
        <part name="parameters" element="ns10:GET_SHEET_DIFFERENCES_RESPONSE"/>
    </message>
    <message name="GET_INTEGRATION_NUMBER_REQUEST">
        <part name="parameters" element="ns11:GET_INTEGRATION_NUMBER_REQUEST"/>
    </message>
    <message name="GET_INTEGRATION_NUMBER_RESPONSE">
        <part name="parameters" element="ns12:GET_INTEGRATION_NUMBER_RESPONSE"/>
    </message>
    <message name="GET_PURCHASE_ORDER_REQUEST">
        <part name="parameters" element="ns13:GET_PURCHASE_ORDER_REQUEST"/>
    </message>
    <message name="GET_PURCHASE_ORDER_RESPONSE">
        <part name="parameters" element="ns14:GET_PURCHASE_ORDER_RESPONSE"/>
    </message>
    <message name="SET_DIGITAL_INVOICE_REQUEST">
        <part name="parameters" element="ns15:SET_DIGITAL_INVOICE_REQUEST"/>
    </message>
    <message name="SET_DIGITAL_INVOICE_RESPONSE">
        <part name="parameters" element="ns17:SET_DIGITAL_INVOICE_RESPONSE"/>
    </message>
    <portType name="MexicoDigitalInvoiceService_PortType">
        <operation name="getMessage">
            <input name="request" message="tns:MESSAGE_REQUEST"/>
            <output name="reply" message="tns:MESSAGE_REPLY"/>
            <fault name="fault" message="tns:FAULT"/>
        </operation>
        <operation name="getReceiptNumber">
            <input name="request" message="tns:GET_RECEIPT_NUMBER_REQUEST"/>
            <output name="reply" message="tns:GET_RECEIPT_NUMBER_RESPONSE"/>
            <fault name="fault" message="tns:FAULT"/>
        </operation>
        <operation name="getSheetDifferences">
            <input name="input" message="tns:GET_SHEET_DIFFERENCES_REQUEST"/>
            <output name="output" message="tns:GET_SHEET_DIFFERENCES_RESPONSE"/>
            <fault name="fault" message="tns:FAULT"/>
        </operation>
        <operation name="getIntegrationNumber">
            <input name="input" message="tns:GET_INTEGRATION_NUMBER_REQUEST"/>
            <output name="output" message="tns:GET_INTEGRATION_NUMBER_RESPONSE"/>
            <fault name="fault" message="tns:FAULT"/>
        </operation>
        <operation name="getPurchaseOrder">
            <input name="input" message="tns:GET_PURCHASE_ORDER_REQUEST"/>
            <output name="output" message="tns:GET_PURCHASE_ORDER_RESPONSE"/>
            <fault name="fault" message="tns:FAULT"/>
        </operation>
        <operation name="setDigitalInvoice">
            <input name="input" message="tns:SET_DIGITAL_INVOICE_REQUEST"/>
            <output name="output" message="tns:SET_DIGITAL_INVOICE_RESPONSE"/>
            <fault name="fault" message="tns:FAULT"/>
        </operation>
    </portType>
</definitions>