HEBSeller/DiagramasSchemas/Esquemas/BITACORA_PROPUESTA_ARTICULO.xml

        
<?xml version="1.0" encoding="UTF-8"?>

<!-- edited with XMLSpy v2011 sp1 (http://www.altova.com) by End User (free.org) -->
<xsd:schema xmlns="http://xmlns.heb.com/ei/Bitacora"
	 xmlns:xsd="http://www.w3.org/2001/XMLSchema"
	 targetNamespace="http://xmlns.heb.com/ei/Bitacora"
	 elementFormDefault="qualified"
	 attributeFormDefault="unqualified">
	<xsd:element name="BitacoraPropuestaArticulo">
		<xsd:complexType>
			<xsd:sequence>
				<xsd:element name="IdPropuestaArticulo" form="unqualified" type="xsd:int"/>
				<xsd:element name="IdEstatus" form="unqualified" type="xsd:int"/>
				<xsd:element name="FechaCaptura" form="unqualified" type="xsd:dateTime"/>
				<xsd:element name="UsuarioCaptura" form="unqualified" type="xsd:int"/>
				<xsd:element name="FechaModificacion" form="unqualified" type="xsd:dateTime" minOccurs="0"/>
				<xsd:element name="UsuarioModificacion" form="unqualified" type="xsd:int" minOccurs="0"/>
			</xsd:sequence>
		</xsd:complexType>
	</xsd:element>
</xsd:schema>