HEBSeller/DiagramasSchemas/Esquemas/MAG_IMPORT_PRODUCTS.xml

<?xml version="1.0" encoding="UTF-8"?>

<!-- edited with XMLSpy v2011 sp1 (http://www.altova.com) by End User (free.org) -->
<xsd:schema xmlns="http://xmlns.heb.com/ei/Products"
	 xmlns:xsd="http://www.w3.org/2001/XMLSchema"
	 targetNamespace="http://xmlns.heb.com/ei/Products"
	 elementFormDefault="qualified"
	 attributeFormDefault="unqualified">
	<xsd:element name="mag_import_products">
		<xsd:complexType>
			<xsd:sequence>
            <xsd:element name="store" form="unqualified" type="xsd:string" minOccurs="0"/>
            <xsd:element name="websites" form="unqualified" type="xsd:string" minOccurs="0"/>
            <xsd:element name="attribute_set" form="unqualified" type="xsd:string" minOccurs="0"/>
            <xsd:element name="type" form="unqualified" type="xsd:string" minOccurs="0"/>
            <xsd:element name="category_ids" form="unqualified" type="xsd:string" minOccurs="0"/>
            <xsd:element name="Sku" form="unqualified" type="xsd:string"/>
            <xsd:element name="has_options" form="unqualified" type="xsd:int" minOccurs="0"/>
            <xsd:element name="name" form="unqualified" type="xsd:string" minOccurs="0"/>
            <xsd:element name="country_of_manufacture" form="unqualified" type="xsd:string" minOccurs="0"/>
            <xsd:element name="is_returnable" form="unqualified" type="xsd:short" minOccurs="0"/>
            <xsd:element name="msrp_enabled" form="unqualified" type="xsd:int" minOccurs="0"/>
            <xsd:element name="msrp_display_actual_price_type" form="unqualified" type="xsd:short" minOccurs="0"/>
            <xsd:element name="meta_title" form="unqualified" type="xsd:string" minOccurs="0"/>
            <xsd:element name="meta_description" form="unqualified" type="xsd:string" minOccurs="0"/>
            <xsd:element name="custom_design" form="unqualified" type="xsd:string" minOccurs="0"/>
            <xsd:element name="page_layout" form="unqualified" type="xsd:string" minOccurs="0"/>
            <xsd:element name="options_container" form="unqualified" type="xsd:string" minOccurs="0"/>
            <xsd:element name="gift_message_available" form="unqualified" type="xsd:short" minOccurs="0"/>
            <xsd:element name="gift_wrapping_available" form="unqualified" type="xsd:short" minOccurs="0"/>
            <xsd:element name="marca" form="unqualified" type="xsd:string" minOccurs="0"/>
            <xsd:element name="url_key" form="unqualified" type="xsd:string" minOccurs="0"/>
            <xsd:element name="Weight" form="unqualified" type="xsd:decimal" minOccurs="0"/>
            <xsd:element name="price" form="unqualified" type="xsd:decimal" minOccurs="0"/>
            <xsd:element name="special_price" form="unqualified" type="xsd:decimal" minOccurs="0"/>
            <xsd:element name="msrp" form="unqualified" type="xsd:decimal" minOccurs="0"/>
            <xsd:element name="gift_wrapping_price" form="unqualified" type="xsd:decimal" minOccurs="0"/>
            <xsd:element name="Status" form="unqualified" type="xsd:short" minOccurs="0"/>
            <xsd:element name="is_recurring" form="unqualified" type="xsd:string" minOccurs="0"/>
            <xsd:element name="visibility" form="unqualified" type="xsd:short" minOccurs="0"/>
            <xsd:element name="tax_class_id" form="unqualified" type="xsd:int" minOccurs="0"/>
            <xsd:element name="cuenta_con_imagen" form="unqualified" type="xsd:short" minOccurs="0"/>
            <xsd:element name="description" form="unqualified" type="xsd:string" minOccurs="0"/>
            <xsd:element name="short_description" form="unqualified" type="xsd:string" minOccurs="0"/>
            <xsd:element name="meta_keyword" form="unqualified" type="xsd:string" minOccurs="0"/>
            <xsd:element name="custom_layout_update" form="unqualified" type="xsd:string" minOccurs="0"/>
            <xsd:element name="special_from_date" form="unqualified" type="xsd:string" minOccurs="0"/>
            <xsd:element name="special_to_date" form="unqualified" type="xsd:string" minOccurs="0"/>
            <xsd:element name="news_from_date" form="unqualified" type="xsd:string" minOccurs="0"/>
            <xsd:element name="news_to_date" form="unqualified" type="xsd:string" minOccurs="0"/>
            <xsd:element name="custom_design_from" form="unqualified" type="xsd:string" minOccurs="0"/>
            <xsd:element name="custom_design_to" form="unqualified" type="xsd:string" minOccurs="0"/>
            <xsd:element name="qty" form="unqualified" type="xsd:int" minOccurs="0"/>
            <xsd:element name="min_qty" form="unqualified" type="xsd:decimal" minOccurs="0"/>
            <xsd:element name="use_config_min_qty" form="unqualified" type="xsd:short" minOccurs="0"/>
            <xsd:element name="is_qty_decimal" form="unqualified" type="xsd:decimal" minOccurs="0"/>
            <xsd:element name="backorders" form="unqualified" type="xsd:short" minOccurs="0"/>
            <xsd:element name="use_config_backorders" form="unqualified" type="xsd:short" minOccurs="0"/>
            <xsd:element name="min_sale_qty" form="unqualified" type="xsd:decimal" minOccurs="0"/>
            <xsd:element name="use_config_min_sale_qty" form="unqualified" type="xsd:short" minOccurs="0"/>
            <xsd:element name="max_sale_qty" form="unqualified" type="xsd:int" minOccurs="0"/>
            <xsd:element name="use_config_max_sale_qty" form="unqualified" type="xsd:short" minOccurs="0"/>
            <xsd:element name="is_in_stock" form="unqualified" type="xsd:short" minOccurs="0"/>
            <xsd:element name="low_stock_date" form="unqualified" type="xsd:int" minOccurs="0"/>
            <xsd:element name="notify_stock_qty" form="unqualified" type="xsd:short" minOccurs="0"/>
            <xsd:element name="use_config_notify_stock_qty" form="unqualified" type="xsd:short" minOccurs="0"/>
            <xsd:element name="manage_stock" form="unqualified" type="xsd:short" minOccurs="0"/>
            <xsd:element name="use_config_manage_stock" form="unqualified" type="xsd:int" minOccurs="0"/>
            <xsd:element name="stock_status_changed_auto" form="unqualified" type="xsd:int" minOccurs="0"/>
            <xsd:element name="use_config_qty_increments" form="unqualified" type="xsd:int" minOccurs="0"/>
            <xsd:element name="qty_increments" form="unqualified" type="xsd:int" minOccurs="0"/>
            <xsd:element name="use_config_enable_qty_inc" form="unqualified" type="xsd:short" minOccurs="0"/>
            <xsd:element name="enable_qty_increments" form="unqualified" type="xsd:short" minOccurs="0"/>
            <xsd:element name="is_decimal_divided" form="unqualified" type="xsd:int" minOccurs="0"/>
            <xsd:element name="stock_status_changed_automatically" form="unqualified" type="xsd:int" minOccurs="0"/>
            <xsd:element name="use_config_enable_qty_increments" form="unqualified" type="xsd:int" minOccurs="0"/>
            <xsd:element name="product_name" form="unqualified" type="xsd:string" minOccurs="0"/>
            <xsd:element name="store_id" form="unqualified" type="xsd:string" minOccurs="0"/>
            <xsd:element name="product_type_id" form="unqualified" type="xsd:string" minOccurs="0"/>
            <xsd:element name="product_status_changed" form="unqualified" type="xsd:int" minOccurs="0"/>
            <xsd:element name="product_changed_websites" form="unqualified" type="xsd:int" minOccurs="0"/>
            <xsd:element name="tipo_de_promocion" form="unqualified" type="xsd:int" minOccurs="0"/>
            <xsd:element name="departamento" form="unqualified" type="xsd:string" minOccurs="0"/>
            <xsd:element name="entrega_nacional" form="unqualified" type="xsd:short" minOccurs="0"/>
            <xsd:element name="ficha_tecnica" form="unqualified" type="xsd:string" minOccurs="0"/>
            <xsd:element name="tipo_de_vino" form="unqualified" type="xsd:string" minOccurs="0"/>
            <xsd:element name="variedad_de_uva" form="unqualified" type="xsd:string" minOccurs="0"/>
            <xsd:element name="alto_rendimiento" form="unqualified" type="xsd:string" minOccurs="0"/>
            <xsd:element name="bajo_en_carbohidratos" form="unqualified" type="xsd:string" minOccurs="0"/>
            <xsd:element name="bajo_en_grasa" form="unqualified" type="xsd:string" minOccurs="0"/>
            <xsd:element name="fuente_fibra" form="unqualified" type="xsd:string" minOccurs="0"/>
            <xsd:element name="libre_en_azucar" form="unqualified" type="xsd:string" minOccurs="0"/>
            <xsd:element name="libre_gluten" form="unqualified" type="xsd:string" minOccurs="0"/>
            <xsd:element name="libre_lactosa" form="unqualified" type="xsd:string" minOccurs="0"/>
            <xsd:element name="Color" form="unqualified" type="xsd:string" minOccurs="0"/>
            <xsd:element name="Corte" form="unqualified" type="xsd:string" minOccurs="0"/>
            <xsd:element name="dietetico" form="unqualified" type="xsd:string" minOccurs="0"/>
            <xsd:element name="etapa_bebe" form="unqualified" type="xsd:string" minOccurs="0"/>
            <xsd:element name="exclusivo_internet" form="unqualified" type="xsd:int" minOccurs="0"/>
            <xsd:element name="forma_pasta" form="unqualified" type="xsd:string" minOccurs="0"/>
            <xsd:element name="nutricion_deportiva" form="unqualified" type="xsd:string" minOccurs="0"/>
            <xsd:element name="organico" form="unqualified" type="xsd:string" minOccurs="0"/>
            <xsd:element name="pastel_personalizado" form="unqualified" type="xsd:short" minOccurs="0"/>
            <xsd:element name="presentacion" form="unqualified" type="xsd:string" minOccurs="0"/>
            <xsd:element name="sabor" form="unqualified" type="xsd:string" minOccurs="0"/>
            <xsd:element name="tipo_carne" form="unqualified" type="xsd:string" minOccurs="0"/>
            <xsd:element name="tipo_material" form="unqualified" type="xsd:string" minOccurs="0"/>
            <xsd:element name="vegetariano" form="unqualified" type="xsd:string" minOccurs="0"/>
            <xsd:element name="es_pesable" form="unqualified" type="xsd:short" minOccurs="0"/>
            <xsd:element name="peso_unitario" form="unqualified" type="xsd:decimal" minOccurs="0"/>
            <xsd:element name="ean" form="unqualified" type="xsd:string" minOccurs="0"/>
            <xsd:element name="familia_comercial" form="unqualified" type="xsd:string" minOccurs="0"/>
            <xsd:element name="subfam_comercial" form="unqualified" type="xsd:string" minOccurs="0"/>
            <xsd:element name="rango_edad" form="unqualified" type="xsd:string" minOccurs="0"/>
            <xsd:element name="hebhit" form="unqualified" type="xsd:short" minOccurs="0"/>
            <xsd:element name="pais" form="unqualified" type="xsd:string" minOccurs="0"/>
            <xsd:element name="mensaje_regalo" form="unqualified" type="xsd:string" minOccurs="0"/>
            <xsd:element name="genero" form="unqualified" type="xsd:string" minOccurs="0"/>
            <xsd:element name="carneasada" form="unqualified" type="xsd:string" minOccurs="0"/>
            <xsd:element name="tipo_cocimiento" form="unqualified" type="xsd:string" minOccurs="0"/>
            <xsd:element name="fresco" form="unqualified" type="xsd:string" minOccurs="0"/>
            <xsd:element name="previamente_congelado" form="unqualified" type="xsd:string" minOccurs="0"/>
            <xsd:element name="es_natural" form="unqualified" type="xsd:string" minOccurs="0"/>
            <xsd:element name="alto_en_calcio" form="unqualified" type="xsd:string" minOccurs="0"/>
            <xsd:element name="madurado" form="unqualified" type="xsd:string" minOccurs="0"/>
            <xsd:element name="salvaje" form="unqualified" type="xsd:string" minOccurs="0"/>
            <xsd:element name="alto_en_omegas" form="unqualified" type="xsd:string" minOccurs="0"/>
            <xsd:element name="resolucion" form="unqualified" type="xsd:string" minOccurs="0"/>
            <xsd:element name="retroiluminacion" form="unqualified" type="xsd:string" minOccurs="0"/>
            <xsd:element name="smart" form="unqualified" type="xsd:string" minOccurs="0"/>
            <xsd:element name="frecuencia_actualizacion_image" form="unqualified" type="xsd:string" minOccurs="0"/>
            <xsd:element name="sistema_operativo" form="unqualified" type="xsd:string" minOccurs="0"/>
            <xsd:element name="capacidad_almacenamiento" form="unqualified" type="xsd:string" minOccurs="0"/>
            <xsd:element name="btus" form="unqualified" type="xsd:string" minOccurs="0"/>
            <xsd:element name="capacidad_refrigerador" form="unqualified" type="xsd:string" minOccurs="0"/>
            <xsd:element name="tipo_refrigerador" form="unqualified" type="xsd:string" minOccurs="0"/>
            <xsd:element name="entrega_local" form="unqualified" type="xsd:short" minOccurs="0"/>
            <xsd:element name="recoger_tienda" form="unqualified" type="xsd:short" minOccurs="0"/>
            <xsd:element name="entrega_express" form="unqualified" type="xsd:short" minOccurs="0"/>
            <xsd:element name="color_configurable" form="unqualified" type="xsd:string" minOccurs="0"/>
            <xsd:element name="talla_configurable" form="unqualified" type="xsd:string" minOccurs="0"/>
            <xsd:element name="parent_sku" form="unqualified" type="xsd:string" minOccurs="0"/>
            <xsd:element name="MD5_Producto" form="unqualified" type="xsd:string" minOccurs="0"/>
            <xsd:element name="MD5_Atributo" form="unqualified" type="xsd:string" minOccurs="0"/>
            <xsd:element name="If_run_id" form="unqualified" type="xsd:string" minOccurs="0"/>
            <xsd:element name="If_error_ds" form="unqualified" type="xsd:string" minOccurs="0"/>
            <xsd:element name="FechaAlta" form="unqualified" type="xsd:dateTime" minOccurs="0"/>
            <xsd:element name="unidades_de_compra" form="unqualified" type="xsd:string" minOccurs="0"/>
            <xsd:element name="is_horecas" form="unqualified" type="xsd:short" minOccurs="0"/>				
			</xsd:sequence>
		</xsd:complexType>
	</xsd:element>
</xsd:schema>