EventPlanning/Desarrollo/EventPlanningOfferToLogix/Shared Resources/Schema Definitions/Custom/Discounted.xsd

<?xml version="1.0" encoding="utf-8"?>

<!-- version:5.17.0.69087.Official Build (CARBON) -->
<!--
//////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////
DATE: 10-04-2014 10:22 
CHANGED BY: jehernandez
CHANGES: 
	1.- There was added the "FREE" option in the offerType type
	2.- There was added the "FREE" option in the discAmountType type.
	3.- The Offer/Reward/Discount/DiscountAmountType element was modified to optional.
//////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////
-->
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema"
	 elementFormDefault="unqualified"
	 attributeFormDefault="unqualified">
	<xs:element name="Offer">
		<xs:complexType>
			<xs:sequence>
				<xs:element name="ClientOfferID" type="xs:string" minOccurs="0"/>
				<xs:element name="Name" type="xs:string"/>
				<xs:element name="Description" type="xs:string" minOccurs="0"/>
				<xs:element name="StartDate" type="xs:date"/>
				<xs:element name="EndDate" type="xs:date"/>
				<xs:element name="EligibilityStartDate" type="xs:date" minOccurs="0"/>
				<xs:element name="EligibilityEndDate" type="xs:date" minOccurs="0"/>
				<xs:element name="TestingStartDate" type="xs:date" minOccurs="0"/>
				<xs:element name="TestingEndDate" type="xs:date" minOccurs="0"/>
				<xs:element name="IsManufacturerCoupon" type="xs:boolean" minOccurs="0"/>
				<xs:element name="ChargebackVendorCode" type="nameStringType" minOccurs="0"/>
				<xs:element name="VendorCouponCode" type="nameStringType" minOccurs="0"/>
				<xs:element name="ReportImpressions" type="xs:boolean" minOccurs="0"/>
				<xs:element name="ReportRedemptions" type="xs:boolean" minOccurs="0"/>
				<xs:element name="PromoClassID" type="xs:positiveInteger" minOccurs="0"/>
				<xs:element name="SendIssuance" type="xs:boolean" minOccurs="0"/>
				<xs:element name="CRMEngineExtCode" type="xs:string" minOccurs="0"/>
				<xs:element name="Limits">
					<xs:complexType>
						<xs:choice>
							<xs:element name="Frequency" type="frequencyType"/>
							<xs:element name="CustomLimit" type="customLimitType"/>
						</xs:choice>
					</xs:complexType>
				</xs:element>
				<xs:element name="Conditions">
					<xs:complexType>
						<xs:sequence>
							<xs:element name="Customer" minOccurs="0">
								<xs:complexType>
									<xs:choice minOccurs="0" maxOccurs="unbounded">
										<xs:element name="CustomerList" type="listStringType" maxOccurs="unbounded"/>
										<xs:element name="CustomerGroupID" type="nameIntType" maxOccurs="unbounded"/>
									</xs:choice>
								</xs:complexType>
							</xs:element>
							<xs:element name="Product" minOccurs="0">
								<xs:complexType>
									<xs:choice maxOccurs="unbounded">
										<xs:element name="ProductList" type="qtyStringType" maxOccurs="unbounded"/>
										<xs:element name="ProductGroupID" type="qtyIntType" maxOccurs="unbounded"/>
									</xs:choice>
								</xs:complexType>
							</xs:element>
						</xs:sequence>
					</xs:complexType>
				</xs:element>
				<xs:element name="Rewards">
					<xs:complexType>
						<xs:sequence>
							<xs:element name="Discount" minOccurs="0">
								<xs:complexType>
									<xs:sequence>
										<xs:element name="DiscountType" type="discountLevelType"/>
										<xs:choice minOccurs="0">
											<xs:element name="ProductList" type="listStringType"/>
											<xs:element name="ProductGroupID" type="nameIntType"/>
											<xs:element name="SameAsConditionProducts" type="xs:boolean"/>
										</xs:choice>
										<xs:element name="AmountType" type="discAmountType"/>
										<xs:element name="AmountWeightVolumeType" type="weightVolumeEnum" minOccurs="0"/>
										<xs:element name="DiscountAmount" type="xs:decimal" minOccurs="0"/>
										<xs:element name="DollarLimit" type="xs:decimal" minOccurs="0"/>
										<xs:element name="ItemLimit" type="xs:nonNegativeInteger" minOccurs="0"/>
										<xs:element name="WeightVolumeLimit" type="weightVolumeType" minOccurs="0"/>
										<xs:element name="BestDeal" type="xs:boolean" minOccurs="0"/>
										<xs:element name="ScorecardID" type="xs:nonNegativeInteger" minOccurs="0"/>
										<xs:element name="ScorecardText" type="stringLen40" minOccurs="0"/>
										<xs:element name="ComputeDiscount" type="xs:boolean" minOccurs="0"/>
										<xs:element name="ChargebackDept" type="xs:string" minOccurs="0"/>
										<xs:element name="ReceiptDescription" type="xs:string" minOccurs="0"/>
										<xs:element name="PromoteToTransLevel" type="xs:boolean" minOccurs="0"/>
										<xs:element name="ApplyToQuantity" type="xs:nonNegativeInteger" minOccurs="0"/>
									</xs:sequence>
								</xs:complexType>
							</xs:element>
						</xs:sequence>
					</xs:complexType>
				</xs:element>
				<xs:element name="Stores" minOccurs="0">
					<xs:complexType>
						<xs:choice maxOccurs="unbounded">
							<xs:element name="StoreList" type="listStringType" maxOccurs="unbounded"/>
							<xs:element name="StoreGroupID" type="nameIntType" maxOccurs="unbounded"/>
						</xs:choice>
					</xs:complexType>
				</xs:element>
				<xs:element name="Terminals" minOccurs="0">
					<xs:complexType>
						<xs:choice maxOccurs="unbounded">
							<xs:element name="Name" type="terminalNameType" maxOccurs="unbounded"/>
							<xs:element name="ID" type="terminalIDType" maxOccurs="unbounded"/>
							<xs:element name="Code" type="terminalCodeType" maxOccurs="unbounded"/>
						</xs:choice>
					</xs:complexType>
				</xs:element>
				<xs:element name="Banners" minOccurs="0">
					<xs:complexType>
						<xs:choice>
							<xs:element name="Name" type="xs:string" maxOccurs="unbounded"/>
							<xs:element name="ExtBannerID" type="xs:string" maxOccurs="unbounded"/>
							<xs:element name="BannerID" type="xs:positiveInteger" maxOccurs="unbounded"/>
						</xs:choice>
					</xs:complexType>
				</xs:element>
				<xs:element name="Actions" minOccurs="0">
					<xs:complexType>
						<xs:sequence>
							<xs:element name="DeferDeploymentForAdd" type="xs:boolean" minOccurs="0"/>
							<xs:element name="DeferDeploymentForUpdate" type="xs:boolean" minOccurs="0"/>
						</xs:sequence>
					</xs:complexType>
				</xs:element>
			</xs:sequence>
			<xs:attribute name="type" type="offerType" use="required"/>
			<xs:attribute name="engine" type="engineType"/>
		</xs:complexType>
	</xs:element>
	<xs:complexType name="customLimitType">
		<xs:sequence>
			<xs:element name="Limit" type="xs:positiveInteger"/>
			<xs:element name="Period" type="xs:positiveInteger" default="1" minOccurs="0"/>
			<xs:element name="PeriodType" type="limitPeriodType"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="qtyStringType">
		<xs:simpleContent>
			<xs:extension base="xs:string">
				<xs:attribute name="quantity" type="xs:decimal" use="required"/>
				<xs:attribute name="unitType" type="qtyUnitType" use="required"/>
				<xs:attribute name="name" type="xs:string"/>
				<xs:attribute name="id" type="xs:string"/>
			</xs:extension>
		</xs:simpleContent>
	</xs:complexType>
	<xs:complexType name="qtyIntType">
		<xs:simpleContent>
			<xs:extension base="xs:positiveInteger">
				<xs:attribute name="quantity" type="xs:decimal" use="required"/>
				<xs:attribute name="unitType" type="qtyUnitType" use="required"/>
				<xs:attribute name="name" type="xs:string"/>
			</xs:extension>
		</xs:simpleContent>
	</xs:complexType>
	<xs:complexType name="qtyBoolType">
		<xs:simpleContent>
			<xs:extension base="xs:boolean">
				<xs:attribute name="quantity" type="xs:decimal" use="required"/>
				<xs:attribute name="unitType" type="qtyUnitType" use="required"/>
				<xs:attribute name="name" type="xs:string"/>
			</xs:extension>
		</xs:simpleContent>
	</xs:complexType>
	<xs:complexType name="listStringType">
		<xs:simpleContent>
			<xs:extension base="xs:string">
				<xs:attribute name="name" type="xs:string"/>
				<xs:attribute name="id" type="xs:string"/>
			</xs:extension>
		</xs:simpleContent>
	</xs:complexType>
	<xs:complexType name="nameIntType">
		<xs:simpleContent>
			<xs:extension base="xs:positiveInteger">
				<xs:attribute name="name" type="xs:string"/>
			</xs:extension>
		</xs:simpleContent>
	</xs:complexType>
	<xs:complexType name="nameStringType">
		<xs:simpleContent>
			<xs:extension base="xs:string">
				<xs:attribute name="name" type="xs:string"/>
			</xs:extension>
		</xs:simpleContent>
	</xs:complexType>
	<xs:complexType name="listBoolType">
		<xs:simpleContent>
			<xs:extension base="xs:boolean">
				<xs:attribute name="name" type="xs:string"/>
			</xs:extension>
		</xs:simpleContent>
	</xs:complexType>
	<xs:complexType name="terminalNameType">
		<xs:simpleContent>
			<xs:extension base="xs:string">
				<xs:attribute name="excluded" type="xs:boolean"/>
			</xs:extension>
		</xs:simpleContent>
	</xs:complexType>
	<xs:complexType name="terminalIDType">
		<xs:simpleContent>
			<xs:extension base="xs:positiveInteger">
				<xs:attribute name="excluded" type="xs:boolean"/>
			</xs:extension>
		</xs:simpleContent>
	</xs:complexType>
	<xs:complexType name="terminalCodeType">
		<xs:simpleContent>
			<xs:extension base="xs:string">
				<xs:attribute name="name" type="xs:string"/>
				<xs:attribute name="excluded" type="xs:boolean"/>
			</xs:extension>
		</xs:simpleContent>
	</xs:complexType>
	<xs:complexType name="weightVolumeType">
		<xs:simpleContent>
			<xs:extension base="xs:decimal">
				<xs:attribute name="type" type="weightVolumeEnum"/>
			</xs:extension>
		</xs:simpleContent>
	</xs:complexType>
	<xs:simpleType name="weightVolumeEnum">
		<xs:restriction base="xs:string">
			<xs:enumeration value="WEIGHT"/>
			<xs:enumeration value="VOLUME"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="frequencyType">
		<xs:restriction base="xs:string">
			<xs:enumeration value="NO_LIMIT"/>
			<xs:enumeration value="ONCE_PER_TRANSACTION"/>
			<xs:enumeration value="ONCE_PER_DAY"/>
			<xs:enumeration value="ONCE_PER_WEEK"/>
			<xs:enumeration value="ONCE_PER_OFFER"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="offerType">
		<xs:restriction base="xs:string">
			<xs:enumeration value="FREE"/>
			<xs:enumeration value="CENTS_OFF"/>
			<xs:enumeration value="PERCENT_OFF"/>
			<xs:enumeration value="PRICE_POINT_ITEMS"/>
			<xs:enumeration value="CENTS_OFF_WEIGHT_VOLUME"/>
			<xs:enumeration value="PRICE_POINT_WEIGHT_VOLUME"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="discountLevelType">
		<xs:restriction base="xs:string">
			<xs:enumeration value="ITEM_LEVEL"/>
			<xs:enumeration value="DEPARTMENT_LEVEL"/>
			<xs:enumeration value="BASKET_LEVEL"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="limitPeriodType">
		<xs:restriction base="xs:string">
			<xs:enumeration value="DAYS_SINCE_INCENTIVE_START"/>
			<xs:enumeration value="HOURS_SINCE_LAST_AWARDED"/>
			<xs:enumeration value="DAYS_ROLLING"/>

			<!-- UE ONLY -->
			<xs:enumeration value="PER_TRANSACTION"/>
		</xs:restriction>
		<!-- UE ONLY -->
	</xs:simpleType>
	<xs:simpleType name="qtyUnitType">
		<xs:restriction base="xs:string">
			<xs:enumeration value="ITEMS"/>
			<xs:enumeration value="DOLLARS"/>
			<xs:enumeration value="WEIGHT_VOLUME"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="discAmountType">
		<xs:restriction base="xs:string">
			<xs:enumeration value="FREE"/>
			<xs:enumeration value="FIXED_AMOUNT_OFF"/>
			<xs:enumeration value="PERCENT_OFF"/>
			<xs:enumeration value="PRICE_POINT_ITEMS"/>
			<xs:enumeration value="FIXED_AMOUNT_OFF_WEIGHT_VOLUME"/>
			<xs:enumeration value="PRICE_POINT_WEIGHT_VOLUME"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="engineType">
		<xs:restriction base="xs:string">
			<xs:enumeration value="CPE"/>
			<xs:enumeration value="CM"/>
			<xs:enumeration value="UE"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="stringLen40">
		<xs:restriction base="xs:string">
			<xs:maxLength value="40"/>
		</xs:restriction>
	</xs:simpleType>
</xs:schema>