HEBCard/Desarrollo/ApiCustomerService/Shared Resources/WADL/ApiCustomerService.wadl

<?xml version="1.0" encoding="UTF-8"?>
<application xmlns="http://wadl.dev.java.net/2009/02" name="ApiCustomerService">
    <resources name="RestService" base="https://%%Connections/HTTPS/LocalHost/MIG_HOST%%:%%Connections/HTTPS/LocalHost/MIG_PORT%%/ApiCustomerService">
        <resource id="Customers" path="/Customers">
            <method name="POST" id="PostCustomers">
                <request name="Request">
                    <representation mediaType="application/json"/>
                </request>
                <response name="Response">
                    <representation mediaType="application/json"/>
                </response>
            </method>
            <resource id="Customer" path="/{Customer}">
                <resource id="Addresses" path="/Addresses">
                    <method name="POST" id="PostAddresses">
                        <request name="Request">
                            <representation mediaType="application/json"/>
                        </request>
                        <response name="Response">
                            <representation mediaType="application/json"/>
                        </response>
                    </method>
                    <resource id="Address" path="/{Address}">
                        <method name="PUT" id="PutAddress">
                            <request name="Request">
                                <representation mediaType="application/json"/>
                            </request>
                            <response name="Response">
                                <representation mediaType="application/json"/>
                            </response>
                        </method>
                        <param name="Address" style="template" required="false" default="">
                            <doc/>
                        </param>
                    </resource>
                </resource>
                <resource id="Contacts" path="/Contacts">
                    <method name="POST" id="PostContacts">
                        <request name="Request">
                            <representation mediaType="application/json"/>
                        </request>
                        <response name="Response">
                            <representation mediaType="application/json"/>
                        </response>
                    </method>
                    <resource id="Contact" path="/{Contact}">
                        <method name="PUT" id="PutContact">
                            <request name="Request">
                                <representation mediaType="application/json"/>
                            </request>
                            <response name="Response">
                                <representation mediaType="application/json"/>
                            </response>
                        </method>
                        <param name="Contact" style="template" required="false" default="">
                            <doc/>
                        </param>
                    </resource>
                </resource>
                <method name="PUT" id="PutCustomer">
                    <request name="Request">
                        <representation mediaType="application/json"/>
                    </request>
                    <response name="Response">
                        <representation mediaType="application/json"/>
                    </response>
                </method>
                <param name="Customer" style="template" required="false" default="">
                    <doc/>
                </param>
            </resource>
            <param name="Application" style="header" required="false" default="">
                <doc/>
            </param>
            <param name="Object" style="header" required="false" default="">
                <doc/>
            </param>
            <param name="User" style="header" required="false" default="">
                <doc/>
            </param>
        </resource>
    </resources>
</application>