EventPlanning/Desarrollo/EventPlanningOfferToLogix/Shared Resources/WSDL/WSDL.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<wsdl:definitions xmlns:tm="http://microsoft.com/wsdl/mime/textMatching/" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:tns="http://www.copienttech.com/ExternalOfferConnector/" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:s="http://www.w3.org/2001/XMLSchema" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" targetNamespace="http://www.copienttech.com/ExternalOfferConnector/">
    <wsdl:types>
        <s:schema elementFormDefault="qualified" targetNamespace="http://www.copienttech.com/ExternalOfferConnector/">
            <s:element name="AddOffer">
                <s:complexType>
                    <s:sequence>
                        <s:element minOccurs="0" maxOccurs="1" name="ExternalSourceID" type="s:string"/>
                        <s:element minOccurs="0" maxOccurs="1" name="OfferXml" type="s:string"/>
                    </s:sequence>
                </s:complexType>
            </s:element>
            <s:element name="AddOfferResponse">
                <s:complexType>
                    <s:sequence>
                        <s:element minOccurs="0" maxOccurs="1" name="AddOfferResult" type="s:string"/>
                    </s:sequence>
                </s:complexType>
            </s:element>
            <s:element name="RemoveOffer">
                <s:complexType>
                    <s:sequence>
                        <s:element minOccurs="0" maxOccurs="1" name="ExternalSourceID" type="s:string"/>
                        <s:element minOccurs="0" maxOccurs="1" name="ClientOfferID" type="s:string"/>
                    </s:sequence>
                </s:complexType>
            </s:element>
            <s:element name="RemoveOfferResponse">
                <s:complexType>
                    <s:sequence>
                        <s:element minOccurs="0" maxOccurs="1" name="RemoveOfferResult" type="s:string"/>
                    </s:sequence>
                </s:complexType>
            </s:element>
            <s:element name="UpdateOffer">
                <s:complexType>
                    <s:sequence>
                        <s:element minOccurs="0" maxOccurs="1" name="ExternalSourceID" type="s:string"/>
                        <s:element minOccurs="0" maxOccurs="1" name="OfferXml" type="s:string"/>
                    </s:sequence>
                </s:complexType>
            </s:element>
            <s:element name="UpdateOfferResponse">
                <s:complexType>
                    <s:sequence>
                        <s:element minOccurs="0" maxOccurs="1" name="UpdateOfferResult" type="s:string"/>
                    </s:sequence>
                </s:complexType>
            </s:element>
            <s:element name="GetOffer">
                <s:complexType>
                    <s:sequence>
                        <s:element minOccurs="0" maxOccurs="1" name="ExternalSourceID" type="s:string"/>
                        <s:element minOccurs="0" maxOccurs="1" name="ClientOfferID" type="s:string"/>
                    </s:sequence>
                </s:complexType>
            </s:element>
            <s:element name="GetOfferResponse">
                <s:complexType>
                    <s:sequence>
                        <s:element minOccurs="0" maxOccurs="1" name="GetOfferResult" type="s:string"/>
                    </s:sequence>
                </s:complexType>
            </s:element>
            <s:element name="AddBannerToOffer">
                <s:complexType>
                    <s:sequence>
                        <s:element minOccurs="0" maxOccurs="1" name="ExternalSourceID" type="s:string"/>
                        <s:element minOccurs="0" maxOccurs="1" name="ClientOfferID" type="s:string"/>
                        <s:element minOccurs="1" maxOccurs="1" name="BannerID" type="s:int"/>
                    </s:sequence>
                </s:complexType>
            </s:element>
            <s:element name="AddBannerToOfferResponse">
                <s:complexType>
                    <s:sequence>
                        <s:element minOccurs="0" maxOccurs="1" name="AddBannerToOfferResult" type="s:string"/>
                    </s:sequence>
                </s:complexType>
            </s:element>
            <s:element name="RemoveBannerFromOffer">
                <s:complexType>
                    <s:sequence>
                        <s:element minOccurs="0" maxOccurs="1" name="ExternalSourceID" type="s:string"/>
                        <s:element minOccurs="0" maxOccurs="1" name="ClientOfferID" type="s:string"/>
                        <s:element minOccurs="1" maxOccurs="1" name="BannerID" type="s:int"/>
                    </s:sequence>
                </s:complexType>
            </s:element>
            <s:element name="RemoveBannerFromOfferResponse">
                <s:complexType>
                    <s:sequence>
                        <s:element minOccurs="0" maxOccurs="1" name="RemoveBannerFromOfferResult" type="s:string"/>
                    </s:sequence>
                </s:complexType>
            </s:element>
            <s:element name="UpdateClientOfferID">
                <s:complexType>
                    <s:sequence>
                        <s:element minOccurs="0" maxOccurs="1" name="ExternalSourceID" type="s:string"/>
                        <s:element minOccurs="0" maxOccurs="1" name="ClientOfferID" type="s:string"/>
                        <s:element minOccurs="0" maxOccurs="1" name="NewClientOfferID" type="s:string"/>
                    </s:sequence>
                </s:complexType>
            </s:element>
            <s:element name="UpdateClientOfferIDResponse">
                <s:complexType>
                    <s:sequence>
                        <s:element minOccurs="0" maxOccurs="1" name="UpdateClientOfferIDResult" type="s:string"/>
                    </s:sequence>
                </s:complexType>
            </s:element>
            <s:element name="AddCustomersToOffer">
                <s:complexType>
                    <s:sequence>
                        <s:element minOccurs="0" maxOccurs="1" name="ExternalSourceID" type="s:string"/>
                        <s:element minOccurs="0" maxOccurs="1" name="CustomerIDs" type="s:string"/>
                        <s:element minOccurs="0" maxOccurs="1" name="ClientOfferID" type="s:string"/>
                    </s:sequence>
                </s:complexType>
            </s:element>
            <s:element name="AddCustomersToOfferResponse">
                <s:complexType>
                    <s:sequence>
                        <s:element minOccurs="0" maxOccurs="1" name="AddCustomersToOfferResult" type="s:string"/>
                    </s:sequence>
                </s:complexType>
            </s:element>
            <s:element name="AddCustomers">
                <s:complexType>
                    <s:sequence>
                        <s:element minOccurs="0" maxOccurs="1" name="ExternalSourceID" type="s:string"/>
                        <s:element minOccurs="0" maxOccurs="1" name="CustomerOfferData" type="s:string"/>
                    </s:sequence>
                </s:complexType>
            </s:element>
            <s:element name="AddCustomersResponse">
                <s:complexType>
                    <s:sequence>
                        <s:element minOccurs="0" maxOccurs="1" name="AddCustomersResult" type="s:string"/>
                    </s:sequence>
                </s:complexType>
            </s:element>
            <s:element name="ClipBundle">
                <s:complexType>
                    <s:sequence>
                        <s:element minOccurs="0" maxOccurs="1" name="ExternalSourceID" type="s:string"/>
                        <s:element minOccurs="0" maxOccurs="1" name="CustomerOfferData" type="s:string"/>
                    </s:sequence>
                </s:complexType>
            </s:element>
            <s:element name="ClipBundleResponse">
                <s:complexType>
                    <s:sequence>
                        <s:element minOccurs="0" maxOccurs="1" name="ClipBundleResult" type="s:string"/>
                    </s:sequence>
                </s:complexType>
            </s:element>
            <s:element name="AddCustomerToOffer">
                <s:complexType>
                    <s:sequence>
                        <s:element minOccurs="0" maxOccurs="1" name="ExternalSourceID" type="s:string"/>
                        <s:element minOccurs="0" maxOccurs="1" name="CustomerID" type="s:string"/>
                        <s:element minOccurs="0" maxOccurs="1" name="ClientOfferID" type="s:string"/>
                    </s:sequence>
                </s:complexType>
            </s:element>
            <s:element name="AddCustomerToOfferResponse">
                <s:complexType>
                    <s:sequence>
                        <s:element minOccurs="0" maxOccurs="1" name="AddCustomerToOfferResult" type="s:string"/>
                    </s:sequence>
                </s:complexType>
            </s:element>
            <s:element name="AddCustomerCardToOffer">
                <s:complexType>
                    <s:sequence>
                        <s:element minOccurs="0" maxOccurs="1" name="ExternalSourceID" type="s:string"/>
                        <s:element minOccurs="0" maxOccurs="1" name="CardID" type="s:string"/>
                        <s:element minOccurs="0" maxOccurs="1" name="CardTypeID" type="s:string"/>
                        <s:element minOccurs="0" maxOccurs="1" name="ClientOfferID" type="s:string"/>
                    </s:sequence>
                </s:complexType>
            </s:element>
            <s:element name="AddCustomerCardToOfferResponse">
                <s:complexType>
                    <s:sequence>
                        <s:element minOccurs="0" maxOccurs="1" name="AddCustomerCardToOfferResult" type="s:string"/>
                    </s:sequence>
                </s:complexType>
            </s:element>
            <s:element name="RemoveCustomerFromOffer">
                <s:complexType>
                    <s:sequence>
                        <s:element minOccurs="0" maxOccurs="1" name="ExternalSourceID" type="s:string"/>
                        <s:element minOccurs="0" maxOccurs="1" name="CustomerID" type="s:string"/>
                        <s:element minOccurs="0" maxOccurs="1" name="ClientOfferID" type="s:string"/>
                    </s:sequence>
                </s:complexType>
            </s:element>
            <s:element name="RemoveCustomerFromOfferResponse">
                <s:complexType>
                    <s:sequence>
                        <s:element minOccurs="0" maxOccurs="1" name="RemoveCustomerFromOfferResult" type="s:string"/>
                    </s:sequence>
                </s:complexType>
            </s:element>
            <s:element name="RemoveCustomerCardFromOffer">
                <s:complexType>
                    <s:sequence>
                        <s:element minOccurs="0" maxOccurs="1" name="ExternalSourceID" type="s:string"/>
                        <s:element minOccurs="0" maxOccurs="1" name="CustomerID" type="s:string"/>
                        <s:element minOccurs="0" maxOccurs="1" name="CardTypeID" type="s:string"/>
                        <s:element minOccurs="0" maxOccurs="1" name="ClientOfferID" type="s:string"/>
                    </s:sequence>
                </s:complexType>
            </s:element>
            <s:element name="RemoveCustomerCardFromOfferResponse">
                <s:complexType>
                    <s:sequence>
                        <s:element minOccurs="0" maxOccurs="1" name="RemoveCustomerCardFromOfferResult" type="s:string"/>
                    </s:sequence>
                </s:complexType>
            </s:element>
            <s:element name="RemoveCustomersFromOffer">
                <s:complexType>
                    <s:sequence>
                        <s:element minOccurs="0" maxOccurs="1" name="ExternalSourceID" type="s:string"/>
                        <s:element minOccurs="0" maxOccurs="1" name="CustomerIDs" type="s:string"/>
                        <s:element minOccurs="0" maxOccurs="1" name="ClientOfferID" type="s:string"/>
                    </s:sequence>
                </s:complexType>
            </s:element>
            <s:element name="RemoveCustomersFromOfferResponse">
                <s:complexType>
                    <s:sequence>
                        <s:element minOccurs="0" maxOccurs="1" name="RemoveCustomersFromOfferResult" type="s:string"/>
                    </s:sequence>
                </s:complexType>
            </s:element>
            <s:element name="RemoveCustomers">
                <s:complexType>
                    <s:sequence>
                        <s:element minOccurs="0" maxOccurs="1" name="ExternalSourceID" type="s:string"/>
                        <s:element minOccurs="0" maxOccurs="1" name="CustomerOfferData" type="s:string"/>
                    </s:sequence>
                </s:complexType>
            </s:element>
            <s:element name="RemoveCustomersResponse">
                <s:complexType>
                    <s:sequence>
                        <s:element minOccurs="0" maxOccurs="1" name="RemoveCustomersResult" type="s:string"/>
                    </s:sequence>
                </s:complexType>
            </s:element>
            <s:element name="UnclipBundle">
                <s:complexType>
                    <s:sequence>
                        <s:element minOccurs="0" maxOccurs="1" name="ExternalSourceID" type="s:string"/>
                        <s:element minOccurs="0" maxOccurs="1" name="CustomerOfferData" type="s:string"/>
                    </s:sequence>
                </s:complexType>
            </s:element>
            <s:element name="UnclipBundleResponse">
                <s:complexType>
                    <s:sequence>
                        <s:element minOccurs="0" maxOccurs="1" name="UnclipBundleResult" type="s:string"/>
                    </s:sequence>
                </s:complexType>
            </s:element>
            <s:element name="AddProductToOffer">
                <s:complexType>
                    <s:sequence>
                        <s:element minOccurs="0" maxOccurs="1" name="ExternalSourceID" type="s:string"/>
                        <s:element minOccurs="0" maxOccurs="1" name="ClientProductID" type="s:string"/>
                        <s:element minOccurs="0" maxOccurs="1" name="ClientOfferID" type="s:string"/>
                    </s:sequence>
                </s:complexType>
            </s:element>
            <s:element name="AddProductToOfferResponse">
                <s:complexType>
                    <s:sequence>
                        <s:element minOccurs="0" maxOccurs="1" name="AddProductToOfferResult" type="s:string"/>
                    </s:sequence>
                </s:complexType>
            </s:element>
            <s:element name="RemoveProductFromOffer">
                <s:complexType>
                    <s:sequence>
                        <s:element minOccurs="0" maxOccurs="1" name="ExternalSourceID" type="s:string"/>
                        <s:element minOccurs="0" maxOccurs="1" name="ClientProductID" type="s:string"/>
                        <s:element minOccurs="0" maxOccurs="1" name="ClientOfferID" type="s:string"/>
                    </s:sequence>
                </s:complexType>
            </s:element>
            <s:element name="RemoveProductFromOfferResponse">
                <s:complexType>
                    <s:sequence>
                        <s:element minOccurs="0" maxOccurs="1" name="RemoveProductFromOfferResult" type="s:string"/>
                    </s:sequence>
                </s:complexType>
            </s:element>
            <s:element name="GetCustomerOffers">
                <s:complexType>
                    <s:sequence>
                        <s:element minOccurs="0" maxOccurs="1" name="ExternalSourceID" type="s:string"/>
                        <s:element minOccurs="0" maxOccurs="1" name="CustomerID" type="s:string"/>
                        <s:element minOccurs="1" maxOccurs="1" name="IncludeAnyCardholders" type="s:boolean"/>
                    </s:sequence>
                </s:complexType>
            </s:element>
            <s:element name="GetCustomerOffersResponse">
                <s:complexType>
                    <s:sequence>
                        <s:element minOccurs="0" maxOccurs="1" name="GetCustomerOffersResult" type="s:string"/>
                    </s:sequence>
                </s:complexType>
            </s:element>
            <s:element name="GetOfferCustomers">
                <s:complexType>
                    <s:sequence>
                        <s:element minOccurs="0" maxOccurs="1" name="ExternalSourceID" type="s:string"/>
                        <s:element minOccurs="0" maxOccurs="1" name="ClientOfferID" type="s:string"/>
                    </s:sequence>
                </s:complexType>
            </s:element>
            <s:element name="GetOfferCustomersResponse">
                <s:complexType>
                    <s:sequence>
                        <s:element minOccurs="0" maxOccurs="1" name="GetOfferCustomersResult" type="s:string"/>
                    </s:sequence>
                </s:complexType>
            </s:element>
            <s:element name="string" nillable="true" type="s:string"/>
        </s:schema>
    </wsdl:types>
    <wsdl:message name="AddOfferSoapIn">
        <wsdl:part name="parameters" element="tns:AddOffer"/>
    </wsdl:message>
    <wsdl:message name="AddOfferSoapOut">
        <wsdl:part name="parameters" element="tns:AddOfferResponse"/>
    </wsdl:message>
    <wsdl:message name="RemoveOfferSoapIn">
        <wsdl:part name="parameters" element="tns:RemoveOffer"/>
    </wsdl:message>
    <wsdl:message name="RemoveOfferSoapOut">
        <wsdl:part name="parameters" element="tns:RemoveOfferResponse"/>
    </wsdl:message>
    <wsdl:message name="UpdateOfferSoapIn">
        <wsdl:part name="parameters" element="tns:UpdateOffer"/>
    </wsdl:message>
    <wsdl:message name="UpdateOfferSoapOut">
        <wsdl:part name="parameters" element="tns:UpdateOfferResponse"/>
    </wsdl:message>
    <wsdl:message name="GetOfferSoapIn">
        <wsdl:part name="parameters" element="tns:GetOffer"/>
    </wsdl:message>
    <wsdl:message name="GetOfferSoapOut">
        <wsdl:part name="parameters" element="tns:GetOfferResponse"/>
    </wsdl:message>
    <wsdl:message name="AddBannerToOfferSoapIn">
        <wsdl:part name="parameters" element="tns:AddBannerToOffer"/>
    </wsdl:message>
    <wsdl:message name="AddBannerToOfferSoapOut">
        <wsdl:part name="parameters" element="tns:AddBannerToOfferResponse"/>
    </wsdl:message>
    <wsdl:message name="RemoveBannerFromOfferSoapIn">
        <wsdl:part name="parameters" element="tns:RemoveBannerFromOffer"/>
    </wsdl:message>
    <wsdl:message name="RemoveBannerFromOfferSoapOut">
        <wsdl:part name="parameters" element="tns:RemoveBannerFromOfferResponse"/>
    </wsdl:message>
    <wsdl:message name="UpdateClientOfferIDSoapIn">
        <wsdl:part name="parameters" element="tns:UpdateClientOfferID"/>
    </wsdl:message>
    <wsdl:message name="UpdateClientOfferIDSoapOut">
        <wsdl:part name="parameters" element="tns:UpdateClientOfferIDResponse"/>
    </wsdl:message>
    <wsdl:message name="AddCustomersToOfferSoapIn">
        <wsdl:part name="parameters" element="tns:AddCustomersToOffer"/>
    </wsdl:message>
    <wsdl:message name="AddCustomersToOfferSoapOut">
        <wsdl:part name="parameters" element="tns:AddCustomersToOfferResponse"/>
    </wsdl:message>
    <wsdl:message name="AddCustomersSoapIn">
        <wsdl:part name="parameters" element="tns:AddCustomers"/>
    </wsdl:message>
    <wsdl:message name="AddCustomersSoapOut">
        <wsdl:part name="parameters" element="tns:AddCustomersResponse"/>
    </wsdl:message>
    <wsdl:message name="ClipBundleSoapIn">
        <wsdl:part name="parameters" element="tns:ClipBundle"/>
    </wsdl:message>
    <wsdl:message name="ClipBundleSoapOut">
        <wsdl:part name="parameters" element="tns:ClipBundleResponse"/>
    </wsdl:message>
    <wsdl:message name="AddCustomerToOfferSoapIn">
        <wsdl:part name="parameters" element="tns:AddCustomerToOffer"/>
    </wsdl:message>
    <wsdl:message name="AddCustomerToOfferSoapOut">
        <wsdl:part name="parameters" element="tns:AddCustomerToOfferResponse"/>
    </wsdl:message>
    <wsdl:message name="AddCustomerCardToOfferSoapIn">
        <wsdl:part name="parameters" element="tns:AddCustomerCardToOffer"/>
    </wsdl:message>
    <wsdl:message name="AddCustomerCardToOfferSoapOut">
        <wsdl:part name="parameters" element="tns:AddCustomerCardToOfferResponse"/>
    </wsdl:message>
    <wsdl:message name="RemoveCustomerFromOfferSoapIn">
        <wsdl:part name="parameters" element="tns:RemoveCustomerFromOffer"/>
    </wsdl:message>
    <wsdl:message name="RemoveCustomerFromOfferSoapOut">
        <wsdl:part name="parameters" element="tns:RemoveCustomerFromOfferResponse"/>
    </wsdl:message>
    <wsdl:message name="RemoveCustomerCardFromOfferSoapIn">
        <wsdl:part name="parameters" element="tns:RemoveCustomerCardFromOffer"/>
    </wsdl:message>
    <wsdl:message name="RemoveCustomerCardFromOfferSoapOut">
        <wsdl:part name="parameters" element="tns:RemoveCustomerCardFromOfferResponse"/>
    </wsdl:message>
    <wsdl:message name="RemoveCustomersFromOfferSoapIn">
        <wsdl:part name="parameters" element="tns:RemoveCustomersFromOffer"/>
    </wsdl:message>
    <wsdl:message name="RemoveCustomersFromOfferSoapOut">
        <wsdl:part name="parameters" element="tns:RemoveCustomersFromOfferResponse"/>
    </wsdl:message>
    <wsdl:message name="RemoveCustomersSoapIn">
        <wsdl:part name="parameters" element="tns:RemoveCustomers"/>
    </wsdl:message>
    <wsdl:message name="RemoveCustomersSoapOut">
        <wsdl:part name="parameters" element="tns:RemoveCustomersResponse"/>
    </wsdl:message>
    <wsdl:message name="UnclipBundleSoapIn">
        <wsdl:part name="parameters" element="tns:UnclipBundle"/>
    </wsdl:message>
    <wsdl:message name="UnclipBundleSoapOut">
        <wsdl:part name="parameters" element="tns:UnclipBundleResponse"/>
    </wsdl:message>
    <wsdl:message name="AddProductToOfferSoapIn">
        <wsdl:part name="parameters" element="tns:AddProductToOffer"/>
    </wsdl:message>
    <wsdl:message name="AddProductToOfferSoapOut">
        <wsdl:part name="parameters" element="tns:AddProductToOfferResponse"/>
    </wsdl:message>
    <wsdl:message name="RemoveProductFromOfferSoapIn">
        <wsdl:part name="parameters" element="tns:RemoveProductFromOffer"/>
    </wsdl:message>
    <wsdl:message name="RemoveProductFromOfferSoapOut">
        <wsdl:part name="parameters" element="tns:RemoveProductFromOfferResponse"/>
    </wsdl:message>
    <wsdl:message name="GetCustomerOffersSoapIn">
        <wsdl:part name="parameters" element="tns:GetCustomerOffers"/>
    </wsdl:message>
    <wsdl:message name="GetCustomerOffersSoapOut">
        <wsdl:part name="parameters" element="tns:GetCustomerOffersResponse"/>
    </wsdl:message>
    <wsdl:message name="GetOfferCustomersSoapIn">
        <wsdl:part name="parameters" element="tns:GetOfferCustomers"/>
    </wsdl:message>
    <wsdl:message name="GetOfferCustomersSoapOut">
        <wsdl:part name="parameters" element="tns:GetOfferCustomersResponse"/>
    </wsdl:message>
    <wsdl:message name="AddOfferHttpGetIn">
        <wsdl:part name="ExternalSourceID" type="s:string"/>
        <wsdl:part name="OfferXml" type="s:string"/>
    </wsdl:message>
    <wsdl:message name="AddOfferHttpGetOut">
        <wsdl:part name="Body" element="tns:string"/>
    </wsdl:message>
    <wsdl:message name="RemoveOfferHttpGetIn">
        <wsdl:part name="ExternalSourceID" type="s:string"/>
        <wsdl:part name="ClientOfferID" type="s:string"/>
    </wsdl:message>
    <wsdl:message name="RemoveOfferHttpGetOut">
        <wsdl:part name="Body" element="tns:string"/>
    </wsdl:message>
    <wsdl:message name="UpdateOfferHttpGetIn">
        <wsdl:part name="ExternalSourceID" type="s:string"/>
        <wsdl:part name="OfferXml" type="s:string"/>
    </wsdl:message>
    <wsdl:message name="UpdateOfferHttpGetOut">
        <wsdl:part name="Body" element="tns:string"/>
    </wsdl:message>
    <wsdl:message name="GetOfferHttpGetIn">
        <wsdl:part name="ExternalSourceID" type="s:string"/>
        <wsdl:part name="ClientOfferID" type="s:string"/>
    </wsdl:message>
    <wsdl:message name="GetOfferHttpGetOut">
        <wsdl:part name="Body" element="tns:string"/>
    </wsdl:message>
    <wsdl:message name="AddBannerToOfferHttpGetIn">
        <wsdl:part name="ExternalSourceID" type="s:string"/>
        <wsdl:part name="ClientOfferID" type="s:string"/>
        <wsdl:part name="BannerID" type="s:string"/>
    </wsdl:message>
    <wsdl:message name="AddBannerToOfferHttpGetOut">
        <wsdl:part name="Body" element="tns:string"/>
    </wsdl:message>
    <wsdl:message name="RemoveBannerFromOfferHttpGetIn">
        <wsdl:part name="ExternalSourceID" type="s:string"/>
        <wsdl:part name="ClientOfferID" type="s:string"/>
        <wsdl:part name="BannerID" type="s:string"/>
    </wsdl:message>
    <wsdl:message name="RemoveBannerFromOfferHttpGetOut">
        <wsdl:part name="Body" element="tns:string"/>
    </wsdl:message>
    <wsdl:message name="UpdateClientOfferIDHttpGetIn">
        <wsdl:part name="ExternalSourceID" type="s:string"/>
        <wsdl:part name="ClientOfferID" type="s:string"/>
        <wsdl:part name="NewClientOfferID" type="s:string"/>
    </wsdl:message>
    <wsdl:message name="UpdateClientOfferIDHttpGetOut">
        <wsdl:part name="Body" element="tns:string"/>
    </wsdl:message>
    <wsdl:message name="AddCustomersToOfferHttpGetIn">
        <wsdl:part name="ExternalSourceID" type="s:string"/>
        <wsdl:part name="CustomerIDs" type="s:string"/>
        <wsdl:part name="ClientOfferID" type="s:string"/>
    </wsdl:message>
    <wsdl:message name="AddCustomersToOfferHttpGetOut">
        <wsdl:part name="Body" element="tns:string"/>
    </wsdl:message>
    <wsdl:message name="AddCustomersHttpGetIn">
        <wsdl:part name="ExternalSourceID" type="s:string"/>
        <wsdl:part name="CustomerOfferData" type="s:string"/>
    </wsdl:message>
    <wsdl:message name="AddCustomersHttpGetOut">
        <wsdl:part name="Body" element="tns:string"/>
    </wsdl:message>
    <wsdl:message name="ClipBundleHttpGetIn">
        <wsdl:part name="ExternalSourceID" type="s:string"/>
        <wsdl:part name="CustomerOfferData" type="s:string"/>
    </wsdl:message>
    <wsdl:message name="ClipBundleHttpGetOut">
        <wsdl:part name="Body" element="tns:string"/>
    </wsdl:message>
    <wsdl:message name="AddCustomerToOfferHttpGetIn">
        <wsdl:part name="ExternalSourceID" type="s:string"/>
        <wsdl:part name="CustomerID" type="s:string"/>
        <wsdl:part name="ClientOfferID" type="s:string"/>
    </wsdl:message>
    <wsdl:message name="AddCustomerToOfferHttpGetOut">
        <wsdl:part name="Body" element="tns:string"/>
    </wsdl:message>
    <wsdl:message name="AddCustomerCardToOfferHttpGetIn">
        <wsdl:part name="ExternalSourceID" type="s:string"/>
        <wsdl:part name="CardID" type="s:string"/>
        <wsdl:part name="CardTypeID" type="s:string"/>
        <wsdl:part name="ClientOfferID" type="s:string"/>
    </wsdl:message>
    <wsdl:message name="AddCustomerCardToOfferHttpGetOut">
        <wsdl:part name="Body" element="tns:string"/>
    </wsdl:message>
    <wsdl:message name="RemoveCustomerFromOfferHttpGetIn">
        <wsdl:part name="ExternalSourceID" type="s:string"/>
        <wsdl:part name="CustomerID" type="s:string"/>
        <wsdl:part name="ClientOfferID" type="s:string"/>
    </wsdl:message>
    <wsdl:message name="RemoveCustomerFromOfferHttpGetOut">
        <wsdl:part name="Body" element="tns:string"/>
    </wsdl:message>
    <wsdl:message name="RemoveCustomerCardFromOfferHttpGetIn">
        <wsdl:part name="ExternalSourceID" type="s:string"/>
        <wsdl:part name="CustomerID" type="s:string"/>
        <wsdl:part name="CardTypeID" type="s:string"/>
        <wsdl:part name="ClientOfferID" type="s:string"/>
    </wsdl:message>
    <wsdl:message name="RemoveCustomerCardFromOfferHttpGetOut">
        <wsdl:part name="Body" element="tns:string"/>
    </wsdl:message>
    <wsdl:message name="RemoveCustomersFromOfferHttpGetIn">
        <wsdl:part name="ExternalSourceID" type="s:string"/>
        <wsdl:part name="CustomerIDs" type="s:string"/>
        <wsdl:part name="ClientOfferID" type="s:string"/>
    </wsdl:message>
    <wsdl:message name="RemoveCustomersFromOfferHttpGetOut">
        <wsdl:part name="Body" element="tns:string"/>
    </wsdl:message>
    <wsdl:message name="RemoveCustomersHttpGetIn">
        <wsdl:part name="ExternalSourceID" type="s:string"/>
        <wsdl:part name="CustomerOfferData" type="s:string"/>
    </wsdl:message>
    <wsdl:message name="RemoveCustomersHttpGetOut">
        <wsdl:part name="Body" element="tns:string"/>
    </wsdl:message>
    <wsdl:message name="UnclipBundleHttpGetIn">
        <wsdl:part name="ExternalSourceID" type="s:string"/>
        <wsdl:part name="CustomerOfferData" type="s:string"/>
    </wsdl:message>
    <wsdl:message name="UnclipBundleHttpGetOut">
        <wsdl:part name="Body" element="tns:string"/>
    </wsdl:message>
    <wsdl:message name="AddProductToOfferHttpGetIn">
        <wsdl:part name="ExternalSourceID" type="s:string"/>
        <wsdl:part name="ClientProductID" type="s:string"/>
        <wsdl:part name="ClientOfferID" type="s:string"/>
    </wsdl:message>
    <wsdl:message name="AddProductToOfferHttpGetOut">
        <wsdl:part name="Body" element="tns:string"/>
    </wsdl:message>
    <wsdl:message name="RemoveProductFromOfferHttpGetIn">
        <wsdl:part name="ExternalSourceID" type="s:string"/>
        <wsdl:part name="ClientProductID" type="s:string"/>
        <wsdl:part name="ClientOfferID" type="s:string"/>
    </wsdl:message>
    <wsdl:message name="RemoveProductFromOfferHttpGetOut">
        <wsdl:part name="Body" element="tns:string"/>
    </wsdl:message>
    <wsdl:message name="GetCustomerOffersHttpGetIn">
        <wsdl:part name="ExternalSourceID" type="s:string"/>
        <wsdl:part name="CustomerID" type="s:string"/>
        <wsdl:part name="IncludeAnyCardholders" type="s:string"/>
    </wsdl:message>
    <wsdl:message name="GetCustomerOffersHttpGetOut">
        <wsdl:part name="Body" element="tns:string"/>
    </wsdl:message>
    <wsdl:message name="GetOfferCustomersHttpGetIn">
        <wsdl:part name="ExternalSourceID" type="s:string"/>
        <wsdl:part name="ClientOfferID" type="s:string"/>
    </wsdl:message>
    <wsdl:message name="GetOfferCustomersHttpGetOut">
        <wsdl:part name="Body" element="tns:string"/>
    </wsdl:message>
    <wsdl:message name="AddOfferHttpPostIn">
        <wsdl:part name="ExternalSourceID" type="s:string"/>
        <wsdl:part name="OfferXml" type="s:string"/>
    </wsdl:message>
    <wsdl:message name="AddOfferHttpPostOut">
        <wsdl:part name="Body" element="tns:string"/>
    </wsdl:message>
    <wsdl:message name="RemoveOfferHttpPostIn">
        <wsdl:part name="ExternalSourceID" type="s:string"/>
        <wsdl:part name="ClientOfferID" type="s:string"/>
    </wsdl:message>
    <wsdl:message name="RemoveOfferHttpPostOut">
        <wsdl:part name="Body" element="tns:string"/>
    </wsdl:message>
    <wsdl:message name="UpdateOfferHttpPostIn">
        <wsdl:part name="ExternalSourceID" type="s:string"/>
        <wsdl:part name="OfferXml" type="s:string"/>
    </wsdl:message>
    <wsdl:message name="UpdateOfferHttpPostOut">
        <wsdl:part name="Body" element="tns:string"/>
    </wsdl:message>
    <wsdl:message name="GetOfferHttpPostIn">
        <wsdl:part name="ExternalSourceID" type="s:string"/>
        <wsdl:part name="ClientOfferID" type="s:string"/>
    </wsdl:message>
    <wsdl:message name="GetOfferHttpPostOut">
        <wsdl:part name="Body" element="tns:string"/>
    </wsdl:message>
    <wsdl:message name="AddBannerToOfferHttpPostIn">
        <wsdl:part name="ExternalSourceID" type="s:string"/>
        <wsdl:part name="ClientOfferID" type="s:string"/>
        <wsdl:part name="BannerID" type="s:string"/>
    </wsdl:message>
    <wsdl:message name="AddBannerToOfferHttpPostOut">
        <wsdl:part name="Body" element="tns:string"/>
    </wsdl:message>
    <wsdl:message name="RemoveBannerFromOfferHttpPostIn">
        <wsdl:part name="ExternalSourceID" type="s:string"/>
        <wsdl:part name="ClientOfferID" type="s:string"/>
        <wsdl:part name="BannerID" type="s:string"/>
    </wsdl:message>
    <wsdl:message name="RemoveBannerFromOfferHttpPostOut">
        <wsdl:part name="Body" element="tns:string"/>
    </wsdl:message>
    <wsdl:message name="UpdateClientOfferIDHttpPostIn">
        <wsdl:part name="ExternalSourceID" type="s:string"/>
        <wsdl:part name="ClientOfferID" type="s:string"/>
        <wsdl:part name="NewClientOfferID" type="s:string"/>
    </wsdl:message>
    <wsdl:message name="UpdateClientOfferIDHttpPostOut">
        <wsdl:part name="Body" element="tns:string"/>
    </wsdl:message>
    <wsdl:message name="AddCustomersToOfferHttpPostIn">
        <wsdl:part name="ExternalSourceID" type="s:string"/>
        <wsdl:part name="CustomerIDs" type="s:string"/>
        <wsdl:part name="ClientOfferID" type="s:string"/>
    </wsdl:message>
    <wsdl:message name="AddCustomersToOfferHttpPostOut">
        <wsdl:part name="Body" element="tns:string"/>
    </wsdl:message>
    <wsdl:message name="AddCustomersHttpPostIn">
        <wsdl:part name="ExternalSourceID" type="s:string"/>
        <wsdl:part name="CustomerOfferData" type="s:string"/>
    </wsdl:message>
    <wsdl:message name="AddCustomersHttpPostOut">
        <wsdl:part name="Body" element="tns:string"/>
    </wsdl:message>
    <wsdl:message name="ClipBundleHttpPostIn">
        <wsdl:part name="ExternalSourceID" type="s:string"/>
        <wsdl:part name="CustomerOfferData" type="s:string"/>
    </wsdl:message>
    <wsdl:message name="ClipBundleHttpPostOut">
        <wsdl:part name="Body" element="tns:string"/>
    </wsdl:message>
    <wsdl:message name="AddCustomerToOfferHttpPostIn">
        <wsdl:part name="ExternalSourceID" type="s:string"/>
        <wsdl:part name="CustomerID" type="s:string"/>
        <wsdl:part name="ClientOfferID" type="s:string"/>
    </wsdl:message>
    <wsdl:message name="AddCustomerToOfferHttpPostOut">
        <wsdl:part name="Body" element="tns:string"/>
    </wsdl:message>
    <wsdl:message name="AddCustomerCardToOfferHttpPostIn">
        <wsdl:part name="ExternalSourceID" type="s:string"/>
        <wsdl:part name="CardID" type="s:string"/>
        <wsdl:part name="CardTypeID" type="s:string"/>
        <wsdl:part name="ClientOfferID" type="s:string"/>
    </wsdl:message>
    <wsdl:message name="AddCustomerCardToOfferHttpPostOut">
        <wsdl:part name="Body" element="tns:string"/>
    </wsdl:message>
    <wsdl:message name="RemoveCustomerFromOfferHttpPostIn">
        <wsdl:part name="ExternalSourceID" type="s:string"/>
        <wsdl:part name="CustomerID" type="s:string"/>
        <wsdl:part name="ClientOfferID" type="s:string"/>
    </wsdl:message>
    <wsdl:message name="RemoveCustomerFromOfferHttpPostOut">
        <wsdl:part name="Body" element="tns:string"/>
    </wsdl:message>
    <wsdl:message name="RemoveCustomerCardFromOfferHttpPostIn">
        <wsdl:part name="ExternalSourceID" type="s:string"/>
        <wsdl:part name="CustomerID" type="s:string"/>
        <wsdl:part name="CardTypeID" type="s:string"/>
        <wsdl:part name="ClientOfferID" type="s:string"/>
    </wsdl:message>
    <wsdl:message name="RemoveCustomerCardFromOfferHttpPostOut">
        <wsdl:part name="Body" element="tns:string"/>
    </wsdl:message>
    <wsdl:message name="RemoveCustomersFromOfferHttpPostIn">
        <wsdl:part name="ExternalSourceID" type="s:string"/>
        <wsdl:part name="CustomerIDs" type="s:string"/>
        <wsdl:part name="ClientOfferID" type="s:string"/>
    </wsdl:message>
    <wsdl:message name="RemoveCustomersFromOfferHttpPostOut">
        <wsdl:part name="Body" element="tns:string"/>
    </wsdl:message>
    <wsdl:message name="RemoveCustomersHttpPostIn">
        <wsdl:part name="ExternalSourceID" type="s:string"/>
        <wsdl:part name="CustomerOfferData" type="s:string"/>
    </wsdl:message>
    <wsdl:message name="RemoveCustomersHttpPostOut">
        <wsdl:part name="Body" element="tns:string"/>
    </wsdl:message>
    <wsdl:message name="UnclipBundleHttpPostIn">
        <wsdl:part name="ExternalSourceID" type="s:string"/>
        <wsdl:part name="CustomerOfferData" type="s:string"/>
    </wsdl:message>
    <wsdl:message name="UnclipBundleHttpPostOut">
        <wsdl:part name="Body" element="tns:string"/>
    </wsdl:message>
    <wsdl:message name="AddProductToOfferHttpPostIn">
        <wsdl:part name="ExternalSourceID" type="s:string"/>
        <wsdl:part name="ClientProductID" type="s:string"/>
        <wsdl:part name="ClientOfferID" type="s:string"/>
    </wsdl:message>
    <wsdl:message name="AddProductToOfferHttpPostOut">
        <wsdl:part name="Body" element="tns:string"/>
    </wsdl:message>
    <wsdl:message name="RemoveProductFromOfferHttpPostIn">
        <wsdl:part name="ExternalSourceID" type="s:string"/>
        <wsdl:part name="ClientProductID" type="s:string"/>
        <wsdl:part name="ClientOfferID" type="s:string"/>
    </wsdl:message>
    <wsdl:message name="RemoveProductFromOfferHttpPostOut">
        <wsdl:part name="Body" element="tns:string"/>
    </wsdl:message>
    <wsdl:message name="GetCustomerOffersHttpPostIn">
        <wsdl:part name="ExternalSourceID" type="s:string"/>
        <wsdl:part name="CustomerID" type="s:string"/>
        <wsdl:part name="IncludeAnyCardholders" type="s:string"/>
    </wsdl:message>
    <wsdl:message name="GetCustomerOffersHttpPostOut">
        <wsdl:part name="Body" element="tns:string"/>
    </wsdl:message>
    <wsdl:message name="GetOfferCustomersHttpPostIn">
        <wsdl:part name="ExternalSourceID" type="s:string"/>
        <wsdl:part name="ClientOfferID" type="s:string"/>
    </wsdl:message>
    <wsdl:message name="GetOfferCustomersHttpPostOut">
        <wsdl:part name="Body" element="tns:string"/>
    </wsdl:message>
    <wsdl:portType name="ServiceSoap">
        <wsdl:operation name="AddOffer">
            <wsdl:input message="tns:AddOfferSoapIn"/>
            <wsdl:output message="tns:AddOfferSoapOut"/>
        </wsdl:operation>
        <wsdl:operation name="RemoveOffer">
            <wsdl:input message="tns:RemoveOfferSoapIn"/>
            <wsdl:output message="tns:RemoveOfferSoapOut"/>
        </wsdl:operation>
        <wsdl:operation name="UpdateOffer">
            <wsdl:input message="tns:UpdateOfferSoapIn"/>
            <wsdl:output message="tns:UpdateOfferSoapOut"/>
        </wsdl:operation>
        <wsdl:operation name="GetOffer">
            <wsdl:input message="tns:GetOfferSoapIn"/>
            <wsdl:output message="tns:GetOfferSoapOut"/>
        </wsdl:operation>
        <wsdl:operation name="AddBannerToOffer">
            <wsdl:input message="tns:AddBannerToOfferSoapIn"/>
            <wsdl:output message="tns:AddBannerToOfferSoapOut"/>
        </wsdl:operation>
        <wsdl:operation name="RemoveBannerFromOffer">
            <wsdl:input message="tns:RemoveBannerFromOfferSoapIn"/>
            <wsdl:output message="tns:RemoveBannerFromOfferSoapOut"/>
        </wsdl:operation>
        <wsdl:operation name="UpdateClientOfferID">
            <wsdl:input message="tns:UpdateClientOfferIDSoapIn"/>
            <wsdl:output message="tns:UpdateClientOfferIDSoapOut"/>
        </wsdl:operation>
        <wsdl:operation name="AddCustomersToOffer">
            <wsdl:input message="tns:AddCustomersToOfferSoapIn"/>
            <wsdl:output message="tns:AddCustomersToOfferSoapOut"/>
        </wsdl:operation>
        <wsdl:operation name="AddCustomers">
            <wsdl:input message="tns:AddCustomersSoapIn"/>
            <wsdl:output message="tns:AddCustomersSoapOut"/>
        </wsdl:operation>
        <wsdl:operation name="ClipBundle">
            <wsdl:input message="tns:ClipBundleSoapIn"/>
            <wsdl:output message="tns:ClipBundleSoapOut"/>
        </wsdl:operation>
        <wsdl:operation name="AddCustomerToOffer">
            <wsdl:input message="tns:AddCustomerToOfferSoapIn"/>
            <wsdl:output message="tns:AddCustomerToOfferSoapOut"/>
        </wsdl:operation>
        <wsdl:operation name="AddCustomerCardToOffer">
            <wsdl:input message="tns:AddCustomerCardToOfferSoapIn"/>
            <wsdl:output message="tns:AddCustomerCardToOfferSoapOut"/>
        </wsdl:operation>
        <wsdl:operation name="RemoveCustomerFromOffer">
            <wsdl:input message="tns:RemoveCustomerFromOfferSoapIn"/>
            <wsdl:output message="tns:RemoveCustomerFromOfferSoapOut"/>
        </wsdl:operation>
        <wsdl:operation name="RemoveCustomerCardFromOffer">
            <wsdl:input message="tns:RemoveCustomerCardFromOfferSoapIn"/>
            <wsdl:output message="tns:RemoveCustomerCardFromOfferSoapOut"/>
        </wsdl:operation>
        <wsdl:operation name="RemoveCustomersFromOffer">
            <wsdl:input message="tns:RemoveCustomersFromOfferSoapIn"/>
            <wsdl:output message="tns:RemoveCustomersFromOfferSoapOut"/>
        </wsdl:operation>
        <wsdl:operation name="RemoveCustomers">
            <wsdl:input message="tns:RemoveCustomersSoapIn"/>
            <wsdl:output message="tns:RemoveCustomersSoapOut"/>
        </wsdl:operation>
        <wsdl:operation name="UnclipBundle">
            <wsdl:input message="tns:UnclipBundleSoapIn"/>
            <wsdl:output message="tns:UnclipBundleSoapOut"/>
        </wsdl:operation>
        <wsdl:operation name="AddProductToOffer">
            <wsdl:input message="tns:AddProductToOfferSoapIn"/>
            <wsdl:output message="tns:AddProductToOfferSoapOut"/>
        </wsdl:operation>
        <wsdl:operation name="RemoveProductFromOffer">
            <wsdl:input message="tns:RemoveProductFromOfferSoapIn"/>
            <wsdl:output message="tns:RemoveProductFromOfferSoapOut"/>
        </wsdl:operation>
        <wsdl:operation name="GetCustomerOffers">
            <wsdl:input message="tns:GetCustomerOffersSoapIn"/>
            <wsdl:output message="tns:GetCustomerOffersSoapOut"/>
        </wsdl:operation>
        <wsdl:operation name="GetOfferCustomers">
            <wsdl:input message="tns:GetOfferCustomersSoapIn"/>
            <wsdl:output message="tns:GetOfferCustomersSoapOut"/>
        </wsdl:operation>
    </wsdl:portType>
    <wsdl:portType name="ServiceHttpGet">
        <wsdl:operation name="AddOffer">
            <wsdl:input message="tns:AddOfferHttpGetIn"/>
            <wsdl:output message="tns:AddOfferHttpGetOut"/>
        </wsdl:operation>
        <wsdl:operation name="RemoveOffer">
            <wsdl:input message="tns:RemoveOfferHttpGetIn"/>
            <wsdl:output message="tns:RemoveOfferHttpGetOut"/>
        </wsdl:operation>
        <wsdl:operation name="UpdateOffer">
            <wsdl:input message="tns:UpdateOfferHttpGetIn"/>
            <wsdl:output message="tns:UpdateOfferHttpGetOut"/>
        </wsdl:operation>
        <wsdl:operation name="GetOffer">
            <wsdl:input message="tns:GetOfferHttpGetIn"/>
            <wsdl:output message="tns:GetOfferHttpGetOut"/>
        </wsdl:operation>
        <wsdl:operation name="AddBannerToOffer">
            <wsdl:input message="tns:AddBannerToOfferHttpGetIn"/>
            <wsdl:output message="tns:AddBannerToOfferHttpGetOut"/>
        </wsdl:operation>
        <wsdl:operation name="RemoveBannerFromOffer">
            <wsdl:input message="tns:RemoveBannerFromOfferHttpGetIn"/>
            <wsdl:output message="tns:RemoveBannerFromOfferHttpGetOut"/>
        </wsdl:operation>
        <wsdl:operation name="UpdateClientOfferID">
            <wsdl:input message="tns:UpdateClientOfferIDHttpGetIn"/>
            <wsdl:output message="tns:UpdateClientOfferIDHttpGetOut"/>
        </wsdl:operation>
        <wsdl:operation name="AddCustomersToOffer">
            <wsdl:input message="tns:AddCustomersToOfferHttpGetIn"/>
            <wsdl:output message="tns:AddCustomersToOfferHttpGetOut"/>
        </wsdl:operation>
        <wsdl:operation name="AddCustomers">
            <wsdl:input message="tns:AddCustomersHttpGetIn"/>
            <wsdl:output message="tns:AddCustomersHttpGetOut"/>
        </wsdl:operation>
        <wsdl:operation name="ClipBundle">
            <wsdl:input message="tns:ClipBundleHttpGetIn"/>
            <wsdl:output message="tns:ClipBundleHttpGetOut"/>
        </wsdl:operation>
        <wsdl:operation name="AddCustomerToOffer">
            <wsdl:input message="tns:AddCustomerToOfferHttpGetIn"/>
            <wsdl:output message="tns:AddCustomerToOfferHttpGetOut"/>
        </wsdl:operation>
        <wsdl:operation name="AddCustomerCardToOffer">
            <wsdl:input message="tns:AddCustomerCardToOfferHttpGetIn"/>
            <wsdl:output message="tns:AddCustomerCardToOfferHttpGetOut"/>
        </wsdl:operation>
        <wsdl:operation name="RemoveCustomerFromOffer">
            <wsdl:input message="tns:RemoveCustomerFromOfferHttpGetIn"/>
            <wsdl:output message="tns:RemoveCustomerFromOfferHttpGetOut"/>
        </wsdl:operation>
        <wsdl:operation name="RemoveCustomerCardFromOffer">
            <wsdl:input message="tns:RemoveCustomerCardFromOfferHttpGetIn"/>
            <wsdl:output message="tns:RemoveCustomerCardFromOfferHttpGetOut"/>
        </wsdl:operation>
        <wsdl:operation name="RemoveCustomersFromOffer">
            <wsdl:input message="tns:RemoveCustomersFromOfferHttpGetIn"/>
            <wsdl:output message="tns:RemoveCustomersFromOfferHttpGetOut"/>
        </wsdl:operation>
        <wsdl:operation name="RemoveCustomers">
            <wsdl:input message="tns:RemoveCustomersHttpGetIn"/>
            <wsdl:output message="tns:RemoveCustomersHttpGetOut"/>
        </wsdl:operation>
        <wsdl:operation name="UnclipBundle">
            <wsdl:input message="tns:UnclipBundleHttpGetIn"/>
            <wsdl:output message="tns:UnclipBundleHttpGetOut"/>
        </wsdl:operation>
        <wsdl:operation name="AddProductToOffer">
            <wsdl:input message="tns:AddProductToOfferHttpGetIn"/>
            <wsdl:output message="tns:AddProductToOfferHttpGetOut"/>
        </wsdl:operation>
        <wsdl:operation name="RemoveProductFromOffer">
            <wsdl:input message="tns:RemoveProductFromOfferHttpGetIn"/>
            <wsdl:output message="tns:RemoveProductFromOfferHttpGetOut"/>
        </wsdl:operation>
        <wsdl:operation name="GetCustomerOffers">
            <wsdl:input message="tns:GetCustomerOffersHttpGetIn"/>
            <wsdl:output message="tns:GetCustomerOffersHttpGetOut"/>
        </wsdl:operation>
        <wsdl:operation name="GetOfferCustomers">
            <wsdl:input message="tns:GetOfferCustomersHttpGetIn"/>
            <wsdl:output message="tns:GetOfferCustomersHttpGetOut"/>
        </wsdl:operation>
    </wsdl:portType>
    <wsdl:portType name="ServiceHttpPost">
        <wsdl:operation name="AddOffer">
            <wsdl:input message="tns:AddOfferHttpPostIn"/>
            <wsdl:output message="tns:AddOfferHttpPostOut"/>
        </wsdl:operation>
        <wsdl:operation name="RemoveOffer">
            <wsdl:input message="tns:RemoveOfferHttpPostIn"/>
            <wsdl:output message="tns:RemoveOfferHttpPostOut"/>
        </wsdl:operation>
        <wsdl:operation name="UpdateOffer">
            <wsdl:input message="tns:UpdateOfferHttpPostIn"/>
            <wsdl:output message="tns:UpdateOfferHttpPostOut"/>
        </wsdl:operation>
        <wsdl:operation name="GetOffer">
            <wsdl:input message="tns:GetOfferHttpPostIn"/>
            <wsdl:output message="tns:GetOfferHttpPostOut"/>
        </wsdl:operation>
        <wsdl:operation name="AddBannerToOffer">
            <wsdl:input message="tns:AddBannerToOfferHttpPostIn"/>
            <wsdl:output message="tns:AddBannerToOfferHttpPostOut"/>
        </wsdl:operation>
        <wsdl:operation name="RemoveBannerFromOffer">
            <wsdl:input message="tns:RemoveBannerFromOfferHttpPostIn"/>
            <wsdl:output message="tns:RemoveBannerFromOfferHttpPostOut"/>
        </wsdl:operation>
        <wsdl:operation name="UpdateClientOfferID">
            <wsdl:input message="tns:UpdateClientOfferIDHttpPostIn"/>
            <wsdl:output message="tns:UpdateClientOfferIDHttpPostOut"/>
        </wsdl:operation>
        <wsdl:operation name="AddCustomersToOffer">
            <wsdl:input message="tns:AddCustomersToOfferHttpPostIn"/>
            <wsdl:output message="tns:AddCustomersToOfferHttpPostOut"/>
        </wsdl:operation>
        <wsdl:operation name="AddCustomers">
            <wsdl:input message="tns:AddCustomersHttpPostIn"/>
            <wsdl:output message="tns:AddCustomersHttpPostOut"/>
        </wsdl:operation>
        <wsdl:operation name="ClipBundle">
            <wsdl:input message="tns:ClipBundleHttpPostIn"/>
            <wsdl:output message="tns:ClipBundleHttpPostOut"/>
        </wsdl:operation>
        <wsdl:operation name="AddCustomerToOffer">
            <wsdl:input message="tns:AddCustomerToOfferHttpPostIn"/>
            <wsdl:output message="tns:AddCustomerToOfferHttpPostOut"/>
        </wsdl:operation>
        <wsdl:operation name="AddCustomerCardToOffer">
            <wsdl:input message="tns:AddCustomerCardToOfferHttpPostIn"/>
            <wsdl:output message="tns:AddCustomerCardToOfferHttpPostOut"/>
        </wsdl:operation>
        <wsdl:operation name="RemoveCustomerFromOffer">
            <wsdl:input message="tns:RemoveCustomerFromOfferHttpPostIn"/>
            <wsdl:output message="tns:RemoveCustomerFromOfferHttpPostOut"/>
        </wsdl:operation>
        <wsdl:operation name="RemoveCustomerCardFromOffer">
            <wsdl:input message="tns:RemoveCustomerCardFromOfferHttpPostIn"/>
            <wsdl:output message="tns:RemoveCustomerCardFromOfferHttpPostOut"/>
        </wsdl:operation>
        <wsdl:operation name="RemoveCustomersFromOffer">
            <wsdl:input message="tns:RemoveCustomersFromOfferHttpPostIn"/>
            <wsdl:output message="tns:RemoveCustomersFromOfferHttpPostOut"/>
        </wsdl:operation>
        <wsdl:operation name="RemoveCustomers">
            <wsdl:input message="tns:RemoveCustomersHttpPostIn"/>
            <wsdl:output message="tns:RemoveCustomersHttpPostOut"/>
        </wsdl:operation>
        <wsdl:operation name="UnclipBundle">
            <wsdl:input message="tns:UnclipBundleHttpPostIn"/>
            <wsdl:output message="tns:UnclipBundleHttpPostOut"/>
        </wsdl:operation>
        <wsdl:operation name="AddProductToOffer">
            <wsdl:input message="tns:AddProductToOfferHttpPostIn"/>
            <wsdl:output message="tns:AddProductToOfferHttpPostOut"/>
        </wsdl:operation>
        <wsdl:operation name="RemoveProductFromOffer">
            <wsdl:input message="tns:RemoveProductFromOfferHttpPostIn"/>
            <wsdl:output message="tns:RemoveProductFromOfferHttpPostOut"/>
        </wsdl:operation>
        <wsdl:operation name="GetCustomerOffers">
            <wsdl:input message="tns:GetCustomerOffersHttpPostIn"/>
            <wsdl:output message="tns:GetCustomerOffersHttpPostOut"/>
        </wsdl:operation>
        <wsdl:operation name="GetOfferCustomers">
            <wsdl:input message="tns:GetOfferCustomersHttpPostIn"/>
            <wsdl:output message="tns:GetOfferCustomersHttpPostOut"/>
        </wsdl:operation>
    </wsdl:portType>
    <wsdl:binding name="ServiceSoap" type="tns:ServiceSoap">
        <soap:binding transport="http://schemas.xmlsoap.org/soap/http"/>
        <wsdl:operation name="AddOffer">
            <soap:operation soapAction="http://www.copienttech.com/ExternalOfferConnector/AddOffer" style="document"/>
            <wsdl:input>
                <soap:body use="literal"/>
            </wsdl:input>
            <wsdl:output>
                <soap:body use="literal"/>
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="RemoveOffer">
            <soap:operation soapAction="http://www.copienttech.com/ExternalOfferConnector/RemoveOffer" style="document"/>
            <wsdl:input>
                <soap:body use="literal"/>
            </wsdl:input>
            <wsdl:output>
                <soap:body use="literal"/>
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="UpdateOffer">
            <soap:operation soapAction="http://www.copienttech.com/ExternalOfferConnector/UpdateOffer" style="document"/>
            <wsdl:input>
                <soap:body use="literal"/>
            </wsdl:input>
            <wsdl:output>
                <soap:body use="literal"/>
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="GetOffer">
            <soap:operation soapAction="http://www.copienttech.com/ExternalOfferConnector/GetOffer" style="document"/>
            <wsdl:input>
                <soap:body use="literal"/>
            </wsdl:input>
            <wsdl:output>
                <soap:body use="literal"/>
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="AddBannerToOffer">
            <soap:operation soapAction="http://www.copienttech.com/ExternalOfferConnector/AddBannerToOffer" style="document"/>
            <wsdl:input>
                <soap:body use="literal"/>
            </wsdl:input>
            <wsdl:output>
                <soap:body use="literal"/>
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="RemoveBannerFromOffer">
            <soap:operation soapAction="http://www.copienttech.com/ExternalOfferConnector/RemoveBannerFromOffer" style="document"/>
            <wsdl:input>
                <soap:body use="literal"/>
            </wsdl:input>
            <wsdl:output>
                <soap:body use="literal"/>
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="UpdateClientOfferID">
            <soap:operation soapAction="http://www.copienttech.com/ExternalOfferConnector/UpdateClientOfferID" style="document"/>
            <wsdl:input>
                <soap:body use="literal"/>
            </wsdl:input>
            <wsdl:output>
                <soap:body use="literal"/>
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="AddCustomersToOffer">
            <soap:operation soapAction="http://www.copienttech.com/ExternalOfferConnector/AddCustomersToOffer" style="document"/>
            <wsdl:input>
                <soap:body use="literal"/>
            </wsdl:input>
            <wsdl:output>
                <soap:body use="literal"/>
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="AddCustomers">
            <soap:operation soapAction="http://www.copienttech.com/ExternalOfferConnector/AddCustomers" style="document"/>
            <wsdl:input>
                <soap:body use="literal"/>
            </wsdl:input>
            <wsdl:output>
                <soap:body use="literal"/>
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="ClipBundle">
            <soap:operation soapAction="http://www.copienttech.com/ExternalOfferConnector/ClipBundle" style="document"/>
            <wsdl:input>
                <soap:body use="literal"/>
            </wsdl:input>
            <wsdl:output>
                <soap:body use="literal"/>
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="AddCustomerToOffer">
            <soap:operation soapAction="http://www.copienttech.com/ExternalOfferConnector/AddCustomerToOffer" style="document"/>
            <wsdl:input>
                <soap:body use="literal"/>
            </wsdl:input>
            <wsdl:output>
                <soap:body use="literal"/>
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="AddCustomerCardToOffer">
            <soap:operation soapAction="http://www.copienttech.com/ExternalOfferConnector/AddCustomerCardToOffer" style="document"/>
            <wsdl:input>
                <soap:body use="literal"/>
            </wsdl:input>
            <wsdl:output>
                <soap:body use="literal"/>
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="RemoveCustomerFromOffer">
            <soap:operation soapAction="http://www.copienttech.com/ExternalOfferConnector/RemoveCustomerFromOffer" style="document"/>
            <wsdl:input>
                <soap:body use="literal"/>
            </wsdl:input>
            <wsdl:output>
                <soap:body use="literal"/>
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="RemoveCustomerCardFromOffer">
            <soap:operation soapAction="http://www.copienttech.com/ExternalOfferConnector/RemoveCustomerCardFromOffer" style="document"/>
            <wsdl:input>
                <soap:body use="literal"/>
            </wsdl:input>
            <wsdl:output>
                <soap:body use="literal"/>
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="RemoveCustomersFromOffer">
            <soap:operation soapAction="http://www.copienttech.com/ExternalOfferConnector/RemoveCustomersFromOffer" style="document"/>
            <wsdl:input>
                <soap:body use="literal"/>
            </wsdl:input>
            <wsdl:output>
                <soap:body use="literal"/>
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="RemoveCustomers">
            <soap:operation soapAction="http://www.copienttech.com/ExternalOfferConnector/RemoveCustomers" style="document"/>
            <wsdl:input>
                <soap:body use="literal"/>
            </wsdl:input>
            <wsdl:output>
                <soap:body use="literal"/>
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="UnclipBundle">
            <soap:operation soapAction="http://www.copienttech.com/ExternalOfferConnector/UnclipBundle" style="document"/>
            <wsdl:input>
                <soap:body use="literal"/>
            </wsdl:input>
            <wsdl:output>
                <soap:body use="literal"/>
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="AddProductToOffer">
            <soap:operation soapAction="http://www.copienttech.com/ExternalOfferConnector/AddProductToOffer" style="document"/>
            <wsdl:input>
                <soap:body use="literal"/>
            </wsdl:input>
            <wsdl:output>
                <soap:body use="literal"/>
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="RemoveProductFromOffer">
            <soap:operation soapAction="http://www.copienttech.com/ExternalOfferConnector/RemoveProductFromOffer" style="document"/>
            <wsdl:input>
                <soap:body use="literal"/>
            </wsdl:input>
            <wsdl:output>
                <soap:body use="literal"/>
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="GetCustomerOffers">
            <soap:operation soapAction="http://www.copienttech.com/ExternalOfferConnector/GetCustomerOffers" style="document"/>
            <wsdl:input>
                <soap:body use="literal"/>
            </wsdl:input>
            <wsdl:output>
                <soap:body use="literal"/>
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="GetOfferCustomers">
            <soap:operation soapAction="http://www.copienttech.com/ExternalOfferConnector/GetOfferCustomers" style="document"/>
            <wsdl:input>
                <soap:body use="literal"/>
            </wsdl:input>
            <wsdl:output>
                <soap:body use="literal"/>
            </wsdl:output>
        </wsdl:operation>
    </wsdl:binding>
    <wsdl:binding name="ServiceSoap12" type="tns:ServiceSoap">
        <soap12:binding transport="http://schemas.xmlsoap.org/soap/http"/>
        <wsdl:operation name="AddOffer">
            <soap12:operation soapAction="http://www.copienttech.com/ExternalOfferConnector/AddOffer" style="document"/>
            <wsdl:input>
                <soap12:body use="literal"/>
            </wsdl:input>
            <wsdl:output>
                <soap12:body use="literal"/>
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="RemoveOffer">
            <soap12:operation soapAction="http://www.copienttech.com/ExternalOfferConnector/RemoveOffer" style="document"/>
            <wsdl:input>
                <soap12:body use="literal"/>
            </wsdl:input>
            <wsdl:output>
                <soap12:body use="literal"/>
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="UpdateOffer">
            <soap12:operation soapAction="http://www.copienttech.com/ExternalOfferConnector/UpdateOffer" style="document"/>
            <wsdl:input>
                <soap12:body use="literal"/>
            </wsdl:input>
            <wsdl:output>
                <soap12:body use="literal"/>
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="GetOffer">
            <soap12:operation soapAction="http://www.copienttech.com/ExternalOfferConnector/GetOffer" style="document"/>
            <wsdl:input>
                <soap12:body use="literal"/>
            </wsdl:input>
            <wsdl:output>
                <soap12:body use="literal"/>
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="AddBannerToOffer">
            <soap12:operation soapAction="http://www.copienttech.com/ExternalOfferConnector/AddBannerToOffer" style="document"/>
            <wsdl:input>
                <soap12:body use="literal"/>
            </wsdl:input>
            <wsdl:output>
                <soap12:body use="literal"/>
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="RemoveBannerFromOffer">
            <soap12:operation soapAction="http://www.copienttech.com/ExternalOfferConnector/RemoveBannerFromOffer" style="document"/>
            <wsdl:input>
                <soap12:body use="literal"/>
            </wsdl:input>
            <wsdl:output>
                <soap12:body use="literal"/>
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="UpdateClientOfferID">
            <soap12:operation soapAction="http://www.copienttech.com/ExternalOfferConnector/UpdateClientOfferID" style="document"/>
            <wsdl:input>
                <soap12:body use="literal"/>
            </wsdl:input>
            <wsdl:output>
                <soap12:body use="literal"/>
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="AddCustomersToOffer">
            <soap12:operation soapAction="http://www.copienttech.com/ExternalOfferConnector/AddCustomersToOffer" style="document"/>
            <wsdl:input>
                <soap12:body use="literal"/>
            </wsdl:input>
            <wsdl:output>
                <soap12:body use="literal"/>
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="AddCustomers">
            <soap12:operation soapAction="http://www.copienttech.com/ExternalOfferConnector/AddCustomers" style="document"/>
            <wsdl:input>
                <soap12:body use="literal"/>
            </wsdl:input>
            <wsdl:output>
                <soap12:body use="literal"/>
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="ClipBundle">
            <soap12:operation soapAction="http://www.copienttech.com/ExternalOfferConnector/ClipBundle" style="document"/>
            <wsdl:input>
                <soap12:body use="literal"/>
            </wsdl:input>
            <wsdl:output>
                <soap12:body use="literal"/>
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="AddCustomerToOffer">
            <soap12:operation soapAction="http://www.copienttech.com/ExternalOfferConnector/AddCustomerToOffer" style="document"/>
            <wsdl:input>
                <soap12:body use="literal"/>
            </wsdl:input>
            <wsdl:output>
                <soap12:body use="literal"/>
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="AddCustomerCardToOffer">
            <soap12:operation soapAction="http://www.copienttech.com/ExternalOfferConnector/AddCustomerCardToOffer" style="document"/>
            <wsdl:input>
                <soap12:body use="literal"/>
            </wsdl:input>
            <wsdl:output>
                <soap12:body use="literal"/>
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="RemoveCustomerFromOffer">
            <soap12:operation soapAction="http://www.copienttech.com/ExternalOfferConnector/RemoveCustomerFromOffer" style="document"/>
            <wsdl:input>
                <soap12:body use="literal"/>
            </wsdl:input>
            <wsdl:output>
                <soap12:body use="literal"/>
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="RemoveCustomerCardFromOffer">
            <soap12:operation soapAction="http://www.copienttech.com/ExternalOfferConnector/RemoveCustomerCardFromOffer" style="document"/>
            <wsdl:input>
                <soap12:body use="literal"/>
            </wsdl:input>
            <wsdl:output>
                <soap12:body use="literal"/>
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="RemoveCustomersFromOffer">
            <soap12:operation soapAction="http://www.copienttech.com/ExternalOfferConnector/RemoveCustomersFromOffer" style="document"/>
            <wsdl:input>
                <soap12:body use="literal"/>
            </wsdl:input>
            <wsdl:output>
                <soap12:body use="literal"/>
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="RemoveCustomers">
            <soap12:operation soapAction="http://www.copienttech.com/ExternalOfferConnector/RemoveCustomers" style="document"/>
            <wsdl:input>
                <soap12:body use="literal"/>
            </wsdl:input>
            <wsdl:output>
                <soap12:body use="literal"/>
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="UnclipBundle">
            <soap12:operation soapAction="http://www.copienttech.com/ExternalOfferConnector/UnclipBundle" style="document"/>
            <wsdl:input>
                <soap12:body use="literal"/>
            </wsdl:input>
            <wsdl:output>
                <soap12:body use="literal"/>
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="AddProductToOffer">
            <soap12:operation soapAction="http://www.copienttech.com/ExternalOfferConnector/AddProductToOffer" style="document"/>
            <wsdl:input>
                <soap12:body use="literal"/>
            </wsdl:input>
            <wsdl:output>
                <soap12:body use="literal"/>
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="RemoveProductFromOffer">
            <soap12:operation soapAction="http://www.copienttech.com/ExternalOfferConnector/RemoveProductFromOffer" style="document"/>
            <wsdl:input>
                <soap12:body use="literal"/>
            </wsdl:input>
            <wsdl:output>
                <soap12:body use="literal"/>
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="GetCustomerOffers">
            <soap12:operation soapAction="http://www.copienttech.com/ExternalOfferConnector/GetCustomerOffers" style="document"/>
            <wsdl:input>
                <soap12:body use="literal"/>
            </wsdl:input>
            <wsdl:output>
                <soap12:body use="literal"/>
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="GetOfferCustomers">
            <soap12:operation soapAction="http://www.copienttech.com/ExternalOfferConnector/GetOfferCustomers" style="document"/>
            <wsdl:input>
                <soap12:body use="literal"/>
            </wsdl:input>
            <wsdl:output>
                <soap12:body use="literal"/>
            </wsdl:output>
        </wsdl:operation>
    </wsdl:binding>
    <wsdl:binding name="ServiceHttpGet" type="tns:ServiceHttpGet">
        <http:binding verb="GET"/>
        <wsdl:operation name="AddOffer">
            <http:operation location="/AddOffer"/>
            <wsdl:input>
                <http:urlEncoded/>
            </wsdl:input>
            <wsdl:output>
                <mime:mimeXml part="Body"/>
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="RemoveOffer">
            <http:operation location="/RemoveOffer"/>
            <wsdl:input>
                <http:urlEncoded/>
            </wsdl:input>
            <wsdl:output>
                <mime:mimeXml part="Body"/>
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="UpdateOffer">
            <http:operation location="/UpdateOffer"/>
            <wsdl:input>
                <http:urlEncoded/>
            </wsdl:input>
            <wsdl:output>
                <mime:mimeXml part="Body"/>
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="GetOffer">
            <http:operation location="/GetOffer"/>
            <wsdl:input>
                <http:urlEncoded/>
            </wsdl:input>
            <wsdl:output>
                <mime:mimeXml part="Body"/>
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="AddBannerToOffer">
            <http:operation location="/AddBannerToOffer"/>
            <wsdl:input>
                <http:urlEncoded/>
            </wsdl:input>
            <wsdl:output>
                <mime:mimeXml part="Body"/>
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="RemoveBannerFromOffer">
            <http:operation location="/RemoveBannerFromOffer"/>
            <wsdl:input>
                <http:urlEncoded/>
            </wsdl:input>
            <wsdl:output>
                <mime:mimeXml part="Body"/>
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="UpdateClientOfferID">
            <http:operation location="/UpdateClientOfferID"/>
            <wsdl:input>
                <http:urlEncoded/>
            </wsdl:input>
            <wsdl:output>
                <mime:mimeXml part="Body"/>
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="AddCustomersToOffer">
            <http:operation location="/AddCustomersToOffer"/>
            <wsdl:input>
                <http:urlEncoded/>
            </wsdl:input>
            <wsdl:output>
                <mime:mimeXml part="Body"/>
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="AddCustomers">
            <http:operation location="/AddCustomers"/>
            <wsdl:input>
                <http:urlEncoded/>
            </wsdl:input>
            <wsdl:output>
                <mime:mimeXml part="Body"/>
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="ClipBundle">
            <http:operation location="/ClipBundle"/>
            <wsdl:input>
                <http:urlEncoded/>
            </wsdl:input>
            <wsdl:output>
                <mime:mimeXml part="Body"/>
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="AddCustomerToOffer">
            <http:operation location="/AddCustomerToOffer"/>
            <wsdl:input>
                <http:urlEncoded/>
            </wsdl:input>
            <wsdl:output>
                <mime:mimeXml part="Body"/>
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="AddCustomerCardToOffer">
            <http:operation location="/AddCustomerCardToOffer"/>
            <wsdl:input>
                <http:urlEncoded/>
            </wsdl:input>
            <wsdl:output>
                <mime:mimeXml part="Body"/>
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="RemoveCustomerFromOffer">
            <http:operation location="/RemoveCustomerFromOffer"/>
            <wsdl:input>
                <http:urlEncoded/>
            </wsdl:input>
            <wsdl:output>
                <mime:mimeXml part="Body"/>
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="RemoveCustomerCardFromOffer">
            <http:operation location="/RemoveCustomerCardFromOffer"/>
            <wsdl:input>
                <http:urlEncoded/>
            </wsdl:input>
            <wsdl:output>
                <mime:mimeXml part="Body"/>
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="RemoveCustomersFromOffer">
            <http:operation location="/RemoveCustomersFromOffer"/>
            <wsdl:input>
                <http:urlEncoded/>
            </wsdl:input>
            <wsdl:output>
                <mime:mimeXml part="Body"/>
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="RemoveCustomers">
            <http:operation location="/RemoveCustomers"/>
            <wsdl:input>
                <http:urlEncoded/>
            </wsdl:input>
            <wsdl:output>
                <mime:mimeXml part="Body"/>
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="UnclipBundle">
            <http:operation location="/UnclipBundle"/>
            <wsdl:input>
                <http:urlEncoded/>
            </wsdl:input>
            <wsdl:output>
                <mime:mimeXml part="Body"/>
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="AddProductToOffer">
            <http:operation location="/AddProductToOffer"/>
            <wsdl:input>
                <http:urlEncoded/>
            </wsdl:input>
            <wsdl:output>
                <mime:mimeXml part="Body"/>
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="RemoveProductFromOffer">
            <http:operation location="/RemoveProductFromOffer"/>
            <wsdl:input>
                <http:urlEncoded/>
            </wsdl:input>
            <wsdl:output>
                <mime:mimeXml part="Body"/>
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="GetCustomerOffers">
            <http:operation location="/GetCustomerOffers"/>
            <wsdl:input>
                <http:urlEncoded/>
            </wsdl:input>
            <wsdl:output>
                <mime:mimeXml part="Body"/>
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="GetOfferCustomers">
            <http:operation location="/GetOfferCustomers"/>
            <wsdl:input>
                <http:urlEncoded/>
            </wsdl:input>
            <wsdl:output>
                <mime:mimeXml part="Body"/>
            </wsdl:output>
        </wsdl:operation>
    </wsdl:binding>
    <wsdl:binding name="ServiceHttpPost" type="tns:ServiceHttpPost">
        <http:binding verb="POST"/>
        <wsdl:operation name="AddOffer">
            <http:operation location="/AddOffer"/>
            <wsdl:input>
                <mime:content type="application/x-www-form-urlencoded"/>
            </wsdl:input>
            <wsdl:output>
                <mime:mimeXml part="Body"/>
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="RemoveOffer">
            <http:operation location="/RemoveOffer"/>
            <wsdl:input>
                <mime:content type="application/x-www-form-urlencoded"/>
            </wsdl:input>
            <wsdl:output>
                <mime:mimeXml part="Body"/>
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="UpdateOffer">
            <http:operation location="/UpdateOffer"/>
            <wsdl:input>
                <mime:content type="application/x-www-form-urlencoded"/>
            </wsdl:input>
            <wsdl:output>
                <mime:mimeXml part="Body"/>
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="GetOffer">
            <http:operation location="/GetOffer"/>
            <wsdl:input>
                <mime:content type="application/x-www-form-urlencoded"/>
            </wsdl:input>
            <wsdl:output>
                <mime:mimeXml part="Body"/>
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="AddBannerToOffer">
            <http:operation location="/AddBannerToOffer"/>
            <wsdl:input>
                <mime:content type="application/x-www-form-urlencoded"/>
            </wsdl:input>
            <wsdl:output>
                <mime:mimeXml part="Body"/>
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="RemoveBannerFromOffer">
            <http:operation location="/RemoveBannerFromOffer"/>
            <wsdl:input>
                <mime:content type="application/x-www-form-urlencoded"/>
            </wsdl:input>
            <wsdl:output>
                <mime:mimeXml part="Body"/>
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="UpdateClientOfferID">
            <http:operation location="/UpdateClientOfferID"/>
            <wsdl:input>
                <mime:content type="application/x-www-form-urlencoded"/>
            </wsdl:input>
            <wsdl:output>
                <mime:mimeXml part="Body"/>
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="AddCustomersToOffer">
            <http:operation location="/AddCustomersToOffer"/>
            <wsdl:input>
                <mime:content type="application/x-www-form-urlencoded"/>
            </wsdl:input>
            <wsdl:output>
                <mime:mimeXml part="Body"/>
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="AddCustomers">
            <http:operation location="/AddCustomers"/>
            <wsdl:input>
                <mime:content type="application/x-www-form-urlencoded"/>
            </wsdl:input>
            <wsdl:output>
                <mime:mimeXml part="Body"/>
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="ClipBundle">
            <http:operation location="/ClipBundle"/>
            <wsdl:input>
                <mime:content type="application/x-www-form-urlencoded"/>
            </wsdl:input>
            <wsdl:output>
                <mime:mimeXml part="Body"/>
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="AddCustomerToOffer">
            <http:operation location="/AddCustomerToOffer"/>
            <wsdl:input>
                <mime:content type="application/x-www-form-urlencoded"/>
            </wsdl:input>
            <wsdl:output>
                <mime:mimeXml part="Body"/>
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="AddCustomerCardToOffer">
            <http:operation location="/AddCustomerCardToOffer"/>
            <wsdl:input>
                <mime:content type="application/x-www-form-urlencoded"/>
            </wsdl:input>
            <wsdl:output>
                <mime:mimeXml part="Body"/>
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="RemoveCustomerFromOffer">
            <http:operation location="/RemoveCustomerFromOffer"/>
            <wsdl:input>
                <mime:content type="application/x-www-form-urlencoded"/>
            </wsdl:input>
            <wsdl:output>
                <mime:mimeXml part="Body"/>
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="RemoveCustomerCardFromOffer">
            <http:operation location="/RemoveCustomerCardFromOffer"/>
            <wsdl:input>
                <mime:content type="application/x-www-form-urlencoded"/>
            </wsdl:input>
            <wsdl:output>
                <mime:mimeXml part="Body"/>
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="RemoveCustomersFromOffer">
            <http:operation location="/RemoveCustomersFromOffer"/>
            <wsdl:input>
                <mime:content type="application/x-www-form-urlencoded"/>
            </wsdl:input>
            <wsdl:output>
                <mime:mimeXml part="Body"/>
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="RemoveCustomers">
            <http:operation location="/RemoveCustomers"/>
            <wsdl:input>
                <mime:content type="application/x-www-form-urlencoded"/>
            </wsdl:input>
            <wsdl:output>
                <mime:mimeXml part="Body"/>
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="UnclipBundle">
            <http:operation location="/UnclipBundle"/>
            <wsdl:input>
                <mime:content type="application/x-www-form-urlencoded"/>
            </wsdl:input>
            <wsdl:output>
                <mime:mimeXml part="Body"/>
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="AddProductToOffer">
            <http:operation location="/AddProductToOffer"/>
            <wsdl:input>
                <mime:content type="application/x-www-form-urlencoded"/>
            </wsdl:input>
            <wsdl:output>
                <mime:mimeXml part="Body"/>
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="RemoveProductFromOffer">
            <http:operation location="/RemoveProductFromOffer"/>
            <wsdl:input>
                <mime:content type="application/x-www-form-urlencoded"/>
            </wsdl:input>
            <wsdl:output>
                <mime:mimeXml part="Body"/>
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="GetCustomerOffers">
            <http:operation location="/GetCustomerOffers"/>
            <wsdl:input>
                <mime:content type="application/x-www-form-urlencoded"/>
            </wsdl:input>
            <wsdl:output>
                <mime:mimeXml part="Body"/>
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="GetOfferCustomers">
            <http:operation location="/GetOfferCustomers"/>
            <wsdl:input>
                <mime:content type="application/x-www-form-urlencoded"/>
            </wsdl:input>
            <wsdl:output>
                <mime:mimeXml part="Body"/>
            </wsdl:output>
        </wsdl:operation>
    </wsdl:binding>
    <wsdl:service name="Service">
        <wsdl:port name="ServiceSoap" binding="tns:ServiceSoap">
            <soap:address location="http://logixcert.heb.com/connectors/CPE/ExternalOfferConnector.asmx"/>
        </wsdl:port>
        <wsdl:port name="ServiceSoap12" binding="tns:ServiceSoap12">
            <soap12:address location="http://logixcert.heb.com/connectors/CPE/ExternalOfferConnector.asmx"/>
        </wsdl:port>
        <wsdl:port name="ServiceHttpGet" binding="tns:ServiceHttpGet">
            <http:address location="http://logixcert.heb.com/connectors/CPE/ExternalOfferConnector.asmx"/>
        </wsdl:port>
        <wsdl:port name="ServiceHttpPost" binding="tns:ServiceHttpPost">
            <http:address location="http://logixcert.heb.com/connectors/CPE/ExternalOfferConnector.asmx"/>
        </wsdl:port>
    </wsdl:service>
</wsdl:definitions>