HEBCard/Documentos/Diseño/Import OC/Esquemas/PURCHASEORDER_INFORMATION_COMPLETED.xml

<?xml version="1.0" encoding="UTF-8"?>

<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema"
	 elementFormDefault="qualified"
	 attributeFormDefault="unqualified">
	<xs:element name="Response">
		<xs:complexType>
			<xs:sequence>
				<xs:element name="Header">
					<xs:complexType>
						<xs:sequence>
							<xs:element name="TransactionID" type="xs:normalizedString"/>
							<xs:element name="Code" type="xs:normalizedString"/>
							<xs:element name="ErrorCode" type="xs:normalizedString"/>
							<xs:element name="Description" type="xs:normalizedString"/>
						</xs:sequence>
					</xs:complexType>
				</xs:element>
				<xs:element name="PURCHASE_ORDER">
					<xs:complexType>
						<xs:sequence>
							<xs:element name="VENDOR_EMAIL" type="xs:string" form="unqualified" nillable="true" minOccurs="0"/>
							<xs:element name="VENDOR_ID" type="xs:string" form="unqualified" nillable="true" minOccurs="0"/>
						</xs:sequence>
					</xs:complexType>
				</xs:element>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="Request">
		<xs:complexType>
			<xs:sequence>
				<xs:element name="Header">
					<xs:complexType>
						<xs:sequence>
							<xs:element name="TransactionID" type="xs:normalizedString"/>
							<xs:element name="Origin" type="xs:normalizedString"/>
						</xs:sequence>
					</xs:complexType>
				</xs:element>
				<xs:element name="PURCHASE_ORDER">
					<xs:complexType>
						<xs:sequence>
							<xs:element name="AUDIT_NUMBER" type="xs:string" form="unqualified" nillable="true" minOccurs="0"/>
							<xs:element name="TRAN_TYPE" type="xs:string" form="unqualified" nillable="true" minOccurs="0"/>
							<xs:element name="PMG_PO_NUMBER" type="xs:string" form="unqualified" nillable="true" minOccurs="0"/>
							<xs:element name="ORG_LVL_NUMBER" type="xs:string" form="unqualified" nillable="true" minOccurs="0"/>
							<xs:element name="VENDOR_NUMBER" type="xs:string" form="unqualified" nillable="true" minOccurs="0"/>
							<xs:element name="PMG_TYPE_NAME" type="xs:string" form="unqualified" nillable="true" minOccurs="0"/>
							<xs:element name="BAS_USR_NAME" type="xs:string" form="unqualified" nillable="true" minOccurs="0"/>
							<xs:element name="PMG_BUYER" type="xs:string" form="unqualified" nillable="true" minOccurs="0"/>
							<xs:element name="DMT_CODE" type="xs:string" form="unqualified" nillable="true" minOccurs="0"/>
							<xs:element name="PMG_ENTRY_DATE" type="xs:string" form="unqualified" nillable="true" minOccurs="0"/>
							<xs:element name="DATE_CREATED" type="xs:string" form="unqualified" nillable="true" minOccurs="0"/>
							<xs:element name="PO_AUTO_RELEASE" type="xs:string" form="unqualified" nillable="true" minOccurs="0"/>
							<xs:element name="APPLY_VPC_CHGALW" type="xs:string" form="unqualified" nillable="true" minOccurs="0"/>
							<xs:element name="JDA_ORIGIN" type="xs:string" form="unqualified" nillable="true" minOccurs="0"/>
							<xs:element name="VENDOR_EMAIL" type="xs:string" form="unqualified" nillable="true" minOccurs="0"/>
							<xs:element name="PURCHASE_ORDER_DETAIL" type="PURCHASE_ORDER_DETAIL" nillable="true" minOccurs="0"/>
						</xs:sequence>
					</xs:complexType>
				</xs:element>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="PURCHASE_ORDER_DETAIL" type="PURCHASE_ORDER_DETAIL"/>
	<xs:complexType name="PURCHASE_ORDER_DETAIL">
		<xs:sequence>
			<xs:element name="ITEM" minOccurs="0" maxOccurs="unbounded">
				<xs:complexType>
					<xs:sequence>
						<xs:element name="AUDIT_NUMBER" type="xs:string" form="unqualified" nillable="true" minOccurs="0"/>
						<xs:element name="TRAN_TYPE" type="xs:string" form="unqualified" nillable="true" minOccurs="0"/>
						<xs:element name="PMG_SEQ_NUM" type="xs:string" form="unqualified" nillable="true" minOccurs="0"/>
						<xs:element name="PMG_PO_NUMBER" type="xs:string" form="unqualified" nillable="true" minOccurs="0"/>
						<xs:element name="PMG_LINE_NUMBER" type="xs:string" form="unqualified" nillable="true" minOccurs="0"/>
						<xs:element name="PRD_LVL_NUMBER" type="xs:string" form="unqualified" nillable="true" minOccurs="0"/>
						<xs:element name="ORG_LVL_NUMBER" type="xs:string" form="unqualified" nillable="true" minOccurs="0"/>
						<xs:element name="VPC_CASE_PACK_ID" type="xs:string" form="unqualified" nillable="true" minOccurs="0"/>
						<xs:element name="PMG_SELL_QTY" type="xs:string" form="unqualified" nillable="true" minOccurs="0"/>
						<xs:element name="DMT_CODE" type="xs:string" form="unqualified" nillable="true" minOccurs="0"/>
						<xs:element name="DATE_CREATED" type="xs:string" form="unqualified" nillable="true" minOccurs="0"/>
					</xs:sequence>
				</xs:complexType>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
</xs:schema>