HEBusiness/Desarrollo/PmmArticuloPropuestaSubscriber/Shared Resources/Schema Definitions/Custom/ArticuloPmm.xsd

<?xml version="1.0" encoding="UTF-8"?>

<!-- edited with XMLSpy v2011 sp1 (http://www.altova.com) by End User (free.org) -->
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema"
	 elementFormDefault="qualified"
	 attributeFormDefault="unqualified">
	<xs:element name="Articulo" type="ArticuloType"/>
	<xs:element name="SDIPRDMSI" type="SDIPRDMSIType"/>
	<xs:complexType name="ArticuloType">
		<xs:sequence>
			<xs:element ref="SDIPRDMSI" minOccurs="0"/>
			<xs:element ref="SDIPRDDSS" minOccurs="0"/>
			<xs:element ref="SDIPRDATI" minOccurs="0"/>
			<xs:element ref="SDIPRDATISucursal" minOccurs="0"/>
			<xs:element ref="SDIVALMSI" minOccurs="0"/>
			<xs:element ref="SDIVALMSIEstilo" minOccurs="0"/>
			<xs:element ref="SDIPRDUPI" minOccurs="0"/>
			<xs:element ref="SDIPRDUPIVariaciones" minOccurs="0"/>
			<xs:element ref="SDIVPCCSI" minOccurs="0"/>
			<xs:element ref="SDIVPCCCI" minOccurs="0"/>
			<xs:element ref="SDIVPCAWI" minOccurs="0"/>
			<xs:element ref="PRDPRCEE" minOccurs="0"/>
			<xs:element ref="PRDAPDEE" minOccurs="0"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="SDIPRDMSIType">
		<xs:sequence>
			<xs:element name="IdPropuesta" type="xs:string" minOccurs="0"/>
			<xs:element name="Segmento" type="xs:string"/>
			<xs:element name="Descripcion" type="xs:string"/>
			<xs:element name="EsEstilo" type="xs:string" minOccurs="0"/>
			<xs:element name="CicloVida" type="xs:string" minOccurs="0"/>
			<xs:element name="EsPlanogramable" type="xs:string" minOccurs="0"/>
			<xs:element name="CapacidadPresentacion" type="xs:string" minOccurs="0"/>
			<xs:element name="UnidadVenta" type="xs:string"/>
			<xs:element name="Proveedor" type="xs:string"/>
			<xs:element name="EsCatchWeight" type="xs:string"/>
			<xs:element name="TipoCatchWeight" type="xs:string" minOccurs="0"/>
			<xs:element name="TipoSku" type="xs:string"/>
			<xs:element name="UnidadPresentacion" type="xs:string" minOccurs="0"/>
			<xs:element name="Altura" type="xs:string" minOccurs="0"/>
			<xs:element name="Anchura" type="xs:string" minOccurs="0"/>
			<xs:element name="Profundidad" type="xs:string" minOccurs="0"/>
			<xs:element name="DimensionUno" type="xs:string" minOccurs="0"/>
			<xs:element name="DimensionDos" type="xs:string" minOccurs="0"/>
			<xs:element name="DimensionTres" type="xs:string" minOccurs="0"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="SDIPRDDSSType">
		<xs:sequence>
			<xs:element name="LvlNumber" type="xs:string"/>
			<xs:element name="BatchNum" type="xs:string"/>
			<xs:element name="DimensionUno">
				<xs:complexType>
					<xs:sequence>
						<xs:element name="Dimension" type="xs:string"/>
						<xs:element name="DimensionCodigo" type="xs:string" maxOccurs="unbounded"/>
					</xs:sequence>
				</xs:complexType>
			</xs:element>
			<xs:element name="DimensionDos" minOccurs="0">
				<xs:complexType>
					<xs:sequence>
						<xs:element name="Dimension" type="xs:string" minOccurs="0"/>
						<xs:element name="DimensionCodigo" type="xs:string" minOccurs="0" maxOccurs="unbounded"/>
					</xs:sequence>
				</xs:complexType>
			</xs:element>
			<xs:element name="DimensionTres" minOccurs="0">
				<xs:complexType>
					<xs:sequence>
						<xs:element name="Dimension" type="xs:string" minOccurs="0"/>
						<xs:element name="DimensionCodigo" type="xs:string" minOccurs="0" maxOccurs="unbounded"/>
					</xs:sequence>
				</xs:complexType>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
	<xs:element name="SDIPRDDSS" type="SDIPRDDSSType"/>
	<xs:element name="SDIPRDATIAtr" type="SDIPRDATITAtrType"/>
	<xs:complexType name="SDIPRDATITAtrType">
		<xs:sequence>
			<xs:element name="BatchNum" type="xs:string" minOccurs="0"/>
			<xs:element name="ControlNumber" type="xs:string" minOccurs="0"/>
			<xs:element name="LvlNumber" type="xs:string" minOccurs="0"/>
			<xs:element name="TypTechKey" type="xs:string" minOccurs="0"/>
			<xs:element name="HdrTechKey" type="xs:string" minOccurs="0"/>
			<xs:element name="AtrCode" type="xs:string" minOccurs="0"/>
		</xs:sequence>
	</xs:complexType>
	<xs:element name="SDIPRDATISucursal" type="SDIPRDATISucursalType"/>
	<xs:complexType name="SDIPRDATISucursalType">
		<xs:sequence>
			<xs:element name="LvlNumber" type="xs:string"/>
			<xs:element name="ControlNumber" type="xs:string"/>
			<xs:element name="BatchNum" type="xs:string"/>
			<xs:element name="Sucursales" minOccurs="0" maxOccurs="unbounded">
				<xs:complexType>
					<xs:sequence>
						<xs:element name="Sucursal" type="xs:string" minOccurs="0"/>
						<xs:element name="Sinexcv" type="xs:string" minOccurs="0"/>
					</xs:sequence>
				</xs:complexType>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
	<xs:element name="SDIPRDATI" type="SDIPRDATIType"/>
	<xs:complexType name="SDIPRDATIType">
		<xs:sequence>
			<xs:element name="LvlNumber" type="xs:string"/>
			<xs:element name="BatchNum" type="xs:string"/>
			<xs:element name="Temporada" type="xs:string" minOccurs="0"/>
			<xs:element name="TipoMarca" type="xs:string" minOccurs="0"/>
			<xs:element name="CicloVida" type="xs:string" minOccurs="0"/>
			<xs:element name="Marca" type="xs:string" minOccurs="0"/>
			<xs:element name="PaisOrigen" type="xs:string" minOccurs="0"/>
			<xs:element name="Importado" type="xs:string" minOccurs="0"/>
			<xs:element name="TipoDistribucion" type="xs:string" minOccurs="0"/>
			<xs:element name="TipoOrden" type="xs:string" minOccurs="0"/>
			<xs:element name="FlujoCat" type="xs:string" minOccurs="0"/>
			<xs:element name="BreakPack" type="xs:string" minOccurs="0"/>
			<xs:element name="TipoSku" type="xs:string" minOccurs="0"/>
			<xs:element name="Composicion" type="xs:string" minOccurs="0"/>
		</xs:sequence>
	</xs:complexType>
	<xs:element name="SDIVALMSI" type="SDIVALMSIType"/>
	<xs:complexType name="SDIVALMSIType">
		<xs:sequence>
			<xs:element name="LvlNumber" type="xs:string"/>
			<xs:element name="BatchNum" type="xs:string"/>
			<xs:element name="FieldCode" type="xs:string"/>
			<xs:element name="UnidadminimaRequerida" type="xs:string" minOccurs="0"/>
			<xs:element name="TipoBodega" type="xs:string" minOccurs="0"/>
			<xs:element name="Modelo" type="xs:string" minOccurs="0"/>
			<xs:element name="CodigoBarras" type="xs:string" minOccurs="0"/>
		</xs:sequence>
	</xs:complexType>
	<xs:element name="SDIVALMSIEstilo" type="SDIVALMSIEstiloType"/>
	<xs:complexType name="SDIVALMSIEstiloType">
		<xs:sequence>
			<xs:element name="LvlNumber" type="xs:string"/>
			<xs:element name="BatchNum" type="xs:string"/>
			<xs:element name="IdPropiedad" type="xs:string" minOccurs="0"/>
			<xs:element name="IdTipoPrenda" type="xs:string" minOccurs="0"/>
			<xs:element name="Licencia" type="xs:string" minOccurs="0"/>
			<xs:element name="Aplicaciones" type="xs:string" minOccurs="0"/>
			<xs:element name="TieneBordado" type="xs:string" minOccurs="0"/>
			<xs:element name="EsEstampado" type="xs:string" minOccurs="0"/>
			<xs:element name="AnioTemporada" type="xs:string" minOccurs="0"/>
			<xs:element name="LongitudManga" type="xs:string" minOccurs="0"/>
			<xs:element name="TipoCuello" type="xs:string" minOccurs="0"/>
		</xs:sequence>
	</xs:complexType>
	<xs:element name="SDIPRDUPI" type="SDIPRDUPIType"/>
	<xs:complexType name="SDIPRDUPIType">
		<xs:sequence>
			<xs:element name="BatchNum" type="xs:string"/>
			<xs:element name="LvlNumber" type="xs:string"/>
			<xs:element name="CodigoBarras" type="xs:string" minOccurs="0"/>
			<xs:element name="Descripcion" type="xs:string" minOccurs="0"/>
		</xs:sequence>
	</xs:complexType>
	<xs:element name="SDIPRDUPIVariaciones" type="SDIPRDUPIVariacionesType"/>
	<xs:complexType name="SDIPRDUPIVariacionesType">
		<xs:sequence>
			<xs:element name="LvlNumber" type="xs:string"/>
			<xs:element name="BatchNum" type="xs:string"/>
			<xs:element ref="Variacion" minOccurs="0" maxOccurs="unbounded"/>
		</xs:sequence>
	</xs:complexType>
	<xs:element name="SDIVPCCSI" type="SDIVPCCSIType"/>
	<xs:complexType name="SDIVPCCSIType">
		<xs:sequence>
			<xs:element name="LvlNumber" type="xs:string"/>
			<xs:element name="BatchNumber" type="xs:string"/>
			<xs:element name="IdCasePack" type="xs:string" minOccurs="0"/>
			<xs:element name="Proveedor" type="xs:string" minOccurs="0"/>
			<xs:element name="UnidadesCasepack" type="xs:string" minOccurs="0"/>
			<xs:element name="Descripcion" type="xs:string" minOccurs="0"/>
			<xs:element name="UnidadVenta" type="xs:string" minOccurs="0"/>
			<xs:element name="UnidadCompra" type="xs:string" minOccurs="0"/>
			<xs:element name="UnidadesInnerPack" type="xs:string" minOccurs="0"/>
			<xs:element name="PesoBruto" type="xs:string" minOccurs="0"/>
			<xs:element name="Ancho" type="xs:string" minOccurs="0"/>
			<xs:element name="Profundidad" type="xs:string" minOccurs="0"/>
			<xs:element name="Altura" type="xs:string" minOccurs="0"/>
			<xs:element name="Medidas" type="xs:string" minOccurs="0"/>
			<xs:element name="EstibaPalet" type="xs:string" minOccurs="0"/>
			<xs:element name="CamaPalet" type="xs:string" minOccurs="0"/>
			<xs:element name="CodigoBarras" type="xs:string" minOccurs="0"/>
			<xs:element name="CostoCasepack" type="xs:string" minOccurs="0"/>
			<xs:element name="CantidadInnerPacks" type="xs:string" minOccurs="0"/>
			<xs:element name="DíasIncremento" type="xs:string" minOccurs="0"/>
			<xs:element name="DíasVarianza" type="xs:string" minOccurs="0"/>
			<xs:element name="DíasMáximo" type="xs:string" minOccurs="0"/>
		</xs:sequence>
	</xs:complexType>
	<xs:element name="SDIVPCAWI" type="SDIVPCAWIType"/>
	<xs:complexType name="SDIVPCAWIType">
		<xs:sequence>
			<xs:element name="LvlNumber" type="xs:string"/>
			<xs:element name="BatchNum" type="xs:string"/>
			<xs:element name="Descuentos" minOccurs="0" maxOccurs="unbounded">
				<xs:complexType>
					<xs:sequence>
						<xs:element name="Porcentaje" type="xs:string" minOccurs="0"/>
						<xs:element name="FechaInicio" type="xs:string" minOccurs="0"/>
						<xs:element name="FechaFin" type="xs:string" minOccurs="0"/>
						<xs:element name="Proveedor" type="xs:string"/>
						<xs:element name="TipoDescuentoPMM" type="xs:string"/>
						<xs:element name="Descripcion" type="xs:string"/>
					</xs:sequence>
				</xs:complexType>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
	<xs:element name="Variacion">
		<xs:complexType>
			<xs:sequence>
				<xs:element name="CodigoBarras" type="xs:string" minOccurs="0"/>
				<xs:element name="Descripcion" type="xs:string" minOccurs="0"/>
				<xs:element name="Casepack" type="xs:string" minOccurs="0"/>
				<xs:element name="idVariacion" type="xs:string" minOccurs="0"/>
				<xs:element name="DimensionUno" type="xs:string" minOccurs="0"/>
				<xs:element name="DimensionCodigoUno" type="xs:string" minOccurs="0"/>
				<xs:element name="DimensionDos" type="xs:string" minOccurs="0"/>
				<xs:element name="DimensionCodigoDos" type="xs:string" minOccurs="0"/>
				<xs:element name="DimensionTres" type="xs:string" minOccurs="0"/>
				<xs:element name="DimensionCodigoTres" type="xs:string" minOccurs="0"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="SDIVPCCCI" type="SDIVPCCCIType"/>
	<xs:complexType name="SDIVPCCCIType">
		<xs:sequence>
			<xs:element name="LvlNumber" type="xs:string"/>
			<xs:element name="BatchNum" type="xs:string"/>
			<xs:element name="Costos" minOccurs="0" maxOccurs="unbounded">
				<xs:complexType>
					<xs:sequence>
						<xs:element name="Sucursal" type="xs:string" minOccurs="0"/>
						<xs:element name="Proveedor" type="xs:string"/>
						<xs:element name="IdCasepack" type="xs:string" minOccurs="0"/>
						<xs:element name="CostoCasepack" type="xs:string" minOccurs="0"/>
					</xs:sequence>
				</xs:complexType>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
	<xs:element name="PRDPRCEE" type="PRDPRCEEType"/>
	<xs:complexType name="PRDPRCEEType">
		<xs:sequence>
			<xs:element name="LvlNumber" type="xs:string"/>
			<xs:element name="BatchNum" type="xs:string"/>
			<xs:element name="Precios" minOccurs="0" maxOccurs="unbounded">
				<xs:complexType>
					<xs:sequence>
						<xs:element name="UnidadVenta" type="xs:string" minOccurs="0"/>
						<xs:element name="PrecioSugerido" type="xs:string" minOccurs="0"/>
						<xs:element name="Formato" type="xs:string"/>
						<xs:element name="Sucursal" type="xs:string"/>
					</xs:sequence>
				</xs:complexType>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
	<xs:element name="PRDAPDEE" type="PRDAPDEEType"/>
	<xs:complexType name="PRDAPDEEType">
		<xs:sequence>
			<xs:element name="LvlNumber" type="xs:string"/>
			<xs:element name="Sucursales" minOccurs="0" maxOccurs="unbounded">
				<xs:complexType>
					<xs:sequence>
						<xs:element name="Sucursal" type="xs:string"/>
					</xs:sequence>
				</xs:complexType>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
	<xs:element name="SDIVALMSISuc" type="SDIVALMSISucType"/>
	<xs:complexType name="SDIVALMSISucType">
		<xs:sequence>
			<xs:element name="AuditNumber" type="xs:string" minOccurs="0"/>
			<xs:element name="LvlNumber" type="xs:string" minOccurs="0"/>
			<xs:element name="FieldCode" type="xs:string" minOccurs="0"/>
			<xs:element name="Value" type="xs:string" minOccurs="0"/>
		</xs:sequence>
	</xs:complexType>
</xs:schema>