HEBSeller/Desarrollo/PASADOS/MagentoToPedidos_Service/Shared Resources/Schema Definitions/Custom/PedidoResponse.xsd

<?xml version="1.0" encoding="UTF-8"?>
<!-- edited with XMLSpy v2011 sp1 (http://www.altova.com) by End User (free.org) -->
<xs:schema xmlns="http://xmlns.heb.com/ei/PedidoResponse" xmlns:xs="http://www.w3.org/2001/XMLSchema" targetNamespace="http://xmlns.heb.com/ei/PedidoResponse" elementFormDefault="qualified" attributeFormDefault="unqualified">
	<xs:element name="PedidoResponse">
		<xs:complexType>
			<xs:sequence>
				<xs:element name="Codigo" type="xs:string"/>
				<xs:element name="Descripcion" type="xs:string"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
</xs:schema>
