HEBCard/Desarrollo/ApiCustomerService/Shared Resources/Schema Definitions/Custom/PsContactsService/CI_CONTCINFO_GET_RPS.V1.xsd

<?xml version="1.0"?>
<xsd:schema elementFormDefault="qualified" targetNamespace="http://xmlns.oracle.com/Enterprise/Tools/schemas/CI_CONTCINFO_GET_RPS.V1" xmlns="http://xmlns.oracle.com/Enterprise/Tools/schemas/CI_CONTCINFO_GET_RPS.V1" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
	<xsd:element name="Get__CompIntfc__CONTACT_INFOResponse" type="Get__CompIntfc__CONTACT_INFOResponseTypeShape"/>
	<xsd:complexType name="Get__CompIntfc__CONTACT_INFOResponseTypeShape">
		<xsd:sequence>
			<xsd:element minOccurs="0" name="SAM_CUST_FLG" type="SAM_CUST_FLGTypeShape"/>
			<xsd:element minOccurs="0" name="OPRID" type="OPRIDTypeShape"/>
			<xsd:element minOccurs="0" name="OPERPSWD" type="OPERPSWDTypeShape"/>
			<xsd:element minOccurs="0" name="OPERPSWDCONF" type="OPERPSWDCONFTypeShape"/>
			<xsd:element minOccurs="0" name="PRCSPRFLCLS" type="PRCSPRFLCLSTypeShape"/>
			<xsd:element minOccurs="0" name="ROWSECCLASS" type="ROWSECCLASSTypeShape"/>
			<xsd:element minOccurs="0" name="ACCTLOCK" type="ACCTLOCKTypeShape"/>
			<xsd:element minOccurs="0" name="DEFAULTNAVHP" type="DEFAULTNAVHPTypeShape"/>
			<xsd:element minOccurs="0" name="OPRCLASS" type="OPRCLASSTypeShape"/>
			<xsd:element minOccurs="0" name="CURRENCY_CD_USER" type="CURRENCY_CD_USERTypeShape"/>
			<xsd:element maxOccurs="unbounded" minOccurs="0" name="CONTACT" type="CONTACTComplexTypeShape"/>
		</xsd:sequence>
	</xsd:complexType>
	<xsd:complexType name="SAM_CUST_FLGTypeShape">
		<xsd:simpleContent>
			<xsd:extension base="SAM_CUST_FLGTypeDef"/>
		</xsd:simpleContent>
	</xsd:complexType>
	<xsd:complexType name="OPRIDTypeShape">
		<xsd:simpleContent>
			<xsd:extension base="OPRIDTypeDef"/>
		</xsd:simpleContent>
	</xsd:complexType>
	<xsd:complexType name="OPERPSWDTypeShape">
		<xsd:simpleContent>
			<xsd:extension base="OPERPSWDTypeDef"/>
		</xsd:simpleContent>
	</xsd:complexType>
	<xsd:complexType name="OPERPSWDCONFTypeShape">
		<xsd:simpleContent>
			<xsd:extension base="OPERPSWDCONFTypeDef"/>
		</xsd:simpleContent>
	</xsd:complexType>
	<xsd:complexType name="PRCSPRFLCLSTypeShape">
		<xsd:simpleContent>
			<xsd:extension base="PRCSPRFLCLSTypeDef"/>
		</xsd:simpleContent>
	</xsd:complexType>
	<xsd:complexType name="ROWSECCLASSTypeShape">
		<xsd:simpleContent>
			<xsd:extension base="ROWSECCLASSTypeDef"/>
		</xsd:simpleContent>
	</xsd:complexType>
	<xsd:complexType name="ACCTLOCKTypeShape">
		<xsd:simpleContent>
			<xsd:extension base="ACCTLOCKTypeDef"/>
		</xsd:simpleContent>
	</xsd:complexType>
	<xsd:complexType name="DEFAULTNAVHPTypeShape">
		<xsd:simpleContent>
			<xsd:extension base="DEFAULTNAVHPTypeDef"/>
		</xsd:simpleContent>
	</xsd:complexType>
	<xsd:complexType name="OPRCLASSTypeShape">
		<xsd:simpleContent>
			<xsd:extension base="OPRCLASSTypeDef"/>
		</xsd:simpleContent>
	</xsd:complexType>
	<xsd:complexType name="CURRENCY_CD_USERTypeShape">
		<xsd:simpleContent>
			<xsd:extension base="CURRENCY_CD_USERTypeDef"/>
		</xsd:simpleContent>
	</xsd:complexType>
	<xsd:complexType name="CONTACTComplexTypeShape">
		<xsd:sequence>
			<xsd:element name="SETID" type="SETIDTypeShape"/>
			<xsd:element name="CONTACT_ID" type="CONTACT_IDTypeShape"/>
			<xsd:element name="EFFDT" type="EFFDTTypeShape"/>
			<xsd:element name="EFF_STATUS" type="EFF_STATUSTypeShape"/>
			<xsd:element name="CONTACT_FLAG" type="CONTACT_FLAGTypeShape"/>
			<xsd:element name="NAME1" type="NAME1TypeShape"/>
			<xsd:element minOccurs="0" name="TITLE" type="TITLETypeShape"/>
			<xsd:element minOccurs="0" name="LANGUAGE_PREF" type="LANGUAGE_PREFTypeShape"/>
			<xsd:element minOccurs="0" name="EMAILID" type="EMAILIDTypeShape"/>
			<xsd:element name="COMM_METHOD" type="COMM_METHODTypeShape"/>
			<xsd:element minOccurs="0" name="SALUTATION_CD" type="SALUTATION_CDTypeShape"/>
			<xsd:element minOccurs="0" name="SALUTATION" type="SALUTATIONTypeShape"/>
			<xsd:element minOccurs="0" name="AUTHORIZATION_ID" type="AUTHORIZATION_IDTypeShape"/>
			<xsd:element minOccurs="0" name="PERSON_ID" type="PERSON_IDTypeShape"/>
			<xsd:element minOccurs="0" name="PREF_FIRST_NAME" type="PREF_FIRST_NAMETypeShape"/>
			<xsd:element minOccurs="0" name="SOURCE_SYSTEM" type="SOURCE_SYSTEMTypeShape"/>
			<xsd:element minOccurs="0" name="ECHECK_USER_PIN" type="ECHECK_USER_PINTypeShape"/>
			<xsd:element maxOccurs="unbounded" minOccurs="0" name="CONTACT_CUST" type="CONTACT_CUSTComplexTypeShape"/>
			<xsd:element maxOccurs="unbounded" minOccurs="0" name="CONTACT_PHN" type="CONTACT_PHNComplexTypeShape"/>
			<xsd:element maxOccurs="unbounded" minOccurs="0" name="CONTACT_TYPE" type="CONTACT_TYPEComplexTypeShape"/>
			<xsd:element maxOccurs="unbounded" minOccurs="0" name="PSROLEUSR_DM_VW" type="PSROLEUSR_DM_VWComplexTypeShape"/>
		</xsd:sequence>
	</xsd:complexType>
	<xsd:complexType name="SETIDTypeShape">
		<xsd:simpleContent>
			<xsd:extension base="SETIDTypeDef"/>
		</xsd:simpleContent>
	</xsd:complexType>
	<xsd:complexType name="CONTACT_IDTypeShape">
		<xsd:simpleContent>
			<xsd:extension base="CONTACT_IDTypeDef"/>
		</xsd:simpleContent>
	</xsd:complexType>
	<xsd:complexType name="EFFDTTypeShape">
		<xsd:simpleContent>
			<xsd:extension base="EFFDTTypeDef"/>
		</xsd:simpleContent>
	</xsd:complexType>
	<xsd:complexType name="EFF_STATUSTypeShape">
		<xsd:simpleContent>
			<xsd:extension base="EFF_STATUSTypeDef"/>
		</xsd:simpleContent>
	</xsd:complexType>
	<xsd:complexType name="CONTACT_FLAGTypeShape">
		<xsd:simpleContent>
			<xsd:extension base="CONTACT_FLAGTypeDef"/>
		</xsd:simpleContent>
	</xsd:complexType>
	<xsd:complexType name="NAME1TypeShape">
		<xsd:simpleContent>
			<xsd:extension base="NAME1TypeDef"/>
		</xsd:simpleContent>
	</xsd:complexType>
	<xsd:complexType name="TITLETypeShape">
		<xsd:simpleContent>
			<xsd:extension base="TITLETypeDef"/>
		</xsd:simpleContent>
	</xsd:complexType>
	<xsd:complexType name="LANGUAGE_PREFTypeShape">
		<xsd:simpleContent>
			<xsd:extension base="LANGUAGE_PREFTypeDef"/>
		</xsd:simpleContent>
	</xsd:complexType>
	<xsd:complexType name="EMAILIDTypeShape">
		<xsd:simpleContent>
			<xsd:extension base="EMAILIDTypeDef"/>
		</xsd:simpleContent>
	</xsd:complexType>
	<xsd:complexType name="COMM_METHODTypeShape">
		<xsd:simpleContent>
			<xsd:extension base="COMM_METHODTypeDef"/>
		</xsd:simpleContent>
	</xsd:complexType>
	<xsd:complexType name="SALUTATION_CDTypeShape">
		<xsd:simpleContent>
			<xsd:extension base="SALUTATION_CDTypeDef"/>
		</xsd:simpleContent>
	</xsd:complexType>
	<xsd:complexType name="SALUTATIONTypeShape">
		<xsd:simpleContent>
			<xsd:extension base="SALUTATIONTypeDef"/>
		</xsd:simpleContent>
	</xsd:complexType>
	<xsd:complexType name="AUTHORIZATION_IDTypeShape">
		<xsd:simpleContent>
			<xsd:extension base="AUTHORIZATION_IDTypeDef"/>
		</xsd:simpleContent>
	</xsd:complexType>
	<xsd:complexType name="PERSON_IDTypeShape">
		<xsd:simpleContent>
			<xsd:extension base="PERSON_IDTypeDef"/>
		</xsd:simpleContent>
	</xsd:complexType>
	<xsd:complexType name="PREF_FIRST_NAMETypeShape">
		<xsd:simpleContent>
			<xsd:extension base="PREF_FIRST_NAMETypeDef"/>
		</xsd:simpleContent>
	</xsd:complexType>
	<xsd:complexType name="SOURCE_SYSTEMTypeShape">
		<xsd:simpleContent>
			<xsd:extension base="SOURCE_SYSTEMTypeDef"/>
		</xsd:simpleContent>
	</xsd:complexType>
	<xsd:complexType name="ECHECK_USER_PINTypeShape">
		<xsd:simpleContent>
			<xsd:extension base="ECHECK_USER_PINTypeDef"/>
		</xsd:simpleContent>
	</xsd:complexType>
	<xsd:complexType name="CONTACT_CUSTComplexTypeShape">
		<xsd:sequence>
			<xsd:element name="SETID" type="SETIDTypeShape"/>
			<xsd:element name="CONTACT_ID" type="CONTACT_IDTypeShape"/>
			<xsd:element name="EFFDT" type="EFFDTTypeShape"/>
			<xsd:element name="CUSTOMER_SETID" type="CUSTOMER_SETIDTypeShape"/>
			<xsd:element name="CUST_ID" type="CUST_IDTypeShape"/>
			<xsd:element minOccurs="0" name="EFF_STATUS" type="EFF_STATUSTypeShape"/>
			<xsd:element minOccurs="0" name="CNTCT_SEQ_NUM" type="CNTCT_SEQ_NUMTypeShape"/>
			<xsd:element minOccurs="0" name="ADDRESS_SEQ_NUM" type="ADDRESS_SEQ_NUMTypeShape"/>
			<xsd:element minOccurs="0" name="BILL_TO_FLG" type="BILL_TO_FLGTypeShape"/>
			<xsd:element minOccurs="0" name="SOLD_TO_FLG" type="SOLD_TO_FLGTypeShape"/>
			<xsd:element minOccurs="0" name="SHIP_TO_FLG" type="SHIP_TO_FLGTypeShape"/>
			<xsd:element minOccurs="0" name="BROKER_FLG" type="BROKER_FLGTypeShape"/>
			<xsd:element minOccurs="0" name="CRSPD_CUST" type="CRSPD_CUSTTypeShape"/>
			<xsd:element minOccurs="0" name="VIEW_STMT_IMAGE" type="VIEW_STMT_IMAGETypeShape"/>
			<xsd:element name="ADDRESS_MAINT" type="ADDRESS_MAINTTypeShape"/>
			<xsd:element name="ORDER_SAVE" type="ORDER_SAVETypeShape"/>
			<xsd:element minOccurs="0" name="ALL_ORDERS_FLG" type="ALL_ORDERS_FLGTypeShape"/>
			<xsd:element minOccurs="0" name="PRIMARY_BILL_CNTCT" type="PRIMARY_BILL_CNTCTTypeShape"/>
			<xsd:element minOccurs="0" name="PRIMARY_SHIP_CNTCT" type="PRIMARY_SHIP_CNTCTTypeShape"/>
			<xsd:element minOccurs="0" name="PRIMARY_SOLD_CNTCT" type="PRIMARY_SOLD_CNTCTTypeShape"/>
			<xsd:element minOccurs="0" name="PRIMARY_IPAC" type="PRIMARY_IPACTypeShape"/>
			<xsd:element maxOccurs="unbounded" minOccurs="0" name="CONTACT_CARD" type="CONTACT_CARDComplexTypeShape"/>
			<xsd:element maxOccurs="unbounded" minOccurs="0" name="CONTACT_CST_DOC" type="CONTACT_CST_DOCComplexTypeShape"/>
		</xsd:sequence>
	</xsd:complexType>
	<xsd:complexType name="CUSTOMER_SETIDTypeShape">
		<xsd:simpleContent>
			<xsd:extension base="CUSTOMER_SETIDTypeDef"/>
		</xsd:simpleContent>
	</xsd:complexType>
	<xsd:complexType name="CUST_IDTypeShape">
		<xsd:simpleContent>
			<xsd:extension base="CUST_IDTypeDef"/>
		</xsd:simpleContent>
	</xsd:complexType>
	<xsd:complexType name="CNTCT_SEQ_NUMTypeShape">
		<xsd:simpleContent>
			<xsd:extension base="CNTCT_SEQ_NUMTypeDef"/>
		</xsd:simpleContent>
	</xsd:complexType>
	<xsd:complexType name="ADDRESS_SEQ_NUMTypeShape">
		<xsd:simpleContent>
			<xsd:extension base="ADDRESS_SEQ_NUMTypeDef"/>
		</xsd:simpleContent>
	</xsd:complexType>
	<xsd:complexType name="BILL_TO_FLGTypeShape">
		<xsd:simpleContent>
			<xsd:extension base="BILL_TO_FLGTypeDef"/>
		</xsd:simpleContent>
	</xsd:complexType>
	<xsd:complexType name="SOLD_TO_FLGTypeShape">
		<xsd:simpleContent>
			<xsd:extension base="SOLD_TO_FLGTypeDef"/>
		</xsd:simpleContent>
	</xsd:complexType>
	<xsd:complexType name="SHIP_TO_FLGTypeShape">
		<xsd:simpleContent>
			<xsd:extension base="SHIP_TO_FLGTypeDef"/>
		</xsd:simpleContent>
	</xsd:complexType>
	<xsd:complexType name="BROKER_FLGTypeShape">
		<xsd:simpleContent>
			<xsd:extension base="BROKER_FLGTypeDef"/>
		</xsd:simpleContent>
	</xsd:complexType>
	<xsd:complexType name="CRSPD_CUSTTypeShape">
		<xsd:simpleContent>
			<xsd:extension base="CRSPD_CUSTTypeDef"/>
		</xsd:simpleContent>
	</xsd:complexType>
	<xsd:complexType name="VIEW_STMT_IMAGETypeShape">
		<xsd:simpleContent>
			<xsd:extension base="VIEW_STMT_IMAGETypeDef"/>
		</xsd:simpleContent>
	</xsd:complexType>
	<xsd:complexType name="ADDRESS_MAINTTypeShape">
		<xsd:simpleContent>
			<xsd:extension base="ADDRESS_MAINTTypeDef"/>
		</xsd:simpleContent>
	</xsd:complexType>
	<xsd:complexType name="ORDER_SAVETypeShape">
		<xsd:simpleContent>
			<xsd:extension base="ORDER_SAVETypeDef"/>
		</xsd:simpleContent>
	</xsd:complexType>
	<xsd:complexType name="ALL_ORDERS_FLGTypeShape">
		<xsd:simpleContent>
			<xsd:extension base="ALL_ORDERS_FLGTypeDef"/>
		</xsd:simpleContent>
	</xsd:complexType>
	<xsd:complexType name="PRIMARY_BILL_CNTCTTypeShape">
		<xsd:simpleContent>
			<xsd:extension base="PRIMARY_BILL_CNTCTTypeDef"/>
		</xsd:simpleContent>
	</xsd:complexType>
	<xsd:complexType name="PRIMARY_SHIP_CNTCTTypeShape">
		<xsd:simpleContent>
			<xsd:extension base="PRIMARY_SHIP_CNTCTTypeDef"/>
		</xsd:simpleContent>
	</xsd:complexType>
	<xsd:complexType name="PRIMARY_SOLD_CNTCTTypeShape">
		<xsd:simpleContent>
			<xsd:extension base="PRIMARY_SOLD_CNTCTTypeDef"/>
		</xsd:simpleContent>
	</xsd:complexType>
	<xsd:complexType name="PRIMARY_IPACTypeShape">
		<xsd:simpleContent>
			<xsd:extension base="PRIMARY_IPACTypeDef"/>
		</xsd:simpleContent>
	</xsd:complexType>
	<xsd:complexType name="CONTACT_CARDComplexTypeShape">
		<xsd:sequence>
			<xsd:element name="SETID" type="SETIDTypeShape"/>
			<xsd:element name="CONTACT_ID" type="CONTACT_IDTypeShape"/>
			<xsd:element name="EFFDT" type="EFFDTTypeShape"/>
			<xsd:element name="CUSTOMER_SETID" type="CUSTOMER_SETIDTypeShape"/>
			<xsd:element name="CUST_ID" type="CUST_IDTypeShape"/>
			<xsd:element name="SEQ_NBR" type="SEQ_NBRTypeShape"/>
			<xsd:element name="CR_CARD_NBR" type="CR_CARD_NBRTypeShape"/>
			<xsd:element minOccurs="0" name="CR_CARD_TYPE" type="CR_CARD_TYPETypeShape"/>
			<xsd:element minOccurs="0" name="CR_CARD_VENDOR" type="CR_CARD_VENDORTypeShape"/>
			<xsd:element minOccurs="0" name="CC_PROF_TOKEN" type="CC_PROF_TOKENTypeShape"/>
			<xsd:element minOccurs="0" name="CR_CARD_RQST_ID" type="CR_CARD_RQST_IDTypeShape"/>
			<xsd:element minOccurs="0" name="PRIMARY_CARD" type="PRIMARY_CARDTypeShape"/>
			<xsd:element minOccurs="0" name="CR_CARD_FNAME" type="CR_CARD_FNAMETypeShape"/>
			<xsd:element minOccurs="0" name="CR_CARD_LNAME" type="CR_CARD_LNAMETypeShape"/>
			<xsd:element minOccurs="0" name="CR_CARD_EXPMO" type="CR_CARD_EXPMOTypeShape"/>
			<xsd:element minOccurs="0" name="CR_CARD_EXPYR" type="CR_CARD_EXPYRTypeShape"/>
			<xsd:element minOccurs="0" name="CR_CARD_DIGITS" type="CR_CARD_DIGITSTypeShape"/>
			<xsd:element minOccurs="0" name="ADDR_SEQ_NUM" type="ADDR_SEQ_NUMTypeShape"/>
			<xsd:element minOccurs="0" name="STATUS" type="STATUSTypeShape"/>
			<xsd:element minOccurs="0" name="CC_RQST_TOKEN" type="CC_RQST_TOKENTypeShape"/>
			<xsd:element minOccurs="0" name="CR_CARD_NBR_E" type="CR_CARD_NBR_ETypeShape"/>
		</xsd:sequence>
	</xsd:complexType>
	<xsd:complexType name="SEQ_NBRTypeShape">
		<xsd:simpleContent>
			<xsd:extension base="SEQ_NBRTypeDef"/>
		</xsd:simpleContent>
	</xsd:complexType>
	<xsd:complexType name="CR_CARD_NBRTypeShape">
		<xsd:simpleContent>
			<xsd:extension base="CR_CARD_NBRTypeDef"/>
		</xsd:simpleContent>
	</xsd:complexType>
	<xsd:complexType name="CR_CARD_TYPETypeShape">
		<xsd:simpleContent>
			<xsd:extension base="CR_CARD_TYPETypeDef"/>
		</xsd:simpleContent>
	</xsd:complexType>
	<xsd:complexType name="CR_CARD_VENDORTypeShape">
		<xsd:simpleContent>
			<xsd:extension base="CR_CARD_VENDORTypeDef"/>
		</xsd:simpleContent>
	</xsd:complexType>
	<xsd:complexType name="CC_PROF_TOKENTypeShape">
		<xsd:simpleContent>
			<xsd:extension base="CC_PROF_TOKENTypeDef"/>
		</xsd:simpleContent>
	</xsd:complexType>
	<xsd:complexType name="CR_CARD_RQST_IDTypeShape">
		<xsd:simpleContent>
			<xsd:extension base="CR_CARD_RQST_IDTypeDef"/>
		</xsd:simpleContent>
	</xsd:complexType>
	<xsd:complexType name="PRIMARY_CARDTypeShape">
		<xsd:simpleContent>
			<xsd:extension base="PRIMARY_CARDTypeDef"/>
		</xsd:simpleContent>
	</xsd:complexType>
	<xsd:complexType name="CR_CARD_FNAMETypeShape">
		<xsd:simpleContent>
			<xsd:extension base="CR_CARD_FNAMETypeDef"/>
		</xsd:simpleContent>
	</xsd:complexType>
	<xsd:complexType name="CR_CARD_LNAMETypeShape">
		<xsd:simpleContent>
			<xsd:extension base="CR_CARD_LNAMETypeDef"/>
		</xsd:simpleContent>
	</xsd:complexType>
	<xsd:complexType name="CR_CARD_EXPMOTypeShape">
		<xsd:simpleContent>
			<xsd:extension base="CR_CARD_EXPMOTypeDef"/>
		</xsd:simpleContent>
	</xsd:complexType>
	<xsd:complexType name="CR_CARD_EXPYRTypeShape">
		<xsd:simpleContent>
			<xsd:extension base="CR_CARD_EXPYRTypeDef"/>
		</xsd:simpleContent>
	</xsd:complexType>
	<xsd:complexType name="CR_CARD_DIGITSTypeShape">
		<xsd:simpleContent>
			<xsd:extension base="CR_CARD_DIGITSTypeDef"/>
		</xsd:simpleContent>
	</xsd:complexType>
	<xsd:complexType name="ADDR_SEQ_NUMTypeShape">
		<xsd:simpleContent>
			<xsd:extension base="ADDR_SEQ_NUMTypeDef"/>
		</xsd:simpleContent>
	</xsd:complexType>
	<xsd:complexType name="STATUSTypeShape">
		<xsd:simpleContent>
			<xsd:extension base="STATUSTypeDef"/>
		</xsd:simpleContent>
	</xsd:complexType>
	<xsd:complexType name="CC_RQST_TOKENTypeShape">
		<xsd:simpleContent>
			<xsd:extension base="CC_RQST_TOKENTypeDef"/>
		</xsd:simpleContent>
	</xsd:complexType>
	<xsd:complexType name="CR_CARD_NBR_ETypeShape">
		<xsd:simpleContent>
			<xsd:extension base="CR_CARD_NBR_ETypeDef"/>
		</xsd:simpleContent>
	</xsd:complexType>
	<xsd:complexType name="CONTACT_CST_DOCComplexTypeShape">
		<xsd:sequence>
			<xsd:element name="SETID" type="SETIDTypeShape"/>
			<xsd:element name="CONTACT_ID" type="CONTACT_IDTypeShape"/>
			<xsd:element name="EFFDT" type="EFFDTTypeShape"/>
			<xsd:element name="CUSTOMER_SETID" type="CUSTOMER_SETIDTypeShape"/>
			<xsd:element name="CUST_ID" type="CUST_IDTypeShape"/>
			<xsd:element name="DOCUMENT_CD" type="DOCUMENT_CDTypeShape"/>
			<xsd:element minOccurs="0" name="CNTCT_SEQ_NUM" type="CNTCT_SEQ_NUMTypeShape"/>
			<xsd:element name="COMM_METHOD" type="COMM_METHODTypeShape"/>
			<xsd:element minOccurs="0" name="NBR_COPIES" type="NBR_COPIESTypeShape"/>
			<xsd:element minOccurs="0" name="LAST_MAINT_OPRID" type="LAST_MAINT_OPRIDTypeShape"/>
			<xsd:element minOccurs="0" name="DATE_LAST_MAINT" type="DATE_LAST_MAINTTypeShape"/>
		</xsd:sequence>
	</xsd:complexType>
	<xsd:complexType name="DOCUMENT_CDTypeShape">
		<xsd:simpleContent>
			<xsd:extension base="DOCUMENT_CDTypeDef"/>
		</xsd:simpleContent>
	</xsd:complexType>
	<xsd:complexType name="NBR_COPIESTypeShape">
		<xsd:simpleContent>
			<xsd:extension base="NBR_COPIESTypeDef"/>
		</xsd:simpleContent>
	</xsd:complexType>
	<xsd:complexType name="LAST_MAINT_OPRIDTypeShape">
		<xsd:simpleContent>
			<xsd:extension base="LAST_MAINT_OPRIDTypeDef"/>
		</xsd:simpleContent>
	</xsd:complexType>
	<xsd:complexType name="DATE_LAST_MAINTTypeShape">
		<xsd:simpleContent>
			<xsd:extension base="DATE_LAST_MAINTTypeDef"/>
		</xsd:simpleContent>
	</xsd:complexType>
	<xsd:complexType name="CONTACT_PHNComplexTypeShape">
		<xsd:sequence>
			<xsd:element name="SETID" type="SETIDTypeShape"/>
			<xsd:element name="CONTACT_ID" type="CONTACT_IDTypeShape"/>
			<xsd:element name="EFFDT" type="EFFDTTypeShape"/>
			<xsd:element name="PHONE_TYPE" type="PHONE_TYPETypeShape"/>
			<xsd:element minOccurs="0" name="COUNTRY_CODE" type="COUNTRY_CODETypeShape"/>
			<xsd:element minOccurs="0" name="PHONE" type="PHONETypeShape"/>
			<xsd:element minOccurs="0" name="EXTENSION" type="EXTENSIONTypeShape"/>
			<xsd:element minOccurs="0" name="PRIMARY_PHONE" type="PRIMARY_PHONETypeShape"/>
		</xsd:sequence>
	</xsd:complexType>
	<xsd:complexType name="PHONE_TYPETypeShape">
		<xsd:simpleContent>
			<xsd:extension base="PHONE_TYPETypeDef"/>
		</xsd:simpleContent>
	</xsd:complexType>
	<xsd:complexType name="COUNTRY_CODETypeShape">
		<xsd:simpleContent>
			<xsd:extension base="COUNTRY_CODETypeDef"/>
		</xsd:simpleContent>
	</xsd:complexType>
	<xsd:complexType name="PHONETypeShape">
		<xsd:simpleContent>
			<xsd:extension base="PHONETypeDef"/>
		</xsd:simpleContent>
	</xsd:complexType>
	<xsd:complexType name="EXTENSIONTypeShape">
		<xsd:simpleContent>
			<xsd:extension base="EXTENSIONTypeDef"/>
		</xsd:simpleContent>
	</xsd:complexType>
	<xsd:complexType name="PRIMARY_PHONETypeShape">
		<xsd:simpleContent>
			<xsd:extension base="PRIMARY_PHONETypeDef"/>
		</xsd:simpleContent>
	</xsd:complexType>
	<xsd:complexType name="CONTACT_TYPEComplexTypeShape">
		<xsd:sequence>
			<xsd:element name="SETID" type="SETIDTypeShape"/>
			<xsd:element name="CONTACT_ID" type="CONTACT_IDTypeShape"/>
			<xsd:element name="EFFDT" type="EFFDTTypeShape"/>
			<xsd:element name="CONTACT_CODE" type="CONTACT_CODETypeShape"/>
		</xsd:sequence>
	</xsd:complexType>
	<xsd:complexType name="CONTACT_CODETypeShape">
		<xsd:simpleContent>
			<xsd:extension base="CONTACT_CODETypeDef"/>
		</xsd:simpleContent>
	</xsd:complexType>
	<xsd:complexType name="PSROLEUSR_DM_VWComplexTypeShape">
		<xsd:sequence>
			<xsd:element name="OPRID" type="OPRIDTypeShape"/>
			<xsd:element name="ROLENAME" type="ROLENAMETypeShape"/>
			<xsd:element minOccurs="0" name="DYNAMIC_SW" type="DYNAMIC_SWTypeShape"/>
		</xsd:sequence>
	</xsd:complexType>
	<xsd:complexType name="ROLENAMETypeShape">
		<xsd:simpleContent>
			<xsd:extension base="ROLENAMETypeDef"/>
		</xsd:simpleContent>
	</xsd:complexType>
	<xsd:complexType name="DYNAMIC_SWTypeShape">
		<xsd:simpleContent>
			<xsd:extension base="DYNAMIC_SWTypeDef"/>
		</xsd:simpleContent>
	</xsd:complexType>
	<xsd:simpleType name="SAM_CUST_FLGTypeDef">
		<xsd:restriction base="xsd:string">
			<xsd:maxLength value="1"/>
			<xsd:whiteSpace value="preserve"/>
		</xsd:restriction>
	</xsd:simpleType>
	<xsd:simpleType name="OPRIDTypeDef">
		<xsd:restriction base="xsd:string">
			<xsd:maxLength value="30"/>
			<xsd:whiteSpace value="preserve"/>
		</xsd:restriction>
	</xsd:simpleType>
	<xsd:simpleType name="OPERPSWDTypeDef">
		<xsd:restriction base="xsd:string">
			<xsd:maxLength value="32"/>
			<xsd:whiteSpace value="preserve"/>
		</xsd:restriction>
	</xsd:simpleType>
	<xsd:simpleType name="OPERPSWDCONFTypeDef">
		<xsd:restriction base="xsd:string">
			<xsd:maxLength value="32"/>
			<xsd:whiteSpace value="preserve"/>
		</xsd:restriction>
	</xsd:simpleType>
	<xsd:simpleType name="PRCSPRFLCLSTypeDef">
		<xsd:restriction base="xsd:string">
			<xsd:maxLength value="30"/>
			<xsd:whiteSpace value="preserve"/>
		</xsd:restriction>
	</xsd:simpleType>
	<xsd:simpleType name="ROWSECCLASSTypeDef">
		<xsd:restriction base="xsd:string">
			<xsd:maxLength value="30"/>
			<xsd:whiteSpace value="preserve"/>
		</xsd:restriction>
	</xsd:simpleType>
	<xsd:simpleType name="ACCTLOCKTypeDef">
		<xsd:restriction base="xsd:int">
			<xsd:totalDigits value="1"/>
		</xsd:restriction>
	</xsd:simpleType>
	<xsd:simpleType name="DEFAULTNAVHPTypeDef">
		<xsd:restriction base="xsd:string">
			<xsd:maxLength value="30"/>
			<xsd:whiteSpace value="preserve"/>
		</xsd:restriction>
	</xsd:simpleType>
	<xsd:simpleType name="OPRCLASSTypeDef">
		<xsd:restriction base="xsd:string">
			<xsd:maxLength value="30"/>
			<xsd:whiteSpace value="preserve"/>
		</xsd:restriction>
	</xsd:simpleType>
	<xsd:simpleType name="CURRENCY_CD_USERTypeDef">
		<xsd:restriction base="xsd:string">
			<xsd:maxLength value="3"/>
			<xsd:whiteSpace value="preserve"/>
		</xsd:restriction>
	</xsd:simpleType>
	<xsd:simpleType name="SETIDTypeDef">
		<xsd:restriction base="xsd:string">
			<xsd:maxLength value="5"/>
			<xsd:whiteSpace value="preserve"/>
		</xsd:restriction>
	</xsd:simpleType>
	<xsd:simpleType name="CONTACT_IDTypeDef">
		<xsd:restriction base="xsd:string">
			<xsd:maxLength value="15"/>
			<xsd:whiteSpace value="preserve"/>
		</xsd:restriction>
	</xsd:simpleType>
	<xsd:simpleType name="EFFDTTypeDef">
		<xsd:restriction base="xsd:date"/>
	</xsd:simpleType>
	<xsd:simpleType name="EFF_STATUSTypeDef">
		<xsd:restriction base="xsd:string">
			<xsd:maxLength value="1"/>
			<xsd:whiteSpace value="preserve"/>
		</xsd:restriction>
	</xsd:simpleType>
	<xsd:simpleType name="CONTACT_FLAGTypeDef">
		<xsd:restriction base="xsd:string">
			<xsd:maxLength value="1"/>
			<xsd:whiteSpace value="preserve"/>
		</xsd:restriction>
	</xsd:simpleType>
	<xsd:simpleType name="NAME1TypeDef">
		<xsd:restriction base="xsd:string">
			<xsd:maxLength value="40"/>
			<xsd:whiteSpace value="preserve"/>
		</xsd:restriction>
	</xsd:simpleType>
	<xsd:simpleType name="TITLETypeDef">
		<xsd:restriction base="xsd:string">
			<xsd:maxLength value="35"/>
			<xsd:whiteSpace value="preserve"/>
		</xsd:restriction>
	</xsd:simpleType>
	<xsd:simpleType name="LANGUAGE_PREFTypeDef">
		<xsd:restriction base="xsd:string">
			<xsd:maxLength value="3"/>
			<xsd:whiteSpace value="preserve"/>
		</xsd:restriction>
	</xsd:simpleType>
	<xsd:simpleType name="EMAILIDTypeDef">
		<xsd:restriction base="xsd:string">
			<xsd:maxLength value="70"/>
			<xsd:whiteSpace value="preserve"/>
		</xsd:restriction>
	</xsd:simpleType>
	<xsd:simpleType name="COMM_METHODTypeDef">
		<xsd:restriction base="xsd:string">
			<xsd:maxLength value="1"/>
			<xsd:whiteSpace value="preserve"/>
		</xsd:restriction>
	</xsd:simpleType>
	<xsd:simpleType name="SALUTATION_CDTypeDef">
		<xsd:restriction base="xsd:string">
			<xsd:maxLength value="6"/>
			<xsd:whiteSpace value="preserve"/>
		</xsd:restriction>
	</xsd:simpleType>
	<xsd:simpleType name="SALUTATIONTypeDef">
		<xsd:restriction base="xsd:string">
			<xsd:maxLength value="30"/>
			<xsd:whiteSpace value="preserve"/>
		</xsd:restriction>
	</xsd:simpleType>
	<xsd:simpleType name="AUTHORIZATION_IDTypeDef">
		<xsd:restriction base="xsd:string">
			<xsd:maxLength value="10"/>
			<xsd:whiteSpace value="preserve"/>
		</xsd:restriction>
	</xsd:simpleType>
	<xsd:simpleType name="PERSON_IDTypeDef">
		<xsd:restriction base="xsd:string">
			<xsd:maxLength value="15"/>
			<xsd:whiteSpace value="preserve"/>
		</xsd:restriction>
	</xsd:simpleType>
	<xsd:simpleType name="PREF_FIRST_NAMETypeDef">
		<xsd:restriction base="xsd:string">
			<xsd:maxLength value="30"/>
			<xsd:whiteSpace value="preserve"/>
		</xsd:restriction>
	</xsd:simpleType>
	<xsd:simpleType name="SOURCE_SYSTEMTypeDef">
		<xsd:restriction base="xsd:string">
			<xsd:maxLength value="3"/>
			<xsd:whiteSpace value="preserve"/>
		</xsd:restriction>
	</xsd:simpleType>
	<xsd:simpleType name="ECHECK_USER_PINTypeDef">
		<xsd:restriction base="xsd:string">
			<xsd:maxLength value="44"/>
			<xsd:whiteSpace value="preserve"/>
		</xsd:restriction>
	</xsd:simpleType>
	<xsd:simpleType name="CUSTOMER_SETIDTypeDef">
		<xsd:restriction base="xsd:string">
			<xsd:maxLength value="5"/>
			<xsd:whiteSpace value="preserve"/>
		</xsd:restriction>
	</xsd:simpleType>
	<xsd:simpleType name="CUST_IDTypeDef">
		<xsd:restriction base="xsd:string">
			<xsd:maxLength value="15"/>
			<xsd:whiteSpace value="preserve"/>
		</xsd:restriction>
	</xsd:simpleType>
	<xsd:simpleType name="CNTCT_SEQ_NUMTypeDef">
		<xsd:restriction base="xsd:int">
			<xsd:totalDigits value="5"/>
		</xsd:restriction>
	</xsd:simpleType>
	<xsd:simpleType name="ADDRESS_SEQ_NUMTypeDef">
		<xsd:restriction base="xsd:int">
			<xsd:totalDigits value="5"/>
		</xsd:restriction>
	</xsd:simpleType>
	<xsd:simpleType name="BILL_TO_FLGTypeDef">
		<xsd:restriction base="xsd:string">
			<xsd:maxLength value="1"/>
			<xsd:whiteSpace value="preserve"/>
		</xsd:restriction>
	</xsd:simpleType>
	<xsd:simpleType name="SOLD_TO_FLGTypeDef">
		<xsd:restriction base="xsd:string">
			<xsd:maxLength value="1"/>
			<xsd:whiteSpace value="preserve"/>
		</xsd:restriction>
	</xsd:simpleType>
	<xsd:simpleType name="SHIP_TO_FLGTypeDef">
		<xsd:restriction base="xsd:string">
			<xsd:maxLength value="1"/>
			<xsd:whiteSpace value="preserve"/>
		</xsd:restriction>
	</xsd:simpleType>
	<xsd:simpleType name="BROKER_FLGTypeDef">
		<xsd:restriction base="xsd:string">
			<xsd:maxLength value="1"/>
			<xsd:whiteSpace value="preserve"/>
		</xsd:restriction>
	</xsd:simpleType>
	<xsd:simpleType name="CRSPD_CUSTTypeDef">
		<xsd:restriction base="xsd:string">
			<xsd:maxLength value="1"/>
			<xsd:whiteSpace value="preserve"/>
		</xsd:restriction>
	</xsd:simpleType>
	<xsd:simpleType name="VIEW_STMT_IMAGETypeDef">
		<xsd:restriction base="xsd:string">
			<xsd:maxLength value="1"/>
			<xsd:whiteSpace value="preserve"/>
		</xsd:restriction>
	</xsd:simpleType>
	<xsd:simpleType name="ADDRESS_MAINTTypeDef">
		<xsd:restriction base="xsd:string">
			<xsd:maxLength value="1"/>
			<xsd:whiteSpace value="preserve"/>
		</xsd:restriction>
	</xsd:simpleType>
	<xsd:simpleType name="ORDER_SAVETypeDef">
		<xsd:restriction base="xsd:string">
			<xsd:maxLength value="1"/>
			<xsd:whiteSpace value="preserve"/>
		</xsd:restriction>
	</xsd:simpleType>
	<xsd:simpleType name="ALL_ORDERS_FLGTypeDef">
		<xsd:restriction base="xsd:string">
			<xsd:maxLength value="1"/>
			<xsd:whiteSpace value="preserve"/>
		</xsd:restriction>
	</xsd:simpleType>
	<xsd:simpleType name="PRIMARY_BILL_CNTCTTypeDef">
		<xsd:restriction base="xsd:string">
			<xsd:maxLength value="1"/>
			<xsd:whiteSpace value="preserve"/>
		</xsd:restriction>
	</xsd:simpleType>
	<xsd:simpleType name="PRIMARY_SHIP_CNTCTTypeDef">
		<xsd:restriction base="xsd:string">
			<xsd:maxLength value="1"/>
			<xsd:whiteSpace value="preserve"/>
		</xsd:restriction>
	</xsd:simpleType>
	<xsd:simpleType name="PRIMARY_SOLD_CNTCTTypeDef">
		<xsd:restriction base="xsd:string">
			<xsd:maxLength value="1"/>
			<xsd:whiteSpace value="preserve"/>
		</xsd:restriction>
	</xsd:simpleType>
	<xsd:simpleType name="PRIMARY_IPACTypeDef">
		<xsd:restriction base="xsd:string">
			<xsd:maxLength value="1"/>
			<xsd:whiteSpace value="preserve"/>
		</xsd:restriction>
	</xsd:simpleType>
	<xsd:simpleType name="SEQ_NBRTypeDef">
		<xsd:restriction base="xsd:int">
			<xsd:totalDigits value="15"/>
		</xsd:restriction>
	</xsd:simpleType>
	<xsd:simpleType name="CR_CARD_NBRTypeDef">
		<xsd:restriction base="xsd:string">
			<xsd:maxLength value="44"/>
			<xsd:whiteSpace value="preserve"/>
		</xsd:restriction>
	</xsd:simpleType>
	<xsd:simpleType name="CR_CARD_TYPETypeDef">
		<xsd:restriction base="xsd:string">
			<xsd:maxLength value="3"/>
			<xsd:whiteSpace value="preserve"/>
		</xsd:restriction>
	</xsd:simpleType>
	<xsd:simpleType name="CR_CARD_VENDORTypeDef">
		<xsd:restriction base="xsd:string">
			<xsd:maxLength value="16"/>
			<xsd:whiteSpace value="preserve"/>
		</xsd:restriction>
	</xsd:simpleType>
	<xsd:simpleType name="CC_PROF_TOKENTypeDef">
		<xsd:restriction base="xsd:string">
			<xsd:maxLength value="44"/>
			<xsd:whiteSpace value="preserve"/>
		</xsd:restriction>
	</xsd:simpleType>
	<xsd:simpleType name="CR_CARD_RQST_IDTypeDef">
		<xsd:restriction base="xsd:string">
			<xsd:maxLength value="30"/>
			<xsd:whiteSpace value="preserve"/>
		</xsd:restriction>
	</xsd:simpleType>
	<xsd:simpleType name="PRIMARY_CARDTypeDef">
		<xsd:restriction base="xsd:string">
			<xsd:maxLength value="1"/>
			<xsd:whiteSpace value="preserve"/>
		</xsd:restriction>
	</xsd:simpleType>
	<xsd:simpleType name="CR_CARD_FNAMETypeDef">
		<xsd:restriction base="xsd:string">
			<xsd:maxLength value="40"/>
			<xsd:whiteSpace value="preserve"/>
		</xsd:restriction>
	</xsd:simpleType>
	<xsd:simpleType name="CR_CARD_LNAMETypeDef">
		<xsd:restriction base="xsd:string">
			<xsd:maxLength value="40"/>
			<xsd:whiteSpace value="preserve"/>
		</xsd:restriction>
	</xsd:simpleType>
	<xsd:simpleType name="CR_CARD_EXPMOTypeDef">
		<xsd:restriction base="xsd:string">
			<xsd:maxLength value="2"/>
			<xsd:whiteSpace value="preserve"/>
		</xsd:restriction>
	</xsd:simpleType>
	<xsd:simpleType name="CR_CARD_EXPYRTypeDef">
		<xsd:restriction base="xsd:string">
			<xsd:maxLength value="4"/>
			<xsd:whiteSpace value="preserve"/>
		</xsd:restriction>
	</xsd:simpleType>
	<xsd:simpleType name="CR_CARD_DIGITSTypeDef">
		<xsd:restriction base="xsd:string">
			<xsd:maxLength value="4"/>
			<xsd:whiteSpace value="preserve"/>
		</xsd:restriction>
	</xsd:simpleType>
	<xsd:simpleType name="ADDR_SEQ_NUMTypeDef">
		<xsd:restriction base="xsd:int">
			<xsd:totalDigits value="5"/>
		</xsd:restriction>
	</xsd:simpleType>
	<xsd:simpleType name="STATUSTypeDef">
		<xsd:restriction base="xsd:string">
			<xsd:maxLength value="1"/>
			<xsd:whiteSpace value="preserve"/>
		</xsd:restriction>
	</xsd:simpleType>
	<xsd:simpleType name="CC_RQST_TOKENTypeDef">
		<xsd:restriction base="xsd:string">
			<xsd:whiteSpace value="preserve"/>
		</xsd:restriction>
	</xsd:simpleType>
	<xsd:simpleType name="CR_CARD_NBR_ETypeDef">
		<xsd:restriction base="xsd:string">
			<xsd:maxLength value="44"/>
			<xsd:whiteSpace value="preserve"/>
		</xsd:restriction>
	</xsd:simpleType>
	<xsd:simpleType name="DOCUMENT_CDTypeDef">
		<xsd:restriction base="xsd:string">
			<xsd:maxLength value="4"/>
			<xsd:whiteSpace value="preserve"/>
		</xsd:restriction>
	</xsd:simpleType>
	<xsd:simpleType name="NBR_COPIESTypeDef">
		<xsd:restriction base="xsd:int">
			<xsd:totalDigits value="3"/>
		</xsd:restriction>
	</xsd:simpleType>
	<xsd:simpleType name="LAST_MAINT_OPRIDTypeDef">
		<xsd:restriction base="xsd:string">
			<xsd:maxLength value="30"/>
			<xsd:whiteSpace value="preserve"/>
		</xsd:restriction>
	</xsd:simpleType>
	<xsd:simpleType name="DATE_LAST_MAINTTypeDef">
		<xsd:restriction base="xsd:date"/>
	</xsd:simpleType>
	<xsd:simpleType name="PHONE_TYPETypeDef">
		<xsd:restriction base="xsd:string">
			<xsd:maxLength value="4"/>
			<xsd:whiteSpace value="preserve"/>
		</xsd:restriction>
	</xsd:simpleType>
	<xsd:simpleType name="COUNTRY_CODETypeDef">
		<xsd:restriction base="xsd:string">
			<xsd:maxLength value="3"/>
			<xsd:whiteSpace value="preserve"/>
		</xsd:restriction>
	</xsd:simpleType>
	<xsd:simpleType name="PHONETypeDef">
		<xsd:restriction base="xsd:string">
			<xsd:maxLength value="24"/>
			<xsd:whiteSpace value="preserve"/>
		</xsd:restriction>
	</xsd:simpleType>
	<xsd:simpleType name="EXTENSIONTypeDef">
		<xsd:restriction base="xsd:string">
			<xsd:maxLength value="6"/>
			<xsd:whiteSpace value="preserve"/>
		</xsd:restriction>
	</xsd:simpleType>
	<xsd:simpleType name="PRIMARY_PHONETypeDef">
		<xsd:restriction base="xsd:string">
			<xsd:maxLength value="1"/>
			<xsd:whiteSpace value="preserve"/>
		</xsd:restriction>
	</xsd:simpleType>
	<xsd:simpleType name="CONTACT_CODETypeDef">
		<xsd:restriction base="xsd:string">
			<xsd:maxLength value="6"/>
			<xsd:whiteSpace value="preserve"/>
		</xsd:restriction>
	</xsd:simpleType>
	<xsd:simpleType name="ROLENAMETypeDef">
		<xsd:restriction base="xsd:string">
			<xsd:maxLength value="30"/>
			<xsd:whiteSpace value="preserve"/>
		</xsd:restriction>
	</xsd:simpleType>
	<xsd:simpleType name="DYNAMIC_SWTypeDef">
		<xsd:restriction base="xsd:string">
			<xsd:maxLength value="1"/>
			<xsd:whiteSpace value="preserve"/>
		</xsd:restriction>
	</xsd:simpleType>
</xsd:schema>
