HEBCard/Desarrollo/EXELoteTarimaToSTAR/Shared Resources/Schema Definitions/Custom/MAG_IMPORT_PRODUCTS.xsd

<?xml version="1.0" encoding="UTF-8"?>

<!-- edited with XMLSpy v2011 sp1 (http://www.altova.com) by End User (free.org) -->
<xsd:schema xmlns="http://xmlns.heb.com/ei/LoteTarimas"
	 xmlns:xsd="http://www.w3.org/2001/XMLSchema"
	 targetNamespace="http://xmlns.heb.com/ei/Products"
	 elementFormDefault="qualified"
	 attributeFormDefault="unqualified">
	<xsd:element name="PALLETPRODUCT_LOT">
		<xsd:complexType>
			<xsd:sequence>
				<xsd:element name="store" type="xsd:string" form="unqualified" minOccurs="0"/>
				<xsd:element name="websites" type="xsd:string" form="unqualified" minOccurs="0"/>
				<xsd:element name="attribute_set" type="xsd:string" form="unqualified" minOccurs="0"/>
				<xsd:element name="type" type="xsd:string" form="unqualified" minOccurs="0"/>
				<xsd:element name="category_ids" type="xsd:string" form="unqualified" minOccurs="0"/>
				<xsd:element name="Sku" type="xsd:string" form="unqualified"/>
				<xsd:element name="has_options" type="xsd:int" form="unqualified" minOccurs="0"/>
				<xsd:element name="name" type="xsd:string" form="unqualified" minOccurs="0"/>
				<xsd:element name="country_of_manufacture" type="xsd:string" form="unqualified" minOccurs="0"/>
				<xsd:element name="is_returnable" type="xsd:short" form="unqualified" minOccurs="0"/>
				<xsd:element name="msrp_enabled" type="xsd:int" form="unqualified" minOccurs="0"/>
				<xsd:element name="msrp_display_actual_price_type" type="xsd:short" form="unqualified" minOccurs="0"/>
				<xsd:element name="meta_title" type="xsd:string" form="unqualified" minOccurs="0"/>
				<xsd:element name="meta_description" type="xsd:string" form="unqualified" minOccurs="0"/>
				<xsd:element name="custom_design" type="xsd:string" form="unqualified" minOccurs="0"/>
				<xsd:element name="page_layout" type="xsd:string" form="unqualified" minOccurs="0"/>
				<xsd:element name="options_container" type="xsd:string" form="unqualified" minOccurs="0"/>
				<xsd:element name="gift_message_available" type="xsd:short" form="unqualified" minOccurs="0"/>
				<xsd:element name="gift_wrapping_available" type="xsd:short" form="unqualified" minOccurs="0"/>
				<xsd:element name="marca" type="xsd:string" form="unqualified" minOccurs="0"/>
				<xsd:element name="url_key" type="xsd:string" form="unqualified" minOccurs="0"/>
				<xsd:element name="Weight" type="xsd:decimal" form="unqualified" minOccurs="0"/>
				<xsd:element name="price" type="xsd:decimal" form="unqualified" minOccurs="0"/>
				<xsd:element name="special_price" type="xsd:decimal" form="unqualified" minOccurs="0"/>
				<xsd:element name="msrp" type="xsd:decimal" form="unqualified" minOccurs="0"/>
				<xsd:element name="gift_wrapping_price" type="xsd:decimal" form="unqualified" minOccurs="0"/>
				<xsd:element name="Status" type="xsd:short" form="unqualified" minOccurs="0"/>
				<xsd:element name="is_recurring" type="xsd:string" form="unqualified" minOccurs="0"/>
				<xsd:element name="visibility" type="xsd:short" form="unqualified" minOccurs="0"/>
				<xsd:element name="tax_class_id" type="xsd:int" form="unqualified" minOccurs="0"/>
				<xsd:element name="cuenta_con_imagen" type="xsd:short" form="unqualified" minOccurs="0"/>
				<xsd:element name="description" type="xsd:string" form="unqualified" minOccurs="0"/>
				<xsd:element name="short_description" type="xsd:string" form="unqualified" minOccurs="0"/>
				<xsd:element name="meta_keyword" type="xsd:string" form="unqualified" minOccurs="0"/>
				<xsd:element name="custom_layout_update" type="xsd:string" form="unqualified" minOccurs="0"/>
				<xsd:element name="special_from_date" type="xsd:string" form="unqualified" minOccurs="0"/>
				<xsd:element name="special_to_date" type="xsd:string" form="unqualified" minOccurs="0"/>
				<xsd:element name="news_from_date" type="xsd:string" form="unqualified" minOccurs="0"/>
				<xsd:element name="news_to_date" type="xsd:string" form="unqualified" minOccurs="0"/>
				<xsd:element name="custom_design_from" type="xsd:string" form="unqualified" minOccurs="0"/>
				<xsd:element name="custom_design_to" type="xsd:string" form="unqualified" minOccurs="0"/>
				<xsd:element name="qty" type="xsd:int" form="unqualified" minOccurs="0"/>
				<xsd:element name="min_qty" type="xsd:decimal" form="unqualified" minOccurs="0"/>
				<xsd:element name="use_config_min_qty" type="xsd:short" form="unqualified" minOccurs="0"/>
				<xsd:element name="is_qty_decimal" type="xsd:decimal" form="unqualified" minOccurs="0"/>
				<xsd:element name="backorders" type="xsd:short" form="unqualified" minOccurs="0"/>
				<xsd:element name="use_config_backorders" type="xsd:short" form="unqualified" minOccurs="0"/>
				<xsd:element name="min_sale_qty" type="xsd:decimal" form="unqualified" minOccurs="0"/>
				<xsd:element name="use_config_min_sale_qty" type="xsd:short" form="unqualified" minOccurs="0"/>
				<xsd:element name="max_sale_qty" type="xsd:int" form="unqualified" minOccurs="0"/>
				<xsd:element name="use_config_max_sale_qty" type="xsd:short" form="unqualified" minOccurs="0"/>
				<xsd:element name="is_in_stock" type="xsd:short" form="unqualified" minOccurs="0"/>
				<xsd:element name="low_stock_date" type="xsd:int" form="unqualified" minOccurs="0"/>
				<xsd:element name="notify_stock_qty" type="xsd:short" form="unqualified" minOccurs="0"/>
				<xsd:element name="use_config_notify_stock_qty" type="xsd:short" form="unqualified" minOccurs="0"/>
				<xsd:element name="manage_stock" type="xsd:short" form="unqualified" minOccurs="0"/>
				<xsd:element name="use_config_manage_stock" type="xsd:int" form="unqualified" minOccurs="0"/>
				<xsd:element name="stock_status_changed_auto" type="xsd:int" form="unqualified" minOccurs="0"/>
				<xsd:element name="use_config_qty_increments" type="xsd:int" form="unqualified" minOccurs="0"/>
				<xsd:element name="qty_increments" type="xsd:int" form="unqualified" minOccurs="0"/>
				<xsd:element name="use_config_enable_qty_inc" type="xsd:short" form="unqualified" minOccurs="0"/>
				<xsd:element name="enable_qty_increments" type="xsd:short" form="unqualified" minOccurs="0"/>
				<xsd:element name="is_decimal_divided" type="xsd:int" form="unqualified" minOccurs="0"/>
				<xsd:element name="stock_status_changed_automatically" type="xsd:int" form="unqualified" minOccurs="0"/>
				<xsd:element name="use_config_enable_qty_increments" type="xsd:int" form="unqualified" minOccurs="0"/>
				<xsd:element name="product_name" type="xsd:string" form="unqualified" minOccurs="0"/>
				<xsd:element name="store_id" type="xsd:string" form="unqualified" minOccurs="0"/>
				<xsd:element name="product_type_id" type="xsd:string" form="unqualified" minOccurs="0"/>
				<xsd:element name="product_status_changed" type="xsd:int" form="unqualified" minOccurs="0"/>
				<xsd:element name="product_changed_websites" type="xsd:int" form="unqualified" minOccurs="0"/>
				<xsd:element name="tipo_de_promocion" type="xsd:int" form="unqualified" minOccurs="0"/>
				<xsd:element name="departamento" type="xsd:string" form="unqualified" minOccurs="0"/>
				<xsd:element name="entrega_nacional" type="xsd:short" form="unqualified" minOccurs="0"/>
				<xsd:element name="ficha_tecnica" type="xsd:string" form="unqualified" minOccurs="0"/>
				<xsd:element name="tipo_de_vino" type="xsd:string" form="unqualified" minOccurs="0"/>
				<xsd:element name="variedad_de_uva" type="xsd:string" form="unqualified" minOccurs="0"/>
				<xsd:element name="alto_rendimiento" type="xsd:string" form="unqualified" minOccurs="0"/>
				<xsd:element name="bajo_en_carbohidratos" type="xsd:string" form="unqualified" minOccurs="0"/>
				<xsd:element name="bajo_en_grasa" type="xsd:string" form="unqualified" minOccurs="0"/>
				<xsd:element name="fuente_fibra" type="xsd:string" form="unqualified" minOccurs="0"/>
				<xsd:element name="libre_en_azucar" type="xsd:string" form="unqualified" minOccurs="0"/>
				<xsd:element name="libre_gluten" type="xsd:string" form="unqualified" minOccurs="0"/>
				<xsd:element name="libre_lactosa" type="xsd:string" form="unqualified" minOccurs="0"/>
				<xsd:element name="Color" type="xsd:string" form="unqualified" minOccurs="0"/>
				<xsd:element name="Corte" type="xsd:string" form="unqualified" minOccurs="0"/>
				<xsd:element name="dietetico" type="xsd:string" form="unqualified" minOccurs="0"/>
				<xsd:element name="etapa_bebe" type="xsd:string" form="unqualified" minOccurs="0"/>
				<xsd:element name="exclusivo_internet" type="xsd:int" form="unqualified" minOccurs="0"/>
				<xsd:element name="forma_pasta" type="xsd:string" form="unqualified" minOccurs="0"/>
				<xsd:element name="nutricion_deportiva" type="xsd:string" form="unqualified" minOccurs="0"/>
				<xsd:element name="organico" type="xsd:string" form="unqualified" minOccurs="0"/>
				<xsd:element name="pastel_personalizado" type="xsd:short" form="unqualified" minOccurs="0"/>
				<xsd:element name="presentacion" type="xsd:string" form="unqualified" minOccurs="0"/>
				<xsd:element name="sabor" type="xsd:string" form="unqualified" minOccurs="0"/>
				<xsd:element name="tipo_carne" type="xsd:string" form="unqualified" minOccurs="0"/>
				<xsd:element name="tipo_material" type="xsd:string" form="unqualified" minOccurs="0"/>
				<xsd:element name="vegetariano" type="xsd:string" form="unqualified" minOccurs="0"/>
				<xsd:element name="es_pesable" type="xsd:short" form="unqualified" minOccurs="0"/>
				<xsd:element name="peso_unitario" type="xsd:string" form="unqualified" minOccurs="0"/>
				<xsd:element name="ean" type="xsd:string" form="unqualified" minOccurs="0"/>
				<xsd:element name="familia_comercial" type="xsd:string" form="unqualified" minOccurs="0"/>
				<xsd:element name="subfam_comercial" type="xsd:string" form="unqualified" minOccurs="0"/>
				<xsd:element name="rango_edad" type="xsd:string" form="unqualified" minOccurs="0"/>
				<xsd:element name="pais" type="xsd:string" form="unqualified" minOccurs="0"/>
				<xsd:element name="mensaje_regalo" type="xsd:string" form="unqualified" minOccurs="0"/>
				<xsd:element name="genero" type="xsd:string" form="unqualified" minOccurs="0"/>
				<xsd:element name="carneasada" type="xsd:string" form="unqualified" minOccurs="0"/>
				<xsd:element name="tipo_cocimiento" type="xsd:string" form="unqualified" minOccurs="0"/>
				<xsd:element name="fresco" type="xsd:string" form="unqualified" minOccurs="0"/>
				<xsd:element name="previamente_congelado" type="xsd:string" form="unqualified" minOccurs="0"/>
				<xsd:element name="es_natural" type="xsd:string" form="unqualified" minOccurs="0"/>
				<xsd:element name="alto_en_calcio" type="xsd:string" form="unqualified" minOccurs="0"/>
				<xsd:element name="madurado" type="xsd:string" form="unqualified" minOccurs="0"/>
				<xsd:element name="salvaje" type="xsd:string" form="unqualified" minOccurs="0"/>
				<xsd:element name="alto_en_omegas" type="xsd:string" form="unqualified" minOccurs="0"/>
				<xsd:element name="resolucion" type="xsd:string" form="unqualified" minOccurs="0"/>
				<xsd:element name="retroiluminacion" type="xsd:string" form="unqualified" minOccurs="0"/>
				<xsd:element name="smart" type="xsd:string" form="unqualified" minOccurs="0"/>
				<xsd:element name="frecuencia_actualizacion_image" type="xsd:string" form="unqualified" minOccurs="0"/>
				<xsd:element name="sistema_operativo" type="xsd:string" form="unqualified" minOccurs="0"/>
				<xsd:element name="capacidad_almacenamiento" type="xsd:string" form="unqualified" minOccurs="0"/>
				<xsd:element name="btus" type="xsd:string" form="unqualified" minOccurs="0"/>
				<xsd:element name="capacidad_refrigerador" type="xsd:string" form="unqualified" minOccurs="0"/>
				<xsd:element name="tipo_refrigerador" type="xsd:string" form="unqualified" minOccurs="0"/>
				<xsd:element name="entrega_local" type="xsd:short" form="unqualified" minOccurs="0"/>
				<xsd:element name="recoger_tienda" type="xsd:short" form="unqualified" minOccurs="0"/>
				<xsd:element name="entrega_express" type="xsd:short" form="unqualified" minOccurs="0"/>
				<xsd:element name="color_configurable" type="xsd:string" form="unqualified" minOccurs="0"/>
				<xsd:element name="talla_configurable" type="xsd:string" form="unqualified" minOccurs="0"/>
				<xsd:element name="hdmi" type="xsd:string" form="unqualified" minOccurs="0"/>
				<xsd:element name="tres_d" type="xsd:short" form="unqualified" minOccurs="0"/>
				<xsd:element name="potencia" type="xsd:string" form="unqualified" minOccurs="0"/>
				<xsd:element name="tipo_de_audio" type="xsd:string" form="unqualified" minOccurs="0"/>
				<xsd:element name="usb" type="xsd:string" form="unqualified" minOccurs="0"/>
				<xsd:element name="conectividad_de_red" type="xsd:string" form="unqualified" minOccurs="0"/>
				<xsd:element name="entrada_av" type="xsd:short" form="unqualified" minOccurs="0"/>
				<xsd:element name="salida_super_video" type="xsd:short" form="unqualified" minOccurs="0"/>
				<xsd:element name="grabadora_de_video" type="xsd:short" form="unqualified" minOccurs="0"/>
				<xsd:element name="videollamada" type="xsd:short" form="unqualified" minOccurs="0"/>
				<xsd:element name="bateria" type="xsd:string" form="unqualified" minOccurs="0"/>
				<xsd:element name="microfono_integrado" type="xsd:short" form="unqualified" minOccurs="0"/>
				<xsd:element name="camara" type="xsd:string" form="unqualified" minOccurs="0"/>
				<xsd:element name="procesador" type="xsd:string" form="unqualified" minOccurs="0"/>
				<xsd:element name="inicio_programable" type="xsd:short" form="unqualified" minOccurs="0"/>
				<xsd:element name="deshumidificador" type="xsd:short" form="unqualified" minOccurs="0"/>
				<xsd:element name="tipo_frio_calor" type="xsd:string" form="unqualified" minOccurs="0"/>
				<xsd:element name="sleep" type="xsd:short" form="unqualified" minOccurs="0"/>
				<xsd:element name="timer" type="xsd:short" form="unqualified" minOccurs="0"/>
				<xsd:element name="control_remoto" type="xsd:short" form="unqualified" minOccurs="0"/>
				<xsd:element name="material" type="xsd:string" form="unqualified" minOccurs="0"/>
				<xsd:element name="compatibilidad" type="xsd:string" form="unqualified" minOccurs="0"/>
				<xsd:element name="bpa_free" type="xsd:short" form="unqualified" minOccurs="0"/>
				<xsd:element name="aislante_termico" type="xsd:short" form="unqualified" minOccurs="0"/>
				<xsd:element name="tipo_de_recubrimiento" type="xsd:string" form="unqualified" minOccurs="0"/>
				<xsd:element name="resistente_choque_termico" type="xsd:short" form="unqualified" minOccurs="0"/>
				<xsd:element name="cantidad_de_botellas" type="xsd:string" form="unqualified" minOccurs="0"/>
				<xsd:element name="fuente_proteina" type="xsd:short" form="unqualified" minOccurs="0"/>
				<xsd:element name="lector_de_tarjetas" type="xsd:short" form="unqualified" minOccurs="0"/>
				<xsd:element name="wifi" type="xsd:short" form="unqualified" minOccurs="0"/>
				<xsd:element name="bluetooth" type="xsd:short" form="unqualified" minOccurs="0"/>
				<xsd:element name="pantalla_tactil" type="xsd:short" form="unqualified" minOccurs="0"/>
				<xsd:element name="memoria_interna" type="xsd:string" form="unqualified" minOccurs="0"/>
				<xsd:element name="tamano_pantallas" type="xsd:string" form="unqualified" minOccurs="0"/>
				<xsd:element name="contenido_del_empaque" type="xsd:string" form="unqualified" minOccurs="0"/>
				<xsd:element name="voltaje" type="xsd:string" form="unqualified" minOccurs="0"/>
				<xsd:element name="row_id" type="xsd:int" form="unqualified" minOccurs="0"/>
				<xsd:element name="parent_sku" type="xsd:string" form="unqualified" minOccurs="0"/>
				<xsd:element name="If_run_id" type="xsd:string" form="unqualified" minOccurs="0"/>
				<xsd:element name="If_error_ds" type="xsd:string" form="unqualified" minOccurs="0"/>
				<xsd:element name="unidades_de_compra" type="xsd:string" form="unqualified" minOccurs="0"/>
				<xsd:element name="venta_horecas" type="xsd:short" form="unqualified" minOccurs="0"/>
				<xsd:element name="vendor_name" type="xsd:string" form="unqualified" minOccurs="0"/>
			</xsd:sequence>
		</xsd:complexType>
	</xsd:element>
</xsd:schema>